<app-summary-card [header]="antropometricosSummary"
	[tooltip]="'historia-clinica.summary-card.datos-antropometricos.TOOLTIP'"
	[canEdit]="['ENFERMERO', 'ENFERMERO_ADULTO_MAYOR', 'ESPECIALISTA_MEDICO']" [editable]="editable"
	(openInNew)="openDialog()">
	<mat-card-content fxLayout="column" fxLayoutGap="10px">
		<app-patient-evolution-charts-button *ngIf="isEvolutionChartsFFActive"></app-patient-evolution-charts-button>
		<div *ngIf="details.length > 0 else noInfo" fxLayout="row wrap" fxLayoutGap="10px grid">
			<app-detail-box *ngFor="let detail of details" [id]="detail.id" [detail]="detail">
			</app-detail-box>
		</div>
	</mat-card-content>
	<ng-template #noInfo>
		<app-no-data></app-no-data>
	</ng-template>
</app-summary-card>