.masEstudios {
	padding: 15px;
	margin-left: 1.6%;
	margin-right: 1.6%;
}

.masEstudios .botones .btnEstudios button {
	margin-top: -15px;
	flex-direction: column;
}

.botones {
	padding-top: 5%;
}

.btnEstudios {
	margin-left: 1.5%;
	padding: 2%;
	width: 157px;
}

.btnEstudios button {
	width: 200px;
	border-radius: 3px;
	text-align: left;
}

.btnEstudios button:hover {
	background-color: #f0f8ff9c;
}

.mat-card.box .mat-card-header {
	padding: 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #e0eef7;
	color: #2687c5;
	font-weight: normal;
	font-size: medium;
	display: flex;
	align-items: center;
	max-height: 24px;
}

.mat-card-header mat-icon {
	margin-right: 5px;
	height: 25px;
	position: relative;
	right: 15px;
}

.title {
	position: relative;
	right: 4px;
}

.icon {
	height: 25px;
	width: 25px;
	position: relative;
	right: 7px;
}

mat-icon {

	position: relative;
	bottom: 1.5px;
	margin-right: 4px;
}

.element-light-color {
	color: rgba(0, 0, 0, 0.54);
}

.header-filters {
	padding: 6px 16px 0px;
}

.filter-button {
	padding-bottom: 1.34em;
}

.buttonAdd {
	margin-left: 96%;
	position: relative;
	bottom: 45px;
}

.box {
	padding: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #f6fafb;
	color: #2687c5;
	font-weight: normal;
	font-size: medium;
}

.iconMedical {
	position: relative;
	left: 3px;
	bottom: -3px;
	margin-right: 2px;
	background-color: #f6fafb;

}

.buttonDescarga {

	margin-left: 93%;
	position: relative;
	bottom: 25px;
	color: #2687c5;

}


mat-card {

	padding: 0%;
}

h3 {

	padding-bottom: 0.34em;
	margin-left: 2%;
}

ul {
	list-style: none;
}

.fecha {

	margin-bottom: -20px;
	position: relative;
	left: 64%;
	bottom: 20px;
	color: #a8a8a8;
}


.resultFrail {

	display: inline-block;
	border-radius: 6px;
	padding: 3px 8px;
	width: fit-content;
	position: relative;
	top: 4px;
}

.resultEdmonton {
	display: inline-block;
	border-radius: 6px;
	padding: 3px 8px;
	width: fit-content;
	position: relative;
	top: 4px;
}

.resultPhysical {
	display: inline-block;
	border-radius: 6px;
	padding: 3px 8px;
	width: fit-content;
	position: relative;
	top: 4px;
 
}