.masEstudios {
  padding: 20px;
}

.masEstudios .botones button {
  margin-right: 20px;
}

.mat-card.box .mat-card-header {
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #e0eef7;
  color: #2687c5;
  font-weight: normal;
  font-size: medium;
  display: flex; 
  align-items: center; 
  margin-left: 5%;
}

// .icon-container {
//   margin-right: 10px; /* Ajusta el margen entre el icono y el texto si es necesario */
// }

.mat-card-header mat-icon {
  margin-right: 5px; /* Ajusta el margen entre el icono y el texto si es necesario */
  height: 25px;
}

