<div class="masEstudios">
  <mat-card class="box">
    <mat-card-header class="mat-card-header header">
      <div class="icon-container">
        <img class="icon" src="/assets/images/icon_adultomayor.png" alt="icono">
      </div>
      <div class="title">
        Estudios geriátricos
      </div>
    </mat-card-header>

    <div class="addStudy">
      <button mat-icon-button color="primary" (click)="mostrarPopup()">
        <mat-icon>add</mat-icon>
        Agregar evaluación
      </button>

      <div class="latest-study">
        <button mat-icon-button color="primary">
          <mat-icon>bar_chart</mat-icon>
          Ver última evaluación
        </button>
      </div>
    </div>

  </mat-card>
</div>
