<app-content width="full">
  <mat-card class="roll">

    <div class="box">

      <mat-icon fontset="material-icons-outlined" class="iconMedical material-icons-outlined mat-icon-no-color ">
        medical_services </mat-icon>
      Evaluaciones geriatricas

    </div>

    <div>
      <button class="buttonAdd" mat-icon-button color="primary" (click)="mostrarPopup()">
        <mat-icon>add_circle_outlined</mat-icon>
      </button>
    </div>

    <div class="header-filters" fxLayout="row" fxLayoutGap="15px">
      <button mat-button class="filter-button" color="primary">
        <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon> FILTRAR
      </button>
    </div>

    <mat-divider></mat-divider>


    <!-- FORMULARIOS -->

    <div class="header-filters" fxLayout="row" fxLayoutGap="15px">
      <button mat-button class="filter-button" color="primary">
        <mat-icon fontSet="material-icons-outlined">receipt_long</mat-icon> TEST DE EDMONTON
      </button>
    </div>

    <div class="latest-edmonton-questionnaires" *ngIf="this.lastEdmontonQuestionnaires.length > 0">
      <ul>
        <li *ngFor="let questionnaire of this.lastEdmontonQuestionnaires">

          <div class="resultEdmonton" [ngStyle]="getResultStyleEdmonton(questionnaire.questionnaireResult)">
            {{ questionnaire.questionnaireResult | uppercase }}

          </div>

          <div class="fecha">

            Fecha: {{ questionnaire.createdOn | date:'short' }}

          </div>
          <button class="buttonDescarga" mat-button (click)="downloadEdmontonPdf(questionnaire.id)">
            <mat-icon color="primary" fontSet="material-icons-outlined">visibility</mat-icon>
          </button>

        </li>
      </ul>
    </div>
    <app-no-data *ngIf="this.lastEdmontonQuestionnaires.length === 0"></app-no-data>

    <mat-divider></mat-divider>

    <div class="header-filters" fxLayout="row" fxLayoutGap="15px">
      <button mat-button class="filter-button" color="primary">
        <mat-icon fontSet="material-icons-outlined">elderly_woman</mat-icon> ESCALA DE FRAIL
      </button>
    </div>

    <div class="latest-frail-questionnaires" *ngIf="this.lastFrailQuestionnaires.length > 0">
      <ul>
        <li *ngFor="let questionnaire of this.lastFrailQuestionnaires">

          <div class="resultFrail" [ngStyle]="getResultStyleFrail(questionnaire.questionnaireResult)">
            {{ questionnaire.questionnaireResult | uppercase }}

          </div>

          <div class="fecha">

            Fecha: {{ questionnaire.createdOn | date:'short' }}

          </div>
          <button class="buttonDescarga" mat-button (click)="downloadFrailPdf(questionnaire.id)">
            <mat-icon color="primary" fontSet="material-icons-outlined">visibility</mat-icon>
          </button>
        </li>
      </ul>
    </div>
    <app-no-data *ngIf="this.lastFrailQuestionnaires.length === 0"></app-no-data>

    <mat-divider></mat-divider>

    <div class="header-filters" fxLayout="row" fxLayoutGap="15px">
      <button mat-button class="filter-button" color="primary">
        <mat-icon fontSet="material-icons-outlined">directions_run</mat-icon> PRUEBA CORTA DE DESEMPEÑO FISICO
      </button>
    </div>

    <div class="latest-physical-questionnaires" *ngIf="this.lastPhysicalQuestionnaires.length > 0">
      <ul>
        <li *ngFor="let questionnaire of this.lastPhysicalQuestionnaires">

          <div class="resultPhysical" [ngStyle]="getResultStylePhysical(questionnaire.questionnaireResult)">
            {{ questionnaire.questionnaireResult | uppercase }}

          </div>

          <div class="fecha">

            Fecha: {{ questionnaire.createdOn | date:'short' }}
          </div>
          <button class="buttonDescarga" mat-button (click)="downloadPhysicalPdf(questionnaire.id)">
            <mat-icon color="primary" fontSet="material-icons-outlined">visibility</mat-icon>
          </button>
        </li>
      </ul>
    </div>
    <app-no-data *ngIf="this.lastPhysicalQuestionnaires.length === 0"></app-no-data>

    <mat-divider></mat-divider>
  </mat-card>

</app-content>