<div fxLayout="row" fxLayoutAlign="space-between">
	<span mat-dialog-title class="mat-h2" [translate]="'guardia.triage.TITLE'"></span>
	<button id="close" mat-icon-button mat-dialog-close>
		<mat-icon>clear</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<app-pediatric-triage class="mat-typography" [canAssignNotDefinedTriageLevel]="NOT_DEFINED_TRIAGE_LEVEL_AVAILABLE"
		[lastTriage$]="lastTriage$">
	</app-pediatric-triage>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<app-button buttonType="{{RAISED}}" text="{{'guardia.triage.CONFIRM'}}" (clicked)="triageActionService.saveTriage()"
		[disabled]="isLoading">
	</app-button>
</mat-dialog-actions>