<div fxLayoutAlign="end">
	<button id="close" mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div *ngIf="referenceCompleteData">
	<div mat-dialog-title>
		<h2>{{'access-management.search_references.reference.TITLE' | translate}}</h2>
		<app-patient-summary [person]="reportCompleteData.patient"></app-patient-summary>
	</div>

	<mat-dialog-content fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
		<div fxLayout="column" fxLayoutGap="10px" fxFlex="50">
			<app-expansion-section [title]="'access-management.search_references.reference.CONTACT_DATA'"
				[collapsed]="colapseContactDetails">
				<app-contact-details [contactDetails]="reportCompleteData.contactDetails"></app-contact-details>
			</app-expansion-section>

			<mat-divider></mat-divider>

			<app-expansion-section [title]="'access-management.search_references.reference.REFERENCE_DATA'">
				<app-reference-complete-data [reference]="reportCompleteData.reference"></app-reference-complete-data>
			</app-expansion-section>
		</div>

		<div fxLayout="column" fxLayoutGap="10px" fxFlex="50">
			<div *ngIf="referenceRegulationDto$ | async as referenceRegulationDto; else loading">
				<app-approval [approval]="referenceRegulationDto"></app-approval>
			</div>
			<mat-divider></mat-divider>
			<app-appointment-summary [appointmentSummary]="reportCompleteData.appointment"></app-appointment-summary>
		</div>
	</mat-dialog-content>

	<app-popup-actions actions [reportCompleteData]="referenceCompleteData" (newState)="updateApprovalStatus()"></app-popup-actions>

</div>

<ng-template #loading>
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>