<app-content width="full">
	<section>
		<button mat-raised-button color="primary" (click)="goNewInternment()">
			<span>Iniciar internación</span>
		</button>
		<div class="profile-card">
			<app-patient-card [patient]="patientBasicData">
				<div header class="header">
					<app-patient-type-logo [patientTypeData]="patientTypeData"></app-patient-type-logo>
				</div>
				<div content>
					<app-personal-information [personalInformation]="personalInformation"></app-personal-information>
				</div>
			</app-patient-card>
		</div>
	</section>
</app-content>

