
<app-titled-content *ngIf="especialidadContent?.length" icon="medical_services" title="Especialidad" [content]="especialidadContent"></app-titled-content>

<app-titled-content *ngIf="motivosContent?.length" icon="sms_failed" title="Motivos de Consulta" [content]="motivosContent"></app-titled-content>

<app-titled-content *ngIf="diagnosticosContent?.length" icon="report" title="Diagnósticos" [content]="diagnosticosContent"></app-titled-content>

<app-titled-content *ngIf="evolucionContent?.length" icon="chat" title="Evolución" [content]="evolucionContent"></app-titled-content>

<app-titled-content *ngIf="antropometricosContent?.length" icon="accessibility" title="Datos antropométricos" [content]="antropometricosContent"></app-titled-content>

<app-titled-content *ngIf="evolucionContent?.length" icon="report" title="Antencedentes familiares" [content]="evolucionContent"></app-titled-content>

<app-titled-content *ngIf="medicacionContent?.length" icon="event_available" title="Medicación habitual" [content]="medicacionContent"></app-titled-content>

<app-titled-content *ngIf="procedimientosContent?.length" icon="library_add" title="Procedimientos" [content]="procedimientosContent"></app-titled-content>

<app-titled-content *ngIf="factoresContent?.length" icon="favorite_outlined" title="Factores de riesgo" [content]="factoresContent"></app-titled-content>

<app-titled-content *ngIf="alergiasContent?.length" icon="cancel" title="Alergias" [content]="alergiasContent"></app-titled-content>

