<div *ngIf="evolutionNoteSummary" FxLayoutAlign="start" fxLayout="column" fxLayoutGap="20px"
    class="evolution-note-container" data-id="evolution-note-summary">

    <div fxFlex="100%" FxLayoutAlign="start" fxLayout="column" fxLayoutGap="36px">
        <app-specialty-summary data-id="specialty-summary" *ngIf="evolutionNoteSummary.specialty"
            [specialty]="evolutionNoteSummary.specialty"></app-specialty-summary>

        <app-description-item-data-summary *ngIf="evolutionNoteSummary.reasons" data-id="reasons-summary"
            [descriptionItemDataSummary]="evolutionNoteSummary.reasons"></app-description-item-data-summary>

        <app-diagnosis-evolution-summary data-id="diagnosis-summary"
            *ngIf="evolutionNoteSummary.mainDiagnosis || evolutionNoteSummary.diagnosis"
            [diagnosis]="evolutionNoteSummary.diagnosis"
            [mainDiagnosis]="evolutionNoteSummary.mainDiagnosis"></app-diagnosis-evolution-summary>

        <app-evolutions-summary data-id="evolution-summary" *ngIf="evolutionNoteSummary.evolution"
            [evolution]="evolutionNoteSummary.evolution"></app-evolutions-summary>

        <app-anthropometric-data-summary data-id="anthropometric-data-summary"
            *ngIf="evolutionNoteSummary.anthropometricData"
            [anthropometricData]="evolutionNoteSummary.anthropometricData"></app-anthropometric-data-summary>

        <app-referred-item-summary data-id="family-histories-summary" *ngIf="evolutionNoteSummary.familyHistories"
            [referredItem]="evolutionNoteSummary.familyHistories"></app-referred-item-summary>

        <app-description-item-data-summary data-id="usual-medication-summary" *ngIf="evolutionNoteSummary.medications"
            [descriptionItemDataSummary]="evolutionNoteSummary.medications"></app-description-item-data-summary>

        <app-description-item-data-summary data-id="procedures-summary" *ngIf="evolutionNoteSummary.procedures"
            [descriptionItemDataSummary]="evolutionNoteSummary.procedures"></app-description-item-data-summary>

        <app-vital-signs-and-risk-factors-summary data-id="vital-signs-and-risk-factors-summary"
            *ngIf="evolutionNoteSummary.vitalSignsAndRiskFactors"
            [vitalSignsAndRiskFactors]="evolutionNoteSummary.vitalSignsAndRiskFactors"></app-vital-signs-and-risk-factors-summary>
    </div>
</div>