<app-titled-content-card *ngIf="immunizations?.length" title="{{ 'internaciones.anamnesis.vacunas.table.TITLE' }}">
	<div fxLayout="column" *ngFor="let vaccine of immunizations; index as i; last as isLast">
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div fxLayout="column" fxLayoutGap="6px">
				<span>{{ vaccine.snomed.pt }}</span>
			</div>
			<button type="button" mat-icon-button color="warn" (click)="remove(i)">
				<mat-icon>delete_outline</mat-icon>
			</button>
		</div>
		<em *ngIf="vaccine?.administrationDate" class="mat-caption gray-caption">
			{{ vaccine.administrationDate | date: 'shortDate'}}
		</em>
		<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
	</div>
</app-titled-content-card>

<div>
	<button mat-button type="button" id="add-vaccine-button" color="primary" class="add-button" (click)="addVaccine()">
		+ {{ 'internaciones.anamnesis.vacunas.ADD' | translate }}
	</button>
</div>
