<form [formGroup]="form" class="form" (ngSubmit)="submit()">
	<h1 class="card-title">{{'configuracion.snomed-cache.form.TITLE' | translate}}</h1>
	<div fxLayout="column">
		<mat-form-field appearance="outline">
			<mat-label translate="configuracion.snomed-cache.form.url.LABEL"></mat-label>
			<input formControlName="url" type="text" matInput placeholder={{urlPlaceholder}}>
			<mat-error *ngIf="hasError('required', 'url')">
				<span translate="configuracion.snomed-cache.form.url.REQUIRED"></span>
			</mat-error>
		</mat-form-field>
	</div>
	<button class="uppercase" mat-button mat-raised-button color="primary"
		type="submit"
		[disabled]="loading"
		translate="configuracion.snomed-cache.form.SUBMIT"></button>
	<div class="loader" *ngIf="loading">
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</div>
</form>