.category-title {
	font-weight: bold;
}

.time_selector {
	width: 8%;
	padding-top: 1%;
}

.disclaimer-text {
	color: grey;
	font-size: small;
	padding: 15px 0 0 0;
}

.error-space {
    height: 20px;

    mat-error {
        font-size: 75%;
        padding: 0 1em;
    }
}

.mat-radio-button{
	margin-right: 5%;
}
