::ng-deep .mat-dialog-container {
    padding: 2rem;
}

.error-outline {
    font-size: 60px;
    width: 60px;
    height: 60px;
}

h1 {
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

.gray {
    color: gray;
}

.warn {
    color: #f44336;
}

.validators {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: grid;
        grid-template-columns: 1fr 8fr;
        min-width: 100%;
        margin: 10px 0;

        div {
            margin-top: .25rem;
        }

        span {
            font-size: 1rem;
            font-weight: 500;
        }

        p {
            margin-top: .75rem;
            font-size: 1rem;
        }
    }
}