@import '../../../../../assets/styles/mat-mixins';

form {

	@include mat-form-field-background-white;

}

.actions {
	margin-bottom: 16px;
	width: 50%;

	.aligned-form-field {
		::ng-deep .mat-form-field-wrapper {
			padding-bottom: 0;
			margin: 0;
		}
		width: 100%;
		font-size: 12px;
		input {
			font-size: 15px;
		}
	}
}

.calendar {
	background-color: white;

	::ng-deep {
		.toggle-view {
			.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
				background-color: #0062CD;
			}

			.mat-button-toggle-appearance-standard {
				background-color: #007AFF;
				color: white;
			}
		}

		.navigation.mat-button-toggle-appearance-standard {
			background-color: #007AFF;
			color: white;
		}


		.today.mat-button-toggle-appearance-standard {
			background-color: white;
			color: #747C85;
		}

	}

	$border-color-calendar: #e1e1e1;

	.header {
		padding: 15px;
		border: {
			width: 1px;
			style: solid;
			color: $border-color-calendar;
			bottom: none;
		}
	}
}
