@import "../../../../../assets/styles/variables";

mat-card.mat-card {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-image {
	background-image: url("../../../../../assets/images/empty-profile.svg");
	background-size: cover;
	width: 65px;
	height: 65px;
}

mat-card-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

mat-card-subtitle {
	margin-bottom: 0;
}
