<mat-card id="patient_card">
	<ng-content select="[header]"></ng-content>
	<div id="layout_header" fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-sm="column">
		<mat-card-header>
			<div id="avatar" mat-card-avatar class="header-image"></div>
			<mat-card-title>
				<span id="title" class="capitalize">
					{{ patient?.firstName }} {{patient?.middleNames}} {{patient?.lastName}} {{patient?.otherLastNames}}
				</span>
				<span id="patient_id" class="uppercase">ID {{patient?.id}}</span>
			</mat-card-title>
			<mat-card-subtitle>
				<span id="gender_age" [translate]=viewGenderAge()></span>
			</mat-card-subtitle>
		</mat-card-header>
		<ng-content id="horizontal_content" select="[horizontal-content]"></ng-content>
	</div>
	<mat-card-content>
		<ng-content id="vertical_content" select="[content]"></ng-content>
	</mat-card-content>
</mat-card>
