@import "../../../../../assets/styles/variables";

mat-card.mat-card {
	min-height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

mat-card-header {
	align-items: center;
	.header-image {
		background-image: url("../../../../../assets/images/empty-profile.svg");
		background-size: cover;
		width: 100px;
		height: 100px;
	}
}

mat-card-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

mat-card-subtitle {
	margin-bottom: 0;
}
