<div fxLayout="row" fxLayoutGap="16px" class="background-primary" [ngClass]="viewError ? 'background-primary error-border' : 'background-primary' ">
    <div fxLayout="column" fxLayoutGap="2px">
        <div fxLayout="row" fxLayoutGap="2px">
            <mat-icon color="primary">error_outline</mat-icon>
            <p align="start" class="title-warning">{{'historia-clinica.include-previous-data-question.TITLE' | translate}}</p>
        </div>
        <div class="content">
            <div fxLayout="column">
                <span>{{message}}</span>
                <span class="bold" fxLayoutGap="2px">
                    {{question}}
                </span>
            </div>

            <div fxLayout="row" class="buttons">
                <button mat-button color="primary" (click)="response.emit(true)" id="add_button">
                    {{ (addButtonLabel? addButtonLabel: 'historia-clinica.include-previous-data-question.ADD' ) |
                    translate }}
                </button>
                <button mat-button color="warn" (click)="response.emit(false)" id="discard_button">
                    {{(discardButtonLabel? discardButtonLabel
                    :'historia-clinica.include-previous-data-question.DISCARD') | translate }}
                </button>
            </div>
            <mat-error *ngIf="viewError">{{'historia-clinica.include-previous-data-question.ERROR' | translate}}</mat-error>
        </div>
    </div>
</div>