@mixin background-primary($theme) {
    $palette-primary: map-get($theme, primary);

    .background-primary {
        background-color: mat-color($palette-primary, 100);
    }

    .title{
        color: mat-color($palette-primary);
        font-weight: 500;
        font-size: large;
    }
}
