<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="2em">

	<div mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
		<mat-icon color="primary" class="material-icons-outlined">screen_share</mat-icon>
		<div fxLayout="row">
			<span>Llamando</span>
			<p class="loading"></p>
		</div>
	</div>

	<mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5em">
		<app-call-details [callDetails]="call"></app-call-details>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-stroked-button color="warn" mat-dialog-close>CANCELAR LLAMADA</button>
	</mat-dialog-actions>
</div>
