<ng-template #noInfo>
    <app-no-data></app-no-data>
</ng-template>
<app-summary-card id="estudios" [header]="estudios"
                                [editable]="true"
                                [canEdit]="['ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']"
                                (openInNew)="openDialogNewStudy()">

    <mat-list id="lista-studies" *ngIf="diagnosticReportsInfo?.length > 0 else noInfo">
        <div fxLayout="row" *ngFor="let diagnosticReport of diagnosticReportsInfo">
            <mat-list-item >
                <div fxFlex="100%">

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <h3 mat-line class="primary bold element-margin" *ngIf="diagnosticReport.statusId == STUDY_STATUS.REGISTERED.id">
                            {{STUDY_STATUS.REGISTERED.description}}
                        </h3>
                        <h3 mat-line class="primary bold element-margin" *ngIf="diagnosticReport.statusId == STUDY_STATUS.FINAL.id">
                            {{STUDY_STATUS.FINAL.description}}
                        </h3>
                        <h3 mat-line class="primary bold element-margin" *ngIf="diagnosticReport.statusId == STUDY_STATUS.ERROR.id">
                            {{STUDY_STATUS.ERROR.description}}
                        </h3>
                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="menu" >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item >
                                    <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.COMPLETE'"></span>
                                </button>
                                <button mat-menu-item >
                                    <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DELETE'"></span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="element-margin" fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
                        <span class="mat-subheading-2 capitalize-first-letter" style="margin: 0" fxFlex="70%">
                            {{diagnosticReport.snomed.pt}}
                        </span>
                        <span mat-line class="mat-body element-light-color">
                            Orden #{{diagnosticReport.serviceRequestId}}
                        </span>
                    </div>

                    <div class="element-margin">
                        <h3 mat-line class="primary bold capitalize-first-letter">
                            {{diagnosticReport.healthCondition.snomed.pt}}
                        </h3>
                    </div>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
                        <span mat-line class="mat-body capitalize-first-letter element-light-color">
                            {{diagnosticReport.doctor.firstName }} {{diagnosticReport.doctor.lastName }}
                        </span>
                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="diagnosticReport.totalDays == 0"
                            [translate]="'ambulatoria.paciente.ordenes_prescripciones.DESDE_HOY'">
                        </span>
                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="diagnosticReport.totalDays == 1"
                            [translate]="'ambulatoria.paciente.ordenes_prescripciones.UN_DIA'">
                        </span>
                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="diagnosticReport.totalDays > 1">
                            Hace {{diagnosticReport.totalDays }} días
                        </span>
                    </div>

                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</app-summary-card>