.footer-container {
	background-color: #9c9fa3;
	align-items: center;
	text-align: center;
	padding: 20px;
}

.footer-logos {
	img {
		margin: 10px;
		max-height: 55px;
		max-width: 170px;
	}
}

.footer-version {
	color: #f8f8f8;
	min-width: max-content;
	padding-bottom: 25px;
	padding-top: 25px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer-version-text > * {
	margin: 3px;
}
