<h3>{{title | translate}}</h3>

<div fxLayoutGap="8px" fxLayout="row" fxLayoutAlign="none center">
	<mat-form-field appearance="outline">
		<input matInput type="number" [(value)]="preloadValue" (change)="emitValueChange($event)">

	</mat-form-field>
	<div>
		<mat-form-field appearance="outline">
			<mat-select [disabled]="listOptionsUnits.length === 1" [(value)]="_preloadUnit"
				(selectionChange)="onUnitChange($event.value.unitOfMeasureId)">
				<mat-option *ngFor="let unit of listOptionsUnits" [value]="unit">
					{{unit.description}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</div>
