::ng-deep .cdk-overlay-pane {
	app-nueva-consulta-dock-popup-enfermeria {
		width: 100%;
	}
}

::ng-deep .cdk-overlay-pane.dock-popup-overlay {
	background-color: white;
}

mat-form-field {
	width: 100%;
}

.margin-checkbox {
	margin-bottom: 15px;
}