.dropdown-divider {
    margin: 0 5%;
}

.select-all{
    margin: 0 16px;
    height: 3em;
    display: flex;
    align-items: center;
}

.filter-button {
    align-self: baseline;
    margin-top: 12px;
}