@import '../../../../../../../assets/styles/mixins.scss';
@import '../../../../../../../assets/styles/mat-mixins';

@include mat-form-field-background-white;

div.spinner {
	@include centered-spinner;
}

::ng-deep .mat-list .mat-list-item .mat-line{
    Word-wrap: break-Word;
    white-space: pre-wrap;
}

::ng-deep  .mat-list .mat-list-item{
	height:initial!important;
}

.mat-list-item:hover {
    background-color: #f3efef8e;
    cursor: pointer;
}

.filter-panel{
    min-width: 30%;
    background-color: #f3efef8e;
    padding: 20px;
}

.mat-card {
    padding: 0px;
}

.mat-list-item {
	padding-bottom: 5px;
	padding-top: 5px;
}

section.problems {
    padding: 20px;
    margin-top: 0;
	max-height: 80vh;
	overflow-y: auto;
	word-break: break-word;
}

.problem {
    margin-bottom: 15px;
}

#historical-problems-card {
    min-width: 60%;
    width: 100%;
}

h3 {
    margin: 0px;
}

