::ng-deep .mat-list .mat-list-item .mat-line{
	Word-wrap: break-Word;
   white-space: pre-wrap;
}

::ng-deep  .mat-list .mat-list-item{
	height:initial!important;
}

.filter-panel{
    min-width: 30%;
    background-color: #f3efef8e;
    padding: 20px;
}

.mat-card {
    padding: 0px;
}

section.problems {
    width: 70%;
    padding: 20px;
    margin-top: 0px;
}

.problem {
    margin-bottom: 15px;
}

#historical-problems-card {
    min-width: 60%;
    width: 100%;
}

h3 {
    margin: 0px;
}

div.problem-container {
    max-width: 70%;
}
