<app-content width="full">
	<section id="title">
		<h2 class="mat-h2" [translate]="'ambulatoria.paciente.problemas.TITLE'"></h2>
	</section>

	<ng-template #noInfo>
		<app-no-data></app-no-data>
	</ng-template>
	<section id="problemas" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
			<div fxFlex="25%">
				<app-summary-card id="active_problems" [header]="activos" [editable]="false">
					<mat-list id="lista-problemas-activos" *ngIf="(activeProblems$ | async )?.length > 0 else noInfo">
						<div fxLayout="row" *ngFor="let problem of (activeProblems$ | async)">
							<mat-list-item>
								<div (click)="onProblemClick(problem)" fxFlex="100%">
									<span mat-line class="capitalize-first-letter">
										{{ problem.snomed.pt }}
									</span>
									<span mat-line class="mat-body">
										{{problem.startDate }}
									</span>
								</div>
								<button *hasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']" mat-icon-button [matMenuTriggerFor]="menu" >
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button *ngIf="hasNewConsultationEnabled$ | async" mat-menu-item (click)="openNuevaConsulta(problem)">
										<span [translate]="'ambulatoria.paciente.nueva-consulta.TITLE_MENU'"></span>
									</button>
									<button mat-menu-item (click)="solveProblemPopUp(problem)">
										<span [translate]="'ambulatoria.paciente.problemas.END'"></span>
									</button>
								</mat-menu>

							</mat-list-item>
							<mat-divider></mat-divider>
						</div>
					</mat-list>
				</app-summary-card>
			</div>
			<div fxFlex="25%">
				<app-summary-card id="chronic_problems" [header]="cronicos" [editable]="false">
					<mat-list id="lista-problemas-cronicos" *ngIf="(chronicProblems$ | async)?.length > 0 else noInfo">
						<div fxLayout="row" *ngFor="let problem of (chronicProblems$ | async)">
							<mat-list-item>
								<div (click)="onProblemClick(problem)" fxFlex="100%">
									<span mat-line class="capitalize-first-letter">
										{{ problem.snomed.pt}}
									</span>
									<span mat-line class="mat-body">
										{{problem.startDate }}
									</span>
								</div>

								<button *hasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']" mat-icon-button [matMenuTriggerFor]="menu" >
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button *ngIf="hasNewConsultationEnabled$ | async" mat-menu-item
											(click)="openNuevaConsulta(problem)">
										<span [translate]="'ambulatoria.paciente.nueva-consulta.TITLE_MENU'"></span>
									</button>
									<button mat-menu-item (click)="solveProblemPopUp(problem)">
										<span [translate]="'ambulatoria.paciente.problemas.END'"></span>
									</button>
								</mat-menu>

							</mat-list-item>
							<mat-divider></mat-divider>
						</div>
					</mat-list>
				</app-summary-card>
			</div>
			<div fxFlex="25%">
				<app-summary-card id="solved_problems" [header]="resueltos" [editable]="false">
					<mat-list id="lista-problemas-resueltos" *ngIf="(solvedProblems$ | async)?.length > 0 else noInfo">
						<div fxLayout="row" *ngFor="let problem of (solvedProblems$ | async)">
							<mat-list-item>
								<div (click)="onProblemClick(problem)" fxFlex="100%">
									<span mat-line class="capitalize-first-letter">
										{{ problem.snomed.pt}}
									</span>
									<span mat-line class="mat-body">
										{{problem.startDate }}
									</span>
								</div>
							</mat-list-item>
							<mat-divider></mat-divider>
						</div>
					</mat-list>
				</app-summary-card>
			</div>
			<div fxFlex="25%">
				<app-summary-card id="hospitalization_problems" [header]="internacion" [editable]="false">
					<mat-list id="lista-problemas-hospitalization" *ngIf="(hospitalizationProblems$ | async)?.length > 0 else noInfo">
						<div fxLayout="row" *ngFor="let problem of (hospitalizationProblems$ | async)">
							<mat-list-item>
								<div>
									<span mat-line class="capitalize-first-letter">
										{{ problem.mainDiagnose.snomed.pt }}
									</span>
									<span mat-line class="mat-body">
										{{ problem.entryDate }} - {{ problem.dischargeDate? problem.dischargeDate : "actualmente internado" }}
									</span>
								</div>
								<button *hasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ENFERMERO']" mat-icon-button [matMenuTriggerFor]="menu" >
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="goToHospitalizationEpisode(problem)">
										<span [translate]="'ambulatoria.paciente.problemas.ACCEDER'"></span>
									</button>
								</mat-menu>
							</mat-list-item>
							<mat-divider></mat-divider>
						</div>
					</mat-list>
				</app-summary-card>
			</div>
	</section>

	<section id="historical-problems" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">

		<mat-card id="historical-problems-card">
			<mat-card-content>
				<div fxLayout="row" fxLayout.xs="column">
					<div id="filters" class="filter-panel">
						<h2 class="page-title" [translate]="'ambulatoria.paciente.problemas.historical-problems.HISTORICAL_TITLE'"></h2>
						<div fxLayout="row" fxLayoutAlign="space-between start">
							<mat-card-subtitle>
								<span *ngIf="historicalProblemsList" id="historicalProblemsAmount"> {{historicalProblemsAmount}} resultados </span>
							</mat-card-subtitle>
							<button mat-icon-button color="primary" fxShow="false" fxShow.xs="true" (click)="hideFilters()">
								<mat-icon fontSet="material-icons-outlined">filter_list</mat-icon>
							</button>
						</div>
						<app-historical-problems-filters fxShow="true" [fxShow.xs]="hideFilterPanel"></app-historical-problems-filters>
					</div>
					<section class="problems" id="historical-problem-mapping" *ngIf="historicalProblemsList && historicalProblemsList.length">
						<div class="problem" fxLayout="row" fxLayoutGap="15px" *ngFor="let historicalProblem of historicalProblemsList">

							<mat-icon mat-list-icon fontSet="material-icons-outlined" color="primary">assignment</mat-icon>

							<div fxLayout="column" fxLayoutGap="15px" fxFlex="100%">
								<div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
									<div fxLayout="column" fxFlex.gt-xs="70%" fxLayoutGap="15px">
										<h2 class="mat-h2 page-title primary capitalize-first-letter">{{historicalProblem.problemPt}}</h2>
										<div *ngIf="historicalProblem.specialityPt">
											<div class="mat-body-strong" [translate]="'ambulatoria.paciente.problemas.historical-problems.SPECIALITY'"></div>
											<div class="mat-body capitalize-first-letter">{{historicalProblem.specialityPt}}</div>
										</div>

										<div *ngIf="historicalProblem.consultationReasons.length">
											<div class="mat-body-strong" [translate]="'ambulatoria.paciente.problemas.historical-problems.REASONS'"></div>
											<div *ngFor="let reason of historicalProblem.consultationReasons">
												<div class="mat-body capitalize-first-letter">{{reason.reasonPt}}</div>
											</div>
										</div>

										<div *ngIf="historicalProblem.consultationProcedures.length">
											<div class="mat-body-strong" [translate]="'ambulatoria.paciente.problemas.historical-problems.PROCEDURES'"></div>
											<div *ngFor="let procedure of historicalProblem.consultationProcedures">
												<div class="mat-body capitalize-first-letter">{{procedure.procedurePt}}</div>
											</div>
										</div>
									</div>

									<div fxLayout="column" fxLayoutGap="10px">
										<div>
											<h3 class="mat-h2 primary" [translate]="'ambulatoria.paciente.problemas.historical-problems.CONSULTATION_DATE'"></h3>
											{{historicalProblem.consultationDate | date : 'dd/MM/yyyy'}}
										</div>
										<div>
											<h3 class="mat-h2 primary" [translate]="'ambulatoria.paciente.problemas.historical-problems.PROFESSIONAL'"></h3>
											{{historicalProblem.consultationProfessionalName}}
										</div>
									</div>
								</div>

								<div *ngIf="historicalProblem.consultationEvolutionNote">
									<h3 class="mat-h2 primary" [translate]="'ambulatoria.paciente.problemas.historical-problems.EVOLUTION_NOTE'"></h3>
									<div class="mat-body capitalize-first-letter">{{historicalProblem.consultationEvolutionNote}}</div>
								</div>

								<mat-divider id="mat-divider" inset></mat-divider>
							</div>
						</div>
					</section>
					<div class="problems" *ngIf="!historicalProblemsList" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
						<h2 [translate]="'ambulatoria.paciente.problemas.historical-problems.NO_HISTORICAL'"></h2>
					</div>
					<section class="problems" *ngIf="historicalProblemsList && !historicalProblemsList.length" fxLayout="column" fxLayoutAlign="space-around center">
						<h2 [translate]="'ambulatoria.paciente.problemas.historical-problems.NO_FILTERED_PROBLEMS'"></h2>
					</section>
				</div>
			</mat-card-content>
		</mat-card>

	</section>
</app-content>

