<section id="title">
	<h2 class="page-title" [translate]="'ambulatoria.paciente.problemas.TITLE'"></h2>
</section>

<ng-template #noInfo>
	<app-no-data></app-no-data>
</ng-template>
<section id="problemas" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
		<div fxFlex="33%">
			<app-summary-card [header]="activos" [editable]="false">
				<mat-list id="lista-problemas-activos" *ngIf="(activeProblems$ | async )?.length > 0 else noInfo">
					<div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let problem of (activeProblems$ | async)">
						<mat-list-item>
							<span class="left-align content mat-body">
								{{ problem.snomed.pt}}
							</span>
							<span class="right-align content mat-body">
								{{problem.startDate }}
							</span>
						</mat-list-item>
					</div>
				</mat-list>
			</app-summary-card>
		</div>
		<div fxFlex="33%">
			<app-summary-card [header]="cronicos" [editable]="false">
				<mat-list id="lista-problemas-cronicos" *ngIf="(chronicProblems$ | async)?.length > 0 else noInfo">
					<div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let problem of (chronicProblems$ | async)">
						<mat-list-item>
							<span class="left-align content mat-body">
								{{ problem.snomed.pt}}
							</span>
							<span class="right-align content mat-body">
								{{problem.startDate }}
							</span>
						</mat-list-item>
					</div>
				</mat-list>
			</app-summary-card>
		</div>
		<div fxFlex="33%">
			<app-summary-card [header]="resueltos" [editable]="false">
				<mat-list id="lista-problemas-resueltos" *ngIf="(solvedProblems$ | async)?.length > 0 else noInfo">
					<div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let problem of (solvedProblems$ | async)">
						<mat-list-item>
							<span class="left-align content mat-body">
								{{ problem.snomed.pt}}
							</span>
							<span class="right-align content mat-body">
								{{problem.startDate }}
							</span>
						</mat-list-item>
					</div>
				</mat-list>
			</app-summary-card>
		</div>
</section>
