<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="HEADER"
    [actions]="{ lockToggle: true, showButtonClose: false, showButtonChevron: true, showActions: false}"
    [style]="STYLE">
    <div body fxLayout="column">
        <div *ngIf="diaries?.length" fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline">
                <mat-label [translate]="'turnos.home.SELECT_AGENDA'"></mat-label>
                <mat-select [(value)]="diarySelected">
                    <mat-option *ngFor="let diary of diaries" [value]="diary"
                        (onSelectionChange)="changeDiarySelected($event, diary)">
                        <span class="mat-body-strong">
                            {{diary.doctorsOfficeDescription}}
                        </span>
                        <span class="mat-body">
                            {{ diary.startDate | date: dateFormats.SHORT_DATE }} - {{ diary.endDate | date:dateFormats.SHORT_DATE}}
                        </span>
                    </mat-option>
                </mat-select>
                <button id="clear_agenda_selected" type="button" mat-button *ngIf="diarySelected && showButtonToClear"
                    matSuffix color="warn" mat-icon-button (click)="clear(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <app-agenda *ngIf="diarySelected" class="agenda" [canCreateAppoinment]="false" [idAgenda]="diarySelected.id"
            [showAll]="false" [view]="calendarViewEnum.Day" [viewDate]="calendarDate">
        </app-agenda>
    </div>
</app-dock-popup>