@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mat-mixins';
@import "../../../../../assets/styles/mixins";

@include mat-form-field-background-white;

::ng-deep .cdk-overlay-pane {
	app-calendar-professional-view-dock-popup {
		width: 100%;
		margin: 65px 0 0 0;

		@media (max-width: $mobile-popups) {
			margin: 0;
		}
	}
}

::ng-deep .cdk-overlay-pane.dock-popup-overlay {
	background-color: white;
}

.agenda {
	padding: 0 20px 0 20px;
}

mat-form-field {
	min-width: 100%;
}

#no-diary {
	width: 100%;
	.mat-card {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 40px 0;
		text-align: center;
	}
}

div.spinner {
	@include centered-spinner;
}
