.box {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px 15px 2px 0;
    background-color: #E0E0E0;
    color: white; 
    -webkit-box-shadow: -2px 3px 6px #9999;
    -moz-box-shadow: -2px 3px 6px #9999;
}