.bold {
    font-weight: bold;
}

.color-grey {
    color: #a8a8a8;
}

#blood-type {
    font-size: 28px;
}

.group-and-factor-properties {
    text-align: center;
    line-height: 16px;
}

.patient-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section {
    flex: 1 1 12rem;
    max-width: 12rem;
    padding: 6px 10px;
    box-sizing: border-box;
    overflow: visible;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.isolation-alert-divider {
    height: 100%;
}

.color-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.allergies-button:hover {
    text-decoration: underline;
}

.allergies-button {
    padding-left: 0;
}

.allergy-icon {
    font-size: 16px;
    padding-top: 2px;
}

.no-blood-data {
    text-align: center;
    max-width: 150px;
}

@media (max-width: 1280px) {
    .show-patient-btn {
        order: 0;
    }

    .actions-btn {
        order: 1;
    }
}

@media (max-width: 960px) {
    mat-divider.first-divider {
        display: none;
    }
}