.epicrisis-note-container {
    overflow-y: auto; 
	overflow-x: hidden; 
	height: 95%;
	font-size: 16px;
}

.summary-content {
    margin: 0 24px;
}

.edited-summary {
    padding: 10px 0;
}

.loader {
    margin: auto;
}

.draft-button {
	width: fit-content;
	padding: 0 16px;
}