.card-style-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 24px;
}

.patient-image {
	border-radius: 50%;
	width: 40px;
	width: 40px;
}

.patient-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
}
