@import "../../../../../assets/styles/mixins";

.gray-color {
    color: #DADADA;
}

.gray-text {
    color: #9A9A9A;
}

.content-primary {
    @include info-primary;
}

.content-secondary {
    @include info-secondary;
}

.bold {
    font-weight: 500;
}

#container {
    padding: 15px;
}

.wrap-reason {
    white-space: normal; 
    word-break: break-all;
    overflow-wrap: break-word;
}