.space-between {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.container {
    display: flex;
}

.institution-address-container {
    width: 45%;
}

.m-top {
    margin-top: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
}

mat-stepper {
    padding: 2rem;
}

.map-container {
    width: 100%;
    height: auto;
}

app-loading {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}