<div fxLayout="column" fxLayoutGap="2vh">
    <app-titled-content-card *ngIf="!service.anestheticReportPremedicationAndFoodIntakeService.isEmpty()"
        title="{{ 'internaciones.anesthesic-report.premedication-and-food-intake.REGISTERED_PREMEDICATION' }}">
        <app-medication-background-list [service]="service.anestheticReportPremedicationAndFoodIntakeService"></app-medication-background-list>
    </app-titled-content-card>

    <div>
        <button id="add-premedication" mat-button color="primary" class="premedication-button"
            (click)="addPremedication()">
            {{ 'internaciones.anesthesic-report.premedication-and-food-intake.ADD_PREMEDICATION' | translate }}
        </button>
    </div>

    <div fxLayout="column">
        <h3 class="last-food-intake-title">{{ 'internaciones.anesthesic-report.premedication-and-food-intake.LAST_FOOD_INTAKE' | translate }}</h3>
        <app-time-picker [timePickerData]="timePickerData" (timeSelected)="onTimeSelected($event)"></app-time-picker>
    </div>
</div>
