<app-content width="full">
    <section fxLayout="column" fxLayoutGap="20px">
        <h1 class="mat-headline" [translate]="'configuracion.logos.TITLE'"></h1>

        <div fxLayout="column" fxLayoutGap="10px">
            <h2 class="mat-title" [translate]="'configuracion.logos.SUBTITLE_1'"></h2>
            <span mat-line class="mat-body" [translate]="'configuracion.logos.logotipo.DESCRIPTION'"></span>
            <span mat-line class="mat-body" [translate]="'configuracion.logos.logotipo.IMAGE_FORMAT'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 512, height: 128}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, SPONSOR_LOGO)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(SPONSOR_LOGO)"></button>
            </div>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">
            <h2 class="mat-title" [translate]="'configuracion.logos.SUBTITLE_2'"></h2>
            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_pagina.DESCRIPTION'"></span>
            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_pagina.IMAGE_FORMAT'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE"
                                    [validations]="{acceptFormat: '.ico', width: 15, height: 16}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, FAVICON)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(FAVICON)"></button>
            </div>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">
            <h2 class="mat-title" [translate]="'configuracion.logos.SUBTITLE_3'"></h2>
            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.DESCRIPTION'"></span>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_72'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 72, height: 72}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_72)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_72)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_96'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 96, height: 96}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_96)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_96)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_128'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 128, height: 128}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_128)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_128)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_144'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 144, height: 144}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_144)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_144)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_152'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 152, height: 152}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_152)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_152)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_192'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 192, height: 192}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_192)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_192)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_384'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 384, height: 384}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_384)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_384)"></button>
            </div>

            <span mat-line class="mat-body" [translate]="'configuracion.logos.icono_escritorio.IMAGE_FORMAT_512'"></span>
            <div fxLayout="row" fxLayoutGap="15px">
                <app-img-uploader buttonLabel="configuracion.logos.UPLOAD_FILE" 
                                    [validations]="{acceptFormat: '.png', width: 512, height: 512}"
                                    icon="attach_file"
                                    (onSelectFiles)="selectFile($event, ICON_512)"></app-img-uploader>
                <button mat-raised-button color="warn" translate="configuracion.logos.RESTORE" (click)="restore(ICON_512)"></button>
            </div>

        </div>
        
    </section>
</app-content>
