.main-container {
	text-align: center;
	padding: 0 3em;
	margin-top: 2rem;
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 1rem 0;
}

.icon {
    width: 70px;
    height: 70px;
	font-size: 5em;
	line-height: 4rem;
    display: flex;
    align-items: center;
}

.icon-border {
	border: 5px solid;
	border-radius: 50%;
	display: flex;
	padding-left: 0.1em;
}

.smaller-icon {
	font-size: 4em;
	line-height: 4rem;
	height: 65px;
	width: 65px;
}

.content-text {
    display: flex;
    flex-direction: column;
}

.content-title {
    font-size: 16px;
    font-weight: 500;
}

.content-subtitle {
    font-size: 14px;
}

.dialog-header {
	display: flex;
    justify-content: space-between;
}

.green {
	color: limegreen;
}

.red {
	color: red;
}

.lightgrey {
	color: lightgrey
}