@import '../../../../../assets/styles/mixins';

.icon {
	font-size: 5em;
	margin: 0 0 2rem 0;
}

.study-status {
	text-align: center;
	padding: 0 3em;
	margin-top: 2rem;
}

.align-end {
	text-align: end;
}
