@import "../../../../../assets/styles/mat-mixins";

.page-title{
	font-weight: 500;
}
.mat-icon{
	vertical-align: top;
}
.professionals-attending{
	margin-left: 5%;
}
.content-patient-filter{
	@include mat-form-field-background-white;
}

#search-patient{
	width: 360px;;
}
