<section>
	<h3 class="page-title">{{'telemedicina.requests.SUBTITLE' | translate}}</h3>
	<div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="1em">
		<app-toggle-avaiability (availabilityChanged)="availabilityChanged($event)"></app-toggle-avaiability>
		<button mat-raised-button color="primary" (click)="openAddRequest()">{{'telemedicina.requests.BUTTON_ADD' |
			translate}}</button>
		<!-- <button mat-raised-button (click)="cambioEstadoDeLaSolicitud()">Cambia Estado</button> -->
	</div>
		<div>
		<div *ngFor="let virtualConsultation of virtualConsultations">
			<mat-card fxLayout="row" fxLayoutAlign="space-between space-between">

				<div id="datos-paciente">
					<span>{{virtualConsultation.patientData.lastName}} {{virtualConsultation.patientData.name}}</span>
					<div>
						<span>{{virtualConsultation.patientData.gender}} </span>
						<span>{{virtualConsultation.patientData.age}} años</span>
					</div>
					<span>Ver Historia Clinica</span>
				</div>

				<div id="datos-paciente">

					<app-iconed-text icon="home" [text]="virtualConsultation.problem"></app-iconed-text>
					<app-iconed-text icon="home" [text]="virtualConsultation.motive"></app-iconed-text>

				</div>
				<div id="datos-paciente">
					<app-iconed-text icon="medical_services"
						[text]="virtualConsultation.clinicalSpecialty"></app-iconed-text>
					<app-iconed-text icon="home" [text]="virtualConsultation.careLine"></app-iconed-text>
					<app-iconed-text icon="domain" [text]="virtualConsultation.institutionData.name"></app-iconed-text>
				</div>
				<div id="datos-paciente">
					<app-priority [priority]="virtualConsultation.priorityLabel"></app-priority>
					<app-iconed-text icon="schedule" [text]="virtualConsultation.waitingTime"></app-iconed-text>
				</div>

				<app-colored-label [description]="virtualConsultation.statusLabel.description"
					[color]="virtualConsultation.statusLabel.color"></app-colored-label>

				<span>{{virtualConsultation.responsibleData.available ? 'Disponible' : 'No Disponible'}}</span>
				<button mat-raised-button color="primary" (click)="joinMeet(virtualConsultation)">Tomar Turno</button>
			</mat-card>

		</div>
	</div>
</section>
