.factores-de-riesgo-field {
	display: flex;
	flex-direction: column;

	.mat-form-field {
		width: 50%;

		::ng-deep .mat-form-field-wrapper {
			padding-bottom: 0;
		}

		margin-bottom: -5px;
	}

	mat-error {
		font-size: 80%;
	}
}

.field-icon-risk-factor {
	padding: 25px 15px 20px 5px;
}