<button id="button" mat-button [ngClass]="buttonType" [color]="color" [disabled]="isLoading || disabled"
    (click)="onClicked()">
    <mat-spinner *ngIf="isLoading; else showContent" diameter="25" [color]="color" style="margin: 0.25rem;"></mat-spinner>
    <ng-template #showContent>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon *ngIf="matIcon" fontSet="material-icons-outlined">{{ matIcon }}</mat-icon>
            <span>{{text | translate | uppercase}}</span>
        </div>
    </ng-template>
</button>