@import "../../../../../assets/styles/variables";

.bold{
	font-weight: bold;
}

mat-icon {
	margin-right: 5px;
}

span {
	float: left;
	clear: left;
}

.form-row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.noInformation{
	color: #A8A8A8;
}

