<div id="status" [ngSwitch]="episode.state.id">

    <ng-container *ngSwitchCase="EPISODE_STATES.EN_ESPERA">
        <app-emergency-care-waiting-status id="waiting-state" [stateUpdateOn]="episode.stateUpdatedOn"></app-emergency-care-waiting-status>
    </ng-container>

	<ng-container *ngSwitchCase="EPISODE_STATES.LLAMADO">
		<span> {{ episode.state?.description }} ({{episode.calls}}) : </span>
        <span *ngIf="episode?.waitingTime && episode.waitingTime < 60 && !episode.waitingHours">
            {{ episode.waitingTime }} min
        </span>
        <span *ngIf="episode?.waitingHours && episode.waitingHours > 0">
            {{ episode.waitingHours }} hs
        </span>
    </ng-container>

    <ng-container *ngSwitchCase="EPISODE_STATES.AUSENTE">
        <span> {{ episode.state?.description }}: </span>
        <span *ngIf="episode?.waitingTime && episode.waitingTime < 60 && !episode.waitingHours">
            {{ episode.waitingTime }} min
        </span>
        <span *ngIf="episode?.waitingHours && episode.waitingHours > 0">
            {{ episode.waitingHours }} hs
        </span>
    </ng-container>

    <div *ngSwitchCase="EPISODE_STATES.EN_ATENCION">
        <app-emergency-care-in-attention-status id="in-attention-state" [episode]="episode"></app-emergency-care-in-attention-status>
    </div>

    <div *ngSwitchCase="EPISODE_STATES.CON_ALTA_MEDICA">
        <app-emergency-care-patient-discharge-status id="patient-discharge-state" [episode]="episode"></app-emergency-care-patient-discharge-status>
    </div>

</div>
