<div id="status" [ngSwitch]="episode.state.id">

    <ng-container *ngSwitchCase="EPISODE_STATES.EN_ESPERA">
        <app-emergency-care-waiting-status id="waiting-state" [stateUpdateOn]="episode.stateUpdatedOn"></app-emergency-care-waiting-status>
    </ng-container>


	<ng-container *ngSwitchCase="EPISODE_STATES.LLAMADO">
		<div fxLayout="column">
			<span> {{ episode.state.description }} ({{episode.calls}}) </span>
			<span *ngIf="episode?.waitingTime && episode.waitingTime < 60 && !episode.waitingHours"
				[translate]="'guardia.home.episodes.episode.patient.WAITING_MINUTES_CALL'"
				[translateParams]="{waitingMinutes:episode.waitingTime}">
			</span>
			<span *ngIf="episode?.waitingHours && episode.waitingHours > 0"
				[translate]="'guardia.home.episodes.episode.patient.WAITING_HOURS_CALL'"
				[translateParams]="{waitingHours:episode.waitingHours}">
			</span>
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="EPISODE_STATES.AUSENTE">
		<div fxLayout="column">
			<span> {{ episode.state.description }} </span>
			<span *ngIf="episode?.waitingTime && episode.waitingTime < 60 && !episode.waitingHours"
				[translate]="'guardia.home.episodes.episode.patient.WAITING_MINUTES'"
				[translateParams]="{waitingMinutes:episode.waitingTime}">
			</span>
			<span *ngIf="episode?.waitingHours && episode.waitingHours > 0"
				[translate]="'guardia.home.episodes.episode.patient.WAITING_HOURS'"
				[translateParams]="{waitingHours:episode.waitingHours}">
			</span>
		</div>
	</ng-container>


    <div *ngSwitchCase="EPISODE_STATES.EN_ATENCION">
        <app-emergency-care-in-attention-status id="in-attention-state" [episode]="episode"></app-emergency-care-in-attention-status>
    </div>

    <div *ngSwitchCase="EPISODE_STATES.CON_ALTA_MEDICA">
        <app-emergency-care-patient-discharge-status id="patient-discharge-state" [episode]="episode"></app-emergency-care-patient-discharge-status>
    </div>

</div>
