<section id="select-agenda" *ngIf="agendas?.length" fxLayout="row" fxLayoutAlign="space-between center"
	fxLayout.xs="column" fxLayoutAlign.xs="space-between center">
	<mat-form-field fxFlex.gt-xs="47%" appearance="outline">
		<mat-label [translate]="'turnos.home.SELECT_AGENDA'"></mat-label>
		<mat-select id="agenda-select" [(value)]="currentAgenda">
			<mat-optgroup id="active-agendas" *ngIf="activeAgendas?.length">
				<mat-label><strong>{{ 'turnos.home.ACTIVES_AGENDAS_LABEL' | translate }}</strong></mat-label>
				<mat-option *ngFor="let agenda of activeAgendas" [value]="agenda.diaryList"
					(onSelectionChange)="changeAgendaSelected($event, agenda.diaryList)"
					matTooltip="{{agenda.diaryList.practices | practiceList }}">
						<div fxFlex="60%" class="text-container">
							<span *ngIf="agenda?.diaryList.alias">{{agenda.diaryList.alias }} </span>

							<ng-container *ngIf="agenda.diaryList.practices?.length">
								<span *ngIf="agenda?.diaryList.alias else withOutAliasPractices">
									({{agenda.diaryList.practices | practiceList}})
								</span>
								<ng-template #withOutAliasPractices>
									<span>
										{{agenda.diaryList.practices | practiceList}}
									</span>
								</ng-template>
							</ng-container>

							<ng-container *ngIf="!agenda.diaryList.practices?.length">
								<span *ngIf="agenda?.diaryList.alias else withOutAlias">
									({{agenda.diaryList.clinicalSpecialtyName}})
								</span>
								<ng-template #withOutAlias>
									<span>
										{{agenda.diaryList.clinicalSpecialtyName}}
									</span>
								</ng-template>
							</ng-container>
						</div>
						<div fxFlex="40%">
							<span >
								{{agenda.startDate | dateFormat: 'date' }} - {{agenda.endDate | dateFormat: 'date' }}
							</span>
						</div>
				</mat-option>
			</mat-optgroup>
			<mat-optgroup id="expired-agendas" *ngIf="expiredAgendas?.length">
				<mat-label><strong>{{ 'turnos.home.EXPIRED_AGENDAS_LABEL' | translate }}</strong></mat-label>
				<mat-option *ngFor="let agenda of expiredAgendas" [value]="agenda"
					(onSelectionChange)="changeAgendaSelected($event, agenda.diaryList)">
					<span class="mat-body-strong">
						{{agenda.diaryList.alias === undefined || agenda.diaryList.alias == "" ? agenda?.diaryList.clinicalSpecialtyName : getAliasAndSpecialtyText(agenda.diaryList.alias, agenda?.diaryList.clinicalSpecialtyName)}}
					</span>
					<span class="mat-body">
						{{agenda.startDate | dateFormat: 'date' }} - {{agenda.endDate | dateFormat: 'date' }}
					</span>
				</mat-option>
			</mat-optgroup>
		</mat-select>
		<button id="clear_agenda_selected" type="button"  *ngIf="agendaSelected" matSuffix color="warn"
			mat-icon-button (click)="clear(agendaSelected); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<div class="actions" *ngIf="agendaSelected" fxLayout="row" fxLayoutGap="3px">
		<app-button text="imprimir" color="primary" id="print_agenda" name="print_agenda" (clicked)="printAgenda()" ></app-button>
		<app-button text="editar" color="primary" id="edit_agenda" name="edit_agenda" (clicked)="goToEditAgenda()" *appHasRole="['ADMINISTRADOR_AGENDA']"></app-button>
		<app-button text="bloquear" color="warn" id="block_agenda" (clicked)="blockAgenda()" *appHasRole="['ADMINISTRADOR_AGENDA', 'ADMINISTRATIVO']"></app-button>
		<app-button text="eliminar" color="warn" id="delete_agenda" name="delete_agenda" (clicked)="deleteAgenda()" *appHasRole="['ADMINISTRADOR_AGENDA']"></app-button>
	</div>

</section>

<ng-container *ngIf="!agendas?.length">
	<section id="no-agenda" *ngIf="agendas?.length === 0" class="no-agenda">
		<mat-card>
			<mat-card-header>
				<mat-card-title [translate]="'turnos.home.NO_AGENDA_MSG_TITLE'"></mat-card-title>
				<mat-card-subtitle [translate]="'turnos.home.NO_AGENDA_MSG_SUBTITLE'"></mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<button mat-flat-button color="primary" id="goToNewAgendaButton" *appHasRole="['ADMINISTRADOR_AGENDA']"
					(click)="goToNewAgenda()" fxFlexFill.xs>
					<span class="uppercase" [translate]="'turnos.home.actions.CREATE_AGENDA'"></span>
				</button>
			</mat-card-content>
		</mat-card>
	</section>
</ng-container>

<router-outlet></router-outlet>

