@import '../../../../../assets/styles/mat-mixins';

@include mat-form-field-background-white;

.actions {
	button {
		height: 42px;
		width: 42px;
	}
}

.no-agenda {
	.mat-card {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 40px 0;
		text-align: center;
	}
}

#expired-agendas {
	mat-label strong,
	mat-option span {
		color: rgba(0, 0, 0, 0.38);
	}
}

