<div class="container">
	<form id="anamnesis-form" (keydown.enter)="false" [formGroup]="form" (ngSubmit)="save()">
		<section id="title">
			<h2 class="page-title" [translate]="'internaciones.anamnesis.TITLE'"></h2>
			<h3 [translate]="'internaciones.anamnesis.SUBTITLE'"></h3>
		</section>
		<ng-container *featureFlag="'mainDiagnosisRequired'">
			<ng-container *hasRole="['ESPECIALISTA_MEDICO']">
				<section id="diagnostico-principal">
					<app-diagnostico-principal [diagnosis]="mainDiagnosis" (changeMainDiagnosis)="setMainDiagnosis($event)"></app-diagnostico-principal>
				</section>
			</ng-container>
		</ng-container>
		<section id="diagnosticos">
			<app-diagnosticos [(diagnosis)]="diagnosticos"></app-diagnosticos>
		</section>

		<section id="procedimientos" *hasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','PROFESIONAL_DE_SALUD']">
			<app-document-section [sectionTitle]="'internaciones.anamnesis.procedimientos.TITLE'"
				[tableTitle]="'internaciones.anamnesis.procedimientos.TABLE_TITLE'"
				[columns]="procedimientosService.getColumns()"
				[data]="procedimientosService.getProcedimientos()"
				[addRemoveColumn]="true"
				(removeColumn)="procedimientosService.remove($event)">
				<ng-container concept-form>
					<app-concepts-search
						*ngIf="!procedimientosService.getSnomedConcept() else procedimientoForm"
						[label]="'internaciones.anamnesis.procedimientos.PROCEDIMIENTO'"
						(search)="procedimientosService.openSearchDialog($event)">
					</app-concepts-search>

					<ng-template #procedimientoForm>
						<form [formGroup]="procedimientosService.getForm()"
							(ngSubmit)="procedimientosService.addToList()">
							<mat-form-field appearance="outline">
								<mat-label [translate]="'internaciones.anamnesis.procedimientos.TIPO'">
								</mat-label>
								<input id="procedimiento-input" matInput type="text" formControlName="snomed" name="snomed"
									readonly matTooltip="{{procedimientosService.getSnomedConcept().pt }}">
								<button id="clear-procedimiento" mat-button matSuffix color="warn" mat-icon-button
									(click)="procedimientosService.resetForm()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label [translate]="'internaciones.anamnesis.procedimientos.FECHA'">
								</mat-label>
								<input matInput id="fecha_procedimiento" [matDatepicker]="datePicker"
									formControlName="performedDate" [max]="procedimientosService.getFechaMax()">
								<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
								<mat-datepicker #datePicker></mat-datepicker>
							</mat-form-field>

							<div align="end">
								<button id="submit_procedimiento" class="uppercase" mat-raised-button color="primary"
									type="submit">
									<span
										[translate]="'internaciones.anamnesis.procedimientos.buttons.ADD'"></span>
								</button>
							</div>

						</form>
					</ng-template>
				</ng-container>
			</app-document-section>
		</section>

		<section id="datos-antropometricos">
			<h2 [translate]="'internaciones.anamnesis.datos-antropometricos.TITLE'"></h2>
			<mat-card class="datos-antropometricos-card">
				<mat-card-content formGroupName="anthropometricData">
					<div>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.BLOOD_TYPE'"></mat-label>
							<mat-select placeholder="B+" formControlName="bloodType" name="bloodTypeId">
								<mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
									{{ bloodType.description }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.HEIGHT'"></mat-label>
							<input id="height"
							       name="height"
							       formControlName="height"
							       placeholder="Ej: 180"
							       type="number"
							       matInput>
							<mat-error
									*ngIf="hasError(this.form.controls.anthropometricData, 'min', 'height')"
									[translate]="'forms.MIN_ERROR'"
									[translateParams]="{min: getError(this.form.controls.anthropometricData, 'min', 'height').min}">
							</mat-error>
							<mat-error
									*ngIf="hasError(this.form.controls.anthropometricData, 'max', 'height')"
									[translate]="'forms.MAX_ERROR'"
									[translateParams]="{max: getError(this.form.controls.anthropometricData, 'max', 'height').max}">
							</mat-error>
							<mat-error
								*ngIf="hasError(this.form.controls.anthropometricData, 'pattern', 'height')"
								[translate]="'forms.FORMAT_NUMERIC_INTEGER'"
								[translateParams]="{pattern: getError(this.form.controls.anthropometricData, 'pattern', 'height').pattern}">
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.WEIGHT'"></mat-label>
							<input id="weight"
							       name="weight"
							       formControlName="weight"
							       placeholder="Ej: 70"
							       type="number"
							       matInput>
							<mat-error
									*ngIf="hasError(this.form.controls.anthropometricData, 'min', 'weight')"
									[translate]="'forms.MIN_ERROR'"
									[translateParams]="{min: getError(this.form.controls.anthropometricData, 'min', 'weight').min}">
							</mat-error>
							<mat-error
									*ngIf="hasError(this.form.controls.anthropometricData, 'max', 'weight')"
									[translate]="'forms.MAX_ERROR'"
									[translateParams]="{max: getError(this.form.controls.anthropometricData, 'max', 'weight').max}">
							</mat-error>
							<mat-error
								*ngIf="hasError(this.form.controls.anthropometricData, 'pattern', 'weight')"
								[translate]="'forms.FORMAT_NUMERIC'"
								[translateParams]="{pattern: getError(this.form.controls.anthropometricData, 'pattern', 'weight').pattern}">
							</mat-error>
						</mat-form-field>
					</div>
				</mat-card-content>
			</mat-card>

		</section>
		<section id="antecedentes-personales">
			<app-antecedentes-personales [(personalHistories)]="personalHistories"></app-antecedentes-personales>
		</section>
		<section id="antecedentes-familiares">
			<app-antecedentes-familiares [(familyHistories)]="familyHistories"></app-antecedentes-familiares>
		</section>
		<section id="alergias">
			<app-alergias [(allergies)]="allergies"></app-alergias>
		</section>
		<section id="vacunas">
			<app-vacunas [(immunizations)]="immunizations"></app-vacunas>
		</section>
		<section id="medicacion">
			<app-medicacion [(medications)]="medications"></app-medicacion>
		</section>
		<section id="signos-vitales">
			<h2 [translate]="'internaciones.anamnesis.vital-signs.form.TITLE'"></h2>
			<mat-card>
				<mat-card-content class="vital-signs" formGroupName="vitalSigns">
					<div class="row-container">
						<div class="field-container" formGroupName="heartRate">
							<mat-label [translate]="'internaciones.anamnesis.vital-signs.form.HEART_RATE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="heart_rate"
									   name="heart_rate"
									   formControlName="value"
									   placeholder="00"
									   type="number"
									   matInput>
									</mat-form-field>
							<app-effective-time [effectiveTime]="form.value.vitalSigns.heartRate.effectiveTime" (update)="setVitalSignEffectiveTime($event, 'heartRate')"></app-effective-time>
							<mat-error
								*ngIf="hasError(this.form.controls.vitalSigns, 'min', 'heartRate.value')"
								[translate]="'forms.MIN_ERROR'"
								[translateParams]="{min: getError(this.form.controls.vitalSigns, 'min', 'heartRate.value').min}">
							</mat-error>
						</div>
						<div class="field-container" formGroupName="respiratoryRate">
							<mat-label [translate]="'internaciones.anamnesis.vital-signs.form.RESPIRATORY_RATE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="respiratory_rate"
									   name="respiratory_rate"
									   formControlName="value"
									   placeholder="00"
									   type="number"
									   matInput>
							</mat-form-field>
							<app-effective-time [effectiveTime]="form.value.vitalSigns.respiratoryRate.effectiveTime" (update)="setVitalSignEffectiveTime($event, 'respiratoryRate')"></app-effective-time>
							<mat-error
								*ngIf="hasError(this.form.controls.vitalSigns, 'min', 'respiratoryRate.value')"
								[translate]="'forms.MIN_ERROR'"
								[translateParams]="{min: getError(this.form.controls.vitalSigns, 'min', 'respiratoryRate.value').min}">
							</mat-error>
						</div>
					</div>

					<div class="row-container">
						<div class="field-container" formGroupName="temperature">
							<mat-label [translate]="'internaciones.anamnesis.vital-signs.form.TEMPERATURE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="temperature"
									   name="temperature"
									   formControlName="value"
									   placeholder="00.0"
									   type="number"
									   matInput>
							</mat-form-field>
							<app-effective-time [effectiveTime]="form.value.vitalSigns.temperature.effectiveTime" (update)="setVitalSignEffectiveTime($event, 'temperature')"></app-effective-time>
							<mat-error
								*ngIf="hasError(this.form.controls.vitalSigns, 'min', 'temperature.value')"
								[translate]="'forms.MIN_ERROR'"
								[translateParams]="{min: getError(this.form.controls.vitalSigns, 'min', 'temperature.value').min}">
							</mat-error>
						</div>
						<div class="field-container" formGroupName="bloodOxygenSaturation">
							<mat-label
								[translate]="'internaciones.anamnesis.vital-signs.form.BLOOD_OXYGEN_SATURATION'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="blood_oxygen_saturation"
									   name="blood_oxygen_saturation"
									   formControlName="value"
									   placeholder="00"
									   type="number"
									   matInput>
							</mat-form-field>
							<app-effective-time [effectiveTime]="form.value.vitalSigns.bloodOxygenSaturation.effectiveTime" (update)="setVitalSignEffectiveTime($event, 'bloodOxygenSaturation')"></app-effective-time>
							<mat-error
								*ngIf="hasError(this.form.controls.vitalSigns, 'min', 'bloodOxygenSaturation.value')"
								[translate]="'forms.MIN_ERROR'"
								[translateParams]="{min: getError(this.form.controls.vitalSigns, 'min', 'bloodOxygenSaturation.value').min}">
							</mat-error>
						</div>
					</div>

					<div class="row-container">
						<div class="field-container" formGroupName="systolicBloodPressure">
							<mat-label
								[translate]="'internaciones.anamnesis.vital-signs.form.SYSTOLIC_BLOOD_PRESSURE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="systolic_blood_pressure"
									   name="systolicBloodPressure"
									   formControlName="value"
									   placeholder="00"
									   type="number"
									   matInput>
							</mat-form-field>
							<app-effective-time [effectiveTime]="form.value.vitalSigns.systolicBloodPressure.effectiveTime" (update)="setVitalSignEffectiveTime($event, 'systolicBloodPressure')"></app-effective-time>
							<mat-error
								*ngIf="hasError(this.form.controls.vitalSigns, 'min', 'systolicBloodPressure.value')"
								[translate]="'forms.MIN_ERROR'"
								[translateParams]="{min: getError(this.form.controls.vitalSigns, 'min', 'systolicBloodPressure.value').min}">
							</mat-error>
						</div>
						<div class="field-container" formGroupName="diastolicBloodPressure">
							<mat-label
								[translate]="'internaciones.anamnesis.vital-signs.form.DIASTOLIC_BLOOD_PRESSURE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="diastolic_blood_pressure"
									   name="diastolicBloodPressure"
									   formControlName="value"
									   placeholder="00"
									   type="number"
									   matInput>
							</mat-form-field>
							<app-effective-time [effectiveTime]="form.value.vitalSigns.diastolicBloodPressure.effectiveTime" (update)="setVitalSignEffectiveTime($event, 'diastolicBloodPressure')"></app-effective-time>
							<mat-error
								*ngIf="hasError(this.form.controls.vitalSigns, 'min', 'diastolicBloodPressure.value')"
								[translate]="'forms.MIN_ERROR'"
								[translateParams]="{min: getError(this.form.controls.vitalSigns, 'min', 'diastolicBloodPressure.value').min}">
							</mat-error>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</section>
		<section id="observations">
			<h2 [translate]="'internaciones.anamnesis.observations.TITLE'"></h2>
			<mat-card>
				<mat-card-content formGroupName="observations">
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.CURRENT_DISEASE'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="currentIllnessNote" name="currentIllnessNote"
								formControlName="currentIllnessNote">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.PHYSICAL_EXAMINATION'">
						</mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="physicalExamNote" name="physicalExamNote"
								formControlName="physicalExamNote">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.STUDIES_PROCEDURES'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="studiesSummaryNote" name="studiesSummaryNote"
								formControlName="studiesSummaryNote">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.PATIENT_PROGRESS'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="evolutionNote" name="evolutionNote"
								formControlName="evolutionNote">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.CLINICAL_IMPRESSION'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="clinicalImpressionNote" name="clinicalImpressionNote"
								formControlName="clinicalImpressionNote">
							</textarea>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.OTHERS'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="otherNote" name="otherNote" formControlName="otherNote">
							</textarea>
						</mat-form-field>
					</div>

				</mat-card-content>
			</mat-card>
		</section>
		<section id="validations" *ngIf="mainDiagnosisError || apiErrors.length > 0">
			<mat-card>
				<mat-error class="mat-body-2">{{ mainDiagnosisError }}</mat-error>
				<mat-error class="mat-body-2" *ngFor="let error of apiErrors">{{ error }}</mat-error>
			</mat-card>
		</section>
		<section id="buttons" class="form-buttons">
			<button mat-stroked-button type="button" color="primary" (click)="back()">
				<span class="uppercase"
					  [translate]="'buttons.BACK'">
				</span>
			</button>
			<button id="sign-confirm" mat-raised-button type="submit" color="primary" *hasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR']">
				<span class="uppercase" [translate]="'internaciones.anamnesis.buttons.CONFIRM'"></span>
			</button>
		</section>
	</form>
</div>
