<app-content width="full">
	<mat-spinner *ngIf="showSpinner()"></mat-spinner>

    <section *ngIf="viewSearchComponent() && !showSpinner()">
		<h2  class="page-title" [translate]="'pacientes.search.TITLE'"></h2>
		<p>
			<span [translate]="'pacientes.search.SUBTITLE'"></span>
			<br>
			<span [translate]="'pacientes.search.SUBTITLE_TWO'"></span>
		</p>
		<div class="content">
			<form [formGroup]="formSearch" (ngSubmit)="submit()">
				<div class="form-row" id="id_identification">
					<div>
						<div>
							<span [translate]="'pacientes.form.IDENTIFICATION_TYPE'"></span>
						</div>
						<mat-form-field appearance="outline">
							<mat-select
								formControlName="identificationTypeId">
								<mat-option
									id="identifType"
									name="identifType"
									*ngFor="let type of identifyTypeArray" [value]="type.id">
									{{type.description}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'identificationTypeId')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
						</mat-form-field>
					</div>

					<div>
						<div>
							<span [translate]="'pacientes.form.IDENTIFICATION_NUMBER'"></span>
						</div>
						<mat-form-field appearance="outline">
							<input id="identificationNumber"
								   formControlName="identificationNumber"
								   placeholder="Sin puntos"
								   matInput>
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'identificationNumber')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
							<mat-error *ngIf="hasError(formSearch, 'maxlength', 'identificationNumber')">
								<span [translate]="'pacientes.form.MAX_CHARACTER'"></span>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<mat-label>
					<span [translate]="'pacientes.form.GENDER'"></span>
				</mat-label>
				<div>
					<mat-radio-group name="genderId" id="genderId" formControlName="genderId">
						<mat-radio-button id="genderButton_{{gender.id}}" *ngFor="let gender of genderOptions" [value]="gender.id">
							{{gender.description}}
						</mat-radio-button>
					</mat-radio-group>
					<mat-error *ngIf="formSearchSubmitted &&  hasError(formSearch, 'required', 'genderId')">
						<span [translate]="'pacientes.form.REQUIRED_GENDER'"></span>
					</mat-error>
				</div>
				<br>
				<div>
					<span [translate]="'pacientes.form.FIRST_NAMES_TITLE'"></span>
				</div>
				<div class="form-row" id="id_names">
					<mat-form-field appearance="outline">
						<input  id="firstName"
								formControlName="firstName"
								placeholder="{{'pacientes.form.FIRST_NAME' | translate}}"
								[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.firstName"
								matInput>
						<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'firstName')">
							<span [translate]="'pacientes.form.REQUIRED'"></span>
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<input  id="middleNames"
								formControlName="middleNames"
								placeholder="{{'pacientes.form.MIDDLE_NAMES' | translate}}"
								[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.middleNames"
								matInput>
					</mat-form-field>
				</div>
				<div>
					<span [translate]="'pacientes.form.LAST_NAME_TITLE'"></span>
				</div>
				<div class="form-row" id="id_lastName">
					<mat-form-field appearance="outline">
						<input  id="lastName"
								formControlName="lastName"
								placeholder="{{'pacientes.form.LAST_NAME' | translate}}"
								[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.lastName"
								matInput>
						<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'lastName')">
							<span [translate]="'pacientes.form.REQUIRED'"></span>
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<input  id="otherLastNames"
								formControlName="otherLastNames"
								[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.otherLastNames"
								placeholder="{{'pacientes.form.OTHER_LAST_NAMES' | translate}}"
								matInput>
					</mat-form-field>
				</div>
				<div>
					<span [translate]="'pacientes.form.BIRTH_DATE'"></span>
				</div>
				<div>
					<mat-form-field appearance="outline">
						<input matInput id="birthDate"
							   formControlName="birthDate"
							   [matDatepicker]="picker"
							   [min]="minDate"
							   [max]="today">
						<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'birthDate')">
							<span [translate]="'pacientes.form.REQUIRED'"></span>
						</mat-error>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<br>
				<mat-action-row *appHasRole="['ADMINISTRATIVO']">
					<button mat-stroked-button type="button" (click)="back()">
						<span [translate]="'buttons.BACK'"></span>
					</button>
					<button mat-raised-button color="primary" matBadgeColor="accent" type="submit">
						<span [translate]="'buttons.SEARCH'"></span>
					</button>
				</mat-action-row>
			</form>
		</div>
	</section>
	<div class="table-container" *ngIf="!viewSearchComponent() && !showSpinner()">
		<section>
			<h2 class="mat-body-2" [translate]="'pacientes.search.TITLE'"></h2>
			<h3 class="mat-body-2" [translate]="'Se encontraron posibles coincidencias.'"></h3>
			<app-table [model]="matchingPatient" [mainStyle]="'primary'"></app-table>
			<div class="new-patient-button" align="end">
				<button *appHasRole="['ADMINISTRATIVO']" mat-raised-button id="new_patient_button" color="primary" (click)="goToNewPatient()">
					<span [translate]="'pacientes.search.NEW_PATIENT'"></span>
				</button>
			</div>
		</section>
	</div>
</app-content>
