<app-content width="full">
	<mat-spinner *ngIf="showSpinner()"></mat-spinner>

    <section *ngIf="viewSearchComponent() && !showSpinner()">
		<h2  class="page-title">{{ 'pacientes.search.TITLE' | translate | patientToPerson}}</h2>
		<p>
			<span>{{ 'pacientes.search.SUBTITLE' | translate | patientToPerson}}</span>
			<br>
			<span [translate]="'pacientes.search.SUBTITLE_TWO'"></span>
		</p>
		<div class="content">
			<form [formGroup]="formSearch" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="20px">
				<div id="id_identification" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
					<div [ngClass]="!identificationTypeFieldDisabled ? 'white-bg-color' : ''" fxFlex="30" fxFlex.lt-md="100">
						<div>
							<span [translate]="'pacientes.form.IDENTIFICATION_TYPE'" [ngClass]="identificationTypeFieldDisabled ? 'color-disabled' : ''"></span>
						</div>
						<mat-form-field appearance="outline">
							<mat-select
								formControlName="identificationTypeId">
								<mat-option
									id="identifType"
									name="identifType"
									*ngFor="let type of identifyTypeArray" [value]="type.id">
									{{type.description}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'identificationTypeId')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
						</mat-form-field>
					</div>

					<div [ngClass]="!identificationNumberFieldDisabled ? 'white-bg-color' : ''" fxFlex="30" fxFlex.lt-md="100">
						<div>
							<span [translate]="'pacientes.form.IDENTIFICATION_NUMBER'" [ngClass]="identificationNumberFieldDisabled ? 'color-disabled' : ''"></span>
						</div>
						<mat-form-field appearance="outline">
							<input id="identificationNumber"
								   formControlName="identificationNumber"
								   placeholder= "{{'pacientes.form.NO_INFO' | translate}}"
								   matInput>
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'identificationNumber')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
							<mat-error *ngIf="hasError(formSearch, 'maxlength', 'identificationNumber')">
								<span [translate]="'pacientes.form.MAX_CHARACTER'"></span>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div>
					<mat-label>
						<span [translate]="'pacientes.form.GENDER'" [ngClass]="genderFieldDisabled ? 'color-disabled' : ''"></span>
					</mat-label>
					<div [ngClass]="!genderFieldDisabled ? 'white-bg-color' : ''">
						<mat-radio-group name="genderId" id="genderId" formControlName="genderId">
							<mat-radio-button id="genderButton_{{gender.id}}" *ngFor="let gender of genderOptions" [value]="gender.id">
								{{gender.description}}
							</mat-radio-button>
						</mat-radio-group>
						<mat-error *ngIf="formSearchSubmitted &&  hasError(formSearch, 'required', 'genderId')">
							<span [translate]="'pacientes.form.REQUIRED_GENDER'"></span>
						</mat-error>
					</div>
				</div>
				<br>

				<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="7px">
					<div>
						<span [translate]="'pacientes.form.FIRST_NAMES_TITLE'"></span>
					</div>
					<div id="id_names" class="white-bg-color" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
						<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
							<input  id="firstName"
									formControlName="firstName"
									placeholder="{{'pacientes.form.FIRST_NAME' | translate}}"
									[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.firstName"
									matInput>
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'firstName')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
							<input  id="middleNames"
									formControlName="middleNames"
									placeholder="{{'pacientes.form.MIDDLE_NAMES' | translate}}"
									[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.middleNames"
									matInput>
						</mat-form-field>
					</div>
				</div>

				<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="7px">
					<div>
						<span [translate]="'pacientes.form.LAST_NAME_TITLE'"></span>
					</div>
					<div id="id_lastName" class="white-bg-color" fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
						<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
							<input  id="lastName"
									formControlName="lastName"
									placeholder="{{'pacientes.form.LAST_NAME' | translate}}"
									[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.lastName"
									matInput>
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'lastName')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
							<input  id="otherLastNames"
									formControlName="otherLastNames"
									[maxLength]="PERSON_MAX_LENGHT.MAX_LENGTH.otherLastNames"
									placeholder="{{'pacientes.form.OTHER_LAST_NAMES' | translate}}"
									matInput>
						</mat-form-field>
					</div>
				</div>

				<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="7px">
					<div>
						<span [translate]="'pacientes.form.BIRTH_DATE'"></span>
					</div>
					<div class="white-bg-color" fxLayout="row">
						<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
							<input matInput id="birthDate"
								formControlName="birthDate"
								[matDatepicker]="picker"
								[min]="minDate"
								[max]="today">
							<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'birthDate')">
								<span [translate]="'pacientes.form.REQUIRED'"></span>
							</mat-error>
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<br>

				<mat-action-row *appHasRole="['ADMINISTRATIVO','ADMINISTRADOR_INSTITUCIONAL_BACKOFFICE']">
					<button mat-stroked-button type="button" (click)="back()">
						<span [translate]="'buttons.BACK'"></span>
					</button>
					<button mat-raised-button color="primary" matBadgeColor="accent" type="submit">
						<span [translate]="'buttons.SEARCH'"></span>
					</button>
				</mat-action-row>
			</form>
		</div>
	</section>
	<div class="table-container" *ngIf="!viewSearchComponent() && !showSpinner()">
		<section>
			<h2 class="mat-body-2">{{ 'pacientes.search.TITLE' | translate | patientToPerson}}</h2>
			<h3 class="mat-body-2" [translate]="'Se encontraron posibles coincidencias.'"></h3>

		<div *ngIf="!ffOfCardsIsOn else patientCard">
			<app-table id="resultTable" [model]="matchingPatient"  *ngIf="matchingPatient?.data.length > 0 else noInfo"></app-table>
		</div>

		<ng-template #patientCard>
			<app-card-patient [patientData]="patientData" *ngIf="patientData?.length > 0 else noInfo"></app-card-patient>
		</ng-template>

			<div class="new-patient-button" fxLayoutAlign="end none" >
				<button *appHasRole="['ADMINISTRATIVO','ADMINISTRADOR_INSTITUCIONAL_BACKOFFICE']" mat-raised-button id="new_patient_button" color="primary" (click)="goToNewPatient()">
					<div *ngIf="hasInstitutionalAdministratorRole else titleForOtherRoles">
						<span > {{ 'pacientes.search.NEW_PERSON' | translate }} </span>
					</div>
					<ng-template #titleForOtherRoles>
						<span> {{ 'pacientes.search.NEW_PATIENT' | translate }} </span>
					</ng-template>

				</button>
			</div>
		</section>
	</div>
</app-content>

<ng-template #noInfo>
	<app-no-data></app-no-data>
</ng-template>
