<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="{ title:'ambulatoria.paciente.nueva-consulta.TITLE' }">
	<div body fxLayout="column" fxLayoutGap="20px">
		<app-new-consultation-expansion-section id="episode-data" [title]="'ambulatoria.paciente.nueva-consulta.EPISODE_DATA' | translate"
			icon="calendar_today" [isEmpty]="false" [collapsed]="false"
			[hideBorder]="true">
			<app-episode-data [patientId]="data.idPaciente" (episodeData)="episodeData = $event"></app-episode-data>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="motivo"
			[title]="'ambulatoria.paciente.nueva-consulta.motivo.TITLE' | translate" icon="sms_failed"
			[isEmpty]="motivoNuevaConsultaService.isEmpty()" [recommend]="true">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!motivoNuevaConsultaService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.motivo.LIST_CARD_TITLE' }}">
					<app-reason-list [service]="motivoNuevaConsultaService"></app-reason-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-reason-button" color="primary" class="add-button"
						(click)="addReason()">
						+ {{ 'ambulatoria.paciente.nueva-consulta.motivo.ADD' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="problemas"
			[title]="'ambulatoria.paciente.nueva-consulta.problemas.TITLE' | translate" icon="error_outlined"
			[isEmpty]="ambulatoryConsultationProblemsService.isEmpty()" [collapsed]="false" [recommend]="true">
			<div fxLayout="column" fxLayoutGap="2vh">

				<app-titled-content-card *ngIf="!ambulatoryConsultationProblemsService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.problemas.PROBLEMA' }}">
					<app-problem-list [problemsService]="ambulatoryConsultationProblemsService"></app-problem-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-problem-button" color="primary" class="add-button"
						(click)="addProblem()">
						+ {{ 'ambulatoria.paciente.nueva-consulta.problemas.buttons.ADD' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="evolucion"
			[title]="'ambulatoria.paciente.nueva-consulta.evolucion.TITLE' | translate" icon="chat"
			[isEmpty]="!this.formEvolucion.value.evolucion" [collapsed]="false">
			<app-document-section>
				<ng-container concept-form>
					<form [formGroup]="formEvolucion">
						<mat-form-field appearance="outline">
							<textarea matInput type="text" id="evolucion-input" name="evolucion"
								formControlName="evolucion"
								placeholder="{{'ambulatoria.paciente.nueva-consulta.evolucion.DESCRIPCION' | translate }}">
							</textarea>
						</mat-form-field>
					</form>
				</ng-container>
			</app-document-section>
		</app-new-consultation-expansion-section>

		<app-parameterized-form-section *ngIf="isEnabledParameterizedFormFF" (completeParameterizedForms)="completeFormsData = $event"></app-parameterized-form-section>

		<app-new-consultation-expansion-section id="datos_antropometricos"
			[title]="'ambulatoria.paciente.nueva-consulta.datos-antropometricos.TITLE' | translate" icon="accessibility"
			[fixedExpanded]="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()"
			[isEmpty]="!datosAntropometricosNuevaConsultaService.hasAtLeastOneValueLoaded()"
			[(collapsed)]="collapsedAnthropometricDataSection">

			<app-datos-antropometricos-nueva-consulta
				[patientId]="data.idPaciente"
				[showPreloadData]="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()"
				[datosAntropometricosNuevaConsultaService]="datosAntropometricosNuevaConsultaService">
			</app-datos-antropometricos-nueva-consulta>

		</app-new-consultation-expansion-section>

		<app-concepts-list
			id="personal_histories"
			[hasConcepts]="!personalHistoriesNewConsultationService.isEmpty()"
			[content]="personalHistoriesContent"
			(openEmit)="checkPersonalHistoriesEvent($event)">
			<app-personal-histories-background-list [service]="personalHistoriesNewConsultationService"></app-personal-histories-background-list>
		</app-concepts-list>

		<app-concepts-list
			id="antecedentes-familiares"
			[hasConcepts]="!antecedentesFamiliaresNuevaConsultaService.isEmpty()"
			[content]="familyHistoriesContent"
			(openEmit)="checkFamilyHistoriesEvent($event)">
			<app-background-list [familyHistory]="antecedentesFamiliaresNuevaConsultaService.getAntecedentes()" (remove)="antecedentesFamiliaresNuevaConsultaService.remove($event)"></app-background-list>
		</app-concepts-list>

		<app-new-consultation-expansion-section id="medications"
			[title]="'ambulatoria.paciente.nueva-consulta.medicaciones.TITLE' | translate" icon="event_available"
			[isEmpty]="medicacionesNuevaConsultaService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">

				<app-titled-content-card *ngIf="!medicacionesNuevaConsultaService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.medicaciones.LIST_CARD_TITLE' }}">
					<app-medication-list [service]="medicacionesNuevaConsultaService"></app-medication-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-medication-button" color="primary" class="add-button"
						(click)="addMedication()">
						+ {{ 'ambulatoria.paciente.nueva-consulta.medicaciones.ADD' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="procedimientos"
			[title]="'ambulatoria.paciente.nueva-consulta.procedimientos.TITLE' | translate" icon="library_add"
			[isEmpty]="createOrderService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card
					*ngIf="!procedimientoNuevaConsultaService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.procedimientos.TABLE_TITLE' | translate}}">

					<div *ngFor="let procedimiento of procedimientoNuevaConsultaService.getProcedimientos(); index as i; last as isLast">
						<div fxLayout="row" fxLayoutAlign="space-between center">
							<div fxLayout="column">
								<span>{{ procedimiento.snomed.pt }}</span>
								<span *ngIf="procedimiento?.performedDate" class="mat-caption gray-caption">
									{{ procedimiento.performedDate | dateFormat : 'date' }}
								</span>
							</div>
							<button type="button" mat-icon-button color="warn" (click)="procedimientoNuevaConsultaService.remove(i)">
								<mat-icon>delete_outline</mat-icon>
							</button>
						</div>
						<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
					</div>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-procedure-button" color="primary" class="add-button"
						(click)="openSearchSnomedConceptComponent()">
						+ {{ 'ambulatoria.paciente.nueva-consulta.procedimientos.buttons.ADD' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="studies" *ngIf="isEnabledStudiesFF"
			[title]="'ambulatoria.paciente.nueva-consulta.studies.TITLE' | translate" icon="library_add"
			[isEmpty]="createOrderService.isEmpty()">

			<app-titled-content-card *ngIf="!createOrderService.isEmpty()"
				title="{{ 'ambulatoria.paciente.nueva-consulta.studies.dialog.STUDIES_LABEL' }}">
				<app-procedure-list [service]="createOrderService"> </app-procedure-list>
			</app-titled-content-card>

			<div>
				<button mat-button type="button" id="add-study-button" color="primary" class="add-button"
					(click)="openStudiesComponent()">
					+ {{ 'ambulatoria.paciente.nueva-consulta.studies.buttons.ADD' | translate }}
				</button>
			</div>

		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="factores_de_riesgo"
			[title]="'historia-clinica.factores-de-riesgo-form.TITLE' | translate" icon="favorite_outlined"
			[fixedExpanded]="factoresDeRiesgoFormService.getShowPreloadedRiskFactorsData()"
			[isEmpty]="!factoresDeRiesgoFormService.hasAtLeastOneValueLoaded()"
			[(collapsed)]="collapsedRiskFactorsSection">

			<app-factores-de-riesgo-form
				[showPreloadData]="factoresDeRiesgoFormService.getShowPreloadedRiskFactorsData()"
				[showRecomendation]="true" [factoresDeRiesgoFormService]="factoresDeRiesgoFormService"
				[showTitle]="false">
			</app-factores-de-riesgo-form>

		</app-new-consultation-expansion-section>

		<app-concepts-list
			id="alergias"
			[hasConcepts]="!alergiasNuevaConsultaService.isEmpty()"
			[content]="allergyContent"
			(openEmit)="checkAllergyEvent($event)">
			<app-allergy-list [service]="alergiasNuevaConsultaService"></app-allergy-list>
		</app-concepts-list>

		<app-new-consultation-expansion-section id="solicitud-referencia"
			[title]="'ambulatoria.paciente.nueva-consulta.solicitud-referencia.TITLE' | translate" icon="forum"
			[isEmpty]="ambulatoryConsultationReferenceService.isEmpty()" [(collapsed)]="collapsedReferenceRequest">
			<div fxLayout="column" fxLayoutGap="2vh" #referenceRequest>
				<app-box-message *ngIf="showWarningViolenceSituation"
					[boxMessageInfo]="boxMessageInfo"
					(response)="openReferenceDialog($event)"
					id="violence_situation_data_question">
				</app-box-message>

				<app-titled-content-card *ngIf="!ambulatoryConsultationReferenceService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.solicitud-referencia.REGISTERED_REQUEST' }}">
					<app-reference-request-list [service]="ambulatoryConsultationReferenceService">
					</app-reference-request-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-request-button" color="primary" class="add-button"
						(click)="ambulatoryConsultationReferenceService.openReferenceDialog()" [disabled]="showWarningViolenceSituation">
						+ {{ 'ambulatoria.paciente.nueva-consulta.solicitud-referencia.ADD_REQUEST' | translate }}
					</button>
				</div>

			</div>
		</app-new-consultation-expansion-section>

		<div #apiErrorsView>
			<div id="validations" *ngIf="apiErrors?.length > 0">
				<mat-card>
					<mat-error class="mat-body-2" *ngFor="let error of apiErrors">{{ error }}</mat-error>
				</mat-card>
			</div>
		</div>

	</div>

	<div actions id="buttons" align="end">
		<div class="actions">
			<app-button
				[buttonType]="ButtonType.RAISED"
				[text]="'buttons.CONFIRM'"
				[disabled]="disableConfirmButton"
				[isLoading]="isSaving"
				(clicked)="confirmForm()">
			</app-button>
		</div>
	</div>
</app-dock-popup>
