::ng-deep .cdk-overlay-pane {
	app-nueva-consulta-dock-popup {
		width: 100%;
	}
}

::ng-deep .cdk-overlay-pane.dock-popup-overlay {
	background-color: white;
}

mat-form-field {
	width: 100%;
}

.margin-bottom {
	margin-bottom: 3vh;
}

.icon {
	padding: 20px 0px 20px 10px;
}

.add-button {
	font-size: 16px;
}

.recomendado {
	color: #979797;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-weight: lighter;
}