<app-dock-popup [dockPopupRef]="dockPopupRef" [title]="'ambulatoria.paciente.nueva-consulta.TITLE'">
	<div body fxLayout="column" fxLayoutGap="20px">

		<div id="especialidad">
			<div class="margin-bottom">
				<app-document-section [sectionTitle]="'Especialidad'">
					<ng-container concept-form>
						<div fxLayout="row" [formGroup]="formEvolucion">
							<mat-form-field appearance="outline">
								<mat-select id="clinicalSpecialtyId"
											name="clinicalSpecialty"
											formControlName="clinicalSpecialty"
											(selectionChange)="setDefaultSpecialty()"
											[attr.disabled]="fixedSpecialty">
									<mat-option *ngFor="let clinicalSpecialty of this.specialties"
												[value]="clinicalSpecialty">
										<span class="mat-body">{{clinicalSpecialty.name}}</span>
									</mat-option>
								</mat-select>
								<mat-error [translate]="'forms.REQUIRED'"></mat-error>
							</mat-form-field>
						</div>
					</ng-container>
				</app-document-section>
			</div>
		</div>

		<div id="motivo">
			<app-new-document-section
								  sectionTitle="ambulatoria.paciente.nueva-consulta.motivo.TITLE"
	                        	  sectionImportance="ambulatoria.paciente.nueva-consulta.RECOMENDADO">

				<ng-container concept-form>
					<app-concepts-search
						*ngIf="!motivoNuevaConsultaService.getSnomedConcept() else mainMotivoConsulta"
						[label]="'ambulatoria.paciente.nueva-consulta.motivo.MOTIVO'"
						(search)="motivoNuevaConsultaService.openSearchDialog($event)">
					</app-concepts-search>

					<ng-template #mainMotivoConsulta>
						<form [formGroup]="motivoNuevaConsultaService.getForm()"
							  (ngSubmit)="motivoNuevaConsultaService.addToList()">
							<mat-form-field appearance="outline">
								<mat-label [translate]="'internaciones.anamnesis.diagnosticos.DIAGNOSIS'">
								</mat-label>
								<input id="motivo-input" matInput type="text" formControlName="snomed" name="snomed"
									   readonly matTooltip="{{motivoNuevaConsultaService.getSnomedConcept().pt }}">
								<button id="clear-motivo" mat-button matSuffix color="warn" mat-icon-button
										(click)="motivoNuevaConsultaService.resetForm()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
							<div align="end">
								<button id="submit_motivos" class="uppercase" mat-raised-button color="primary"
										type="submit">
								<span class="uppercase"
									  [translate]="'ambulatoria.paciente.nueva-consulta.motivo.ADD'"></span>
								</button>
							</div>
						</form>
					</ng-template>
				</ng-container>
				<app-document-section-table data-display [tableTitle]="'ambulatoria.paciente.nueva-consulta.motivo.table.TITLE'"
											[columns]="motivoNuevaConsultaService.getTableColumnConfig()"
											[data]="motivoNuevaConsultaService.getMotivosConsulta()">
				</app-document-section-table>
			</app-new-document-section>
		</div>

		<div id="problemas">
			<app-new-document-section sectionTitle="ambulatoria.paciente.nueva-consulta.problemas.TITLE"
									sectionImportance="ambulatoria.paciente.nueva-consulta.RECOMENDADO">
				<div concept-form *ngIf="!this.readOnlyProblema else problemaForm">
					<app-concepts-search *ngIf="!ambulatoryConsultationProblemsService.getSnomedConcept() else problemaForm"
										 [label]="'ambulatoria.paciente.nueva-consulta.problemas.CONCEPT_LABEL'"
										 (search)="ambulatoryConsultationProblemsService.openSearchDialog($event)">
					</app-concepts-search>
				</div>

				<ng-template #problemaForm>
					<form [formGroup]="ambulatoryConsultationProblemsService.getForm()"
						  (ngSubmit)="this.readOnlyProblema ? this.editProblema(): ambulatoryConsultationProblemsService.addToList(ffIsOn)">

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.problemas.CONCEPT_LABEL'">
							</mat-label>
							<input id="snomed-input" matInput type="text" formControlName="snomed" name="snomed" readonly
								   matTooltip="{{ ambulatoryConsultationProblemsService.getSnomedConcept().pt }}"
								   *ngIf="!this.readOnlyProblema">
							<input id="snomed-input-new-consultation" matInput type="text" formControlName="snomed"
								   name="snomed" readonly
								   *ngIf="this.readOnlyProblema">
							<button id="clear" mat-button matSuffix color="warn" mat-icon-button
									(click)="ambulatoryConsultationProblemsService.resetForm()" *ngIf="!this.readOnlyProblema">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.problemas.SEVERIDAD'">
							</mat-label>
							<mat-select id="severity-select" formControlName="severidad">
								<mat-option *ngFor="let severityType of severityTypes" [value]="severityType.code">
									{{severityType.display}}
								</mat-option>
							</mat-select>
						</mat-form-field>

						<div class="margin-checkbox">
							<mat-checkbox id="cronico-checkbox" formControlName="cronico">
								<span [translate]="'ambulatoria.paciente.nueva-consulta.problemas.CRONICO'"></span>
							</mat-checkbox>
						</div>

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.problemas.FECHA_INICIO'">
							</mat-label>
							<input matInput id="fecha_inicio" [matDatepicker]="inicioDatePicker"
								   formControlName="fechaInicio" [min]="minDate" [max]="ambulatoryConsultationProblemsService.getFechaInicioMax()"
								   (dateChange)="ambulatoryConsultationProblemsService.checkValidFechaFin()">
							<mat-datepicker-toggle matSuffix [for]="inicioDatePicker"></mat-datepicker-toggle>
							<mat-datepicker #inicioDatePicker></mat-datepicker>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.problemas.FECHA_FIN'">
							</mat-label>
							<input matInput id="fecha_fin" [matDatepicker]="finDatePicker" formControlName="fechaFin"
								   [min]="minDate" [max]="today" (dateChange)="ambulatoryConsultationProblemsService.checkValidFechaFin()">
							<mat-datepicker-toggle matSuffix [for]="finDatePicker"></mat-datepicker-toggle>
							<mat-datepicker #finDatePicker></mat-datepicker>
							<mat-error *ngIf="ambulatoryConsultationProblemsService.hasError('min', 'fechaFin')"
									   [translate]="'ambulatoria.paciente.nueva-consulta.problemas.errors.FECHA_FIN_MIN'">
							</mat-error>
							<mat-error *ngIf="ambulatoryConsultationProblemsService.hasError('matDatepickerMax', 'fechaFin')"
									   [translate]="'forms.MAX_DATE_TODAY'">
							</mat-error>
							<mat-error *ngIf="ambulatoryConsultationProblemsService.hasError('required_init_date', 'fechaFin')"
									   [translate]="'forms.REQUIRED_INIT_DATE'">
							</mat-error>
						</mat-form-field>

						<div align="end" *ngIf="!this.readOnlyProblema">
							<button id="submit_problema" class="uppercase" mat-raised-button color="primary" type="submit">
								<span [translate]="'ambulatoria.paciente.nueva-consulta.problemas.buttons.ADD'"></span>
							</button>
						</div>

						<div align="end" *ngIf="this.readOnlyProblema">
							<button id="edit_problema" class="uppercase" mat-raised-button color="primary" type="submit">
								<span [translate]="'ambulatoria.paciente.nueva-consulta.problemas.buttons.SAVE'"></span>
							</button>
						</div>

					</form>
				</ng-template>

				<app-document-section-table data-display tableTitle="ambulatoria.paciente.nueva-consulta.problemas.TABLE_TITLE"
											[columns]="ambulatoryConsultationProblemsService.getColumns()"
											[data]="ambulatoryConsultationProblemsService.getProblemas()">
				</app-document-section-table>

			</app-new-document-section>

		</div>

		<div id="anthropometric_Data">
			<div>
				<h2 class="mat-h2" [translate]="'ambulatoria.paciente.nueva-consulta.datos-antropometricos.TITLE'"></h2>
					<div *ngIf="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()" class="dialog">
						<mat-icon  online class="icon"  color="primary">error_outline</mat-icon>
						<div class="info-text">
							<span class="text" [translate]="'ambulatoria.paciente.nueva-consulta.anthropometric_dialog.DESCRIPTION'" [translateParams]="{date: datosAntropometricosNuevaConsultaService.getDate()}"> </span>
							<span class="question" [translate]="'ambulatoria.paciente.nueva-consulta.anthropometric_dialog.QUESTION'"></span>
							<span fxLayout="row">
								<button class="button" id=include_Anthropometric_Data mat-button color="primary" (click)=datosAntropometricosNuevaConsultaService.savePreloadedAnthropometricData()>
									<span [translate]="'ambulatoria.paciente.nueva-consulta.anthropometric_dialog.ADD'"></span>
								</button>
								<button class="button" id=discard_Anthropometric_Data mat-button color="warn" (click)=datosAntropometricosNuevaConsultaService.discardPreloadedAnthropometricData()>
									<span [translate]="'ambulatoria.paciente.nueva-consulta.anthropometric_dialog.DISCARD'"></span>
								</button>
							</span>
						</div>
					</div>
				<app-document-section>
					<ng-container concept-form>
						<form [formGroup]="datosAntropometricosNuevaConsultaService.getForm()">
							<div fxLayout="row" fxLayoutAlign="space-between center">
									<mat-form-field [floatLabel]="'never'" appearance="outline">
									<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.BLOOD_TYPE'">
									</mat-label>
									<mat-select placeholder="B+" formControlName="bloodType">
										<mat-option
											*ngFor="let bloodType of datosAntropometricosNuevaConsultaService?.getBloodTypes()"
											[value]="bloodType">
											{{ bloodType.description }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<ng-container *ngIf="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()" >
									<mat-icon  class="field-icon"  color="primary">error_outline</mat-icon>
								</ng-container>
							</div>
							<div>
								<div fxLayout="row" fxLayoutAlign="space-between center">
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.datos-antropometricos.HEIGHT'"></mat-label>
											<input id="height" formControlName="height"
												   placeholder="Ej: 180"
										           type="number" matInput>
										</mat-form-field>
										<ng-container *ngIf="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()" >
											<mat-icon  class="field-icon"  color="primary">error_outline</mat-icon>
										</ng-container>
								</div>
								<h5 class="recomendado recomendado-antropo" [translate]="'ambulatoria.paciente.nueva-consulta.RECOMENDADO'"></h5>
							</div>
							<div>
								<div fxLayout="row" fxLayoutAlign="space-between center">
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<mat-label
											[translate]="'ambulatoria.paciente.nueva-consulta.datos-antropometricos.WEIGHT'"></mat-label>
										<input id="weight" formControlName="weight" placeholder="Ej: 70"
										   type="number"
										   matInput>
									</mat-form-field>
									<ng-container *ngIf="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()" >
										<mat-icon  class="field-icon"  color="primary">error_outline</mat-icon>
									</ng-container>
								</div>

								<h5 class="recomendado recomendado-antropo" [translate]="'ambulatoria.paciente.nueva-consulta.RECOMENDADO'"></h5>
							</div>
						</form>
					</ng-container>
				</app-document-section>
			</div>
		</div>


		<div id="antecedentes-familiares">
			<app-new-document-section sectionTitle="ambulatoria.paciente.nueva-consulta.antecedentes-familiares.TITLE">
				<ng-container concept-form >
					<app-concepts-search
						*ngIf="!antecedentesFamiliaresNuevaConsultaService.getSnomedConcept() else antecedentesPersonalesForm"
						[label]="'ambulatoria.paciente.nueva-consulta.antecedentes-familiares.ANTECEDENTES_FAMILIARES'"
						(search)="antecedentesFamiliaresNuevaConsultaService.openSearchDialog($event)">
					</app-concepts-search>
					<ng-template #antecedentesPersonalesForm>
						<form [formGroup]="antecedentesFamiliaresNuevaConsultaService.getForm()"
							  (ngSubmit)="antecedentesFamiliaresNuevaConsultaService.addToList()">

							<mat-form-field appearance="outline">
								<mat-label
									[translate]="'ambulatoria.paciente.nueva-consulta.antecedentes-familiares.ANTECEDENTES_FAMILIARES'">
								</mat-label>
								<input id="antecedentes-familiares-input" matInput type="text" formControlName="snomed"
									   readonly matTooltip="{{antecedentesFamiliaresNuevaConsultaService.getSnomedConcept().pt }}">
								<button id="clear-antecedente" mat-button matSuffix color="warn" mat-icon-button
										(click)="antecedentesFamiliaresNuevaConsultaService.resetForm()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label
									[translate]="'ambulatoria.paciente.nueva-consulta.antecedentes-familiares.FECHA'">
								</mat-label>
								<input matInput id="fecha_antecedente" [matDatepicker]="antecedenteDatePicker"
									   formControlName="fecha"
									   [min]="minDate" [max]="antecedentesFamiliaresNuevaConsultaService.getMaxFecha()">
								<mat-datepicker-toggle matSuffix [for]="antecedenteDatePicker"></mat-datepicker-toggle>
								<mat-datepicker #antecedenteDatePicker></mat-datepicker>
							</mat-form-field>

							<div align="end">
								<button id="submit_antecedentes_familiares" class="uppercase" mat-raised-button
										color="primary"
										type="submit">
<span class="uppercase"
	  [translate]="'ambulatoria.paciente.nueva-consulta.antecedentes-familiares.buttons.ADD'"></span>
								</button>
							</div>
						</form>
					</ng-template>
				</ng-container>
				<app-document-section-table data-display [tableTitle]="'ambulatoria.paciente.nueva-consulta.antecedentes-familiares.table.TITLE'"
								[columns]="antecedentesFamiliaresNuevaConsultaService.getTableColumnConfig()"
								[data]="antecedentesFamiliaresNuevaConsultaService.getAntecedentesFamiliares()">
				</app-document-section-table>

			</app-new-document-section>
		</div>
		<div id="medications">

			<app-new-document-section [sectionTitle]="'ambulatoria.paciente.nueva-consulta.medicaciones.TITLE'">
				<div concept-form>
					<app-concepts-search
					    *ngIf="!medicacionesNuevaConsultaService.getSnomedConcept() else medicationForm"

						label="ambulatoria.paciente.nueva-consulta.medicaciones.CONCEPT_LABEL"
						(search)="medicacionesNuevaConsultaService.openSearchDialog($event)">
					</app-concepts-search>
				</div>
				<ng-template #medicationForm>
					<form [formGroup]="medicacionesNuevaConsultaService.getForm()"
						  (ngSubmit)="medicacionesNuevaConsultaService.addToList()">
						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.medicaciones.MEDICATION'"></mat-label>
							<input matInput type="text" formControlName="snomed" name="snomed" readonly
								   matTooltip="{{ medicacionesNuevaConsultaService.getSnomedConcept().pt }}">
							<button id="clear_medication" mat-button matSuffix color="warn" mat-icon-button
									(click)="medicacionesNuevaConsultaService.resetForm()">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.medicaciones.OBSERVACIONES'"></mat-label>
							<textarea matInput type="text" id="observations" name="Estado"
									  formControlName="suspended"
									  placeholder="Descripción"
							>
							</textarea>
							<mat-error *ngIf="hasError(medicacionesNuevaConsultaService.getForm(), 'maxlength', 'observaciones')" translate="forms.MAX_LENGTH_ERROR"
									   [translateParams]="{max: TEXT_AREA_MAX_LENGTH}">
							</mat-error>
						</mat-form-field>

						<div class="margin-checkbox">
							<mat-checkbox formControlName="suspendido">
								<span [translate]="'ambulatoria.paciente.nueva-consulta.medicaciones.SUSPENDIDO'">  </span>
							</mat-checkbox>
						</div>

						<div align="end">
							<button id="submit_procedimiento" class="uppercase" mat-raised-button color="primary" type="submit">
								<span [translate]="'ambulatoria.paciente.nueva-consulta.medicaciones.ADD'"> </span>
							</button>
						</div>
					</form>
				</ng-template>

				<app-document-section-table data-display [tableTitle]="'ambulatoria.paciente.nueva-consulta.medicaciones.TABLE_TITLE'"
											[columns]="medicacionesNuevaConsultaService.getTableColumnConfig()"
											[data]="medicacionesNuevaConsultaService.getMedicaciones()">
				</app-document-section-table>

			</app-new-document-section>
		</div>

		<div id="procedimientos">
			<app-new-document-section sectionTitle="ambulatoria.paciente.nueva-consulta.procedimientos.TITLE">
						  <ng-container concept-form>
					<app-concepts-search
						*ngIf="!procedimientoNuevaConsultaService.getSnomedConcept() else procedimientoForm"
						[label]="'ambulatoria.paciente.nueva-consulta.procedimientos.PROCEDIMIENTO'"
						(search)="procedimientoNuevaConsultaService.openSearchDialog($event)">
					</app-concepts-search>

					<ng-template #procedimientoForm>
						<form [formGroup]="procedimientoNuevaConsultaService.getForm()"
							  (ngSubmit)="procedimientoNuevaConsultaService.addToList()">
							<mat-form-field appearance="outline">
								<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.procedimientos.TIPO'">
								</mat-label>
								<input id="procedimiento-input" matInput type="text" formControlName="snomed" name="snomed"
									   readonly matTooltip="{{procedimientoNuevaConsultaService.getSnomedConcept().pt }}">
								<button id="clear-procedimiento" mat-button matSuffix color="warn" mat-icon-button
										(click)="procedimientoNuevaConsultaService.resetForm()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.procedimientos.FECHA'">
								</mat-label>
								<input matInput id="fecha_procedimiento" [matDatepicker]="datePicker"
									   formControlName="performedDate"
									   [min]="minDate" [max]="procedimientoNuevaConsultaService.getFechaMax()">
								<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
								<mat-datepicker #datePicker></mat-datepicker>
							</mat-form-field>

							<div align="end">
								<button id="submit_procedimiento" class="uppercase" mat-raised-button color="primary" type="submit">
										<span [translate]="'ambulatoria.paciente.nueva-consulta.procedimientos.buttons.ADD'"></span>
								</button>
							</div>

						</form>
					</ng-template>
				</ng-container>
				<app-document-section-table data-display [tableTitle]="'ambulatoria.paciente.nueva-consulta.procedimientos.TABLE_TITLE'"
											[columns]="procedimientoNuevaConsultaService.getTableColumnConfig()"
											[data]="procedimientoNuevaConsultaService.getProcedimientos()">
				</app-document-section-table>

			</app-new-document-section>
		</div>

		<div id="signos-vitales">
			<div class="margin-bottom">
				<app-document-section class="margin-bottom"
									  [sectionTitle]="'ambulatoria.paciente.nueva-consulta.signos-vitales.TITLE'">
					<ng-container concept-form>
						<form fxLayout="column" fxLayoutGap="10px" [formGroup]="signosVitalesNuevaConsultaService.getForm()">
							<div fxLayout="row wrap" fxFlex="100%" fxLayoutGap="5px" fxLayout.lt-lg="column">
								<div class="signos-vitales-field" formGroupName="heartRate">
									<mat-label
										[translate]="'ambulatoria.paciente.nueva-consulta.signos-vitales.HEART_RATE'"></mat-label>
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<input id="heart_rate"
											   name="heart_rate"
											   formControlName="value"
											   placeholder="00"
											   type="number"
											   matInput>
									</mat-form-field>
									<app-effective-time
										[effectiveTime]="signosVitalesNuevaConsultaService.getForm().value.heartRate.effectiveTime"
										(update)="signosVitalesNuevaConsultaService.setVitalSignEffectiveTime($event, 'heartRate')">
									</app-effective-time>
								</div>
								<div class="signos-vitales-field" formGroupName="respiratoryRate">
									<mat-label
										[translate]="'ambulatoria.paciente.nueva-consulta.signos-vitales.RESPIRATORY_RATE'"></mat-label>
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<input id="respiratory_rate"
											   name="respiratory_rate"
											   formControlName="value"
											   placeholder="00"
											   type="number"
											   matInput>
									</mat-form-field>
									<app-effective-time
										[effectiveTime]="signosVitalesNuevaConsultaService.getForm().value.respiratoryRate.effectiveTime"
										(update)="signosVitalesNuevaConsultaService.setVitalSignEffectiveTime($event, 'respiratoryRate')">
									</app-effective-time>
								</div>
							</div>

							<div fxLayout="row wrap" fxFlex="100%" fxLayout.lt-lg="column">
								<div class="signos-vitales-field" formGroupName="temperature">
									<mat-label
										[translate]="'ambulatoria.paciente.nueva-consulta.signos-vitales.TEMPERATURE'"></mat-label>
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<input id="temperature"
											   name="temperature"
											   formControlName="value"
											   placeholder="00.0"
											   type="number"
											   matInput>
									</mat-form-field>
									<app-effective-time
										[effectiveTime]="signosVitalesNuevaConsultaService.getForm().value.temperature.effectiveTime"
										(update)="signosVitalesNuevaConsultaService.setVitalSignEffectiveTime($event, 'temperature')">
									</app-effective-time>
								</div>
								<div class="signos-vitales-field" formGroupName="bloodOxygenSaturation">
									<mat-label
										[translate]="'ambulatoria.paciente.nueva-consulta.signos-vitales.BLOOD_OXYGEN_SATURATION'"></mat-label>
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<input id="blood_oxygen_saturation"
											   name="blood_oxygen_saturation"
											   formControlName="value"
											   placeholder="00"
											   type="number"
											   matInput>
									</mat-form-field>
									<app-effective-time
										[effectiveTime]="signosVitalesNuevaConsultaService.getForm().value.bloodOxygenSaturation.effectiveTime"
										(update)="signosVitalesNuevaConsultaService.setVitalSignEffectiveTime($event, 'bloodOxygenSaturation')">
									</app-effective-time>
								</div>
							</div>

							<div fxLayout="row wrap" fxFlex="100%" fxLayout.lt-lg="column">
								<div class="signos-vitales-field" formGroupName="systolicBloodPressure">
									<mat-label
										[translate]="'ambulatoria.paciente.nueva-consulta.signos-vitales.SYSTOLIC_BLOOD_PRESSURE'"></mat-label>
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<input id="systolic_blood_pressure"
											   name="systolicBloodPressure"
											   formControlName="value"
											   placeholder="00"
											   type="number"
											   matInput>
									</mat-form-field>
									<h5 class="recomendado recomendado-tension" [translate]="'ambulatoria.paciente.nueva-consulta.RECOMENDADO'"></h5>
									<app-effective-time
										[effectiveTime]="signosVitalesNuevaConsultaService.getForm().value.systolicBloodPressure.effectiveTime"
										(update)="signosVitalesNuevaConsultaService.setVitalSignEffectiveTime($event, 'systolicBloodPressure')">
									</app-effective-time>
								</div>
								<div class="signos-vitales-field" formGroupName="diastolicBloodPressure">
									<mat-label
										[translate]="'ambulatoria.paciente.nueva-consulta.signos-vitales.DIASTOLIC_BLOOD_PRESSURE'"></mat-label>
									<mat-form-field [floatLabel]="'never'" appearance="outline">
										<input id="diastolic_blood_pressure"
											   name="diastolicBloodPressure"
											   formControlName="value"
											   placeholder="00"
											   type="number"
											   matInput>
									</mat-form-field>
									<h5 class="recomendado recomendado-tension" [translate]="'ambulatoria.paciente.nueva-consulta.RECOMENDADO'"></h5>
									<app-effective-time
										[effectiveTime]="signosVitalesNuevaConsultaService.getForm().value.diastolicBloodPressure.effectiveTime"
										(update)="signosVitalesNuevaConsultaService.setVitalSignEffectiveTime($event, 'diastolicBloodPressure')">
									</app-effective-time>
								</div>
							</div>
						</form>
					</ng-container>
				</app-document-section>
			</div>
		</div>

		<div id="alergias">
			<app-new-document-section sectionTitle="ambulatoria.paciente.nueva-consulta.alergias.TITLE">
				<ng-container concept-form>
					<app-concepts-search
						*ngIf="!alergiasNuevaConsultaService.getSnomedConcept() else alergiasForm"
						[label]="'ambulatoria.paciente.nueva-consulta.alergias.ALLERGY'"
						(search)="alergiasNuevaConsultaService.openSearchDialog($event)">
					</app-concepts-search>
					<ng-template #alergiasForm>
						<form [formGroup]="alergiasNuevaConsultaService.getForm()"
							  (ngSubmit)="alergiasNuevaConsultaService.addToList()">
							<mat-form-field appearance="outline">
								<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.alergias.ALLERGY'">
								</mat-label>
								<input id="alergias-input" matInput type="text" formControlName="snomed" name="snomed"
									   readonly matTooltip="{{alergiasNuevaConsultaService.getSnomedConcept().pt }}">
								<button id="clear-alergias" mat-button matSuffix color="warn" mat-icon-button
										(click)="alergiasNuevaConsultaService.resetForm()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.alergias.CRITICALITY'">
								</mat-label>
								<mat-select id="criticality-select" formControlName="criticality">
									<mat-option *ngFor="let criticalityType of criticalityTypes" [value]="criticalityType.id">
										{{criticalityType.display}}
									</mat-option>
								</mat-select>
								<mat-error translate="forms.REQUIRED"></mat-error>
							</mat-form-field>

							<div align="end">
								<button id="submit_alergias" class="uppercase" mat-raised-button color="primary"
										type="submit">
									<span class="uppercase"[translate]="'ambulatoria.paciente.nueva-consulta.alergias.ADD'"></span>
								</button>
							</div>
						</form>
					</ng-template>
				</ng-container>

				<app-document-section-table data-display [tableTitle]="'ambulatoria.paciente.nueva-consulta.alergias.table.TITLE'"
					[columns]="alergiasNuevaConsultaService.getTableColumnConfig()"
					[data]="alergiasNuevaConsultaService.getAlergias()">
				</app-document-section-table>

			</app-new-document-section>
		</div>

		<div id="evolucion">
			<app-document-section [sectionTitle]="'ambulatoria.paciente.nueva-consulta.evolucion.TITLE'">
				<ng-container concept-form>
					<form [formGroup]="formEvolucion">
						<mat-form-field appearance="outline">
							<textarea matInput type="text" id="evolucion-input" name="evolucion" formControlName="evolucion"
									  placeholder="{{'ambulatoria.paciente.nueva-consulta.evolucion.DESCRIPCION' | translate }}"

							>
							</textarea>
						</mat-form-field>
					</form>
				</ng-container>
			</app-document-section>
		</div>

		<div id="validations"
			 *ngIf="!isValidConsultation() || apiErrors.length > 0">
			<mat-card>
				<mat-error *ngFor="let error of errores" class="mat-body-2">{{ error | translate }}</mat-error>
				<mat-error class="mat-body-2" *ngFor="let error of apiErrors">{{ error }}</mat-error>
			</mat-card>
		</div>

	</div>
	<div actions id="buttons">
		<div align="end">
			<button class="uppercase" mat-raised-button color="primary" (click)="save()" [disabled]="disableConfirmButton">
				<span [translate]="'buttons.CONFIRM'"></span>
			</button>
		</div>
	</div>
</app-dock-popup>
