<h1 mat-dialog-title>Cobertura médica</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">

	<mat-card fxLayout="column" fxLayoutGap="10px">
		<strong translate="medical-coverage.ACTIVES_HEALTH_INSURANCES"></strong>
		<div fxLayout="column">
			<div class="spinner" *ngIf="loading else viewPatientHealthInsurances" fxLayout="column" fxLayoutGap="25px">
				<mat-spinner color="primary"></mat-spinner>
				<span class="color-primary">Consultando cobertura</span>
			</div>
			<ng-template #viewPatientHealthInsurances>
				<mat-card *ngFor="let patientMedicalCoverage of getPatientHealthInsurances()" class="coverages">
					<mat-card-content fxLayout="row" fxLayoutAlign="space-between start">
						<div fxLayout="column" fxLayoutAlign="space-between">
							<span
								class="medical-coverage-name">{{getFullHealthInsuranceText(patientMedicalCoverage.medicalCoverage)}}</span>
							<span class="capitalize">{{getMedicalCoveragePlanText(patientMedicalCoverage)}}</span>
							<span *ngIf="patientMedicalCoverage.affiliateNumber">
								{{ 'medical-coverage.AFFILIATE_NUMBER_LABEL' | translate }}:
								{{patientMedicalCoverage.affiliateNumber}}
							</span>
						</div>
						<div>Vig. {{patientMedicalCoverage.validDate | date: 'dd/MM/yyyy'}}</div>
						<button mat-icon-button color="primary" (click)="openAddHealthInsurance(patientMedicalCoverage)">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button color="warn" (click)="patientMedicalCoverage.active = false">
							<mat-icon>delete_outline</mat-icon>
						</button>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>
		<div aling="start">
			<button mat-button id="add-health-insurance" type="button" color="primary" class="text-button"
					onclick="this.blur()" (click)="openAddHealthInsurance()" >
				<span [translate]="'medical-coverage.buttons.NEW_HEALTH_INSURANCE'"></span>
			</button>
		</div>
	</mat-card>


	<mat-card fxLayout="column" fxLayoutGap="10px">
		<strong translate="medical-coverage.ACTIVES_PRIVATE_HEALTH_INSURANCES"></strong>
		<div fxLayout="column">
			<div class="spinner" *ngIf="loading else viewPatientPrivateHealthInsurances" fxLayout="column"
				 fxLayoutGap="25px">
				<mat-spinner color="primary"></mat-spinner>
				<span class="color-primary" class="color-primary">Consultando cobertura</span>
			</div>
			<ng-template #viewPatientPrivateHealthInsurances>
				<mat-card *ngFor="let patientPrivateHealthInsurance of getPatientPrivateHealthInsurances()"
						  class="coverages">
					<mat-card-content fxLayout="row" fxLayoutAlign="space-between start">

						<div fxLayout="column">
							<span
								class="medical-coverage-name">{{patientPrivateHealthInsurance.medicalCoverage.name}}</span>
							<span
								class="lowercase capitalize-first-letter">{{getMedicalCoveragePlanText(patientPrivateHealthInsurance)}}</span>
							<app-editable-field [fieldName]="'Nro de credencial'"
												[value]="patientPrivateHealthInsurance.affiliateNumber"
												(newValueEmitted)="patientPrivateHealthInsurance.affiliateNumber = $event">
							</app-editable-field>
						</div>
						<div fxLayout="row">
							<div fxLayout="column" fxLayoutAlign="space-between center">
								<span>Vig. {{patientPrivateHealthInsurance.validDate | date: 'dd/MM/yyyy'}}</span>
								<div class="capitalize-first-letter">
									{{getDatesText(patientPrivateHealthInsurance)}}
								</div>
							</div>
							<button mat-icon-button color="primary" (click)="openAddPrivateHealthInsurance(patientPrivateHealthInsurance)">
								<mat-icon>edit</mat-icon>
							</button>
							<button mat-icon-button color="warn" (click)="patientPrivateHealthInsurance.active = false">
								<mat-icon>delete_outline</mat-icon>
							</button>
						</div>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>
		<div fxLayout="row" fxLayoutAlign="start center">
			<button mat-button id="add-private-health-insurance" type="button" color="primary" class="text-button"
					onclick="this.blur()" (click)="openAddPrivateHealthInsurance()" >
				<span [translate]="'medical-coverage.buttons.NEW_PRIVATE_HEALTH_INSURANCE'"></span>
			</button>
		</div>
	</mat-card>

	<mat-card fxLayout="column" fxLayoutGap="10px">
		<strong translate="medical-coverage.ACTIVES_ART_COVERAGES"></strong>
		<div fxLayout="column">
			<div class="spinner" *ngIf="loading else viewPatientARTCoverages" fxLayout="column" fxLayoutGap="25px">
				<mat-spinner color="primary"></mat-spinner>
				<span class="color-primary">Consultando cobertura</span>
			</div>
			<ng-template #viewPatientARTCoverages>
				<mat-card *ngFor="let patientMedicalCoverage of getPatientARTCoverages()" class="coverages">
					<mat-card-content fxLayout="row" fxLayoutAlign="space-between start">
						<div fxLayout="column" fxLayoutAlign="space-between">
							<span
								class="medical-coverage-name">{{patientMedicalCoverage.medicalCoverage.name}}</span>
							<span translate="medical-coverage.CUIT_VIEW" [translateParams]="{cuit: patientMedicalCoverage.medicalCoverage.cuit}" ></span>
						</div>
						<button mat-icon-button color="warn" (click)="patientMedicalCoverage.active = false">
							<mat-icon>delete_outline</mat-icon>
						</button>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>

		<div>
			<strong translate="medical-coverage.NEW_ART_COVERAGES"></strong>
			<form [formGroup]="artCoverageForm" fxLayoutGap="5px" class="form" #formDirectiveARTCoverageForm="ngForm"
				  (ngSubmit)="addARTCoverage(formDirectiveARTCoverageForm)">
				<div fxLayout="column" fxLayoutGap="10px">
					<div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column">
						<mat-form-field appearance="outline">
							<input type="text" placeholder="{{ 'medical-coverage.SEARCH_ART' | translate }}" aria-label="Number"
								   formControlName="coverage" matInput [matAutocomplete]="autoART">
							<mat-autocomplete autoActiveFirstOption #autoART="matAutocomplete">
								<mat-option *ngFor="let artCoverage of artCoverageFilteredMasterData"
											(onSelectionChange)="selectARTCoverage($event, artCoverage)"
											[value]="artCoverage.name">
									<span class="mat-body">{{artCoverage.name}}</span>
								</mat-option>
							</mat-autocomplete>
							<mat-error translate="forms.REQUIRED"></mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label [translate]="'medical-coverage.CUIT_LABEL'"></mat-label>
							<input id="artCuit" name="artCuit"
								   formControlName="cuit" placeholder="{{'medical-coverage.CUIT_LABEL' | translate}}" matInput>
						</mat-form-field>
					</div>
					<button mat-stroked-button color="primary" class="uppercase margin" id="add-art-coverage"
							type="submit" name="add-art-coverage"
							translate="medical-coverage.ADD_ART_COVERAGE"></button>
				</div>
			</form>
		</div>
	</mat-card>


</div>
<div mat-dialog-actions align="end">
	<button mat-stroked-button color="primary" [mat-dialog-close]=true class="uppercase" id="cancel-button"
			name="cancel-button" (click)="close()">
		Cancelar</button>
	<button mat-flat-button color="primary" [mat-dialog-close]=true cdkFocusInitial class="uppercase"
			id="okButton-button" name="okButton-button" (click)="save()">
		Guardar</button>
</div>
