<div fxLayout="row">
	<mat-form-field appearance="outline" class="serch">
		<mat-label>{{'internaciones.internment-patient-card.SEARCH' |
			translate}}</mat-label>
		<input matInput (keyup)="applyFilter($event)">
		<mat-icon matSuffix>search</mat-icon>
	</mat-form-field>

	<button  id="button-filter" mat-button color="primary" class="button-filter" (click)="setPanelState()" fxLayoutAlign="none start"
		fxLayoutGap="15px">
		<mat-icon color="primary">filter_list</mat-icon>
		{{'internaciones.internment-patient-card.filters.FILTER'| translate | uppercase }} <mat-icon color="primary"
			[ngClass]="{'button-filter-effect':panelOpenState }">
			keyboard_arrow_down</mat-icon>
	</button>
</div>

<div [hidden]="!panelOpenState">

	<form id="filter-form" [formGroup]="formFilter" fxLayoutGap="15px">

		<mat-form-field appearance="outline">
			<mat-select id="filter-sector" formControlName="sector" (selectionChange)="upDateFilters()"
				placeholder="{{'internaciones.internment-patient-card.filters.SECTOR' | translate}}">
				<mat-option *ngFor="let sector of sectors" [value]="sector.sectorDescription">
					{{sector.sectorDescription | translate}}
				</mat-option>
			</mat-select>
			<button id="clear-filter-sector" type="button" mat-button *ngIf="formFilter.controls.sector.value" matSuffix
				color="warn" mat-icon-button
				(click)="clearFilterField(formFilter.controls.sector); $event.stopPropagation()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-select id="filter-room" formControlName="room" (selectionChange)="upDateFilters()"
				placeholder="{{'internaciones.internment-patient-card.filters.ROOM' | translate}}">
				<mat-option *ngFor="let room of rooms" [value]="room.roomNumber">
					{{room.roomNumber | translate}}
				</mat-option>
			</mat-select>
			<button id="clear-filter-room" type="button" mat-button *ngIf="formFilter.controls.room.value" matSuffix
				color="warn" mat-icon-button
				(click)="clearFilterField(formFilter.controls.room); $event.stopPropagation()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

		<mat-slide-toggle id="physical-slide" class="margin-button" color="primary" formControlName="physical"
			(change)="upDateFilters()">
			<span> {{'internaciones.internment-patient-card.filters.PHYSICAL_DISCHARGE_DONE' | translate}}</span>
		</mat-slide-toggle>
	</form>
</div>

<mat-card *ngIf="pageSlice?.length else noInfo">

	<div *ngFor="let patient of pageSlice;last as isLast">

		<app-card [cardContent]="patient">

			<div *ngIf="patient.hasPhysicalDischarge else physicalDischarge" fxLayoutGap.gt-xs="16px">
				<div fxLayout="row" fxLayoutGap="70px">

					<div fxLayoutAlign="none center" fxLayoutGap="10px" class="content">
						<mat-icon class="green">check_circle_outline</mat-icon>
						<span class="green">{{'internaciones.internment-patient-card.HAS_PHYSICAL_DISCHARGE' |
							translate}}</span>
					</div>

					<div fxLayoutAlign="none center" fxLayoutGap="10px" class="content">
						<mat-icon class="red" fontSet="material-icons-outlined">
							{{patient?.lastMissingDocument.matIcon}}</mat-icon>
						<span class="red"> {{patient.lastMissingDocument.title | translate}} </span>
					</div>

				</div>
			</div>

			<ng-template #physicalDischarge>
				<div fxLayout="row" fxLayoutAlign="space-between">

					<div fxLayoutAlign="none center" class="content">
						<mat-icon class="icon" fontSet="material-icons-outlined">meeting_room</mat-icon>
						<span *ngIf="!patient.hasPhysicalDischarge">{{patient?.roomNumber}}</span>
					</div>

					<div fxLayoutAlign="none center" class="content">
						<mat-icon class="icon" fontSet="material-icons-outlined">single_bed</mat-icon>
						<span *ngIf="!patient.hasPhysicalDischarge">{{patient?.bedNumber}}</span>
					</div>

					<div fxLayoutAlign="none center" class="content">
						<span *ngIf="!patient.hasPhysicalDischarge">{{patient?.sectorDescription}}</span>
					</div>

				</div>
			</ng-template>

		</app-card>
		<mat-divider *ngIf="!isLast" insert class="divider"></mat-divider>
	</div>

	<mat-divider></mat-divider>

	<mat-paginator *ngIf="(internmentPatientCard?.length !== 0)" [length]="numberOfPatients"
		[pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" showFirstLastButtons>
	</mat-paginator>

</mat-card>

<ng-template #noInfo>
	<app-no-data></app-no-data>
</ng-template>
