server {
    listen 8280 default_server;
    listen [::]:8280 default_server;
    server_name _;
    root {{ SGH_HOME }}webapp;
    index index.html;
    # Load configuration files for the default server block.
    include /etc/nginx/default.d/*.conf;
    
    location /backoffice {
        alias {{ SGH_HOME }}backoffice;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
    error_page 404 /404.html;
        location = /40x.html {
    }
    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
