<app-route-back>
	<button mat-icon-button (click)="refresh()" matTooltip="{{'configuracion.snomed-cache.UPDATE' | translate}}">
		<mat-icon>sync</mat-icon>
	</button>
</app-route-back>

<mat-card class="main-card">
	<mat-accordion>
		<mat-expansion-panel class="terminology-panel" *ngFor="let terminology of terminologies" (opened)="updatePanelStatus(terminology, true)" (closed)="updatePanelStatus(terminology, false)">
			<mat-expansion-panel-header [collapsedHeight]="'70px'">
				<div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between">
					<mat-panel-title fxFlex="70">
						<span>{{terminology.ecl}}</span>
					</mat-panel-title>
					<div *ngIf="!terminology.isPanelOpened" fxFlex="30" fxLayoutAlign="center center">
						<mat-panel-description fxLayoutAlign="end">
							<div fxLayout="row wrap" fxLayoutAlign="end" style="gap: 10px;">
								<div fxLayoutAlign="center center" style="width: 100px;" *ngIf="terminology.updating">
									<app-colored-label [description]="terminologyLoadStatus.PENDING.description"
										[color]="terminologyLoadStatus.PENDING.color"></app-colored-label>
								</div>
								<div fxLayoutAlign="center center" style="width: 100px;">
									<app-colored-label [description]="terminology.loadStatus.description"
										[color]="terminology.loadStatus.color"></app-colored-label>
								</div>
							</div>
						</mat-panel-description>
					</div>
				</div>
			</mat-expansion-panel-header>

			<div class="terminologies-container" *ngIf="terminology.successful">
				<app-snomed-terminology-card
					[uploadedTerminology]="terminology.successful" [successful]="true"></app-snomed-terminology-card>
			</div>
			<div *ngIf="terminology.queue">
				<div class="terminologies-container" *ngFor="let uploadedTerminology of terminology.queue">
					<app-snomed-terminology-card
						[uploadedTerminology]="uploadedTerminology" (onDelete)="delete(uploadedTerminology)"></app-snomed-terminology-card>
				</div>
			</div>

			<mat-divider style="margin-bottom: 1rem;"></mat-divider>

			<app-snomed-cache-form *ngIf="!terminology.updating else noForm"
				[terminologyName]="terminology.ecl"
				(add)="addCsv(terminology.ecl, $event)"></app-snomed-cache-form>

			<ng-template #noForm>
				<div class="message-label" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="10px">
					<mat-icon class="icon">error_outline</mat-icon>
					<span class="color-black" translate="configuracion.snomed-cache.WAIT_FOR_CSV"></span>
				</div>
			</ng-template>

		</mat-expansion-panel>
	</mat-accordion>
</mat-card>
