mat-panel-title {
	margin: 0;
}

mat-panel-title span{
	max-width: 90%;
	overflow: auto;
	overflow-wrap: break-word;
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.card-list {
	margin-bottom: 15px;

	.item-id {
		opacity: 0.50;
	}
}

.terminology-panel {
	margin-bottom: 0.7rem;
}

.terminologies-container {
	margin-bottom: 1.5rem;
}

.page-title {
	margin-bottom: 5px;
	text-align: center;
}

.message-label {
    margin-top: 10px;
	border-radius: 6px;
	padding: 4px 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	padding-top: 5px;
	background-color: #FDF0F0;
	color: #EB5757;
}

.color-black {
	color: #4F4F4F;
}

.icon {
	overflow: visible;
}