.numeric-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
.card {
	width: 10em;
	text-align: center;
	border-radius: 15px;

	.card-header{
		display: block;

		mat-card-title {
			font-size: 1em;
			font-weight: lighter;
		}
	}

	p {
		margin: 0.3em 0;
		font-size: 3em;
		font-weight: normal;
	}
}

.colored {
	background-color: rgba(0,174,195,255);
	color: white;
}

