@import './assets/styles/theme';

html,
body {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
}

h2.page-title {
	font-size: x-large;
}

section {
	margin: 3vh 0 14vh;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}
