@import './assets/styles/theme';

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h2.page-title {
	font-size: x-large;
}

section {
	margin: 3vh 0;

	&.page {
		margin-bottom: 14vh;
	}
}

.capitalize {
	text-transform: capitalize;
}

.capitalize-first-letter {
	&::first-letter {
		text-transform: capitalize;
	}
}

.uppercase {
	text-transform: uppercase;
}
