<mat-card id="attach_files" *appHasRole="['ADMINISTRATIVO','AUDITOR_MPI']">
	<p>{{'pacientes.form.ATTACHED_DOCUMENTS' | translate}}</p>
	<mat-dialog-content *ngIf="selectedFilesShow.length || personFiles ; else noInfo">
		<div *ngFor="let fileName of selectedFilesShow ; let index = index">
			<div fxLayout="row" fxLayoutAlign="space-between center">
				<span class="mat-body element-light-color">
					{{fileName}}
				</span>
				<button mat-icon-button color="warn"
					(click)="removeSelectedFile(index)"><mat-icon>delete</mat-icon></button>
		</div>

		</div>
		<div fxLayout="column" fxLayoutAlign="space-around start">
			<div *ngFor="let file of personFiles" fxFlex="100%" fxFlexFill>
				<ng-container
					*appHasRole="['ADMINISTRATIVO', 'ADMINISTRADOR_INSTITUCIONAL_BACKOFFICE', 'ADMINISTRATIVO_RED_DE_IMAGENES']">
					<a mat-button color="primary" (click)="download(file.fileId,file.fileName)">{{file.fileName}}</a>
				</ng-container>
				<ng-template>
					<span
						*appHasRole="['ADMINISTRADOR_INSTITUCIONAL_BACKOFFICE', 'ADMINISTRADOR_INSTITUCIONAL_PRESCRIPTOR']"
						class="info-content">{{file.fileName}}</span>
				</ng-template>
			</div>
		</div>
	</mat-dialog-content>
	<div fxLayout="column" fxLayoutAlign="space-around end" class="button-attach">
		<button mat-stroked-button color="primary" (click)="fileInput.click()">
			<mat-icon>attachment</mat-icon>
			<span [translate]="'pacientes.form.UPLOAD_FILES'"></span>
		</button>
		<span [hidden]="true">
			<input type="file" #fileInput multiple (change)="onSelectFileFormData($event)" />
		</span>
	</div>
</mat-card>

<ng-template #noInfo>
	<div fxLayout="row" fxLayoutAlign="start center">
		<span class="grey">{{'pacientes.form.NOT_ATTACHED_DOCUMENTS' | translate}}</span>
	</div>
</ng-template>
