<h2 mat-dialog-title *ngIf="mode === DiagnosisMode.CREATION else editDiagnosisTitle" [translate]="'internaciones.anamnesis.diagnosticos.ADD'"></h2>
<ng-template #editDiagnosisTitle>
	<h2 mat-dialog-title [translate]="'internaciones.anamnesis.diagnosticos.EDIT'"></h2>
</ng-template>

<div *ngIf="!searchConceptsLocallyFF else typeaheadSearch">
	<app-concepts-search *ngIf="!diagnosis else completedDiagnosis"
		[label]="'internaciones.anamnesis.diagnosticos.DIAGNOSIS'" (search)="openSearchDialog($event)">
	</app-concepts-search>
</div>

<ng-template #typeaheadSearch>
    <div class="concept-typeahead">
        <app-concept-typeahead-search *ngIf="!diagnosis else completedDiagnosis" [ecl]="eclFilter"
            [placeholder]="'internaciones.anamnesis.diagnosticos.DIAGNOSIS'"
            (conceptSelected)="openSearchDialogSnomed($event)">
        </app-concept-typeahead-search>
    </div>
</ng-template>

<form [formGroup]="form">
	<ng-template #completedDiagnosis>
		<mat-form-field appearance="outline">
			<mat-label [translate]="'internaciones.anamnesis.diagnosticos.DIAGNOSIS'">
			</mat-label>
			<input matInput type="text" formControlName="snomed" name="snomed" readonly
				matTooltip="{{ diagnosis.snomed.pt }}" [disabled]="mode === DiagnosisMode.EDITION">
			<button *ngIf="mode === DiagnosisMode.CREATION" id="clear" matSuffix color="warn" mat-icon-button (click)="resetForm()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</ng-template>
	<div *ngIf="isSnomedError && !form.valid">
		<mat-error class="error_message" [translate]="'internaciones.anamnesis.diagnosticos.messages.SNOMED_DIALOG_ERROR'"></mat-error>
		<br>
	</div>

	<section>
		<h3 class="verification-title" [translate]="'internaciones.anamnesis.diagnosticos.VERIFICATION'"></h3>
		<mat-radio-group color="primary" class="display-radio-buttons" formControlName="verificationId">
			<mat-radio-button class="margin-radio-buttons" [value]="HEALTH_VERIFICATIONS.CONFIRMADO">
				<span>{{'internaciones.anamnesis.diagnosticos.CONFIRMED' | translate}}</span>
			</mat-radio-button>
			<mat-radio-button *ngIf="hasPresumptiveOption" class="margin-radio-buttons" [value]="HEALTH_VERIFICATIONS.PRESUNTIVO">
				<span>{{'internaciones.anamnesis.diagnosticos.PRESUMPTIVE' | translate}}</span>
			</mat-radio-button>
		</mat-radio-group>
	</section>
</form>
<div fxLayoutAlign="end center">
	<button class="uppercase" mat-raised-button color="primary" (click)="saveDiagnosis()">{{ 'internaciones.anamnesis.diagnosticos.SAVE' | translate }}</button>
</div>

