<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
	<div class="mat-h2" [translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.TITLE'"></div>
	<button mat-icon-button (click)="dialogRef.close();">
		<mat-icon>close</mat-icon>
	</button>
</div>

<div mat-dialog-content>

	<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab" (selectedIndexChange)="setSelectedTab($event)">
		<ng-container *appHasRole="['ENFERMERO']">
			<ng-container *ngIf="this.data.hasConfirmedAppointment">
				<mat-tab>
					<ng-template mat-tab-label>
						<span class="color-primary">
							{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NEW_VACCINE_TAB' | translate
							| uppercase }}
						</span>
					</ng-template>

					<form [formGroup]="billableForm" (submit)="submit(vaccineInput)" id="billableForm">
						<div fxLayout="column">
							<mat-label>
								{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.ADMINISTRATION_DATE' |
								translate }}
							</mat-label>
							<mat-form-field appearance="outline">
								<input readonly placeholder="mm/dd/yyyy" matInput [value]="this.today"
									[matDatepicker]="newVaccineDatepicker" formControlName="date" [min]=this.minDate
									[max]="this.today" required>
								<mat-datepicker-toggle matSuffix [for]="newVaccineDatepicker"></mat-datepicker-toggle>
								<mat-datepicker #newVaccineDatepicker
									(yearSelected)="chosenYearHandler($event,this.billableForm)"
									(monthSelected)="chosenMonthHandler($event,this.billableForm)">
								</mat-datepicker>
								<mat-error [translate]="'forms.REQUIRED'"></mat-error>
							</mat-form-field>
							<div #vaccineInput>
								<div fxLayout="column" fxFlex="100%">
									<mat-label>
										{{
										'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.IMMUNIZATION' |
										translate
										}}
									</mat-label>
									<ng-container *ngIf="newVaccineSnomedConcept else searchImmunizations">
										<mat-form-field appearance="outline">
											<input matInput required readonly formControlName="snomed"
												matTooltip="{{ newVaccineSnomedConcept.pt }}">
											<button type="button" mat-button matSuffix color="warn" mat-icon-button
												(click)="resetConceptBillableForm()">
												<mat-icon>close</mat-icon>
											</button>
											<mat-error [translate]="'forms.REQUIRED'"></mat-error>
										</mat-form-field>
									</ng-container>
								</div>

								<ng-template #searchImmunizations>
									<mat-form-field *ngIf="!searchConceptsLocallyFF else vaccineTypeaheadSearch"
										appearance="outline" class="search" [formGroup]="searchBillableVaccineForm">
										<input matInput formControlName="search"
											(keydown.enter)="openSearchBillableVaccineDialog()">
										<button type="button" matSuffix mat-flat-button color="primary"
											(click)="openSearchBillableVaccineDialog()">
											<span class="uppercase" [translate]="'buttons.SEARCH'"></span>
										</button>
									</mat-form-field>
									<div class="vaccine-error">
										<div class="mat-error"
											[translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOT_VACCINE_SELECTED_ERROR'"
											*ngIf="tryToSubmit">
										</div>
									</div>
								</ng-template>

								<ng-template #vaccineTypeaheadSearch>
									<app-concept-typeahead-search [ecl]="ecl" [appearanceOutline]="true"
										[showSearchIcon]="true"
										placeholder="ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.SEARCH_VACCINE"
										(conceptSelected)="setBillableConcept($event)">
									</app-concept-typeahead-search>
								</ng-template>
							</div>

							<mat-label
								[ngStyle]="{'color': this.billableForm.controls.condition.disabled ? DISABLED_LABEL_COLOR : 'inherit'}">
								{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.CONDITION' | translate
								}}
							</mat-label>
							<mat-form-field appearance="outline">
								<mat-select formControlName="condition"
									(selectionChange)="loadSchemes($event.value,this.billableForm)">
									<mat-option [value]="null" style="color:gray;">
										- {{
										'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NULL_OPTION_MESSAGE'
										| translate }} -
									</mat-option>
									<mat-option *ngFor="let condition of conditions; index as i" [value]="i">
										{{ condition.description }}
									</mat-option>
								</mat-select>
								<button id="clear_condition" type="button" mat-button
									*ngIf="billableForm.value.condition !== null && billableForm.value.condition !== undefined"
									matSuffix color="warn" mat-icon-button
									(click)="clear(billableForm.controls.condition, 'condition', billableForm); $event.stopPropagation()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>

							<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
								<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="{{ HALF_COLUMN_WIDTH }}">
									<mat-label
										[ngStyle]="{'color': this.billableForm.controls.scheme.disabled ? DISABLED_LABEL_COLOR : 'inherit'}">
										{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.SCHEME' |
										translate
										}}
									</mat-label>
									<mat-form-field appearance="outline">
										<mat-select formControlName="scheme"
											[required]="this.billableForm.value.condition"
											(selectionChange)="loadDoses($event.value,this.billableForm)">
											<mat-option *ngFor="let scheme of schemes; index as i" [value]="i">
												{{ scheme.description }}
											</mat-option>
										</mat-select>
										<button id="clear_scheme" type="button" mat-button
											*ngIf="billableForm.value.scheme !== null && billableForm.value.scheme !== undefined"
											matSuffix color="warn" mat-icon-button
											(click)="clear(billableForm.controls.scheme, 'scheme', billableForm); $event.stopPropagation()">
											<mat-icon>close</mat-icon>
										</button>
										<mat-error
											[translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOT_SCHEME_SELECTED_ERROR'">
										</mat-error>
									</mat-form-field>
								</div>
								<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="{{ HALF_COLUMN_WIDTH }}">
									<mat-label
										[ngStyle]="{'color': this.billableForm.controls.dose.disabled ? DISABLED_LABEL_COLOR : 'inherit'}">
										{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.DOSE' |
										translate }}
									</mat-label>
									<mat-form-field appearance="outline">
										<mat-select formControlName="dose" [required]="this.billableForm.value.scheme">
											<mat-option *ngFor="let dose of doses; index as i" [value]="i">
												{{ dose.description }}
											</mat-option>
										</mat-select>
										<button id="clear_scheme" type="button" mat-button
											*ngIf="billableForm.value.dose !== null && billableForm.value.dose !== undefined"
											matSuffix color="warn" mat-icon-button
											(click)="clear(billableForm.controls.dose, 'dose', billableForm); $event.stopPropagation()">
											<mat-icon>close</mat-icon>
										</button>
										<mat-error
											[translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOT_DOSE_SELECTED_ERROR'">
										</mat-error>
									</mat-form-field>
								</div>
							</div>

							<mat-label>
								{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.LOT' | translate }}
							</mat-label>
							<mat-form-field appearance="outline">
								<input matInput formControlName="lot">
							</mat-form-field>

							<mat-label>
								{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOTE' | translate }}
							</mat-label>
							<mat-form-field appearance="outline">
								<textarea matInput formControlName="note" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5">
						</textarea>
							</mat-form-field>

							<div fxLayout="row" fxLayoutAlign="end">
								<button type="submit" mat-flat-button color="primary">
									{{ 'buttons.ADD' | translate | uppercase }}
								</button>
							</div>
						</div>
					</form>
				</mat-tab>
			</ng-container>
		</ng-container>

		<ng-container
			*appHasRole="['PROFESIONAL_DE_SALUD', 'ESPECIALISTA_MEDICO', 'ENFERMERO', 'ESPECIALISTA_EN_ODONTOLOGIA']">
			<mat-tab>
				<ng-template mat-tab-label>
					<span class="color-primary">
						{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.PREVIOUS_VACCINE_TAB'
						| translate | uppercase }}
					</span>
				</ng-template>

				<form [formGroup]="previousForm" (submit)="submitPreviousForm(previousVaccineInput)" id="previousForm">
					<div fxLayout="column">
						<mat-label>
							{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.ADMINISTRATION_DATE' |
							translate }}
						</mat-label>
						<mat-form-field appearance="outline">
							<input readonly placeholder="mm/dd/yyyy" matInput [value]="this.today"
								[matDatepicker]="previousVaccineDatepicker" formControlName="date" [min]=this.minDate
								[max]="this.today" required>
							<mat-datepicker-toggle matSuffix [for]="previousVaccineDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #previousVaccineDatepicker
								(yearSelected)="chosenYearHandler($event,this.previousForm)"
								(monthSelected)="chosenMonthHandler($event,this.previousForm)">
							</mat-datepicker>
							<mat-error [translate]="'forms.REQUIRED'"></mat-error>
						</mat-form-field>

						<div #previousVaccineInput>
							<div fxLayout="column" fxFlex="100%">
								<mat-label>
									{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.IMMUNIZATION' |
									translate
									}}
								</mat-label>
								<ng-container *ngIf="previousVaccineSnomedConcept else searchImmunizationsPreviousForm">
									<mat-form-field appearance="outline">
										<input matInput required readonly formControlName="snomed"
											matTooltip="{{ previousVaccineSnomedConcept.pt }}">
										<button type="button" mat-button matSuffix color="warn" mat-icon-button
											(click)="resetConceptPreviousForm()">
											<mat-icon>close</mat-icon>
										</button>
										<mat-error [translate]="'forms.REQUIRED'"></mat-error>
									</mat-form-field>
								</ng-container>
							</div>

							<ng-template #searchImmunizationsPreviousForm>
								<mat-form-field *ngIf="!searchConceptsLocallyFF else previousVaccineTypeaheadSearch"
									appearance="outline" class="search" [formGroup]="searchPreviousVaccineForm">
									<input matInput formControlName="search"
										(keydown.enter)="openSearchPreviousVaccineDialog()">
									<button type="button" matSuffix mat-flat-button color="primary"
										(click)="openSearchPreviousVaccineDialog()">
										<span class="uppercase" [translate]="'buttons.SEARCH'"></span>
									</button>
								</mat-form-field>
								<div class="vaccine-error">
									<div class="mat-error"
										[translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOT_VACCINE_SELECTED_ERROR'"
										*ngIf="tryToSubmitPrevious">
									</div>
								</div>
							</ng-template>

							<ng-template #previousVaccineTypeaheadSearch>
								<app-concept-typeahead-search [ecl]="ecl" [appearanceOutline]="true"
									[showSearchIcon]="true"
									placeholder="ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.SEARCH_VACCINE"
									(conceptSelected)="setPreviousConcept($event)">
								</app-concept-typeahead-search>
							</ng-template>
						</div>

						<mat-label
							[ngStyle]="{'color': this.previousForm.controls.condition.disabled ? DISABLED_LABEL_COLOR : 'inherit'}">
							{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.CONDITION' | translate }}
						</mat-label>
						<mat-form-field appearance="outline">
							<mat-select formControlName="condition"
								(selectionChange)="loadSchemes($event.value,this.previousForm)">
								<mat-option [value]="null" style="color:gray;">
									- {{
									'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NULL_OPTION_MESSAGE'
									| translate }} -
								</mat-option>
								<mat-option *ngFor="let condition of conditions; index as i" [value]="i">
									{{ condition.description }}
								</mat-option>
							</mat-select>
							<button id="clear_condition" type="button" mat-button
								*ngIf="previousForm.value.condition !== null && previousForm.value.condition !== undefined"
								matSuffix color="warn" mat-icon-button
								(click)="clear(previousForm.controls.condition, 'condition', previousForm); $event.stopPropagation()">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>

						<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
							<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="{{ HALF_COLUMN_WIDTH }}">
								<mat-label
									[ngStyle]="{'color': this.previousForm.controls.scheme.disabled ? DISABLED_LABEL_COLOR : 'inherit'}">
									{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.SCHEME' | translate
									}}
								</mat-label>
								<mat-form-field appearance="outline">
									<mat-select formControlName="scheme" [required]="this.previousForm.value.condition"
										(selectionChange)="loadDoses($event.value,this.previousForm)">
										<mat-option *ngFor="let scheme of schemes; index as i" [value]="i">
											{{ scheme.description }}
										</mat-option>
									</mat-select>
									<button id="clear_scheme" type="button" mat-button
										*ngIf="previousForm.value.scheme !== null && previousForm.value.scheme !== undefined"
										matSuffix color="warn" mat-icon-button
										(click)="clear(previousForm.controls.scheme, 'scheme', previousForm); $event.stopPropagation()">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error
										[translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOT_SCHEME_SELECTED_ERROR'">
									</mat-error>
								</mat-form-field>
							</div>
							<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="{{ HALF_COLUMN_WIDTH }}">
								<mat-label
									[ngStyle]="{'color': this.previousForm.controls.dose.disabled ? DISABLED_LABEL_COLOR : 'inherit'}">
									{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.DOSE' | translate }}
								</mat-label>
								<mat-form-field appearance="outline">
									<mat-select formControlName="dose" [required]="this.previousForm.value.scheme">
										<mat-option *ngFor="let dose of doses; index as i" [value]="i">
											{{ dose.description }}
										</mat-option>
									</mat-select>
									<button id="clear_dose" type="button" mat-button
										*ngIf="this.previousForm.value.dose !== null && this.previousForm.value.dose !== undefined"
										matSuffix color="warn" mat-icon-button
										(click)="clear(this.previousForm.controls.dose, 'dose', previousForm); $event.stopPropagation()">
										<mat-icon>close</mat-icon>
									</button>

									<mat-error
										[translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.NOT_DOSE_SELECTED_ERROR'">
									</mat-error>
								</mat-form-field>
							</div>
						</div>

						<mat-label>
							{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.LOT' | translate }}
						</mat-label>
						<mat-form-field appearance="outline">
							<input matInput formControlName="lot">
						</mat-form-field>

						<mat-label>
							{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.INSTITUTION' | translate }}
						</mat-label>
						<mat-form-field appearance="outline">
							<input matInput formControlName="institution">
						</mat-form-field>

						<mat-label>
							{{ 'ambulatoria.paciente.vacunas.agregar_vacunas.agregar_vacuna.PROFESSIONAL' | translate }}
						</mat-label>
						<mat-form-field appearance="outline">
							<input matInput formControlName="professional">
						</mat-form-field>

						<div fxLayout="row" fxLayoutAlign="end">
							<button type="submit" mat-flat-button color="primary">
								{{ 'buttons.ADD' | translate | uppercase }}
							</button>
						</div>
					</div>
				</form>

			</mat-tab>
		</ng-container>
	</mat-tab-group>

</div>