<div mat-dialog-content>
	<div fxLayout="row" fxLayoutAlign="space-between">
		<div mat-dialog-title class="mat-h3">
			{{'indicacion.card-pharmaco-frequent.TITLE' | translate}}
		</div>

		<button type="button" mat-icon-button mat-dialog-close (click)="close(false)">
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<h2>{{'indicacion.card-pharmaco-frequent.SUBTITLE' | translate}} </h2>

	<div class="search-container">
		<form id="filter-form" [formGroup]="formFilter" fxLayoutGap="15px">
			<mat-form-field appearance="outline">
				<mat-label>
					{{'indicacion.card-pharmaco-frequent.SEARCH' | translate}}
				</mat-label>
				<input formControlName="description" matInput (keyup)="applyFilter($event)">

				<button *ngIf="!formFilter.value.description" type="button" matSuffix mat-icon-button class="grey">
					<mat-icon>search</mat-icon>
				</button>

				<button type="button" id="clear-filter-sector" *ngIf="formFilter.value.description"  matSuffix
					color="warn" mat-icon-button
					(click)="clearFilterField(formFilter.controls.description); $event.stopPropagation()">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</form>

		<button mat-stroked-button color="primary" (click)="close(true)" class="add-button">
			{{'indicacion.card-pharmaco-frequent.ADD_NEW'| translate | uppercase}}
		</button>
	</div>

	<app-card-pharmaco [pharmacos]="pageSlice" (selectionChange)="close(true, $event)"></app-card-pharmaco>

	<mat-paginator [length]="numberOfPatients" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"
		showFirstLastButtons>
	</mat-paginator>
</div>

