<div fxLayout="row" fxLayoutGap="10px">
	<button mat-stroked-button color="warn" id="reject" (click)="reject()">
		<span>{{'access-management.search_references.reference.institutional_network_actions.REJECT' | translate | uppercase}}</span>
	</button>

	<button mat-stroked-button color="primary" id="review" (click)="review()">
		<span>{{'access-management.search_references.reference.institutional_network_actions.SUGGEST_REVIEW' | translate | uppercase}}</span>
	</button>

	<button mat-flat-button color="primary" id="approve" (click)="approve()">
		<span>{{'access-management.search_references.reference.institutional_network_actions.APPROVE' | translate | uppercase}}</span>
	</button>
</div>
