<app-content width="full">
	<section class="page">
		<h2 class="page-title" [translate]="'internaciones.bed-relocation.TITLE'"></h2>
		<div fxLayout="row" fxLayoutGap="20px" class="section-container">
			<section  class="page parent-section">
				<mat-card class="mat-typography">
					<form [formGroup]="form" (ngSubmit)="save()">
						<section>
							<h2 [translate]="'internaciones.bed-relocation.SECTION_ORIGIN'"></h2>
							<div class="form-row">
								<span [translate]="'internaciones.bed-relocation.form.ORIGIN_BED'"></span>
							</div>
							<div class="form-row" *ngIf="form.controls.originBedId">
								<mat-form-field appearance="outline">
									<input id="originBedId" name="originBedId" formControlName="originBedId" matInput>
								</mat-form-field>
							</div>
						</section>
						<section>
							<h2 [translate]="'internaciones.bed-relocation.SECTION_DESTINATION'"></h2>
							<div class="form-row">
								<span [translate]="'internaciones.bed-relocation.form.DESTINATION_SPECIALTY'"></span>
							</div>
							<div class="form-row">
								<mat-form-field appearance="outline">
									<mat-select id="destinationSpecialtyId" name="destinationSpecialtyId"
										formControlName="destinationSpecialtyId"
										placeholder="{{'pacientes.form.SELECT' | translate}}"
										(selectionChange)="setBeds()">
										<mat-option *ngFor="let specialty of specialties" [value]="specialty.id">
											{{specialty.name}}
										</mat-option>
									</mat-select>
									<mat-error [translate]="'pacientes.form.REQUIRED'"></mat-error>
								</mat-form-field>
							</div>
							<div class="form-row">
								<span [translate]="'internaciones.bed-relocation.form.DESTINATION_BED'"></span>
							</div>
							<div class="form-row">
								<mat-form-field appearance="outline">
									<mat-select id="destinationBedId" name="destinationBedId"
										formControlName="destinationBedId"
										placeholder="{{'pacientes.form.SELECT' | translate}}">
										<mat-option *ngFor="let bed of beds" [value]="bed.id">
											{{bed.bedNumber}}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="(beds && !beds.length)"
										[translate]="'No hay camas libres para el Servicio/Especialidad seleccionada'">
									</mat-error>
									<mat-error [translate]="'pacientes.form.REQUIRED'"></mat-error>
								</mat-form-field>
							</div>
						</section>
						<section>
							<h2 [translate]="'internaciones.bed-relocation.SECTION_DATE'"></h2>
							<div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="20px" *ngIf="minDate" class="form-row">
								<mat-form-field appearance="outline">
									<mat-label>Fecha</mat-label>
									<input matInput id="relocationDate" [matDatepicker]="relocationDatePicker"
										formControlName="relocationDate" [min]="minDate" [max]="today">
									<mat-datepicker-toggle matSuffix [for]="relocationDatePicker"></mat-datepicker-toggle>
									<mat-datepicker #relocationDatePicker>
									</mat-datepicker>
									<mat-error *ngIf="hasError(form, 'required', 'relocationDate')"
										[translate]="'forms.REQUIRED'"></mat-error>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Hora</mat-label>
									<input matInput id="relocationTime" type="text" formControlName="relocationTime">
									<mat-error *ngIf="hasError(form, 'required', 'relocationTime')"
										[translate]="'forms.REQUIRED'"></mat-error>
									<mat-error *ngIf="hasError(form, 'pattern', 'relocationTime')" [translate]="'forms.TIME_FORMAT'"></mat-error>
									<mat-error *ngIf="hasError(form, 'futureTime', 'relocationTime')" [translate]="'forms.MAX_TIME_ERROR'"></mat-error>
									<mat-error *ngIf="hasError(form, 'previousTime', 'relocationTime')" [translate]="'forms.MIN_TIME_ERROR'"
										[translateParams]="{ minTime: minTimeStr }"></mat-error>
								</mat-form-field>
							</div>
						</section>

						<section>
							<button id="btnGenerate" name="btnGenerate" *hasRole="['ADMINISTRATIVO']" mat-raised-button color="primary" type="submit">
								<span [translate]="'buttons.GENERATE'"></span>
							</button>
						</section>
					</form>
				</mat-card>
			</section>
			<section class="parent-section">
				<div class="profile-card">
					<app-patient-card [patient]="patientBasicData">
						<div content>
							<app-personal-information [personalInformation]="personalInformation">
							</app-personal-information>
						</div>
					</app-patient-card>
				</div>
			</section>
		</div>
	</section>
</app-content>