<div class="container">
  <form (ngSubmit)="submitForm()" #formulario="ngForm">

    <div class="full" _ngcontent-rsa-c295="">
      <mat-card _ngcontent-kda-c377="" class="mat-card mat-focus-indicator box">
        <mat-card-header _ngcontent-kda-c377="" class="mat-card-header">
          <div class="mat-card-header-text">
            <mat-card-title _ngcontent-kda-c377="" class="mat-card-title">
              <mat-icon role="img" fontset="material-icons-outlined"
                class="mat-icon notranslate material-icons-outlined mat-icon-no-color" style="margin-right: 16px;"
                data-mat-icon-type="font">
                medical_services
              </mat-icon>
              <span class="title-inicial">
                Cuestionario de antecedentes familiares
              </span>

            </mat-card-title>
          </div>
        </mat-card-header>

        <mat-divider role="separator" class="mat-divider mat-divider-horizontal ng-star-inserted"
          aria-orientation="horizontal"></mat-divider>

        <div _ngcontent-yer-c638="" _ngcontent-dtl-c638="" _ngcontent-dbc-c621="" fxlayout="column"
          ng-reflect-fx-layout="column" class="ng-star-inserted"
          style="flex-direction: column; box-sizing: border-box; display: flex;">
          <app-content _ngcontent-yer-c613="" width="full" _nghost-yer-c295="" ng-reflect-width="full">

            <h2 class="titlePrincipal" >
              Familia
            </h2>
            
            <div style="flex-direction: column; box-sizing: border-box; display: flex;">

              <!-- CONVIVENCIA -->

              <table>
                <thead>
                  <tr>
                    <th>CONVIVE CON</th>
                    <th>No</th>
                    <th class="inHouse">En la casa</th>
                    <th>En el cuarto</th>
                  </tr>
                </thead>
                <tbody>

                  <tr id="24">
                    <td>Madre</td>
                    <td>
                      <input type="checkbox" [(ngModel)]="convivenciaMembers.madre.A" name="madreA" value="A" (change)="isCheckboxAChecked()">
                    </td>
                    <td>
                      <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.madre.B" name="madreB" value="B" [disabled]="isCheckboxBDisabled()">
                    </td>
                    <td class="yellow-alert">
                      <input type="checkbox" id="yellow-alert" [(ngModel)]="convivenciaMembers.madre.C" name="madreC" value="C" [disabled]="isCheckboxCDisabled()">
                      <label for="yellow-alert"></label>
                    </td>
                  </tr>
                  

                  <tr>

                    <tr>
                      <td>Padre</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.padre.D" name="padreD" value="D" (change)="isCheckboxDChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.padre.E" name="padre" value="E" [disabled]="isCheckboxEDisabled()">
                      </td>
                      <td class="yellow-alert">
                        <input type="checkbox" id="yellow-alert2" [(ngModel)]="convivenciaMembers.padre.F" name="padre" value="F" [disabled]="isCheckboxFDisabled()">
                        <label for="yellow-alert2"></label>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>Madrastra</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.madrastra.G" name="madrastraG" value="G" (change)="isMadrastraCheckboxGChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.madrastra.H" name="madrastra" value="H" [disabled]="isMadrastraCheckboxHDisabled()">
                      </td>
                      <td class="yellow-alert">
                        <input type="checkbox" id="yellow-alert3" [(ngModel)]="convivenciaMembers.madrastra.I" name="madrastra" value="I" [disabled]="isMadrastraCheckboxIDisabled()">
                        <label for="yellow-alert3"></label>
                      </td>
                    </tr>
                    <tr>
                      <td>Padrastro</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.padrastro.J" name="padrastroJ" value="J" (change)="isPadrastroCheckboxJChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.padrastro.K" name="padrastro" value="K" [disabled]="isPadrastroCheckboxKDisabled()">
                      </td>
                      <td class="yellow-alert">
                        <input type="checkbox" id="yellow-alert33" [(ngModel)]="convivenciaMembers.padrastro.L" name="padrastro" value="L" [disabled]="isPadrastroCheckboxLDisabled()">
                        <label for="yellow-alert33"></label>
                      </td>
                    </tr>
                    <tr>
                      <td>Hermanos</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.hermanos.M" name="hermanosM" value="M" (change)="isCheckboxMChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.hermanos.N" name="hermanos" value="N" [disabled]="isCheckboxNDisabled()">
                      </td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.hermanos.O" name="hermanos" value="O" [disabled]="isCheckboxODisabled()">
                      </td>
                    </tr>
                    <tr>
                      <td>Pareja</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.pareja.P" name="parejaP" value="P" (change)="isParejaCheckboxPChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.pareja.D" name="pareja" value="D" [disabled]="isParejaCheckboxDDisabled()">
                      </td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.pareja.R" name="pareja" value="R" [disabled]="isParejaCheckboxRDisabled()">
                      </td>
                    </tr>
                    <tr>
                      <td>Hijos</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.hijos.S" name="hijosS" value="S" (change)="isHijosCheckboxSChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.hijos.T" name="hijos" value="T" [disabled]="isHijosCheckboxTDisabled()">
                      </td>
                      <td class="yellow-alert">
                        <input type="checkbox" id="yellow-alert4" [(ngModel)]="convivenciaMembers.hijos.U" name="hijos" value="U" [disabled]="isHijosCheckboxUDisabled()">
                        <label for="yellow-alert4"></label>
                      </td>
                    </tr>
                    <tr>
                      <td>Abuelos</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.abuelos.V" name="abuelosV" value="V" (change)="isAbuelosCheckboxVChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.abuelos.W" name="abuelos" value="W" [disabled]="isAbuelosCheckboxWDisabled()">
                      </td>
                      <td class="yellow-alert">
                        <input type="checkbox" id="yellow-alert5" [(ngModel)]="convivenciaMembers.abuelos.X" name="abuelos" value="X" [disabled]="isAbuelosCheckboxXDisabled()">
                        <label for="yellow-alert5"></label>
                      </td>
                    </tr>
                    <tr>
                      <td>Otros</td>
                      <td>
                        <input type="checkbox" [(ngModel)]="convivenciaMembers.otros.Y" name="otrosY" value="Y" (change)="isOtrosCheckboxYChecked()">
                      </td>
                      <td>
                        <input class="middle" type="checkbox" [(ngModel)]="convivenciaMembers.otros.Z" name="otros" value="Z" [disabled]="isOtrosCheckboxZDisabled()">
                      </td>
                      <td class="yellow-alert">
                        <input type="checkbox" id="yellow-alert6" [(ngModel)]="convivenciaMembers.otros.Z2" name="otros" value="Z2" [disabled]="isOtrosCheckboxZ2Disabled()">
                        <label for="yellow-alert6"></label>
                      </td>
                  </tr>
                </tbody>
              </table>

              <!-- VIVE -->
              <br>

              <br> <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486=""
                aria-orientation="horizontal"
                class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                style="margin-bottom: 15px;"></mat-divider>

              <br />
              <table>
                <thead>
                  <tr>
                    <th>Vive</th>
                    <th class="place">No</th>
                    <th class="place-title">Si</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="32">
                    <td>En institución</td>
                    <td class="place">
                      <input [(ngModel)]="hogarLugar.institucion.A2" type="checkbox" name="no.institucion" value="A2">

                    </td>

                    <td class="place" class="yellow-alert && yellow-alertEDIT"><input id="yellow-alert7"
                        [(ngModel)]="hogarLugar.institucion.B2" type="checkbox" name="si.institucion" value="B2">
                      <label for="yellow-alert7"></label>
                    </td>
                  </tr>
                  <tr id="33">
                    <td>En la calle</td>
                    <td class="place"><input [(ngModel)]="hogarLugar.sinHogar.C2" type="checkbox" name="enLaCalle"
                        value="C2"></td>
                    <td class="place" class="yellow-alert && yellow-alertEDIT">
                      <input [(ngModel)]="hogarLugar.sinHogar.D2" id="yellow-alert8" type="checkbox" name="enLaCalle"
                        value="D2">
                      <label for="yellow-alert8"></label>
                    </td>
                  </tr>
                  <tr id="34">
                    <td>Solo</td>
                    <td class="place"><input [(ngModel)]="hogarLugar.personaSolitaria.E2" type="checkbox" name="solo"
                        value="E2"></td>
                    <td class="place" class="yellow-alert && yellow-alertEDIT">
                      <input id="yellow-alert9" [(ngModel)]="hogarLugar.personaSolitaria.F2" id="yellow-alert9"
                        type="checkbox" name="solo" value="F2"> <label for="yellow-alert9"></label>
                    </td>
                  </tr>
                  <tr id="35">
                    <td>Comparte la cama</td>
                    <td class="place"><input [(ngModel)]="hogarLugar.camaCompartida.G2" type="checkbox" name="camax2"
                        value="G2"></td>
                    <td class="place" class="yellow-alert && yellow-alertEDIT"><input id="yellow-alert10"
                        [(ngModel)]="hogarLugar.camaCompartida.H2" type="checkbox" name="camax2" value="H2">
                      <label for="yellow-alert10"></label>

                    </td>
                  </tr>
                </tbody>
              </table>

              <br>

              <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486="" aria-orientation="horizontal"
                class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                style="margin-bottom: 15px;"></mat-divider>

              <br />

              <!-- NIVEL DE INSTRUCCION -->

              <table>
                <thead>
                  <tr>
                    <th>Último nivel de instrucción</th>
                  </tr>
                </thead>
                <tbody class="container-instruccion">
                  <tr class="section3" [(ngModel)]="educacionPadreOSustituto" id="36">
                    <td>Padre o sustituto</td>
                    <div class="checkPadres" id="37">

                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.padre.A3"
                        name="padre.sustituto" value="A3">
                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.padre.B3"
                        name="padre.sustituto" value="B3">
                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.padre.C3"
                        name="padre.sustituto" value="C3">
                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.padre.D3"
                        name="padre.sustituto" value="D3">
                      <input type="radio" [(ngModel)]="educacion.padre.E3" name="padre.sustituto" value="E3">
                      <input type="radio" [(ngModel)]="educacion.padre.F3" name="padre.sustituto" value="F3">
                      <label for="yellow-radio"></label>

                    </div>
                  </tr>
                  <tr class="section3 text1">
                    <td>Analfabeto</td>
                    <td>Primario incompleto</td>
                    <td>Primario Completo</td>
                    <td>Secundario Incompleto</td>
                    <td>Secundario Completo</td>
                    <td>Univ./terciario</td>
                  </tr>
                  <tr class="section3">
                    <td>Madre o sustituta</td>
                    <div class="checkPadres" [(ngModel)]="educacionMadreOSustituto" id="38">

                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.madre.A4"
                        name="madre.sustituta" value="A4">
                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.madre.B4"
                        name="madre.sustituta" value="B4">
                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.madre.C4"
                        name="madre.sustituta" value="C4">
                      <input type="radio" class="yellow-alert-radio" id="yellow-radio" [(ngModel)]="educacion.madre.D4"
                        name="madre.sustituta" value="D4">
                      <input type="radio" [(ngModel)]="educacion.madre.E4" name="madre.sustituta" value="E4">
                      <input type="radio" [(ngModel)]="educacion.madre.F4" name="madre.sustituta" value="F4">
                      <label for="yellow-radio"></label>

                    </div>
                  </tr>
                </tbody>
              </table>

              <br>

              <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486="" aria-orientation="horizontal"
                class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                style="margin-bottom: 15px; border-top-style: none;"></mat-divider>

              <br />

              <span class="color-primary title && title-section4"
                style="margin-right: 10px; font-size: 20px; background-color: #f6fafb ; text-align: center;">
                Madre
              </span>


              <!-- MADRE -->
              <table>
                <div class="div1">
                  <tr>
                    <th class="section4">Edad</th>
                  </tr>
                  <tr class="section4-b section4" id="42">
                    <td class="chart-title2">Años</td>
                    <td>
                      <input class="section4-b chart2" [(ngModel)]="edadMadre.madre.counter1" name="counter1" type="number" min="0">
                    </td>
                  </tr>

                </div>

                <div class="div1">
                  <table>
                    <tr>
                      <th class="section4 section4b2">Estado civil</th>
                    </tr>
                    <tr class="section4-b section4" [(ngModel)]="estadoCivilMadre" id="43">
                      <td>Soltera</td>
                      <td>
                        <input class="section4-b" type="radio" name="estadoCivil" [(ngModel)]="estadoCivil.madre.E1"
                          value="E1">
                      </td>
                    </tr>
                    <tr class="section4-b section4">
                      <td>Casada</td>
                      <td>
                        <input class="section4-b" type="radio" name="estadoCivil" [(ngModel)]="estadoCivil.madre.E2"
                          value="E2">
                      </td>
                    </tr>
                    <tr class="section4-b section4">
                      <td>Unión estable</td>
                      <td>
                        <input class="section4-b" type="radio" name="estadoCivil" [(ngModel)]="estadoCivil.madre.E3"
                          value="E3">
                      </td>
                    </tr>
                    <tr class="section4-b section4">
                      <td>Otros</td>
                      <td>
                        <input class="section4-b" type="radio" name="estadoCivil" [(ngModel)]="estadoCivil.madre.E4"
                          value="E4">
                      </td>
                    </tr>
                  </table>
                </div>


                <div class="div1" [(ngModel)]="trabajoMadre" id="39">
                  <tr>
                    <th class="section4 section4b2">Trabajo remunerado</th>
                  </tr>
                  <tr class="section4-b section4" id="40">
                    <td>Si</td>
                    <td><input class="section4-b" type="radio" name="trabajoRemunerado"
                        [(ngModel)]="trabajoRemunerado.madre.si" value="si" id="20"></td>
                  </tr>
                  <tr class="section4-b section4">
                    <td>No</td>
                    <td><input class="section4-b" type="radio" name="trabajoRemunerado"
                        [(ngModel)]="trabajoRemunerado.madre.no" value="no" id="19"></td>
                  </tr>
                </div>

                <tr class="section4-b section4">
                  <td class="chart-title">Horas fuera de la casa</td>
                  <td>
                    <input class="section4-b chart" type="number" [(ngModel)]="horasFueraDeCasa.horasMadre.H1"
                      name="HorasMadre">
                  </td>
                </tr>
              </table>


              <br>

              <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486="" aria-orientation="horizontal"
                class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                style="margin-bottom: 15px; border-top-style: none;"></mat-divider>

              <br />
              <span class="color-primary title && title-section4"
                style="margin-right: 10px; font-size: 20px; background-color: #f6fafb ; text-align: center;">
                Padre
              </span>

              <!-- PADRE -->

              <table>
                <div class="div1">
                  <tr>
                    <th class="section4">Edad</th>
                  </tr>
                  <tr class="section4-b section4" id="44">
                    <td class="chart-title2">Años</td>
                    <input class="section4-b chart" type="number" id="45" name="counter2" [(ngModel)]="edadPadre.padre.counter2" min="0">
                  </tr>
                </div>

                <div class="div1" [(ngModel)]="estadoCivilPadre" id="56">
                  <tr>
                    <th class="section4 section4b2">Estado civil</th>
                  </tr>

                  <tr class="section4-b section4">
                    <td>Soltero</td>
                    <td><input class="section4-b" type="radio" name="estadoCivil2" [(ngModel)]="estadoCivil.padre.E5"
                        value="E5"></td>
                  </tr>
                  <tr class="section4-b section4">
                    <td>Casado</td>
                    <td><input class="section4-b" type="radio" name="estadoCivil2" [(ngModel)]="estadoCivil.padre.E6"
                        value="E6"></td>
                  </tr>

                  <tr class="section4-b section4">
                    <td>Unión estable</td>
                    <td><input class="section4-b" type="radio" name="estadoCivil2" [(ngModel)]="estadoCivil.padre.E7"
                        value="E7"></td>
                  </tr>
                  <tr class="section4-b section4">
                    <td>Otros</td>
                    <td><input class="section4-b" type="radio" name="estadoCivil2" [(ngModel)]="estadoCivil.padre.E8"
                        value="E8"></td>
                  </tr>
                </div>

                <div class="div1" [(ngModel)]="trabajoPadre">
                  <tr>
                    <th class="section4 section4b2">Trabajo remunerado</th>
                  </tr>
                  <tr class="section4-b section4">
                    <td>Si</td>
                    <td><input class="section4-b" type="radio" name="trabajoRemunerado2"
                        [(ngModel)]="trabajoRemunerado2.padre.si" value="si" id="20"></td>
                  </tr>
                  <tr class="section4-b section4">
                    <td>No</td>
                    <td><input class="section4-b" type="radio" name="trabajoRemunerado2"
                        [(ngModel)]="trabajoRemunerado2.padre.no" value="no" id="19"></td>
                  </tr>
                </div>

                <tr class="section4-b section4">
                  <td class="chart-title">Horas fuera de la casa</td>
                  <td>
                    <input class="section4-b chart" type="number" id="57" [(ngModel)]="horasFueraDeCasa.horasPadre.H2"
                      name="HorasPadre">
                  </td>
                </tr>
              </table>


              <mat-divider class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                style="margin-bottom: 15px; border-top-style: none;"></mat-divider>

              <br />

              <span class="color-primary title && title-section4"
                style="margin-right: 10px; font-size: 20px; background-color: #f6fafb; text-align: center;">
                Hermanos
              </span>

              <!-- HERMANOS EN VIDA  -->

              <table>
                <div class="div1">
                  <tr class="section4-b && section4" [(ngModel)]="hermanosVivos" id="46">
                    <td class="hermanos-vivos">Vivos</td>
                    <td><input min="0" style="max-width: 18%;" class="section4-b" type="number" name="vivo"
                        [(ngModel)]="hermanosEnVida.vivo" id="47"></td>
                  </tr>

                </div>
                <div class="div1">

                  <tr class="section4-b && section4" [(ngModel)]="hermanosMuertos">
                    <td class="hermanos-vivos"> Muertos</td>
                    <td><input min="0" style="max-width: 18.5%;" class="section4-b && color-hermanos" type="number"
                        name="desvivido" [(ngModel)]="hermanosEnVida.ido.desvivido" id="48"></td>
                  </tr>
                  <!-- [(ngModel)]="hermanosEnVida.muertos" -->
                </div>
              </table>

              <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486="" aria-orientation="horizontal"
                class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                style="margin-bottom: 15px; border-top-style: none;"></mat-divider>


              <!-- VIVIENDA -->

              <span class="color-primary title && title-section4"
                style="margin-right: 10px; font-size: 20px; background-color: #f6fafb; text-align: center;">
                Vivienda
              </span>

              <tr class="line">
                <td>Número de cuartos</td>
                <td class="check-vivienda" [(ngModel)]="cantidadCuartos">
                  <input min="0" style="max-width: 18%;" [(ngModel)]="numeroCuartos.cuartos.cantidad" class="chart-vivienda" name="cuartos"  type="number" id="50">
                </td>
              </tr>

              <table class="Vivienda" id="49">

                <thead>
                  <tr>
                    <th class="vivienda-titles1">Si</th>
                    <th class="vivienda-titles2">No</th>
                  </tr>
                </thead>

                <tr [(ngModel)]="energia" id="51">
                  <td>Energía electrica</td>
                  <td class="check-vivienda"><input type="radio" name="energiaElectrica"
                      [(ngModel)]="viviendaElectricidad.electricidad.si" class="radio-tamaño" value="si" id="20"></td>
                  <td class="check-vivienda2"><input type="radio" name="energiaElectrica" class="yellow-alert-radio"
                      id="yellow-radio" class="radio-tamaño" [(ngModel)]="viviendaElectricidad.electricidad.no" value="no" id="19">
                    <label for="yellow-radio"></label>
                  </td>
                </tr>

                <thead>
                  <tr>
                    <th class="vivienda-titles">Agua</th>
                    <th class="vivienda-titles">Excretas</th>
                  </tr>
                </thead>

                <tr id="52">
                  <td>Conectado a la red</td>
                  <td class="check-vivienda">
                    <input type="radio" name="conectadoaRed" class="radio-tamaño" [(ngModel)]="viviendaAgua.conexionAgua.si" value="si"
                      id="38">
                  </td>
                  <td class="check-vivienda2">
                    <input type="radio" name="conectadoaRedExcretas" class="yellow-alert-radio" id="yellow-radio"
                      [(ngModel)]="viviendaExcretas.conexionExcretas.si" value="si" id="38">
                    <label for="yellow-radio"></label>

                  </td>
                </tr>

                <tr id="52">
                  <td>No conectado a la red</td>
                  <td class="check-vivienda">
                    <input type="radio" name="conectadoaRed" class="radio-tamaño" [(ngModel)]="viviendaAgua.sinConexion.no" value="no"
                      id="38">
                  </td>
                  <td class="check-vivienda2">
                    <input type="radio" class="yellow-alert-radio" id="yellow-radio" name="conectadoaRedExcretas"
                      [(ngModel)]="viviendaExcretas.conexionExcretas.no" value="no" id="39">
                    <label for="yellow-radio"></label>

                  </td>
                </tr>

                <tr id="40">
                  <td>Fuera del hogar</td>
                  <td class="check-vivienda">
                    <input type="radio" name="conectadoaRed" class="radio-tamaño" [(ngModel)]="viviendaAgua.conexionAgua.fueradelhogar"
                      value="fueradelhogar">
                  </td>
                  <td class="check-vivienda2">
                    <input type="radio" class="yellow-alert-radio" name="conectadoaRedExcretas"
                      [(ngModel)]="viviendaExcretas.conexionExcretas.fueradelhogar" value="fueradelhogar"
                      id="yellow-radio">
                    <label for="yellow-radio"></label>
                  </td>
                </tr>

                <tr id="53">
                  <td>Letrina</td>
                  <td class="check-letrina && yellow-alert-radio">
                    <input class="yellow-alert-radio" type="radio" name="conectadoaRedExcretas" id="yellow-radio"
                      [(ngModel)]="viviendaExcretas.conexionExcretas.letrina" value="letrina">
                    <label for="yellow-radio"></label>
                  </td>

                </tr>
              </table>

              <button mat-raised-button color="primary" type="submit">Guardar Formulario</button>
              <br>

            </div>

          </app-content>
        </div>
      </mat-card>
    </div>
  </form>
  <div>
    <br>
  </div>
</div>