<mat-dialog-content>
	<p>{{'telemedicina.requests.form.PATIENT' | translate}}</p>
	<div class="margin-bottom">
		<app-patient-card [patient]="patient" [personPhoto]="patientPhoto"></app-patient-card>
	</div>

	<div>
		<p>{{'telemedicina.requests.form.CARELINE' | translate}}</p>
		<app-typeahead data-id="careline-typeahead" [options]="careLinesTypeahead"
			(selectionChange)="setCareLine($event)"></app-typeahead>
		<div class="error-space">
			<mat-error *ngIf="showCareLineError">{{ 'forms.REQUIRED' | translate }}</mat-error>
		</div>
	</div>

	<div>
		<p>{{'telemedicina.requests.form.SPECIALTY' | translate}}</p>
		<app-typeahead data-id="specialty-typeahead" [options]="specialtyTypeaheadOptions"
			(selectionChange)="setClinicalSpecialty($event)"></app-typeahead>
		<div class="error-space">
			<mat-error *ngIf="showSpecialtyError">{{ 'forms.REQUIRED' | translate }}</mat-error>
		</div>
	</div>
	<div>
		<p>{{'telemedicina.requests.form.REASONS_CONSULTATION' | translate}}</p>
		<app-button-and-motive-list [limit]="reasonLimit"
			(selectionChange)="setMotive($event)"></app-button-and-motive-list>
		<div class="error-space">
			<mat-error *ngIf="showReasonsConsultationError">{{ 'forms.REQUIRED' | translate }}</mat-error>
		</div>
	</div>
	<div>
		<p>{{'telemedicina.requests.form.PROBLEM' | translate}}</p>
		<app-button-and-problem-list (selectionChange)="setProblem($event)" [problemLimit]="reasonLimit"
			(selectionChange)="setMotive($event)"></app-button-and-problem-list>
		<div class="error-space">
			<mat-error *ngIf="showReasonsConsultationError">{{ 'forms.REQUIRED' | translate }}</mat-error>
		</div>
	</div>
	<div>
		<p>{{'telemedicina.requests.form.PRIORIZATION' | translate}}</p>
		<app-priority-select data-id="priority-select" (selectionChange)="setPriority($event)"></app-priority-select>
		<div class="error-space">
			<mat-error *ngIf="showPriorityError">{{ 'forms.REQUIRED' | translate }}</mat-error>
		</div>
	</div>
</mat-dialog-content>
