<div fxLayout="row" fxLayoutAlign="end center">
	<button mat-icon-button [mat-dialog-close]=true>
		<mat-icon style="margin-right: 0px;">close</mat-icon>
	</button>
</div>
<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
	<mat-icon [inline]="true" class="material-icons-outlined" id="icon">
		check_circle
	</mat-icon>
	<h1 mat-dialog-title>{{ data.title | translate}}</h1>
	<div mat-dialog-content fxFill="50" >
		<div innerHTML="{{ data.content | translate}}"></div>
	</div>
</div>

