<form [formGroup]="form">
	<mat-form-field class="full-width" appearance="outline">
		<input #input matInput [matAutocomplete]="auto" formControlName="snomedInput" (focus)="onInputFocus()"
			[placeholder]="conceptTypeaheadInfo?.placeholder | translate" [required]="conceptTypeaheadInfo?.required">

		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let item of items" [value]="item.pt" (click)="onOptionSelected(item)">
				{{ item.pt }}
			</mat-option>

			<ng-container *ngIf="totalResults > conceptTypeaheadInfo?.maxSearchResults">
				<div class="fixed-legend-container">
					<mat-divider></mat-divider>
					<mat-option disabled>
						{{ 'historia-clinica.concept-typeahead-search-v2.DISPLAYED_RESULTS' | translate:
						{ maxResults: totalResults >= conceptTypeaheadInfo?.maxSearchResults ?
						conceptTypeaheadInfo?.maxSearchResults :
						totalResults,
						totalResults: totalResults } }}
					</mat-option>
				</div>
			</ng-container>
		</mat-autocomplete>

		<mat-hint *ngIf="hintVisibility">
			{{ 'historia-clinica.concept-typeahead-search.AT_LEAST_THREE_CHARACTERS_MESSAGE' | translate }}
		</mat-hint>

		<mat-error *ngIf="form.controls.snomedInput.hasError('required')" translate="forms.REQUIRED"></mat-error>

		<button *ngIf="clearButton" id="clear" type="button" matSuffix color="warn" mat-icon-button
			(click)="clearInput()">
			<mat-icon>close</mat-icon>
		</button>

		<mat-spinner *ngIf="loading" matSuffix [diameter]="25" color="primary"></mat-spinner>
	</mat-form-field>
</form>
