@import 'projects/hospital/src/assets/styles/mixins.scss';

div.spinner {
	@include centered-spinner;
}

span {
	line-height: 22px;
	font-size: 16px;
}

.title {
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 15px;
}

.subtitle {
	font-weight: 500;
	font-size: 14px;
}

.flow {
	padding-right: 26px;
}

.volumen {
	padding-right: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
