.report-label {
    font-size: 0.8rem;
    color: orange;
    padding: 0 8px;
}

.report-status {
    display: flex;
    text-align: center;
    align-items: center;
}

.files-section {
    width: 256px;
}

.report-adjust {
    flex: 1 1 80%;
	word-break: break-word;
}

@media (max-width: 1280px) {
    .view-study-btn {
        align-self: center;
    }
	.report-status {
		display: block;
	}
    .report-label {
        margin-left: 0;
    }
}

.mid-grey {
    color: #9A9A9A;
}

.grey {
    color: #A4A2A2;
}

.orange {
    color: #FFA500;
}

.green {
    color: #27AE60;
}
