.report-label {
    font-size: 0.8rem;
    color: orange;
    padding: 0 8px;
}

.report-status {
    display: flex;
    text-align: center;
    align-items: center;
}

.files-section {
    width: 256px;
}

@media (max-width: 1280px) {
    .view-study-btn {
        align-self: center;
    }
	.report-status {
		display: block;
	}
    .report-label {
        margin-left: 0;
    }
}