@import "../../../../../assets/styles/variables";

.default {
	mat-card.mat-card{
		min-height: 120px;
	}
}

mat-card.mat-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 25px;
	padding-right: 25px;
}

mat-card-header {
	align-items: center;
	.header-image {
		background-image: url("../../../../../assets/images/empty-profile.png");
		background-size: cover;
		width: 100px;
		height: 100px;
	}

	.label-episodes {
		margin-top: 10px;
		border-radius: 6px;
		padding: 4px 15px;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		width: 130px;
		text-align: center;
	}
	.label-internment-episode {
		background-color: #ffcece;
		color: #EB5757;
	}
	.label-emergency-care-episode {
		background-color: #FFF7E6;
		color: #FFA500;
	}
}

.card-style-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-style-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: normal;
	font-size: 14px;
}

mat-card-subtitle {
	margin-bottom: 0;
}


.small {
	.mat-card-header .mat-card-title {
		font-size: 14px;
	}

	.mat-card-md-image {
		width: 60px;
		height: 60px;
	}

	mat-card.mat-card {
		min-height: 11px !important;
	}

	.mat-card-subtitle {
		font-size: 11px;
	}
}

