@import "../../../../../assets/styles/variables";

.default {
	mat-card.mat-card{
		min-height: 120px;
	}
}

mat-card.mat-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 25px;
	padding-right: 25px;
}

mat-card-header {
	align-items: center;
	.header-image {
		background-image: url("../../../../../assets/images/empty-profile.png");
		background-size: cover;
		width: 100px;
		height: 100px;
	}
}

.card-style-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-style-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: normal;
	font-size: 14px;
}

mat-card-subtitle {
	margin-bottom: 0;
}


.small {
	.mat-card-header .mat-card-title {
		font-size: 14px;
	}

	.mat-card-md-image {
		width: 60px;
		height: 60px;
	}

	mat-card.mat-card {
		min-height: 11px !important;
	}

	.mat-card-subtitle {
		font-size: 11px;
	}
}

#blood-type {
	font-size: 28px;
	margin: 0;
}

#blood-type-container {
	border-left: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	height: 100%;
}

#blood-type-container, #coverage-container {
	padding: 0 10px;
}

#coverage-title{
	margin-top: 2px;
	margin-bottom: 2px;
}

.center-align {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.no-information {
	color: #a8a8a8;
}
