.reference-type {
	.mat-radio-button ~ .mat-radio-button {
		margin-left: 50px;
    }

	mat-label {
		font-weight: 500;
		height: 30px;
	}

	height: 60px;
}

.search-criteria {
	margin-bottom: 10px;
	font-weight: 500;
}

.error-message {
	padding-left: 10px;
	font-size: 10.5px;
}

.typeahead-field {
	padding-bottom: 16.8px;
	margin: 3.5px 0;
}

.font-size-16 {
	font-size: 16px;
}