<div class="container" id="complete-study-information" fxLayout="column" fxLayoutGap="12px">

	<div class="row-container" fxLayoutAlign="space-between">
		<app-colored-label [description]="status.description | uppercase" [color]="status.color" id="colored-label">
		</app-colored-label>
		<span class="order">
			Orden #{{order}}
		</span>
	</div>

	<app-identifier-cases [position]="position.ROW" [showLegend]="true" [description]="descriptionState"
		[identifierCase]="identiferCases.PROBLEM" id="problem"></app-identifier-cases>

	<app-title-description [title]="observations" [text]="descriptionState">
	</app-title-description>

	<app-register-editor-info [registerEditor]="registerEditor" [registerEditorCase]="registerEditorCasesDateHour">
	</app-register-editor-info>

</div>
