div {
	font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.message {
    margin: 10px 7px;

	.question {
		display: block;
		font-weight: 500;
	}
}

.report-message {
    font-weight: 600;
}

.report{
	position: relative;
}

.close{
	color: rgba(0, 0, 0, 0.54);
	transform: scale(1.0);
	position: absolute;
	top: 0px;
	right: 0px;
}
