@import '../../../../../../../../../assets/styles/mat-mixins.scss';

form {
	@include mat-form-field-background-white;
}

.measuring-point-container {
    margin-top: 24px;
}

.registered-measuring-points-container {
    margin-top: 16px;
}

mat-form-field {
	width: 100%;
}

.form-subtitle {
	font-size: 16px;
	font-weight: 500;
}

.form-input-title {
	font-weight: 500;
}

.time-error {
	margin-bottom: 24px;
}
