<app-dock-popup [dockPopupRef]="dockPopupRef"
	[header]="{ title:'odontologia.odontology-consultation-dock-popup.TITLE' }">

	<div body fxLayout="column" fxLayoutGap="20px">

		<app-new-consultation-expansion-section id="clinical_specialty"
			[title]="'odontologia.odontology-consultation-dock-popup.SPECIALTY' | translate" icon="medical_services"
			[isEmpty]="!form.value.clinicalSpecialty" [collapsed]="false" [hideBorder]="true">
			<app-document-section>
				<ng-container concept-form>
					<form [formGroup]="form">
						<mat-form-field appearance="outline">
							<mat-select formControlName="clinicalSpecialty" name="clinicalSpecialty">
								<mat-option *ngFor="let clinicalSpecialty of clinicalSpecialties"
									[value]="clinicalSpecialty.id">
									{{clinicalSpecialty.name}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="hasError(form, 'required', 'clinicalSpecialty')"
								[translate]="'forms.REQUIRED'"></mat-error>
						</mat-form-field>
					</form>
				</ng-container>
			</app-document-section>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="reasons"
			[title]="'odontologia.odontology-consultation-dock-popup.REASON_TITLE' | translate" icon="sms_failed"
			[isEmpty]="reasonNewConsultationService.isEmpty()" [recommend]="true">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!reasonNewConsultationService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.motivo.LIST_CARD_TITLE' }}">
					<app-reason-list [service]="reasonNewConsultationService"></app-reason-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-reason-button" color="primary" class="add-button"
						(click)="addReason()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_REASON' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="evolution"
			[title]="'odontologia.odontology-consultation-dock-popup.EVOLUTION' | translate" icon="chat"
			[isEmpty]="!form.value.evolution" [collapsed]="false">
			<app-document-section>
				<ng-container concept-form>
					<form [formGroup]="form">
						<mat-form-field appearance="outline">
							<textarea matInput type="text" id="evolution_input" name="evolution"
								formControlName="evolution" placeholder="Descripción">
							</textarea>
						</mat-form-field>
					</form>
				</ng-container>
			</app-document-section>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="other_procedures"
			[title]="'odontologia.odontology-consultation-dock-popup.OTHER_PROCEDURES_TITLE' | translate"
			icon="library_add" [isEmpty]="otherProceduresService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!otherProceduresService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.procedimientos.TABLE_TITLE' }}">
					<app-procedure-list [service]="otherProceduresService"></app-procedure-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-procedure-button" color="primary" class="add-button"
						(click)="addProcedure()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_PROCEDURE' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="other_diagnoses"
			[title]="'odontologia.odontology-consultation-dock-popup.OTHER_DIAGNOSES' | translate" icon="error_outlined"
			[isEmpty]="otherDiagnosticsNewConsultationService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!otherDiagnosticsNewConsultationService.isEmpty()"
					title="{{ 'odontologia.odontology-consultation-dock-popup.REGISTERED_DIAGNOSES' }}">
					<app-problem-list [diagnosesService]="otherDiagnosticsNewConsultationService"></app-problem-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-diagnose-button" color="primary" class="add-button"
						(click)="addDiagnose()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_DIAGNOSE' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="allergies"
			[title]="'odontologia.odontology-consultation-dock-popup.ALLERGIES' | translate" icon="highlight_off"
			[isEmpty]="allergiesNewConsultationService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!allergiesNewConsultationService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.alergias.table.TITLE' }}">
					<app-allergy-list [service]="allergiesNewConsultationService"></app-allergy-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-allergy-button" color="primary" class="add-button"
						(click)="addAllergy()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_ALLERGY' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="personal_histories"
			[title]="'odontologia.odontology-consultation-dock-popup.PERSONAL_HISTORY' | translate" icon="report"
			[isEmpty]="personalHistoriesNewConsultationService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!personalHistoriesNewConsultationService.isEmpty()"
					title="{{ 'odontologia.odontology-consultation-dock-popup.REGISTERED_PERSONAL_HISTORY' }}">
					<app-background-list [service]="personalHistoriesNewConsultationService"></app-background-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-allergy-button" color="primary" class="add-button"
						(click)="addPersonalHistory()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_PERSONAL_HISTORY' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="medications"
			[title]="'odontologia.odontology-consultation-dock-popup.USUAL_MEDICATION' | translate"
			icon="event_available" [isEmpty]="medicationsNewConsultationService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!medicationsNewConsultationService.isEmpty()"
					title="{{ 'odontologia.odontology-consultation-dock-popup.REGISTERED_USUAL_MEDICATIONS' }}">
					<app-medication-list [service]="medicationsNewConsultationService"></app-medication-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-medication-button" color="primary" class="add-button"
						(click)="addMedication()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_MEDICATION' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="diagnoses"
			[title]="'odontologia.odontology-consultation-dock-popup.FINDINGS_ON_DENTAL_TISSUES' | translate"
			icon="crop_free" [isEmpty]="false" [collapsed]="false">
			<app-titled-content-card title="{{ 'odontologia.odontology-consultation-dock-popup.REGISTERED_FINDINGS' }}">
				<ng-container *ngIf="diagnosticsNewConsultationService.tableData?.length > 0 else noData">
					<div *ngFor="let item of diagnosticsNewConsultationService.tableData; index as i; last as isLast">
						<div fxLayout="row" fxLayoutAlign="space-between center">
							<span class="bold">
								{{ 'odontologia.odontology-consultation-dock-popup.PIECE' | translate }} {{ item.zone }}
							</span>
							<span>{{ item.action }}</span>
						</div>
						<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
					</div>
				</ng-container>
			</app-titled-content-card>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="procedures"
			[title]="'odontologia.odontology-consultation-dock-popup.PROCEDURES_ON_DENTAL_TISSUES' | translate"
			icon="border_outer" [isEmpty]="false" [collapsed]="false">
			<app-titled-content-card
				title="{{ 'odontologia.odontology-consultation-dock-popup.REGISTERED_PROCEDURES' }}">
				<ng-container *ngIf="proceduresNewConsultationService.tableData?.length > 0 else noData">
					<div *ngFor="let item of proceduresNewConsultationService.tableData; index as i; last as isLast">
						<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
							<span class="bold">
								{{ 'odontologia.odontology-consultation-dock-popup.PIECE' | translate }} {{ item.zone }}
							</span>
							<span>{{ item.action }}</span>
						</div>
						<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
					</div>
				</ng-container>
			</app-titled-content-card>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="dental_pieces"
			[title]="'odontologia.odontology-consultation-dock-popup.AMOUNT_OF_PIECES_PRESENT' | translate"
			icon="auto_awesome_motion" [collapsed]="false"
			[isEmpty]="!form.value.permanentTeethPresent && !form.value.temporaryTeethPresent">
			<form [formGroup]="form">
				<div class="form_dental_pieces" fxLayout="row">
					<div fxFlex="50" fxLayout="column" fxLayoutGap="5px">
						<span>
							{{ 'odontologia.odontology-consultation-dock-popup.PERMANENT' | translate }}:
						</span>
						<mat-form-field appearance="outline">
							<input
								[placeholder]="'odontologia.odontology-consultation-dock-popup.NO_INFORMATION' | translate"
								formControlName="permanentTeethPresent" matInput>
						</mat-form-field>
						<mat-error *ngIf="hasError(form, 'pattern', 'permanentTeethPresent')">
							{{ 'odontologia.odontology-consultation-dock-popup.ONLY_NUMERIC_VALUES_ERROR' |
							translate }}
						</mat-error>
						<mat-error *ngIf="hasError(form, 'maxlength', 'permanentTeethPresent')">
							{{ 'odontologia.odontology-consultation-dock-popup.ONLY_TWO_DIGIT_ERROR' | translate }}
						</mat-error>
					</div>
					<div fxFlex="50" fxLayout="column" fxLayoutGap="5px">
						<span>{{ 'odontologia.odontology-consultation-dock-popup.TEMPORARY' | translate }}:</span>
						<mat-form-field appearance="outline">
							<input
								[placeholder]="'odontologia.odontology-consultation-dock-popup.NO_INFORMATION' | translate"
								formControlName="temporaryTeethPresent" matInput>
						</mat-form-field>
						<mat-error *ngIf="hasError(form, 'pattern', 'temporaryTeethPresent')">
							{{ 'odontologia.odontology-consultation-dock-popup.ONLY_NUMERIC_VALUES_ERROR' |
							translate }}
						</mat-error>
						<mat-error *ngIf="hasError(form, 'maxlength', 'temporaryTeethPresent')">
							{{ 'odontologia.odontology-consultation-dock-popup.ONLY_TWO_DIGIT_ERROR' | translate }}
						</mat-error>
					</div>
				</div>
			</form>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="reference_request"
			[title]="'odontologia.odontology-consultation-dock-popup.REFERENCE_REQUEST' | translate" icon="forum"
			[isEmpty]="odontologyReferenceService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">

				<app-titled-content-card *ngIf="!odontologyReferenceService.isEmpty()"
					title="{{ 'odontologia.odontology-consultation-dock-popup.REGISTERED_REQUEST' }}">
					<app-reference-request-list [service]="odontologyReferenceService">
					</app-reference-request-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-request-button" color="primary" class="add-button"
						(click)="odontologyReferenceService.openReferenceDialog()">
						+ {{ 'odontologia.odontology-consultation-dock-popup.ADD_REQUEST' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

	</div>

	<div actions id="buttons">
		<div align="end">
			<button class="uppercase" mat-raised-button color="primary" (click)="save()">
				<span [translate]="'buttons.CONFIRM'"></span>
			</button>
		</div>
	</div>

</app-dock-popup>

<ng-template #noData>
	<app-no-data>
	</app-no-data>
</ng-template>