<div class="popup-container" style="border: none;">
  <h2 *ngIf="!selectedOption" >Estudios del adulto mayor</h2>


  <mat-form-field *ngIf="!selectedOption">  
  
  
    <mat-label>Seleccione estudio</mat-label>
    <mat-select [(ngModel)]="selectedOption">
      <mat-option value="option2">Escala de Frail</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedOption === 'option2'">
    <div class="form-container">
      <button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal(true)">
        <mat-icon>close</mat-icon>
      </button>
      <app-escala-frail></app-escala-frail>
    </div>
  </div>
</div>
