<app-content width="narrow">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Mi cuenta</mat-card-title>
		</mat-card-header>

		<mat-list role="list" *ngIf="(roleAssignments$ | async) as roleAssignments; else loading">
			<mat-divider></mat-divider>
			<div mat-header class="title">Roles</div>
			<mat-list-item *ngFor="let roleAssignment of roleAssignments" role="listitem">
				<mat-icon color="primary" mat-list-icon fontSet="material-icons-outlined">verified_user</mat-icon>
				<h3 matLine [translate]="roleAssignment.label"></h3>
				<p matLine *ngIf="roleAssignment.institution">
					{{roleAssignment.institution.name}}
				</p>
				<p matLine *ngIf="!roleAssignment.institution" [translate]="'auth.roles.LEVEL0'"></p>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
					<div fxLayout="row">
						<mat-icon color="primary" mat-list-icon fontSet="material-icons-outlined">vpn_key</mat-icon>
						<button mat-button color="primary" (click)="updatePassword()">Cambiar mi contraseña</button>
					</div>
			</mat-list-item>
			<mat-list-item *ngIf="twoFactorAuthenticationFFEnabled">
				<mat-icon color="primary" mat-list-icon fontSet="material-icons-outlined">devices</mat-icon>
				<button *ngIf="!twoFactorAuthenticationEnabledForUser else alreadyActivated" mat-button color="primary" (click)="openTwoFactorAuthenticationDialog()">
					{{'profile.two-factor-authentication.ENABLE_2FA' | translate}}
				</button>
				<ng-template #alreadyActivated>
					<button  mat-button color="primary" disabled="true">
						{{'profile.two-factor-authentication.2FA_ALREADY_ACTIVATED' | translate}}
					</button>
				</ng-template>
			</mat-list-item>
		</mat-list>
		<ng-template #loading>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</ng-template>


	</mat-card>
</app-content>
