<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <div mat-dialog-title fxLayout="row">
            <mat-icon fxLayout="column" id="allergies-icon" class="color-warn" fontSet="material-icons-outlined">block
            </mat-icon>
            <div fxLayout="column" class="mat-h2" [translate]="'ambulatoria.paciente.allergies.TITLE'"></div>
        </div>
    </div>
    <button fxLayout="column" fxLayoutAlign="center center" [mat-dialog-close] id="close-modal" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <mat-list role="list">
        <mat-list-item *ngFor="let allergy of data.allergies">
            <span class="capitalize-first-letter">
                {{allergy.snomed.pt}}
            </span>
        </mat-list-item>
    </mat-list>
</div>

