@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/mat-mixins";

form {

	@include mat-form-field-background-white;

	.mat-form-field {
		width: 35%;
	}

	.datepicker-container .mat-form-field {
		width: 90%;
	}

	@media screen and (max-width: 959px) {
		.mat-form-field, .datepicker-container .mat-form-field {
			width: 100%;
		}
	}
}
