@import "../../../../../assets/styles/mixins.scss";

.ranking {
	font-size: 16px;
	font-weight: 500;
}

.percentage {
	font-weight: 800;
	font-size: 18px;
}

.button {
	align-items: center;
	max-width: 50%;
}
#state{
	max-width: 90px;
}
::ng-deep .mat-dialog-container-fusion{
	mat-dialog-container.mat-dialog-container{
		padding: 0px!important;
		overflow-y: hidden;
	}
}
