<mat-card id="card">
	<div id="content-card"  *ngFor="let patient of patientContent;last as isLast">
		<app-card id="patient" [cardContent]="patient">
			<div id="content-patient" gdAreas="id dni gender date" fxLayoutAlign="space-around center" gdGap="16px"
				gdAreas.lt-sm=" id dni | gender date" gdRows.lt-sm="auto auto">

				<div id="id" gdArea="id">
					<span>{{'ambulatoria.card-patient.ID' | translate}} {{ patient.id}}</span>
				</div>

				<div id="dni" gdArea="dni">
					<span> {{'ambulatoria.card-patient.DNI' | translate}} {{patient.dni}}</span>
				</div>

				<div id="gender" gdArea="gender" fxLayout.lt-sm="column">
					<span> {{'ambulatoria.card-patient.GENDER' | translate}}</span>
					<span> {{patient.gender}}</span>
				</div>

				<div  id="date" gdArea="date"  fxLayout.lt-sm="column">
					<span>{{'ambulatoria.card-patient.BIRTHDAY_DATE' | translate}} </span>
					<span>{{patient.date}}</span>
				</div>

			</div>
		</app-card>
		<mat-divider *ngIf="!isLast" insert class="divider"></mat-divider>
	</div>

</mat-card>
