<mat-card id="card">
	<div id="content-card" *ngFor="let patient of patientsToShow;last as isLast">
		<app-card id="patient" [cardContent]="patient.cardModel" [viewCardToAudit]="viewCardToAudit">
			<div fxLayout="row" fxLayout.lt-sm="column">
				<div id="content-patient" fxLayoutAlign="space-around start" fxFlex="100%">
					<div id="id" fxFlex="10%">
						<span>{{'ambulatoria.card-patient.ID' | translate}} {{ patient.cardModel.id}}</span>
					</div>

					<div id="dni" fxFlex="17%">
						<span> {{getIdentificationType(patient?.cardModel.identificationTypeId)}} {{patient.cardModel.dni}}</span>
					</div>

					<div *ngIf="router.url.includes('pacientes/search')" id="gender" fxFlex="15%">
						<span> {{patient.cardModel.gender}}</span>
					</div>

					<div id="date" fxLayout="column" fxFlex="17%">
						<span>{{'ambulatoria.card-patient.BIRTHDAY_DATE' | translate}} </span>
						<span *ngIf="patient.cardModel.date">{{patient.cardModel.date | dateFormat: 'date'}}</span>
					</div>

					<div id="ranking" *ngIf="patient?.cardModel.ranking" fxLayout="column" fxFlex="15%"
						fxLayoutAlign="center center" class="color-green">
						<span class="percentage">{{patient.cardModel.ranking}}% </span>
						<span class="ranking"> {{ 'ambulatoria.card-patient.COINCIDENCE' | translate}}</span>
					</div>

					<div id="state" *ngIf="patient?.cardModel.patientTypeId" fxLayout="column" fxFlex="15%"
						fxLayoutAlign="center center">
						<app-colored-div-patient-state
							[patientTypeId]="patient?.cardModel.patientTypeId"></app-colored-div-patient-state>
					</div>

					<div id="toAudit" fxFlex="10%" *ngIf="patient?.cardModel.auditType !== null" fxLayout="column"
						fxLayoutAlign="center center" fxFlex="10%">
						<mat-icon matTooltip="{{'pacientes.audit.PENDING_TO_AUDIT' | translate}}"
							*ngIf="patient?.cardModel.auditType === TO_AUDIT" class="color-orange">error</mat-icon>
						<span *ngIf="patient?.cardModel.auditType === UNAUDITED">-</span>
						<mat-icon matTooltip="{{'pacientes.audit.AUDITED' | translate}}"
							*ngIf="patient?.cardModel.auditType === AUDITED" class="color-green">check_circle_outline</mat-icon>
					</div>

					<div id="numberOfMergedPatients" *ngIf="patient?.numberOfMergedPatients">
						<span>{{patient.numberOfMergedPatients}} {{'pacientes.audit.MERGERS' | translate}}</span>
					</div>

					<button id="view-button" *ngIf="patient?.cardModel.ranking || patient?.cardModel.auditType && !patient?.numberOfMergedPatients"
						mat-stroked-button color="primary" fxFlex="10%" class="button" (click)="openDialog(patient.cardModel.id)">
						<span>{{ 'ambulatoria.card-patient.VIEW_BUTTON' | translate | uppercase}}</span>
					</button>
				</div>
			</div>
		</app-card>
		<mat-divider *ngIf="!isLast" insert class="divider"></mat-divider>
	</div>

	<mat-divider [hidden]="patientsToShow?.length"></mat-divider>

	<mat-paginator *ngIf="(patientsToShow?.length !== 0)" [length]="patientResultsLength"
		[pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" showFirstLastButtons>
	</mat-paginator>

</mat-card>
