<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="{ title: 'ambulatoria.paciente.counterreference.TITLE' }">
	<div body class="counterreference" fxLayout="column" fxLayoutGap="20px">

		<div id="reference">
			<mat-card fxLayout="column">
				<div class="reference-label" fxLayoutAlign="start">
					<app-reference-state-label></app-reference-state-label>
				</div>
				<div class="primary" *ngFor="let problem of data.reference.problems" fxLayout="row" fxLayoutGap="10px"
					fxFlex="30px">
					<mat-icon color="primary">assignment</mat-icon>
					<span>{{problem}}</span>
				</div>
				<form [formGroup]="formReferenceClosure">
					<mat-form-field appearance="outline" id="specialties-select">
						<mat-label>{{'ambulatoria.paciente.reference-notification.SPECIALTY' | translate }}</mat-label>
						<mat-select #select formControlName="specialty">
							<mat-option *ngFor="let specialty of professionalSpecialties"
								[value]="specialty">{{specialty.name}}</mat-option>
						</mat-select>
						<mat-error translate="forms.REQUIRED"></mat-error>
					</mat-form-field>
				</form>

				<span *ngIf="data.reference.note">“{{data.reference.note}}”</span>

				<div class="primary" *ngFor="let file of data.reference.files" fxLayout="row">
					<mat-icon>attachment_icon</mat-icon>
					<span class="span-clickable" (click)="downloadReferenceFile(file)">
						{{file.fileName}}
					</span>
				</div>

				<div class="grayText" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center"
					fxFlex="50px">
					<span>{{data.reference.professionalFullName}}</span>
					<span>{{data.reference.date | viewDateDto: 'localdatetime' | dateFormat: 'date' }}</span>
				</div>
			</mat-card>
		</div>

		<app-new-consultation-expansion-section id="episode-data" [title]="'ambulatoria.paciente.nueva-consulta.EPISODE_DATA' | translate"
			icon="calendar_today" [isEmpty]="false" [collapsed]="false" [hideBorder]="true">
			<app-episode-data [patientId]="data.patientId" [showSpecialty]="false" (episodeData)="episodeData = $event"></app-episode-data>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="procedures"
			[title]="'ambulatoria.paciente.nueva-consulta.procedimientos.TITLE' | translate" icon="library_add"
			[isEmpty]="procedimientoNuevaConsultaService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">

				<app-titled-content-card *ngIf="!procedimientoNuevaConsultaService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.procedimientos.TABLE_TITLE' }}">
					<app-procedure-list [service]="procedimientoNuevaConsultaService"></app-procedure-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-procedure-button" color="primary" class="add-button"
						(click)="addProcedure()">
						+ {{ 'ambulatoria.paciente.nueva-consulta.procedimientos.buttons.ADD' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-new-consultation-expansion-section id="medications"
			[title]="'ambulatoria.paciente.nueva-consulta.medicaciones.TITLE' | translate" icon="event_available"
			[isEmpty]="medicacionesNuevaConsultaService.isEmpty()">
			<div fxLayout="column" fxLayoutGap="2vh">
				<app-titled-content-card *ngIf="!medicacionesNuevaConsultaService.isEmpty()"
					title="{{ 'ambulatoria.paciente.nueva-consulta.medicaciones.LIST_CARD_TITLE' }}">
					<app-medication-list [service]="medicacionesNuevaConsultaService"></app-medication-list>
				</app-titled-content-card>

				<div>
					<button mat-button type="button" id="add-medication-button" color="primary" class="add-button"
						(click)="addMedication()">
						+ {{ 'ambulatoria.paciente.nueva-consulta.medicaciones.ADD' | translate }}
					</button>
				</div>
			</div>
		</app-new-consultation-expansion-section>

		<app-concepts-list
			[hasConcepts]="!alergiasNuevaConsultaService.isEmpty()"
			[content]="allergyContent"
			(openEmit)="checkAllergyEvent($event)">
			<app-allergy-list [service]="alergiasNuevaConsultaService"></app-allergy-list>
		</app-concepts-list>

		<app-new-consultation-expansion-section id="counterreference"
			[title]="'ambulatoria.paciente.counterreference.REFERENCE_CLOSURE' | translate" icon="forum"
			[isEmpty]="!formReferenceClosure.value.description" [(collapsed)]="collapsedCounterReference">
			<div fxLayout="column">
				<form [formGroup]="formReferenceClosure" class="counterreference-form">
					<mat-form-field appearance="outline">
						<mat-label [translate]="'ambulatoria.paciente.counterreference.CLOSURE_TYPE'">
						</mat-label>
						<mat-select formControlName="closureType">
							<mat-option [value]="closureType"
								*ngFor="let closureType of closureTypes">
								{{ closureType.description }}
							</mat-option>
						</mat-select>
						<mat-error translate="forms.REQUIRED"></mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" >
						<mat-label [translate]="'ambulatoria.paciente.counterreference.PLACEHOLDER_DESCRIPTION'">
						</mat-label>
						<textarea matInput type="text" name="description" formControlName="description"></textarea>
						<mat-error translate="forms.REQUIRED"></mat-error>
					</mat-form-field>
				</form>

				<div id="attach_files" fxLayout="column">
					<div>
						<button mat-button type="button" id="add-request-button" color="primary" class="add-button"
							(click)="fileInput.click()">
							<mat-icon>attachment_icon</mat-icon>
							{{ 'ambulatoria.paciente.nueva-consulta.reference-dialog.UPLOAD_FILES' | translate }}
						</button>
						<span [hidden]="true">
							<input type="file" #fileInput multiple (change)="onSelectFileFormData($event)" />
						</span>
					</div>

					<div *ngIf="selectedFilesShow" class="selected-files">
						<div *ngFor="let fileName of selectedFilesShow; let index = index">
							<span>
								{{fileName}}
							</span>
							<button mat-button color="warn" (click)="removeSelectedFile(index)">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>

		</app-new-consultation-expansion-section>

	</div>
	<div actions id="buttons">
		<div align="end">
			<button class="uppercase" [disabled]="disableConfirmButton" mat-raised-button color="primary" (click)="save()">
				<span [translate]="'ambulatoria.paciente.counterreference.CONFIRM_CLOSURE'"></span>
			</button>
		</div>
	</div>
</app-dock-popup>
