@import "../../../../../../../assets/styles/mat-mixins";

::ng-deep .cdk-overlay-pane {
	app-counterreference-dock-popup {
		width: 100%;
	}
}

::ng-deep .cdk-overlay-pane.dock-popup-overlay {
	background-color: white;
}

.reference-label {
	margin-bottom: 10px;
}

.grayText {
	color: #979797;
}

.reference-description {
	margin-top: 10px;
}

mat-form-field {
	width: 100%;
}

.margin-checkbox {
	margin-bottom: 15px;
}

.icon {
	padding: 20px 0px 20px 10px;
}

.span-clickable {

	span:hover {
		text-decoration: underline;
	}

	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}

.element-light-color {
	color: rgba(0, 0, 0, 0.54);
}

span {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
}

.counterreference-form {
	@include mat-form-field-background-white;
}

.add-button {
	font-size: 16px;
}