.mouth-right-column {
	justify-self: flex-end;
}

.gridGap {
	grid-column-gap: 10px;
	grid-row-gap: 35px;
}

::ng-deep .mat-tooltip {
	white-space: pre-line !important;
	font-size: 12px;
}

.indices {
	margin-top: 3%;
}

.mat-mdc-form-field + .mat-mdc-form-field {
	margin-left: 8px;
  }
  
.ref{

align-items: center;
}

.img{

height: 45px;
width: 45px;
//justify-content: center;
margin:5%;
margin-left: 1%;
 }

// Cambia el color de fondo solo cuando está cerrado
//.dark-panel:not(.mat-expanded) {	background-color: rgb(255, 255, 255);  }


  
.close-color {
	color: grey;
  }