<div style="margin: 40px;" fxLayout="column" fxLayoutGap="15px">


	<div id="actions" *appHasRole="['ESPECIALISTA_EN_ODONTOLOGIA']" fxLayout="row" fxLayoutGap="15px"
		fxLayoutAlign="end">
		<button mat-stroked-button color="primary" class="uppercase" (click)="clearOdontogram()">Restablecer</button>
		<button mat-raised-button color="primary" class="uppercase" (click)="referenceNotificationService.hasReferenceNotification()">Completar
			consulta</button>
	</div>


	<div gdColumns="repeat(2, 1fr)" class="gridGap">
		<div fxLayout="row-reverse" class="mouth-right-column">
			<div *ngFor="let tooth of quadrants?.quadrant1.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant1.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant1.code)"
					matTooltip="Pieza {{quadrants.quadrant1.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>

		</div>
		<div fxLayout="row">
			<div *ngFor="let tooth of quadrants?.quadrant2.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant2.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant2.code)"
					matTooltip="Pieza {{quadrants.quadrant2.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>
		<div fxLayout="row-reverse" class="mouth-right-column">
			<div *ngFor="let tooth of quadrants?.quadrant5.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant5.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant5.code)"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>
		<div fxLayout="row">
			<div *ngFor="let tooth of quadrants?.quadrant6.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant6.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant6.code)"
					matTooltip="Pieza {{quadrants.quadrant6.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>
		<div fxLayout="row-reverse" class="mouth-right-column">
			<div *ngFor="let tooth of quadrants?.quadrant8.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant8.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant8.code)"
					matTooltip="Pieza {{quadrants.quadrant8.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>
		<div fxLayout="row">
			<div *ngFor="let tooth of quadrants?.quadrant7.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant7.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant7.code)"
					matTooltip="Pieza {{quadrants.quadrant7.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>
		<div fxLayout="row-reverse" class="mouth-right-column">
			<div *ngFor="let tooth of quadrants?.quadrant4.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant4.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant4.code)"
					matTooltip="Pieza {{quadrants.quadrant4.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>
		<div fxLayout="row">
			<div *ngFor="let tooth of quadrants?.quadrant3.teeth" fxLayout="column" fxLayoutAlign="center center">
				<span>{{quadrants.quadrant3.code}}{{tooth.code}}</span>
				<app-tooth [toothTreatment]="toothTreatment" (click)="openToothDialog(tooth,quadrants.quadrant3.code)"
					matTooltip="Pieza {{quadrants.quadrant3.code}}{{tooth.code}}" matTooltipClass="multiline-tooltip"
					[findingsAndProcedures]="actionsFrom[tooth.snomed.sctid]"
					[records]="currentDraws[tooth.snomed.sctid]">
				</app-tooth>
			</div>
		</div>

	</div>

	<div *ngIf="(consultationsIndices$ | async ) as consultationsIndices">
		<app-indices *ngIf="consultationsIndices.length" fxLayoutAlign="center" class="indices"
			[consultations]="consultationsIndices"></app-indices>
	</div>

</div>

<mat-divider ngcontent-rqs-c486 role="separator" class="mat-divider mat-divider-horizonal ng-star-inserted" aria-orientation="horizontal" style="margin-bottom: 20px;"></mat-divider>

<mat-accordion>
	<mat-expansion-panel hideToggle>
 
	
  	</mat-expansion-panel>

	
	  <mat-expansion-panel class="dark-panel" 
	  (opened)="panelOpenState = true" (closed)="panelOpenState = false">

	  <mat-expansion-panel-header >

		<mat-panel-title [ngClass]="panelOpenState ? 'open-color' : 'close-color'">
			Consulta de Referencias
		</mat-panel-title>
		
		<mat-panel-title>
		</mat-panel-title>

	  </mat-expansion-panel-header>
	  
	  
	<!--tabla-->


	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<!--- Note that these columns can be defined in any order.
			The actual rendered columns are set as a property on the row definition" -->
	
		<!-- Position Column -->
	
		<ng-container matColumnDef="grafic">
			<th mat-header-cell *matHeaderCellDef> Representación gráfica </th>
			<td mat-cell *matCellDef="let element">
			<img class= "img" mat-card-image [src]="element.grafic" alt="ref">

			</td>
			
		</ng-container>
		
		
		<!-- Name Column -->
		<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Definición habitual</th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>
	

		<!-- Weight Column -->
		<ng-container matColumnDef="weight">
		<th mat-header-cell *matHeaderCellDef> Hallazgo </th>
		<td mat-cell *matCellDef="let element"> {{element.weight}} </td>
		</ng-container>
	
		<!-- Symbol Column -->
		<ng-container matColumnDef="symbol">
		<th mat-header-cell *matHeaderCellDef> Procedimiento</th>
		<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

	</table>

  	</mat-expansion-panel>
</mat-accordion>