.mouth-right-column {
	justify-self: flex-end;
}

.gridGap {
	grid-column-gap: 10px;
	grid-row-gap: 35px;
}

::ng-deep .mat-tooltip {
	white-space: pre-line !important;
	font-size: 12px;
}

.indices {
	margin-top: 3%;
}
