@import "../../../../../assets/styles/mixins";

mat-card.mat-card {
	@include card-centered;
	width: 420px;
	height: 318px;
	button {
		width: 100%;
	}
	mat-form-field {
		width: 100%;
	}
}

.mat-icon {
	font-size: 120px;
}

.text{
	text-align: center;
}

.content {
	margin: 23vh auto;
    height: 28vh;
    width: 47vh;
}
