.item-container {
    margin-bottom: 25px;
}

.item-information {
    margin: 15px 0;
}

.gray {
    color: gray;
}

.mb-1 {
    margin-bottom: 1rem;
}

h3#prescriptionItemName {
    font-weight: 500;
}