.derivation {
    padding: 12px;
    background: #FFF6ED;
    border-radius: 5px;
    border: 1px solid #B1B1B1;
}

.derivation-sections {
    margin-bottom: 10px;
}

.title-icon {
    margin-right: 5px;
}

.derivation-form-title {
    font-weight: 500;
    font-size: 16px;
}