.derivation {
    padding: 12px;
    background: #FFF6ED;
    border-radius: 5px;
    border: 1px solid #B1B1B1;
}

.derivation-sections {
    margin-bottom: 10px;
}

.title-icon {
    color: #FF8A00;
    margin-right: 5px;
}

.bold {
    font-weight: 500;
}