<app-summary-card [header]="mainDiagnosticosSummary">
	<mat-list *ngIf="(mainDiagnosis$ | async) as mainDiagnosis else noInfo">
		<mat-list-item>
			<span class="capitalize-first-letter">
				{{ mainDiagnosis.snomed.pt }}
			</span>			
			<ng-container *ngIf="editable">
				<button mat-icon-button color="primary" (click)="goToClinicalEvaluation(mainDiagnosis.id)">
					<mat-icon fontSet="material-icons-outlined">note_add</mat-icon>
				</button>
			</ng-container>
		</mat-list-item>
	</mat-list>
	<ng-template #noInfo>
		<app-no-data></app-no-data>
	</ng-template>
</app-summary-card>
