mat-divider.mat-divider-horizontal.mat-divider-inset.separation {
    margin: 10px 0;
}

.form-title {
    font-weight: 500;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}