<div class="container">

	<div class="pharmaco-container">
		<app-title-description *ngIf="pharmacoDetail.pt"
			[title]="'pharmaco-detail.PHARMACO'"
			[text]="pharmacoDetail.pt">
		</app-title-description>

		<div class="buttons" *ngIf="showButtons">
			<button mat-icon-button color="primary" (click)="emitEdit()" [disabled]="disabled">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="warn" (click)="emitDelete()" [disabled]="disabled">
				<mat-icon>delete_outline</mat-icon>
			</button>
		</div>
	</div>

	<app-title-description *ngIf="pharmacoDetail.commercialPt"
		[title]="'pharmaco-detail.SUGGESTED_COMMERCIAL'"
		[text]="pharmacoDetail.commercialPt">
	</app-title-description>

    <div class="grouped-info">
        <app-title-description *ngIf="pharmacoDetail.unitDose"
            [title]="pharmacoDetail.titles.unitDose"
            [text]="pharmacoDetail.unitDose">
        </app-title-description>

        <app-title-description *ngIf="pharmacoDetail.dayDose"
            [title]="pharmacoDetail.titles.dayDose"
            [text]="pharmacoDetail.dayDose">
        </app-title-description>

        <app-title-description *ngIf="pharmacoDetail.treatmentDays"
            [title]="'pharmaco-detail.TREATMENT_DAYS'"
            [text]="pharmacoDetail.treatmentDays">
        </app-title-description>

        <app-title-description *ngIf="pharmacoDetail.quantity"
            [title]="pharmacoDetail.titles.quantity"
            [text]="pharmacoDetail.quantity">
        </app-title-description>
    </div>

	<app-title-description *ngIf="pharmacoDetail.interval"
		[title]="'pharmaco-detail.INTERVAL'"
		[text]="pharmacoDetail.interval | translate">
	</app-title-description>

	<div class="grouped-info" *ngIf="pharmacoDetail.commercialMedicationPrescription">
        <app-title-description
            [title]="'pharmaco-detail.PRESENTATION'"
            [text]="pharmacoDetail.commercialMedicationPrescription.presentationUnitQuantity + ' unidades'">
        </app-title-description>

        <app-title-description
            [title]="'pharmaco-detail.MEDICATION_PACK'"
            [text]="pharmacoDetail.commercialMedicationPrescription.medicationPackQuantity">
        </app-title-description>
    </div>

	<app-identifier-cases *ngIf="pharmacoDetail.healthProblem"
		[identifierCase]="identiferCases.PROBLEM"
        [description]="pharmacoDetail.healthProblem">
    </app-identifier-cases>

	<app-title-description *ngIf="pharmacoDetail.observations"
		[title]="'pharmaco-detail.OBSERVATIONS'"
		[text]="pharmacoDetail.observations">
	</app-title-description>
</div>
