.grouped-info {
    display: flex;
    gap: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.pharmaco-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.buttons {
		display: flex;
		gap: 0.5rem;
	}
}
