mat-card {
	width: 420px;
}

mat-card-header {
	text-align: center;

	mat-card-subtitle {
		width: 292px;
		padding-top: 10px;
	}
}

.api-error {
	color: #f44336;
	font-size: 75%;
	font-weight: 400;
	line-height: 1.125;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	letter-spacing: normal;
	margin: -28px 0 0 5px;
}

button {
	 margin-left: 8px;
	 margin-right: 8px;
}

.validation {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.125;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	letter-spacing: normal;
	margin: -20px 15px 0 0;

	.text-error {
		color: #BDBDBD;
	}

	.text-valid {
		color: #27AE60;
	}
}

mat-icon {
	font-size: 14px;
	height: 14px;
	width: 14px;
	margin-right: 4px;
}
