<app-content>
	<form [formGroup]="form">
		<div fxLayout="column" fxLayoutAlign="center center" >
		<mat-card>
			<mat-card-header  fxLayout="row" fxLayoutAlign="center center">
				<mat-card-title >
					<span>Cambio de contraseña</span>
				</mat-card-title>
				<mat-card-subtitle>
					<span>Para cambiar su contraseña por favor ingrese su contraseña actual y su nueva contraseña.</span>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content fxLayout="column" fxLayoutGap="12px">
					<mat-form-field [floatLabel]="'never'" appearance="outline"  (click)="updateValidation()">
						<mat-label>Contraseña actual</mat-label>
						<input formControlName="password"
							   [type]="hidePassword ? 'password' : 'text'"
							   matInput>
						<mat-icon matSuffix color="primary" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
						<mat-error>
							<span>Contraseña incorrecta</span>
						</mat-error>
					</mat-form-field>
				<div class="api-error" *ngIf="!!apiError">
					<span>Contraseña incorrecta</span>
				</div>
					<mat-form-field [floatLabel]="'never'" appearance="outline">
						<mat-label>Nueva contraseña</mat-label>
						<input formControlName="newPassword"
							   [type]="hideNewPassword ? 'password' : 'text'"
							   matInput>
						<mat-icon matSuffix color="primary" (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>
				<div class="validation" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
					<div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
						<span fxLayoutAlign="center" [ngClass]="{ 'text-error': this.form.controls['newPassword'].hasError('minlength') || this.form.controls['newPassword'].hasError('required'),
						'text-valid': !this.form.controls['newPassword'].hasError('minlength') && !this.form.controls['newPassword'].hasError('required')}">
							<mat-icon class="material-icons-outlined">check_circle</mat-icon>
							<span translate="auth.access-data-reset.form.ERROR_MINLENGTH"></span>
						</span>
						<span fxLayoutAlign="center" [ngClass]="{ 'text-error': this.form.controls['newPassword'].hasError('mayus') || this.form.controls['newPassword'].hasError('required'),
						'text-valid': !this.form.controls['newPassword'].hasError('mayus') && !this.form.controls['newPassword'].hasError('required')}">
							<mat-icon class="material-icons-outlined">check_circle</mat-icon>
							<span translate="auth.access-data-reset.form.ERROR_UPPERCASE"></span>
						</span>
						<span fxLayoutAlign="center" [ngClass]="{ 'text-error': this.form.controls['newPassword'].hasError('min') || this.form.controls['newPassword'].hasError('required'),
						'text-valid': !this.form.controls['newPassword'].hasError('min') && !this.form.controls['newPassword'].hasError('required')}">
							<mat-icon class="material-icons-outlined">check_circle</mat-icon>
							<span translate="auth.access-data-reset.form.ERROR_LOWERCASE"></span>
						</span>
					</div>
					<span [ngClass]="{ 'text-error': this.form.controls['newPassword'].hasError('number') || this.form.controls['newPassword'].hasError('required'),
					'text-valid': !this.form.controls['newPassword'].hasError('number') && !this.form.controls['newPassword'].hasError('required')}">
						<mat-icon class="material-icons-outlined">check_circle</mat-icon>
						<span translate="auth.access-data-reset.form.ERROR_NUMBER"></span>
					</span>
				</div>
			</mat-card-content>
			<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="17px">
			<mat-card-actions>
				<button mat-stroked-button (click)="cancel()" color="primary">CANCELAR</button>
			</mat-card-actions>
			<mat-card-actions>
				<button mat-flat-button (click)="submit()" color="primary">CONFIRMAR</button>
			</mat-card-actions>
			</div>
		</mat-card>
		</div>
	</form>
</app-content>
