<section class="worklist-section">
    <mat-card class="main-card">
        <h2 class="page-title">{{'image-network.worklist.WORKLIST_BY_INFORMER' | translate }}</h2>
        <form [formGroup]="filterForm" name="modalities-form" fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div data-id="modality-filter">
                    <mat-form-field appearance="outline">
                        <mat-label [translate]="'image-network.worklist.MODALITIES'"></mat-label>
                        <mat-select id="modalities" (selectionChange)="selectModality($event)" fxFlex="98%"
                            formControlName="modalities">
                            <mat-option *ngFor="let modality of modalities$ | async" [value]="modality.id">
                                {{modality.description}}
                            </mat-option>
                        </mat-select>
                        <button *ngIf="filterForm.value.modalities"  matSuffix color="warn" mat-icon-button
                            (click)="cleanModalities(); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div data-id="date-filter">
                    <mat-form-field appearance="outline">
                        <mat-label [translate]="'image-network.worklist.DATE_RANGE'"></mat-label>
                        <mat-date-range-input
                            [min]="dateRangeMin"
                            [max]="dateRangeMax"
                            [formGroup]="dateRangeForm"
                            [rangePicker]="picker">
                            <input matStartDate placeholder="{{ 'image-network.worklist.START_DATE' | translate }}" formControlName="start" (dateChange)="setWorkList()">
                            <input matEndDate placeholder="{{ 'image-network.worklist.END_DATE' | translate }}" formControlName="end" (dateChange)="setWorkList()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>

                <div style="height: 50px;">
                    <app-filter-button (isExpandedEmitter)="toggleFilter($event)"></app-filter-button>
                </div>
            </div>
            <div *ngIf="isFilterExpanded" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'image-network.worklist.PATIENT_NAME'"></mat-label>
                    <input matInput formControlName="patientName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'image-network.worklist.PATIENT_DOCUMENT'"></mat-label>
                    <input matInput formControlName="patientDocument">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'image-network.worklist.INSTITUTION'"></mat-label>
                    <input matInput formControlName="institution">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'image-network.worklist.STATUS'"></mat-label>
                    <mat-select id="status"
                        formControlName="status">
                        <mat-option *ngFor="let status of statuses$ | async" [value]="status.id">
                            {{status.description}}
                        </mat-option>
                    </mat-select>
                    <button *ngIf="filterForm.value.status"  matSuffix color="warn" mat-icon-button
                        (click)="cleanStatuses(); $event.stopPropagation()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
        <mat-card class="worklist-card">
            <mat-list class="mat-form-field-wrapper" *ngIf="workListsFiltered.length else noInfo">
                <div *ngFor="let worklist of pageSlice" fxLayout="column">
                    <mat-list-item class="appointment-detail">
                        <div data-id="study-card" fxFlex="100" fxLayout.lt-md="column" fxLayoutAlign="space-between center" style="gap: 10px;">
                            <app-worklist fxLayout="row" fxLayoutAlign="space-between end" fxFlex fxLayoutGap="10px" [worklist]="worklist">
                            </app-worklist>

                            <button id="complete_study" class="btn"
                                *ngIf="worklist.state.id == PENDING else studyCompleted" mat-flat-button color="primary"
                                mat-button (click)="goToDetails(worklist.appointmentId)">
                                {{ 'image-network.worklist.FINISH' | translate | uppercase }}
                            </button>
                            <ng-template #studyCompleted>
                                <button id="view_details" class="btn" *ngIf="worklist.state.id == COMPLETED"
                                    mat-stroked-button color="primary" mat-button
                                    (click)="goToDetails(worklist.appointmentId)">
                                    {{ 'image-network.worklist.VIEW_DETAILS' | translate | uppercase }}
                                </button>
                            </ng-template>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
            <ng-template #noInfo>
                <app-no-data></app-no-data>
            </ng-template>
            <mat-paginator #paginator *ngIf="(workListsFiltered.length !== 0)" [length]="workListsFiltered.length"
                        [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
            </mat-paginator>
        </mat-card>
    </mat-card>
</section>
