.tabs {
	font-size: 14px;
}

.form-search {
	padding: 20px;
}

.gender {
	padding-bottom: 20px;
}

.results {
	padding: 20px;
	background-color: #f3efef8e;
}

.patient-cards {
	padding-top: 10px;
}

.patient-card {
	width: 100%;
}

.genders {
	padding-top: 8px;
}
