<div mat-dialog-title>
	<span translate="pacientes.search_patient.SEARCH_PATIENT"></span>
</div>

<mat-tab-group class="tabs" (selectedTabChange)="clearResults()">
	<mat-tab label="{{'pacientes.search_patient.PROVES_IDENTITY' | translate | uppercase}}">
		<div fxLayout="row">
			<form [formGroup]="formSearch" (ngSubmit)="search()" class="form-search">
				<div fxLayout="column">
					<mat-form-field appearance="outline">
						<mat-label translate="pacientes.search_patient.forms.IDENTIF_TYPE"></mat-label>
						<mat-select formControlName="identificationType">
							<mat-option id="identificationType" name="identificationType"
								*ngFor="let type of ( identificationTypes$ | async )" [value]="type.id">
								{{type.description}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError(formSearch, 'required', 'identificationType')">
							<span translate="forms.REQUIRED"></span>
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label translate="pacientes.search_patient.forms.IDENTIFICATION_NUMBER"></mat-label>
						<input matInput type="text" id="identificationNumber" name="identificationNumber"
							formControlName="identificationNumber"
							placeholder="{{'pacientes.search_patient.forms.IDENTIFICATION_NUMBER' | translate }}">
						<mat-error *ngIf="hasError(formSearch, 'required', 'identificationNumber')">
							<span translate="forms.REQUIRED"></span>
						</mat-error>
					</mat-form-field>

					<div class="gender">
						<span translate="pacientes.search_patient.forms.GENDER"></span>
						<div class="genders">
							<mat-radio-group fxLayoutGap="10px" name="gender" id="gender" formControlName="gender">
								<mat-radio-button id="gender_button_{{gender.id}}"
									*ngFor="let gender of ( genders$ | async )" [value]="gender.id">
									{{gender.description}}
								</mat-radio-button>
								<mat-error *ngIf=" isFormSubmitted && hasError(formSearch, 'required', 'gender') ">
									<span translate="forms.REQUIRED"></span>
								</mat-error>
							</mat-radio-group>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
					<button mat-stroked-button color="primary" type="reset" (click)="clearResults()" class="uppercase"
						translate="buttons.RESET"></button>
					<button mat-raised-button color="primary">
						<span class="uppercase" [translate]="'buttons.SEARCH'"></span>
					</button>
				</div>
			</form>

			<div class="results" fxFlex=100%>
				<span translate="pacientes.search_patient.SELECT_PATIENT"></span>
				<div *ngIf="cardPatient" class="patient-cards">
					<app-patient-card [patient]="cardPatient.basicData" [personPhoto]="cardPatient.photo" size="small"
						(click)="selectPatient()">
					</app-patient-card>
				</div>
			</div>
		</div>
	</mat-tab>

	<mat-tab label="{{'pacientes.search_patient.PATIENT_ID' | translate | uppercase}}">
		<div fxLayout="row">
			<form [formGroup]="formSearchById" (ngSubmit)="searchById()" class="form-search">
				<mat-form-field appearance="outline">
					<input matInput type="number" id="patientId" name="patientId" formControlName="id"
						placeholder="{{ 'pacientes.search_patient.forms.PATIENT_ID' | translate}}">
					<mat-error *ngIf="hasError(formSearchById, 'required', 'id')">
						<span translate="forms.REQUIRED"></span>
					</mat-error>
					<mat-error *ngIf="hasError(formSearchById, 'min', 'id')" [translate]="'forms.MIN_ERROR'"
							   [translateParams]="{min: getError(formSearchById, 'min', 'id').min}"></mat-error>
				</mat-form-field>
				<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
					<button mat-stroked-button color="primary" type="reset" (click)="clearResults()" class="uppercase"
						translate="buttons.RESET"></button>
					<button mat-raised-button color="primary">
						<span class="uppercase" [translate]="'buttons.SEARCH'"></span>
					</button>
				</div>
			</form>

			<div class="results" fxFlex=100%>
				<span translate="pacientes.search_patient.SELECT_PATIENT"></span>
				<div *ngIf="cardPatient" class="patient-cards">
					<app-patient-card [patient]="cardPatient.basicData" [personPhoto]="cardPatient.photo" size="small"
						(click)="selectPatient()">
					</app-patient-card>
				</div>
			</div>
		</div>

	</mat-tab>
</mat-tab-group>
