<app-content >

	<h1>{{ 'guardia.episode.medical_discharge.TITLE' | translate}}</h1>
	<mat-card class="container" fxLayout="column" fxLayoutGap="32px">

		<app-patient-summary *ngIf="patientSummary" [person]="patientSummary"></app-patient-summary>

		<mat-divider inset></mat-divider>

		<form [formGroup]="form" (submit)="confirm()" fxLayout="column" fxLayoutGap="24px">

			<div formGroupName="dateTime" fxLayout="row" fxLayoutGap="24px">
				<app-datepicker [title]="'guardia.episode.medical_discharge.form.DATE' | translate" id="date" [minDate]="episodeCreatedOn"
					[maxDate]="today" [dateToSetInDatepicker]="today" (selectDate)="dischargedDateChanged($event)">
				</app-datepicker>

				<div appearance="outline">
					<app-time-picker id="time" [timePickerData]="timePickerData" (timeSelected)="dischargedTimeChanged($event)"></app-time-picker>
					<mat-error *ngIf="hasError(form.get('dateTime'), 'required', 'time')">{{ "forms.REQUIRED" | translate }}</mat-error>
					<mat-error *ngIf="hasError(form.get('dateTime'), 'futureTime', 'time')">{{ "forms.MAX_TIME_ERROR" | translate }}</mat-error>
					<mat-error *ngIf="hasError(form.get('dateTime'), 'beforeTime', 'time')">{{ "guardia.episode.medical_discharge.form.INVALID_TIME" | translate }}</mat-error>
				</div>
			</div>
			<ng-container *ngIf="!isNurse else nursingSection">
				<div fxLayout="column" fxLayoutGap="16px">
					<strong><mat-label translate="guardia.episode.medical_discharge.problems.TITLE"></mat-label></strong>
					<div fxLayout="column" fxLayoutGap="8px">
						<div *ngFor="let problem of problems$ | async">
							<mat-checkbox color="primary" [checked]="selectedProblems.has(problem.id)" [disabled]="checkIfShouldDisable(problem)" (change)="toggleSelection(problem)">
								{{ problem.snomed.pt }} | {{ problem | problemStatus | translate }}
								{{ problem.main ? ("guardia.episode.medical_discharge.problems.MAIN" | translate) : "" }}
							</mat-checkbox>
						</div>
					</div>
				</div>

				<app-medical-discharge-types [form]="form">
				</app-medical-discharge-types>

			</ng-container>

		<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="flex-end">
			<button mat-stroked-button class="uppercase" type="button" (click)="goToEpisodeDetails()">
				<span translate="buttons.BACK"></span>
			</button>
			<button mat-raised-button [disabled]="isLoading" class="uppercase" color="primary">
				<span translate="buttons.CONFIRM"></span>
			</button>
		</div>

	</form>
</mat-card>

</app-content>

<ng-template #nursingSection>
	<app-medical-discharge-by-nurse
		(medicalDischargeByNurse)="setMedicalDischargeByNurse($event)">
	</app-medical-discharge-by-nurse>
</ng-template>
