
@import '../../../../../../../assets/styles/mat-mixins';
@import '../../../../../../../assets/styles/mixins';
form{
	@include mat-form-field-background-white;
	mat-radio-button {
		@include form-radio-button;
	}
}

#container {
    padding: 24px;
}

.radio-buttons {
    margin-left: 0 !important;
}

mat-card {
	max-width: 704px;
}
