<app-content>

	<h1>{{ 'guardia.episode.medical_discharge.TITLE' | translate}}</h1>
	<form [formGroup]="form" (submit)="confirm()">

		<div fxLayout="row" fxLayoutGap="5px" formGroupName="dateTime">
			<mat-form-field appearance="outline">
				<input formControlName="date" id="date" matInput [matDatepicker]="datePicker" [min]="episodeCreatedOn" [max]="today"
					placeholder="{{'guardia.episode.medical_discharge.form.DATE' | translate}}">
				<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
				<mat-datepicker #datePicker></mat-datepicker>
				<mat-error *ngIf="hasError(form.get('dateTime'), 'required', 'date') else invalidDate" translate="forms.REQUIRED"></mat-error>
				<ng-template #invalidDate>
					<mat-error translate="guardia.episode.medical_discharge.form.INVALID_DATE"></mat-error>
				</ng-template>

			</mat-form-field>


			<mat-form-field appearance="outline">
				<input matInput id="time" type="text" formControlName="time" pattern="{{TIME_PATTERN}}"
					placeholder="{{'guardia.episode.medical_discharge.form.TIME' | translate}}">
				<mat-error *ngIf="hasError(form.get('dateTime'), 'pattern', 'time')" translate="forms.TIME_FORMAT">
				</mat-error>
				<mat-error *ngIf="hasError(form.get('dateTime'), 'required', 'time')" translate="forms.REQUIRED">
				</mat-error>
				<mat-error *ngIf="hasError(form.get('dateTime'), 'futureTime', 'time')" translate="forms.MAX_TIME_ERROR"></mat-error>
				<mat-error *ngIf="hasError(form.get('dateTime'), 'beforeTime', 'time')" translate="guardia.episode.medical_discharge.form.INVALID_TIME">
				</mat-error>
			</mat-form-field>
		</div>

		<div id="problemas" style="padding-bottom: 15px">
			<app-new-document-section sectionTitle="guardia.episode.medical_discharge.problems.TITLE">
				<div concept-form>
					<app-concepts-search *ngIf="!problemasService.getSnomedConcept() else problemaForm"
						[label]="'guardia.episode.medical_discharge.problems.CONCEPT_LABEL'"
						(search)="problemasService.openSearchDialog($event)">
					</app-concepts-search>
				</div>

				<ng-template #problemaForm>
					<form [formGroup]="problemasService.getForm()" (ngSubmit)="problemasService.addToList()"
						fxLayout="column">

						<mat-form-field appearance="outline">
							<mat-label translate="guardia.episode.medical_discharge.problems.CONCEPT_LABEL">
							</mat-label>
							<input id="snomed-input" matInput type="text" formControlName="snomed" name="snomed"
								readonly matTooltip="{{ problemasService.getSnomedConcept().pt }}">
							<button id="clear" mat-button matSuffix color="warn" mat-icon-button
								(click)="problemasService.resetForm()">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.nueva-consulta.problemas.SEVERIDAD'">
							</mat-label>
							<mat-select id="severity-select" formControlName="severidad">
								<mat-option *ngFor="let severityType of severityTypes" [value]="severityType.code">
									{{severityType.display}}
								</mat-option>
							</mat-select>
							<mat-error translate="forms.REQUIRED"></mat-error>
						</mat-form-field>

						<mat-checkbox id="cronico-checkbox" formControlName="cronico">
							<span translate="guardia.episode.medical_discharge.problems.CRONICO"></span>
						</mat-checkbox>

						<mat-form-field appearance="outline">
							<mat-label translate="guardia.episode.medical_discharge.problems.FECHA_INICIO">
							</mat-label>
							<input matInput id="fecha_inicio" [matDatepicker]="inicioDatePicker"
								formControlName="fechaInicio" [min]="minDate" [max]="problemasService.getFechaInicioMax()"
								(dateChange)="problemasService.checkValidFechaFin()">
							<mat-datepicker-toggle matSuffix [for]="inicioDatePicker"></mat-datepicker-toggle>
							<mat-datepicker #inicioDatePicker></mat-datepicker>
							<mat-error *ngIf="problemasService.hasError('required', 'fechaInicio')"
								translate="forms.REQUIRED">
							</mat-error>
							<mat-error *ngIf="problemasService.hasError('matDatepickerMax', 'fechaInicio')"
								translate="forms.MAX_DATE_TODAY">
							</mat-error>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label translate="guardia.episode.medical_discharge.problems.FECHA_FIN">
							</mat-label>
							<input matInput id="fecha_fin" [matDatepicker]="finDatePicker" formControlName="fechaFin"
								[max]="today" (dateChange)="problemasService.checkValidFechaFin()">
							<mat-datepicker-toggle matSuffix [for]="finDatePicker"></mat-datepicker-toggle>
							<mat-datepicker #finDatePicker></mat-datepicker>
							<mat-error *ngIf="problemasService.hasError('min', 'fechaFin')"
								translate="guardia.episode.medical_discharge.problems.errors.FECHA_FIN_MIN">
							</mat-error>
							<mat-error *ngIf="problemasService.hasError('matDatepickerMax', 'fechaFin')"
								translate="forms.MAX_DATE_TODAY">
							</mat-error>
						</mat-form-field>

						<div align="end">
							<button id="submit_problema" class="uppercase" mat-raised-button color="primary"
								type="submit">
								<span translate="guardia.episode.medical_discharge.problems.buttons.ADD"></span>
							</button>
						</div>

					</form>
				</ng-template>

				<app-document-section-table data-display tableTitle="guardia.episode.medical_discharge.problems.TABLE_TITLE"
											[columns]="problemasService.getColumns()"
											[data]="problemasService.getProblemas()">
				</app-document-section-table>
			</app-new-document-section>
		</div>

		<div fxLayout="column" fxLayoutGap="6px">
			<mat-label translate="guardia.episode.medical_discharge.form.AUTOPSY"></mat-label>
			<mat-radio-group name="autopsy" id="autopsy" formControlName="autopsy" fxLayoutGap="20px">
				<mat-radio-button id="autopsy" [value]="true">
					<span translate="forms.YES"></span>
				</mat-radio-button>
				<mat-radio-button id="notAutopsy" [value]="false">
					<span translate="forms.NO"></span>
				</mat-radio-button>
			</mat-radio-group>
		</div>

		<div fxLayout="column">
			<mat-label style="margin-top: 15px;">{{ 'guardia.episode.medical_discharge.form.DISCHARGE_TYPE' |
				translate}}</mat-label>
			<mat-form-field appearance="outline">
				<mat-label translate="guardia.episode.medical_discharge.form.DISCHARGE_TYPE"></mat-label>
				<mat-select formControlName="dischargeTypeId" name="dischargeTypeId">
					<mat-option *ngFor="let dischargeType of ( dischargeTypes$ | async )" [value]="dischargeType.id">
						{{dischargeType.description}}
					</mat-option>
				</mat-select>
				<mat-error translate="forms.REQUIRED"></mat-error>
			</mat-form-field>
		</div>

		<mat-card *ngIf="formSubmited && problemasService.getProblemas().length === 0">
			<mat-error class="mat-body-2">{{ 'guardia.episode.medical_discharge.REQUIRED_PROBLEM' | translate }}
			</mat-error>
		</mat-card>

		<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5px;">
			<button mat-stroked-button class="uppercase" type="button" (click)="goToEpisodeDetails()">
				<span translate="buttons.BACK"></span>
			</button>
			<button mat-raised-button class="uppercase" color="primary">
				<span translate="buttons.CONFIRM"></span>
			</button>
		</div>
	</form>

</app-content>
