<app-content >

	<h1>{{ 'guardia.episode.medical_discharge.TITLE' | translate}}</h1>
	<mat-card class="container" fxLayout="column" fxLayoutGap="32px">

		<app-patient-summary *ngIf="patientSummary" [person]="patientSummary"></app-patient-summary>

		<mat-divider inset></mat-divider>

		<form [formGroup]="form" (submit)="confirm()" fxLayout="column" fxLayoutGap="24px">

			<div formGroupName="dateTime" fxLayout="row" fxLayoutGap="24px">
				<app-datepicker [title]="'guardia.episode.medical_discharge.form.DATE' | translate" id="date" [minDate]="episodeCreatedOn"
					[maxDate]="today" [dateToSetInDatepicker]="today" (selectDate)="dischargedDateChanged($event)">
				</app-datepicker>

				<div appearance="outline">
					<app-time-picker id="time" [timePickerData]="timePickerData" (timeSelected)="dischargedTimeChanged($event)"></app-time-picker>
					<mat-error *ngIf="hasError(form.get('dateTime'), 'required', 'time')">{{ "forms.REQUIRED" | translate }}</mat-error>
					<mat-error *ngIf="hasError(form.get('dateTime'), 'futureTime', 'time')">{{ "forms.MAX_TIME_ERROR" | translate }}</mat-error>
					<mat-error *ngIf="hasError(form.get('dateTime'), 'beforeTime', 'time')">{{ "guardia.episode.medical_discharge.form.INVALID_TIME" | translate }}</mat-error>
				</div>
			</div>
			<ng-container *ngIf="!isNurse else nursingSection">
				<div fxLayout="column" fxLayoutGap="16px">
					<strong><mat-label translate="guardia.episode.medical_discharge.problems.TITLE"></mat-label></strong>
					<div fxLayout="column" fxLayoutGap="8px">
						<div *ngFor="let problem of problems$ | async">
							<mat-checkbox color="primary" [checked]="selectedProblems.has(problem.id)" [disabled]="checkIfShouldDisable(problem)" (change)="toggleSelection(problem)">
								{{ problem.snomed.pt }} |
								{{ problem.presumptive ? ("guardia.episode.medical_discharge.problems.PRESUMPTIVE" | translate) : ("guardia.episode.medical_discharge.problems.CONFIRMED" | translate) }}
								{{ problem.main ? ("guardia.episode.medical_discharge.problems.MAIN" | translate) : "" }}
							</mat-checkbox>
						</div>
					</div>
				</div>

				<div fxLayout="column" fxLayoutGap="16px">
				
					<strong><mat-label translate="guardia.episode.medical_discharge.form.DISCHARGE_TYPE"></mat-label></strong>

					<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="48px">

						<div fxLayout="column">
							<mat-radio-group class="radio-buttons" formControlName="dischargeTypeId" name="dischargeTypeId">
								<div *ngFor="let dischargeType of (dischargeTypes$ | async); let i = index" [ngClass]="{'second-column': i >= 8}">
									<mat-radio-button *ngIf="i < 8" [value]="dischargeType.id" color="primary" class="radio-buttons">
										{{ dischargeType.description }}
									</mat-radio-button>
								</div>
							</mat-radio-group>

							<div *ngIf="form.value.dischargeTypeId == dischargeTypesEnum.DEFUNCION">
								<div fxLayout="column" fxLayoutGap="8px">
									<strong><mat-label translate="guardia.episode.medical_discharge.form.AUTOPSY"></mat-label></strong>
									<mat-form-field appearance="outline">
										<mat-select formControlName="autopsy" placeholder="{{'guardia.episode.medical_discharge.form.SELECT_AUTOPSY' | translate }}">
											<mat-option [value]="true">
												<span translate="forms.YES"></span>
											</mat-option>
											<mat-option [value]="false">
												<span translate="forms.NO"></span>
											</mat-option>
										</mat-select>
										<mat-error *ngIf="hasError(form, 'required', 'autopsy')">{{ "forms.REQUIRED" | translate }}</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>

						<div fxLayout="column">
							<mat-radio-group formControlName="dischargeTypeId" name="dischargeTypeId">
								<div *ngFor="let dischargeType of (dischargeTypes$ | async); let i = index">
									<mat-radio-button *ngIf="i >= 8" [value]="dischargeType.id" color="primary" class="radio-buttons">
										{{ dischargeType.description }}
									</mat-radio-button>
								</div>
							</mat-radio-group>
							<div *ngIf="form.value.dischargeTypeId == dischargeTypesEnum.OTRO">
								<mat-form-field appearance="outline">
									<textarea formControlName="otherDischargeDescription"
										placeholder="{{'guardia.episode.medical_discharge.form.DISCHARGE_TYPE_INPUT' | translate }}"
										rows="4" matInput type="text">
									</textarea>
									<mat-error *ngIf="hasError(form, 'required', 'otherDischargeDescription') ||
													hasError(form, 'whitespace', 'otherDischargeDescription')">{{ "forms.REQUIRED" | translate }}</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
				
				</div>
			</ng-container>

		<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="flex-end">
			<button mat-stroked-button class="uppercase" type="button" (click)="goToEpisodeDetails()">
				<span translate="buttons.BACK"></span>
			</button>
			<button mat-raised-button [disabled]="isLoading" class="uppercase" color="primary">
				<span translate="buttons.CONFIRM"></span>
			</button>
		</div>

	</form>
</mat-card>

</app-content>

<ng-template #nursingSection>
	<app-medical-discharge-by-nurse
		(medicalDischargeByNurse)="setMedicalDischargeByNurse($event)">
	</app-medical-discharge-by-nurse>
</ng-template>