<ng-container [ngSwitch]="uiComponent.type">
	<div *ngSwitchCase="'columns'">
		<app-ui-component-list [list]="uiComponent.args.content" class="columns"></app-ui-component-list>
	</div>
	<div *ngSwitchCase="'typography'" >
		<span [ngClass]="'mat-' + uiComponent.args.className">
			{{uiComponent.args.value}}
		</span>
	</div>
	<div *ngSwitchCase="'link'">
		<a mat-raised-button color="primary" [href]="uiComponent.args.value" target="_blank">
			<ng-container *ngIf="uiComponent.args.label">
				<span *ngIf="uiComponent.args.label.key" [translate]="uiComponent.args.label.key"></span>
				<span *ngIf="uiComponent.args.label.text">{{uiComponent.args.label.text}}</span>
			</ng-container>
		</a>
	</div>
	<div *ngSwitchCase="'cubejs-dashboard'">
		<app-cubejs-dashboard
			[content]="uiComponent.args.content"
		>
		</app-cubejs-dashboard>
	</div>
	<div *ngSwitchCase="'cubejs-chart'">
		<app-cubejs-chart
			[query]="uiComponent.args.query"
			[dateFormat]="uiComponent.args.dateFormat"
		>
		</app-cubejs-chart>
	</div>
	<div *ngSwitchCase="'tabs'">
		<app-tabs [tabs]="uiComponent.args.tabs"></app-tabs>
	</div>
	<div *ngSwitchCase="'html'" [innerHTML]="valueAsHtml"></div>

	<div *ngSwitchCase="'code'">
		<code>{{uiComponent.args.value | json}}</code>
	</div>

	<div *ngSwitchCase="'card'">
		<app-card
			[title]="uiComponent.args.title"
			[content]="uiComponent.args.content"
		></app-card>
	</div>

	<div *ngSwitchCase="'json'">
		<app-json
			[content]="uiComponent.args.content"
		></app-json>
	</div>

	<mat-divider *ngSwitchCase="'divider'" inset></mat-divider>

	<div *ngSwitchDefault>
		<span class="mat-title">
			Componente "<code>{{uiComponent.type}}</code>"
		</span>
		<div>{{uiComponent | json}}</div>
	</div>
</ng-container>
