@import 'src/assets/styles/variables.scss';


mat-chip {

	&.default {
		background-color: $success-color;
		color: white;
		text-decoration: underline;
	}	
	&.error {
		background-color: $error-color;
		color: white;
		text-decoration: none;
	}

}
