.title {
    font-size: 24px;
    margin: 20px 0px 20px 16px;
}

.dialog-close-icon {
    margin-left: 24px;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
}

.icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.material-icons-outlined{
    font-size: 76px;
	width: 76px;
    height: 76px;
    overflow: visible;
}

.dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    button {
        margin: 5px;
    }
}
