<div class="spinner" *ngIf="loading else addRiskFactors">
	<mat-spinner color="primary"></mat-spinner>
</div>

<ng-template #addRiskFactors>
	<app-factores-de-riesgo-form [factoresDeRiesgoFormService]="factoresDeRiesgoFormService">
	</app-factores-de-riesgo-form>
	<mat-dialog-actions align="end">
		<button mat-stroked-button color="primary" mat-dialog-close><span [translate]="'buttons.CANCEL'"></span>
		</button>
		<button *ngIf="this.form.valid && !formHasNoValues(this.form.value)" mat-raised-button color="primary"
			(click)="submit()">
			<span [translate]="'buttons.UPDATE'"></span>
		</button>
	</mat-dialog-actions>
</ng-template>