<mat-dialog-content fxLayoutAlign="center" class="spinner" *ngIf="loading else addRiskFactors">
	<mat-spinner color="primary"></mat-spinner>
</mat-dialog-content>

<ng-template #addRiskFactors>
	<mat-dialog-content>
		<app-factores-de-riesgo-form [factoresDeRiesgoFormService]="factoresDeRiesgoFormService">
		</app-factores-de-riesgo-form>
	</mat-dialog-content>

	<mat-dialog-actions fxLayoutAlign="end">
		<button mat-stroked-button color="primary" mat-dialog-close>
			<span [translate]="'buttons.CANCEL'"></span>
		</button>
		<button *ngIf="this.form.valid && !formHasNoValues(this.form.value)" mat-raised-button color="primary"
			(click)="submit()">
			<span [translate]="'buttons.UPDATE'"></span>
		</button>
	</mat-dialog-actions>
</ng-template>