.item-padding {
    padding: 16px;
}

.element-light-color {
	color: rgba(0, 0, 0, 0.54);
}

.checkbox-div-body {
	margin-top: 10px;
}

.checkbox-div-header {
	margin-top: 8px;
}

.header-filters {
	padding: 16px 16px 0 16px;
}

.filter-button {
	padding-bottom: 1.34em;
}
