.margin-checkbox {
    margin-bottom: 15px;
}

.form {
    margin-bottom: 25px;
}

div h3 {
    margin: 0;
}

h3#prescriptionItemName {
    font-weight: 500;
}

.item-information {
    margin: 15px 0;
}

.item-container {
    margin-bottom: 25px;
}