<div fxLayout="row" fxLayoutAlign="space-between">
    <div mat-dialog-title>
        <h2 class="mat-h2 page-title"> {{'firma-conjunta.REJECT_SIGNATURE.form.TITLE' | translate}}</h2>
    </div>

    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div fxLayout="column" [formGroup]="rejectForm">
        <mat-label class="mat-body">{{'firma-conjunta.REJECT_SIGNATURE.form.MOTIVE' | translate}}*</mat-label>
        <mat-form-field appearance="outline" fxFlex>
            <mat-select id="motive" name="motive" formControlName="motive"
                placeholder="{{'firma-conjunta.REJECT_SIGNATURE.form.PLACEHOLDER_MOTIVE' | translate}}">
                <mat-option *ngFor="let motive of motives" [value]="motive.id">
                    <span class="mat-body">{{motive.text | translate}}</span>
                </mat-option>
            </mat-select>
            <mat-error [translate]="'firma-conjunta.REJECT_SIGNATURE.form.ERROR_MOTIVE'"></mat-error>
        </mat-form-field>
        <mat-label class="mat-body">{{'firma-conjunta.REJECT_SIGNATURE.form.OBSERVATIONS' | translate}}*</mat-label>
        <mat-form-field appearance="outline">
            <textarea matInput name="observations" formControlName="observations" id="observations" type="text"
                placeholder="{{'firma-conjunta.REJECT_SIGNATURE.form.PLACEHOLDER_OBSERVATIONS' | translate}}"></textarea>
            <mat-error [translate]="'firma-conjunta.REJECT_SIGNATURE.form.ERROR_OBSERVATIONS'"></mat-error>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <app-button mat-dialog-close [color]="'warn'" [isLoading]="false" [text]="'buttons.CANCEL'"
        [buttonType]="'mat-stroked-button'" [disabled]="false"></app-button>
    <app-button [color]="'warn'" [isLoading]="false" [text]="'buttons.REJECT'" [buttonType]="'mat-raised-button'"
        [disabled]="false" (clicked)="emitReasonRejection()"></app-button>
</div>