<app-content width="full">
	<section>
		<h2 class="page-title">{{'pacientes.audit.TITLE_CONTROL_DUPLICATE_PATIENTS' | translate}}</h2>
	</section>
	<section>
		<h3>{{'pacientes.audit.SUBTITLE_LIST_AUDIT_BY' | translate}}</h3>
		<mat-radio-group fxLayout="column" [(ngModel)]="filterSelected" (change)="getListByFilter(filterSelected)">
			<mat-radio-button color="primary" [value]="filters.FILTER_FULLNAME_DNI">{{'pacientes.audit.LABEL_FILTER_1' |
				translate}}</mat-radio-button>
			<mat-radio-button color="primary" [value]="filters.FILTER_FULLNAME_BIRTHDATE">{{'pacientes.audit.LABEL_FILTER_2' |
				translate}}</mat-radio-button>
			<mat-radio-button color="primary" [value]="filters.FILTER_FULLNAME_BIRTHDATE_DNI">{{'pacientes.audit.LABEL_FILTER_3' |
				translate}}</mat-radio-button>
			<mat-radio-button color="primary" [value]="filters.FILTER_DNI">{{'pacientes.audit.LABEL_FILTER_4' |
				translate}}</mat-radio-button>
		</mat-radio-group>
	</section>
	<section>
		<app-list-card-patient-duplicate
			[setPatientDuplicate]="listDuplicatePatient"></app-list-card-patient-duplicate>
	</section>
</app-content>
