.spacer {
	flex: 1 1 auto;
}

.title {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.position {
	padding-right: 10px;
	font-weight: 300;
}

mat-dialog-content {
	cursor: auto;
	height: 100vh;
	max-height: 100vh;
	app-file-download-card {
		display: block;
		margin-top: 15vh;
	}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	mat-dialog-content {
		padding: 0;
		margin: 0;
		max-width: 100vw;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
