<mat-toolbar>
	<span class="title">
		{{filename}}
	</span>
	<span class="spacer"></span>
	<span class="position">{{position}}</span>
	<button mat-icon-button aria-label="Opciones" color="primary" [matMenuTriggerFor]="menu" [disabled]="!actions" >
		<mat-icon>send</mat-icon>
	</button>
	<button mat-icon-button aria-label="close" (click)="nextFile()" [disabled]="!actions">
		<mat-icon class="material-icons-outlined">{{position ? 'navigate_next': 'close'}}</mat-icon>
	</button>
</mat-toolbar>
<mat-dialog-content>
	<app-file-download-card [dialogData]="dialogData" *ngIf="!canPreview">
		<app-file-download content *ngIf="!actions && viewFile"
			[viewFile]="viewFile" (onFinish)="finishDownloading($event)">
		</app-file-download>
		<button actions
			mat-raised-button [color]="action.color"
			*ngFor="let action of cardActions" [disabled]="action.disabled"
			(click)="runAction(action)" >
			<mat-icon class="material-icons-outlined">{{action.icon}}</mat-icon>
			<span [translate]="action.name"></span>
		</button>
	</app-file-download-card>
	<app-file-viewer-pdf class="viewer" *ngIf="canPreview" [fileResponse]="fileResponse" (onError)="disablePreview($event)">
	</app-file-viewer-pdf>
</mat-dialog-content>

<mat-menu #menu="matMenu">
	<button mat-menu-item
		*ngFor="let action of actions" [disabled]="action.disabled" (click)="runAction(action)">
		<mat-icon class="material-icons-outlined">{{action.icon}}</mat-icon>
		<span [translate]="action.name"></span>
	</button>
</mat-menu>
