@import '../../../../../../../assets/styles/mat-mixins';

form {
	@include mat-form-field-background-white;
}

h4 {
	font-weight: 500;
	font-size: medium;
}

.page {
	width: 100%;
	max-width: 500px;
}

.simple-form-field {
	width: 60%;
	min-width: 280px;

	&.risk-factor {
		::ng-deep .mat-form-field-wrapper {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}

section {
	margin: 1.5vh 0;
}

mat-radio-group {
	margin-left: 0.75em;
}
