.section {
    margin: 5%;
}

.main-card {
    padding: 2% 4%;
    padding-bottom: 6%;
}

.buttons {
    min-width: fit-content;
}

.bold {
	font-weight: 500;
}

.patient-name {
    font-size: 16px;
}

h3 {
    font-weight: 500;
    font-size: 26px;
}

.btn-margin {
    margin-bottom: 10px;
}

.observations {
	word-break: break-word;
	white-space: pre-wrap;
}
