<section class="section">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="10px">
        <button mat-icon-button color="primary" (click)="goBack()" fxLayoutGap="5px">
            <mat-icon>arrow_back</mat-icon>
            <span>{{'image-network.worklist.details_study.BACK_TO_WORKLIST' | translate}}</span>
        </button>
        <div fxLayout="column" fxFlex="100">
            <h2 fxFlex="10" translate="image-network.worklist.details_study.DETAILS_STUDY"></h2>
            <div>
                <div fxLayout="column" *ngIf="study" fxFlex="50" fxLayoutGap="30px">
                    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="30px">
                        <span>{{study.patientFullName}}</span>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <app-colored-label [description]="study.state.description | translate | uppercase"
                                [color]="study.state.color">
                            </app-colored-label>
                            <span class="smaller-font grey"> {{ datePipe.transform(study.actionTime, datePipeFormat.SHORT)}}hs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</section>