<section class="section">
    <mat-card class="main-card" fxLayout="column" fxLayoutGap="10px">

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button color="primary" (click)="goBack()" fxLayoutGap="5px">
                <mat-icon>arrow_back</mat-icon>
                <span>{{'image-network.worklist.details_study.BACK_TO_WORKLIST' | translate}}</span>
            </button>
            
            <div>
                <app-view-report *ngIf="reportIsDone" [appointmentId]="appointmentId" [buttonText]="'image-network.worklist.DOWNLOAD_REPORT'" [buttonIcon]="'download_icon'"></app-view-report>
            </div>
        </div>

        <div fxLayout="column" fxFlex="100">
            <h3 fxFlex="10" class="bold" translate="image-network.worklist.details_study.DETAILS_STUDY"></h3>

            <div *ngIf="(study$ | async) as study" fxLayout="row" fxLayout.lt-sm="column" fxFlex="100"
                fxLayoutGap="40px">

                <div fxLayout="column" fxLayoutGap="30px" fxFlex="35">

                    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px">
                        <div fxLayout="column">
                            <span class="patient-name">{{ study.info.patientFullName | uppercase }}</span>
                            <span class="grey">{{ study.info.completionInstitution.name }}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="43px">
                            <app-colored-label [description]="study.state.description | translate | uppercase"
                                [color]="study.state.color">
                            </app-colored-label>
                            <span class="grey"> {{ study.info.actionTime | viewDateDto: 'localdatetime' | date: 'dd/MM/yyyy  HH:mm' }} hs. </span>
                        </div>

                        <div>
                            <div class="mat-body-strong" translate="image-network.worklist.details_study.TECHNICIAN_OBSERVATIONS"></div>
                            <div class="mat-body capitalize-first-letter" *ngIf="study.info.technicianObservations else noInfo">{{ study.info.technicianObservations }}</div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div class="mat-body-strong" translate="image-network.worklist.details_study.IMAGE_SIZE"></div>
                            <div *ngIf="study.imageSize else noInfo">{{ study.imageSize }} MB</div>
                        </div>

                        <ng-template #noInfo>
                            <span class="grey">Sin información</span>
                        </ng-template>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <app-view-study class="btn-margin" [appointmentId]="appointmentId" [studyAvailable]="study.info.isAvailableInPACS"></app-view-study>
                        <button *ngIf="study.info.localViewerUrl" id="view_local_study" mat-stroked-button color="primary" class="buttons btn-margin" (click)="goUrlLocalStudy(study.info.localViewerUrl)">
                            <span>{{'image-network.worklist.details_study.VIEW_LOCAL_STUDY' | translate | uppercase }}</span>
                        </button>
                        <app-download-study class="btn-margin" [studyAvailable]="study.info.isAvailableInPACS" [imageId]="study.info.imageId"></app-download-study>
                        <a id="go_to_HC" mat-stroked-button color="primary" target="_blank" class="buttons btn-margin"
                            *appHasRole="['ESPECIALISTA_MEDICO']" [href]="url + study.info.patientId">
                            <span>{{'image-network.worklist.details_study.GO_TO_HC' | translate | uppercase }}</span>
                        </a>
                    </div>
                </div>

                <mat-divider fxFlex="5" [vertical]="true"></mat-divider>

                <app-report-study fxFlex="50" (update)="setUpdatedStatus($event)"></app-report-study>
            </div>
        </div>
    </mat-card>
</section>