<div class="layout-container" [class.layout-is-mobile]="mobileQuery.matches">
	<app-bar [position]="mobileQuery.matches ? 'fixed' : 'static'">
		<button mat-icon-button (click)="sidenav.toggle()" *ngIf="menuItems">
			<mat-icon color="primary">menu</mat-icon>
		</button>
	</app-bar>
	<mat-sidenav-container class="layout-sidenav-container"
	                       [style.marginTop.px]="mobileQuery.matches ? 57 : 0">
		<mat-sidenav #sidenav [(opened)]="opened" [mode]="mobileQuery.matches ? 'over' : 'side'"
		             [fixedInViewport]="mobileQuery.matches" fixedTopGap="57">
			<div class="custom-container">
				<div class="top">
					<ng-content select="[location-info]"></ng-content>
					<app-menu [menuItems]="menuItems"></app-menu>
				</div>
				<div class="bottom">

					<div class="informative-items">
						<span *ngIf="userInfo?.fullName; else userName">
							{{userInfo.fullName}}
						</span>
						<ng-template #userName>{{userInfo?.userName}}</ng-template>
						<mat-divider></mat-divider>
						<button mat-icon-button id="logout" (click)="logout()">
							<mat-icon>power_settings_new</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-sidenav>

		<mat-sidenav-content>
			<div class="panel">
				<router-outlet></router-outlet>
			</div>
			<app-footer></app-footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
