<div fxLayout="row" fxLayoutAlign="space-between">
	<div mat-dialog-title class="title" class="capitalize-first-letter" [translate]="'indicacion.internment-card.dialogs.diet.TITLE'"></div>
	<button matSuffix mat-icon-button [mat-dialog-close]>
		<mat-icon>close</mat-icon>
	</button>
</div>

<mat-dialog-content class="dialog">
	<div id="note">
		<ng-container concept-form>
			<form [formGroup]="form" (ngSubmit)="save()">
				<mat-form-field appearance="outline">
					<textarea matInput type="text" id="note-input" formControlName="description"
						placeholder="{{'indicacion.internment-card.dialogs.diet.DESCRIPTION' | translate }}">
					</textarea>
				</mat-form-field>
				<app-datepicker fxLayout="50%" [title]="'indicacion.internment-card.INDICATION_DATE'" [minDate]="this.data.entryDate" [dateToSetInDatepicker]="this.data.actualDate" (selectDate)="setIndicationDate($event)"></app-datepicker>
			</form>
		</ng-container>
	</div>
</mat-dialog-content>

<div mat-dialog-actions actions id="buttons" fxLayoutAlign="end end">
	<button mat-raised-button color="primary" id="confirm_button" (click)=save()>
		<span [translate]="'buttons.CONFIRM'"></span>
	</button>
</div>