<div style="margin-bottom: 20px;margin-top: 20px;">
	<app-new-consultation-expansion-section id="diagnosticos"
		*appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']"
		[title]="'internaciones.epicrisis.diagnosticos.TITLE' | translate" icon="error_outlined" [collapsed]="false"
		[isEmpty]="componentEvaluationManagerService.isEmptyDiagnosis()  | async" [hideBorder]="true">

		<app-emergency-care-diagnoses (mainDiagnosisChange)="mainDiagnosisChange($event)"
			(diagnosisChange)="diagnosisChange($event)" type="ANAMNESIS" [mainDiagnosis]="formDiagnosticos.value.mainDiagnostico"
			[listDiagnosis]="formDiagnosticos.value.otrosDiagnosticos">
		</app-emergency-care-diagnoses>

		<app-box-message *ngIf="existsADiagnosisAssociatedToIsolationAlerts" [boxMessageInfo]="boxMesaggeInfo"></app-box-message>
	</app-new-consultation-expansion-section>
</div>
