<section>
	<header>
		<h2 translate="firma-conjunta.LIST_DOCUMENTS" class="bold"></h2>
	</header>
	<app-selectable-card [dataList]="itemList"
		[noDataMessage]="'digital-signature.NO_DOCUMENTS'" [hasHeader]="documentId"
		(selectedId)="seeDetails($event)">
		<span translate="digital-signature.UNSELECTED_DOCUMENT" *ngIf="!documentId"
			class="no-detailed-information">
		</span>

		<div class="header-information" *ngIf="documentId">
			<app-header-attention-detail
				[setDocumentId]="documentId"
				[details]="headerInformation"
				[title]="'firma-conjunta.TITLE_HEADER'">
			</app-header-attention-detail>
		</div>
	</app-selectable-card>
</section>
