.section-description {
	margin-left: 40px;
}

.btn {
    padding: 8px 12px;
    width: fit-content;
}

.btn-icon {
    margin-right: 8px;
}

.divider {
    margin: 8px 0;
}

.vital-signs-container {
    margin-top: 16px;
}