<div style="margin-bottom: 20px;margin-top: 10px;">

	<app-new-consultation-expansion-section id="datos_antropometricos"
		[title]="'ambulatoria.paciente.nueva-consulta.datos-antropometricos.TITLE' | translate" icon="accessibility"
		[fixedExpanded]="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()"
		[isEmpty]="!datosAntropometricosNuevaConsultaService.hasAtLeastOneValueLoaded()" collapsed="true">

		<app-datos-antropometricos-nueva-consulta
			[patientId]="patientId"
			[showPreloadData]="datosAntropometricosNuevaConsultaService.getShowPreloadedAnthropometricData()"
			[datosAntropometricosNuevaConsultaService]="datosAntropometricosNuevaConsultaService">
		</app-datos-antropometricos-nueva-consulta>

	</app-new-consultation-expansion-section>
</div>
