<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:fragment="headerfiles">
    <title>Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            font-size:12px;
            width: 650px;
            table-layout:fixed;
            margin: 30px auto 40px auto;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .logo {
            display: inline-block;
            width: 30%;
        }
        .date-header {
            display: inline-block;
            position: absolute;
            right: 0;
            margin-bottom: 15px;
        }
        th {
            background-color: #5e96eb;
        }
        td {
            border-bottom: 1px;
            background-color: white;
            word-wrap: break-word;
            padding: 5px;
        }
        .centered-cell {
            text-align: center;
        }
        strong {
            font-size:15px;
        }
        label {
            font-size:15px;
        }
        .footer-left{
            display: block;
            text-align: left;
        }
        .footer-right{
            margin-top: 70px;
            display: block;
            text-align: center;
        }
        header{
            margin-bottom: 15px;
        }
        hr {
            background:#222222;
            height:1px;
            width: 20%;
            position: relative;
            display: block;
        }
        @media print {
            table {
                page-break-inside: avoid;
            }
        }
	</style>
</head>
<body th:fragment="data">
    <header>
        <div th:if="${recipe}">
            <div class="logo"></div>
            <div class="date-header">
                <strong> Fecha de emisión: </strong>
                <label th:text="${requestDate}"></label>
                <strong> N° de Receta: </strong>
                <label th:text="${request.id}"></label>
                <br/>
                <strong> Institución: </strong>
                <label th:text="${institution.name}"></label>
                <strong> REFES: </strong>
                <label th:text="${institution.sisaCode}"></label>
            </div>
        </div>
        <div th:if="${order}">
            <div class="logo"></div>
            <div class="date-header">
                <strong> Fecha de emisión: </strong>
                <label th:text="${requestDate}"></label>
                <strong> N° de Orden: </strong>
                <label th:text="${request.getServiceRequestId()}"></label>
                <br/>
                <div th:if="${!request.isTranscribed()}">
                    <strong> Institución: </strong>
                    <label th:text="${institution.name}"></label>
                    <strong> REFES: </strong>
                    <label th:text="${institution.sisaCode}"></label>
                </div>
                <div th:if="${request.isTranscribed()}">
                    <strong> Institución: </strong>
                    <label th:text="${#strings.length(institutionName) > 30 ? #strings.substring(institutionName, 0, 30) + '...' : institutionName}"></label>
                    <strong> REFES: </strong><label> </label>
                </div>
            </div>
        </div>
        <br/>
        <div class="fixed-width">
            <div th:if="${patient.person != null && patient.person.identificationNumber != null}">
                <div th:with="hasIdentificationType = ${patient.person.identificationType != null}">
                    <strong th:if="${hasIdentificationType}" th:text="${patient.person.identificationType}"></strong>
                    <strong th:unless="${hasIdentificationType}"> Nro. Documento </strong>
                    <strong>: </strong>
                    <label th:text="${patient.person.identificationNumber}"></label>
                </div>
            </div>
            <div th:with="nameIsPresent = ${patient.person != null && patient.person.completeName(selfPerceivedFF) != null}">
                <strong> Apellido y nombre: </strong>
                <label th:if="${nameIsPresent}" th:text="${patient.person.completeName(selfPerceivedFF)}"></label>
                <label th:unless="${nameIsPresent}"> Sin información </label>
            </div>
            <br/>
            <div th:if="${patientCoverage != null}">
                <strong>Cobertura prestacional: </strong>
                <label th:text="${patientCoverage.medicalCoverage.name}"></label>
                <br/>
                <div th:with="affiliateNumberIsPresent = ${patientCoverage.affiliateNumber != null}">
                    <strong> N° afiliado: </strong>
                    <label th:if="${affiliateNumberIsPresent}" th:text="${patientCoverage.affiliateNumber}"></label>
                    <label th:unless="${affiliateNumberIsPresent}">  Sin información </label>
                </div>
                <br/>
            </div>
            <div th:if="${contactInfo != null}">
                <strong>Dirección del paciente: </strong>
                <label th:text="${#strings.defaultString(contactInfo.address.completeAddress, '-')}"></label>
                <br/>
                <strong>Teléfono: </strong>
                <label th:text="${#strings.defaultString(contactInfo.phone.completePhone, '-')}"></label>
            </div>
        </div>
    </header>
    <div>
        <div class="ml-2 mr-2">
            <div th:if="${recipe}">
                <table th:each="medication,iter: ${request.medications}" class="table">
                    <colgroup>
                        <col style="width: 5%;"/>
                        <col style="width: 10%;"/>
                        <col style="width: 15%;"/>
                        <col style="width: 30%;"/>
                        <col style="width: 15%;"/>
                        <col style="width: 25%;"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="thead-light"> N° </th>
                            <th class="thead-light"> CIE10 </th>
                            <th class="thead-light"> Diagnóstico </th>
                            <th class="thead-light"> Medicación </th>
                            <th class="thead-light"> Intervalo </th>
                            <th class="thead-light"> Tiempo de administración </th>
                        </tr>
                        <tr>
                            <td th:text="${(iter.index + 1)}"></td>
                            <td th:text="${#strings.defaultString(medication.healthCondition.cie10codes, '-')}"></td>
                            <td th:text="${medication.healthCondition.snomed.pt}"></td>
                            <td th:text="${medication.snomed.pt}"></td>
                            <td th:text="${medication.dosage.periodUnit != 'd' ? 'Cada ' + medication.dosage.frequency + ' hs.' : 'Diariamente'}"></td>
                            <td th:text="${medication.dosage.duration != 0 ? 'Durante ' + #numbers.formatDecimal(medication.dosage.duration, 0, 0) + ' días' : 'Habitualmente'}"></td>
                        </tr>
                        <tr>
                            <th class="thead-light" colspan="6"> Observaciones </th>
                        </tr>
                        <tr>
                            <td colspan="6" th:text="${#strings.defaultString(medication.note, '-')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${order}">
                <table class="table">
                    <colgroup>
                        <col span="1" style="width: 5%;"/>
                        <col span="1" style="width: 10%;"/>
                        <col span="1" style="width: 15%;"/>
                        <col span="1" style="width: 30%;"/>
                        <col span="1" style="width: 40%;"/>
                    </colgroup>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">N° </th>
                        <th scope="col">CIE10 </th>
                        <th scope="col">Diagnóstico </th>
                        <th scope="col"> Estudio </th>
                        <th scope="col">Observaciones </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order,iter: ${request.diagnosticReports}">
                            <td class="centered-cell" th:text="${(iter.index + 1)}"></td>
                            <td th:text="${#strings.defaultString(order.healthCondition.cie10codes, '-')}"></td>
                            <td th:text="${order.healthCondition.snomed.pt}"></td>
                            <td th:text="${order.snomed.pt}"></td>
                            <td th:text="${#strings.defaultString(request.observations, '-')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <footer style="page-break-inside: avoid;">
        <div class="footer-left">
            <strong>Profesional: </strong><label th:text="${#strings.length(professionalName) > 52 ? #strings.substring(professionalName, 0, 52) + '...' : professionalName}"></label>
            <p><strong>Matrículas: </strong><label th:text="${!request.isTranscribed()} ? ${professional.getCompleteLicenseInfo()} : ''"></label></p>
        </div>
        <div class="footer-right">
            <hr/>
            <div> <label> Firma </label> </div>
        </div>
    </footer>
</body>
</html>