<div mat-dialog-title>
	<div class="mat-h2" [translate]="'internaciones.internacion-paciente.card.probable_discharge_dialog.TITLE'"></div>
</div>


	<div mat-dialog-content>

			<form [formGroup]="form" (ngSubmit)="submit()">
				<mat-form-field appearance="outline">
					<mat-label [translate]="'internaciones.internacion-paciente.card.probable_discharge_dialog.PLACEHOLDER'">
					</mat-label>
					<input matInput id="probableDischargeDate" [matDatepicker]="myDatepicker" formControlName="probableDischargeDate" [min]="minDate">
					<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
					<mat-datepicker #myDatepicker startView="multi-year" (yearSelected)="chosenYearHandler($event)"
									(monthSelected)="chosenMonthHandler($event)">
					</mat-datepicker>
				</mat-form-field>
			</form>

	</div>
	<mat-dialog-actions align="end">
		<button mat-stroked-button color="primary" mat-dialog-close><span [translate]="'buttons.CANCEL'"></span>
		</button>
		<button mat-raised-button color="primary" (click)="submit()">
			<span [translate]="'buttons.UPDATE'"></span>
		</button>
	</mat-dialog-actions>

