<div mat-dialog-title>
	<div class="mat-h2" [translate]="'internaciones.internacion-paciente.card.probable_discharge_dialog.TITLE'"></div>
</div>


<div mat-dialog-content>

	<app-datepicker id="probableDischargeDate"
		title="{{'internaciones.internacion-paciente.card.probable_discharge_dialog.PLACEHOLDER' | translate}}"
		[minDate]="minDate"
		[dateToSetInDatepicker]="data.lastProbableDischargeDate"
		(selectDate)="dateChanged($event)">
	</app-datepicker>

</div>
<mat-dialog-actions align="end">
	<button mat-stroked-button color="primary" mat-dialog-close><span [translate]="'buttons.CANCEL'"></span>
	</button>
	<button mat-raised-button color="primary" (click)="submit()">
		<span [translate]="'buttons.UPDATE'"></span>
	</button>
</mat-dialog-actions>