@import "src/assets/styles/variables.scss";

.header-image {
	background-image: url("src/assets/images/empty-profile.svg");
	background-size: cover;
	width: 65px;
	height: 65px;
}

mat-card-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

mat-card-subtitle {
	margin-bottom: 0;
}
