@import "src/assets/styles/variables.scss";

.flex-container, .mat-line.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

span {
	font-size: $font-size-sm;
	white-space: pre;
}

mat-icon.mat-icon-inline {
	font-size: $font-size-lg;
}

