<app-patient-card [patient]="patientInternment.patient">
	<mat-list content>

		<mat-list-item id="bed">
			<div class="flex-container">
				<mat-icon mat-list-icon [inline]="true">meeting_room</mat-icon>
				<span class="mat-body-2">{{patientInternment.room}}</span>
				<mat-icon mat-list-icon [inline]="true">single_bed</mat-icon>
				<span class="mat-body-2">{{patientInternment.bed}}</span>
				<span class="mat-body-2">
					{{patientInternment.floor.number}} - {{patientInternment.floor.description}}
				</span>
			</div>
		</mat-list-item>

		<mat-divider inset></mat-divider>

		<mat-list-item id="doctor">
			<mat-icon mat-list-icon>person</mat-icon>
			<span class="mat-body-2">
				{{patientInternment.doctor.firstName}} {{patientInternment.doctor.lastName}}
			</span>
			<span class="mat-caption"> {{patientInternment.doctor.license}}</span>
		</mat-list-item>

		<mat-divider inset></mat-divider>

		<mat-list-item id="days">
			<div mat-line>
				<span class="mat-body-2"
		  				[translate]="'internaciones.internacion-paciente.card.DAYS_INTERNED'"
		  				[translateParams]="{ days: patientInternment.days_interned }">
				</span>
			</div>
			<div mat-line>
				<span 	[translate]="'internaciones.internacion-paciente.card.ADMISSION'"
		  				[translateParams]="{ datetime: patientInternment.admission_datetime }">
				</span>
			</div>
		</mat-list-item>
	</mat-list>
</app-patient-card>
