section {
	max-width: 85%;
	margin-left: 10%;
	border: 1px solid #f7e0e0;
	box-shadow: 0px 3px 3px 0px rgba(179, 177, 179, 1);
	background-color: #ffffff;
}

.title2 {
	display: block;
	font: 500 20px / 32px Roboto, "Helvetica Neue", sans-serif;
	margin-top: 2%;
	margin-left: 10%;
	color: rgba(0, 0, 0, 0.87);
	letter-spacing: normal;
	font-size: x-large;
}

.contenedor-title {
	display: flex;
	width: 100%;
	font-family: "Roboto", sans-serif;
	//border-radius: 5px;
	//border: none !important;
	font-size: 16px;
	color: #2687c5;
	background-color: #e0eef7;
	justify-content: baseline;
}

.column-title {
	margin-left: 45%;
	font-weight: normal;
	font-size: medium;
}

.column-name-title {
	margin-left: 17%;
	font-weight: normal;
	font-size: medium;
}

.contenedor-title>span {
	padding: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #e0eef7;
}

.container-sexo {
	display: flex;
	margin-left: 67.8%;
	position: absolute;
	font-size: 15px;
	color: #535252;
}

.grafic {
	//IMAGENES DENTRO DE FILAS
	height: 850px;
	width: 850px;
	margin-left: 7%;
}

.container-orden {
	color: #535252;
}

.container-name {
	position: absolute;
	margin-left: 5%;
	font-size: 15px;
	color: #535252;
}

.nombre-style {
	color: black;
}