<p class="mat-body-strong">{{"guardia.home.attention_places.space.DOCTOR_OFFICE" | translate}}</p>
<form [formGroup]="form">
	<mat-form-field appearance="outline" fxFlex="100%">
		<mat-label>{{"guardia.home.attention_places.change-attention-place.SELECT_DOCTOR_OFFICE" | translate}}</mat-label>
		<mat-select formControlName="doctorOffice">
			<mat-option *ngFor="let doctorsOffice of availableDoctorsOffices$ | async" [value]="doctorsOffice">
				{{ doctorsOffice.description }}
				{{"guardia.home.attention_places.change-attention-place.PREPOSITION_OF" | translate}}
				{{ doctorsOffice.sectorDescription }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</form>
