.header{
	display: flex;
	justify-content: flex-end;
}

.section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	section{
		width: 50%;
	}
}

div.form-buttons {
	margin: 20px 0;
	button {
		margin-right: 10px;
	}
}
