div.spinner {
    margin-bottom: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.separation {
    margin: 22px auto;
}

.dose {
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    background-color: #2687C533;
    color: #2687C5;
}

.date {
    padding: 5px;
}

.margin-top {
    margin-top: 10px;
}

#add-button {
    padding: 0 2px;
}