@import "projects/hospital/src/assets/styles/mixins";

.content {
	margin: 20px 40px 20px 30px;
	width: available;
}

.actual-date {
	@include general-font;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}

.calendar {
	margin-right: 20px;
}

.disabled {
	color: rgba(0, 0, 0, 0.38);
}

.title {
	@include general-font;
	font-weight: 500;
	font-size: 16px;
	line-height: 18.75px;
}

.parenteral-plans {
	width: 25%;
}

.other-indications {
	width: 20%;
}
.mat-divider {
	position: relative;
}

.section {
	padding-bottom: 30px;
}

.no-data {
	font-weight: 400;
	font-size: 16px;
	color: #a8a8a8;
	padding-bottom: 20px;
}