<app-content width="full">
	<ng-template #noInfo>
		<app-no-data></app-no-data>
	</ng-template>
	<section>
		<h2 [translate]="'ambulatoria.paciente.ordenes_prescripciones.TITLE'"></h2>
		<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
			<div fxFlex="50%">
				<app-summary-card id="medicacion"	[header]="medicacion"
													[editable]="true"
													[canEdit]="['ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']"
													(openInNew)="openDialogNewMedication()">

					<mat-list id="lista-medication" *ngIf="medicationsInfo?.length > 0 else noInfo">
						<div fxLayout="row" *ngFor="let medicationInfo of medicationsInfo">
							<mat-list-item>
								<div fxFlex="100%">

									<div fxLayout="row" fxLayoutAlign="space-between start">
										<h3 mat-line class="primary bold element-margin">
											Activa
										</h3>

										<div>
											<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="true">
												<mat-icon>more_vert</mat-icon>
											</button>
											<mat-menu #menu="matMenu">
												<button mat-menu-item >
													<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DOWNLOAD'"></span>
												</button>
												<button mat-menu-item >
													<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.BACK'"></span>
												</button>
												<button mat-menu-item >
													<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.SUSPEND'"></span>
												</button>
												<button mat-menu-item >
													<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.FINALIZE'"></span>
												</button>
												<button mat-menu-item >
													<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.REACTIVATE'"></span>
												</button>
											</mat-menu>
										</div>
									</div>

									<div class="element-margin" fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
										<span class="mat-subheading-2 capitalize-first-letter" style="margin: 0" fxFlex="70%">
											{{medicationInfo.snomed.pt}}
										</span>

										<span mat-line class="mat-body" *ngIf="medicationInfo.hasRecipe else NoRecipe">
											Receta #{{medicationInfo.medicationRequestId}}
										</span>
										<ng-template #NoRecipe>
											<span mat-line class="mat-body"
												[translate]="'ambulatoria.paciente.ordenes_prescripciones.SIN_RECETA'">
											</span>
										</ng-template>
									</div>

									<div fxLayout="column">
										<div>
											<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.periodUnit == 'h'">
												Una aplicación cada {{medicationInfo.dosage.frequency}} hs
											</span>
											<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.periodUnit == 'd'"
												[translate]="'ambulatoria.paciente.ordenes_prescripciones.APLICACION_DIARIA'">
											</span>
										</div>

										<div>
											<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.duration != undefined">
												Durante {{medicationInfo.dosage.duration}} días
											</span>
											<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.chronic"
												[translate]="'ambulatoria.paciente.ordenes_prescripciones.USO_CRONICO'">
											</span>
										</div>
									</div>

									<div class="element-margin">
										<h3 mat-line class="primary bold capitalize-first-letter">
											{{medicationInfo.healthCondition.snomed.pt}}
										</h3>
									</div>

									<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
										<span mat-line class="mat-body capitalize-first-letter element-light-color">
											{{medicationInfo.doctor.firstName }} {{medicationInfo.doctor.lastName }}
										</span>
										<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.totalDays == 0"
											[translate]="'ambulatoria.paciente.ordenes_prescripciones.DESDE_HOY'">
										</span>
										<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.totalDays == 1"
											[translate]="'ambulatoria.paciente.ordenes_prescripciones.UN_DIA'">
										</span>
										<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.totalDays > 1">
											Hace {{medicationInfo.totalDays }} días
										</span>
									</div>

								</div>
							</mat-list-item>
							<mat-divider></mat-divider>
						</div>
					</mat-list>
				</app-summary-card>
			</div>
			<div fxFlex="50%" fxLayoutGap="20px">
				<app-summary-card id="estudios" [header]="estudios"
												[editable]="true"
												[canEdit]="['ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']"
												(openInNew)="openDialogNewStudy()">

				<mat-list id="lista-studies" *ngIf="diagnosticReportsInfo?.length > 0 else noInfo">
					<div fxLayout="row" *ngFor="let diagnosticReport of diagnosticReportsInfo">
						<mat-list-item >
							<div fxFlex="100%">

								<div fxLayout="row" fxLayoutAlign="space-between start">
									<h3 mat-line class="primary bold element-margin" *ngIf="diagnosticReport.statusId == STUDY_STATUS.REGISTERED.id">
										{{STUDY_STATUS.REGISTERED.description}}
									</h3>
									<h3 mat-line class="primary bold element-margin" *ngIf="diagnosticReport.statusId == STUDY_STATUS.FINAL.id">
										{{STUDY_STATUS.FINAL.description}}
									</h3>
									<h3 mat-line class="primary bold element-margin" *ngIf="diagnosticReport.statusId == STUDY_STATUS.ERROR.id">
										{{STUDY_STATUS.ERROR.description}}
									</h3>
									<div>
										<button mat-icon-button [matMenuTriggerFor]="menu" >
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu #menu="matMenu">
											<button mat-menu-item >
												<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.COMPLETE'"></span>
											</button>
											<button mat-menu-item >
												<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DELETE'"></span>
											</button>
										</mat-menu>
									</div>
								</div>

								<div class="element-margin" fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
									<span class="mat-subheading-2 capitalize-first-letter" style="margin: 0" fxFlex="70%">
										{{diagnosticReport.snomed.pt}}
									</span>
									<span mat-line class="mat-body">
										Orden #{{diagnosticReport.serviceRequestId}}
									</span>
								</div>

								<div class="element-margin">
									<h3 mat-line class="primary bold capitalize-first-letter">
										{{diagnosticReport.healthCondition.snomed.pt}}
									</h3>
								</div>

								<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
									<span mat-line class="mat-body capitalize-first-letter element-light-color">
										{{diagnosticReport.doctor.firstName }} {{diagnosticReport.doctor.lastName }}
									</span>
									<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="diagnosticReport.totalDays == 0"
										[translate]="'ambulatoria.paciente.ordenes_prescripciones.DESDE_HOY'">
									</span>
									<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="diagnosticReport.totalDays == 1"
										[translate]="'ambulatoria.paciente.ordenes_prescripciones.UN_DIA'">
									</span>
									<span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="diagnosticReport.totalDays > 1">
										Hace {{diagnosticReport.totalDays }} días
									</span>
								</div>

							</div>
						</mat-list-item>
						<mat-divider></mat-divider>
					</div>
				</mat-list>
				</app-summary-card>
				<app-summary-card id="indicaciones-generales" [header]="indicaciones"
																 [editable]="true"
																 [canEdit]="['ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']"
																 (openInNew)="openDialogNewRecommendation()">
					<app-no-data></app-no-data>
				</app-summary-card>
			</div>
		</div>
	</section>
</app-content>
