<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>{{data.titleLabel | translate}}</h1>
    <button id="close-modal" mat-button color="warn" mat-icon-button aria-label="close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="spinner" *ngIf="loading">
	<mat-spinner color="primary"></mat-spinner>
</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start" *ngIf="!loading">
    <button mat-flat-button color="primary" (click)="downloadPrescription()" fxFlexFill.xs>
        <span class="uppercase">Descargar receta</span>
    </button>
</mat-dialog-actions>
