<h1 mat-dialog-title>Cobertura médica</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">

	<mat-card fxLayout="column" fxLayoutGap="10px">
		<strong translate="medical-coverage.ACTIVES_HEALTH_INSURANCES"></strong>
		<div fxLayout="column">
			<div class="spinner" *ngIf="loading else viewPatientHealthInsurances" fxLayout="column" fxLayoutGap="25px">
				<mat-spinner color="primary"></mat-spinner>
				<span class="primary">Consultando cobertura</span>
			</div>
			<ng-template #viewPatientHealthInsurances>
				<mat-card *ngFor="let patientMedicalCoverage of getPatientHealthInsurances()">
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="space-between">
							<span
								[translate]="getFullHealthInsuranceText(patientMedicalCoverage.medicalCoverage)"></span>
							<span>{{patientMedicalCoverage.validDate | date: 'dd/MM/yyyy'}}</span>
						</div>
						<app-editable-field [fieldName]="'Nro de afiliado'"
							[value]="patientMedicalCoverage.affiliateNumber"
							(newValueEmitter)="patientMedicalCoverage.affiliateNumber = $event">
						</app-editable-field>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>

		<div>
			<strong translate="medical-coverage.NEW_HEALTH_INSURANCES"></strong>
			<form [formGroup]="healthInsuranceForm" fxLayoutGap="5px" class="form">
				<mat-form-field appearance="outline">
					<input type="text" placeholder="{{ 'Buscar obra social' | translate }}" aria-label="Number"
						formControlName="healthInsurance" matInput [matAutocomplete]="auto">
					<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
						<mat-option *ngFor="let healthInsurance of healthInsuranceFilteredMasterData"
							(onSelectionChange)="selectHealthInsurance($event, healthInsurance)"
							[value]="getFullHealthInsuranceText(healthInsurance)">
							<span class="mat-body">{{getFullHealthInsuranceText(healthInsurance)}}</span>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<input id="healthInsuranceAffiliateNumber" name="healthInsuranceAffiliateNumber"
						formControlName="affiliateNumber" placeholder="{{'Nro de afiliado' | translate}}" matInput>
				</mat-form-field>
				<button mat-stroked-button color="primary" class="uppercase margin" id="add-health-insurance" type="button"
					(click)="addHealthInsurance()" name="add-health-insurance">Agregar Obra Social</button>
			</form>
		</div>
	</mat-card>


	<mat-card fxLayout="column" fxLayoutGap="10px">
		<strong translate="medical-coverage.ACTIVES_PRIVATE_HEALTH_INSURANCES"></strong>
		<div fxLayout="column">
			<div class="spinner" *ngIf="loading else viewPatientPrivateHealthInsurances" fxLayout="column" fxLayoutGap="25px">
				<mat-spinner color="primary"></mat-spinner>
				<span class="primary">Consultando cobertura</span>
			</div>
			<ng-template #viewPatientPrivateHealthInsurances>
				<mat-card *ngFor="let patientPrivateHealthInsurance of getPatientPrivateHealthInsurances()">
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="space-between">
							<span>{{getPrivateHealthInsuranceText(patientPrivateHealthInsurance.medicalCoverage)}}</span>
							<span class="capitalize-first-letter" >{{getDatesText(patientPrivateHealthInsurance)}}</span>
						</div>
						<div fxLayout="row" fxLayoutAlign="space-between">
							<app-editable-field [fieldName]="'Nro de credencial'"
								[value]="patientPrivateHealthInsurance.affiliateNumber"
								(newValueEmitter)="patientPrivateHealthInsurance.affiliateNumber = $event">
							</app-editable-field>
							<div class="valid-date">{{patientPrivateHealthInsurance.validDate | date: 'dd/MM/yyyy'}}</div>
						</div>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>

		<div>
			<strong translate="medical-coverage.NEW_PRIVATE_HEALTH_INSURANCES"></strong>
			<form [formGroup]="prepagaForm"  class="form" fxLayoutGap="5px">
				<div fxLayout="column">
					<mat-form-field appearance="outline">
						<input type="text" placeholder="{{ 'Ingresar Prepaga' | translate }}" aria-label="Number"
							formControlName="name" matInput>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Fecha de inicio</mat-label>
						<input formControlName="startDate" id="start-date" matInput [matDatepicker]="picker2">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
				<div fxLayout="column">
					<mat-form-field appearance="outline">
						<input id="prepagaAffiliateNumber" name="prepagaAffiliateNumber"
							formControlName="affiliateNumber" placeholder="{{'Nro de afiliado' | translate}}" matInput>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Fecha de fin</mat-label>
						<input formControlName="endDate" id="end-date" matInput [matDatepicker]="picker3"
							[min]="prepagaForm.value?.startDate">
						<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
						<mat-datepicker #picker3></mat-datepicker>
						<mat-error translate="forms.INVALID_DATE"></mat-error>
					</mat-form-field>
				</div>
				<div fxLayout="column">
					<mat-form-field appearance="outline">
						<input type="text" placeholder="{{ 'Ingresar Plan' | translate }}" aria-label="Number"
							formControlName="plan" matInput>
					</mat-form-field>
					<button mat-stroked-button color="primary" class="uppercase margin" id="add-medical-coverage" type="button"
						name="add-medical-coverage" (click)="addPrivateHealthInsurance()">Agregar Prepaga
					</button>
				</div>

			</form>
		</div>
	</mat-card>


</div>
<div mat-dialog-actions align="end">
	<button mat-stroked-button color="primary" [mat-dialog-close]=true class="uppercase"
		id="cancel-button" name="cancel-button" (click)="close()">
		Cancelar</button>
	<button mat-flat-button color="primary" [mat-dialog-close]=true cdkFocusInitial class="uppercase"
		id="okButton-button" name="okButton-button" (click)="save()">
		Guardar</button>
</div>
