<div class="medical-discharge">
	<h2 [translate]="'internaciones.discharge.MEDICAL_DISCHARGE'"></h2>
	<form [formGroup]="dischargeForm" (ngSubmit)="save()">
		<span [translate]="'internaciones.discharge.DISCHARGE_DATE'"></span> *
		<section>
			<div class="form-row" fxLayoutGap="5px">
				<mat-form-field appearance="outline">
					<input formControlName="date" id="date" matInput [matDatepicker]="datePicker"
						[value]="todayDate" [max]="todayDate" [min]="minMedicalDischargeDate"
						placeholder="{{'internaciones.discharge.DATE' | translate}}">

					<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
					<mat-datepicker #datePicker></mat-datepicker>

					<mat-error *ngIf="hasError(dischargeForm, 'required', 'date') else invalidDate"
						translate="internaciones.discharge.REQUIRED"></mat-error>
					<ng-template #invalidDate>
						<mat-error translate="internaciones.discharge.INVALID_DATE"></mat-error>
					</ng-template>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<input matInput id="time" type="text" formControlName="time" pattern="{{TIME_PATTERN}}"
						placeholder="{{'internaciones.discharge.TIME' | translate}}">

					<mat-error *ngIf="hasError(dischargeForm, 'beforeTime', 'time')"
						translate="internaciones.discharge.MIN_TIME_ERROR"
						[translateParams]="{ minTime: minTime }"></mat-error>
					<mat-error *ngIf="hasError(dischargeForm, 'pattern', 'time')"
						translate="internaciones.discharge.TIME_FORMAT">
					</mat-error>
					<mat-error *ngIf="hasError(dischargeForm, 'required', 'time')"
						translate="internaciones.discharge.REQUIRED">
					</mat-error>
					<mat-error *ngIf="hasError(dischargeForm, 'futureTime', 'time')"
						translate="internaciones.discharge.MAX_TIME_ERROR"></mat-error>
				</mat-form-field>
			</div>
		</section>

		<span [translate]="'internaciones.discharge.DISCHARGE_TYPE'"></span> *
		<section class="form-row">
			<mat-form-field appearance="outline">
				<mat-select id="dischargeTypeId" name="dischargeTypeId" formControlName="dischargeTypeId"
					placeholder="{{'internaciones.discharge.DISCHARGE_TYPE' | translate}}">
					<mat-option *ngFor="let dischargeType of dischargeTypes" [value]="dischargeType.id">
						{{dischargeType.description}}
					</mat-option>
				</mat-select>
				<mat-error [translate]="'forms.REQUIRED'"></mat-error>
			</mat-form-field>
		</section>

		<mat-dialog-actions fxLayoutAlign="end end">

			<button mat-raised-button color="primary">
				<span [translate]="'buttons.CONTINUE'"></span>
			</button>
			<button class="close" type="button" mat-dialog-close mat-icon-button matSuffix fxLayout="column">
				<mat-icon>close</mat-icon>
			</button>
		</mat-dialog-actions>
	</form>
</div>



