.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
mat-card.mat-card {
	width: 100px;
	height: 75px;
	margin: 5px;
	padding: 5px 10px 15px;
	text-align: center;
	div {
		flex-grow: 0.5;
		display: flex;
		span {
			align-self: flex-end;
		}
	}
	span.value {
		margin-top: 5px;
		font-weight: bold;
		font-size: 28px;
	}
}
