@import '../../../../../../../../../assets/styles/mixins';

div.spinner {
	@include centered-spinner;
}

::ng-deep {
	.cal-week-view .cal-day-columns .bg-green {
		background-color: #C9E7CB !important;
	}

	.cal-week-view .cal-day-columns .bg-blue {
		background-color: #92C3E2 !important;
	}

	.cal-event-title {
		color: black;
	}

}
