@import '../../../../../../../../../assets/styles/mixins';

div.spinner {
	@include centered-spinner;
}

mwl-calendar-week-view::ng-deep {
	.cal-week-view .cal-day-columns {
		.bg-green {
			background-color: #C9E7CB !important;
			cursor: pointer;
		}

		.cal-events-container {
			max-width: 80%;
		}

		.bg-blue {
			background-color: #92C3E2 !important;
			cursor: pointer;
		}
	}

	.cal-event-title {
		color: black;
	}
}
