<app-concepts-list
	id="antecedentes-familiares"
	[hasConcepts]="!antecedentesFamiliaresNuevaConsultaService.isEmpty()"
	[isEmpty]="isEmpty"
	[content]="familyHistoriesContent"
	[initialCheckboxState]="isNotReferred == undefined ? null : !isNotReferred"
	(openEmit)="checkFamilyHistoriesEvent($event)">
	<app-background-list [familyHistory]="antecedentesFamiliaresNuevaConsultaService.getAntecedentes()" (remove)="antecedentesFamiliaresNuevaConsultaService.remove($event)"></app-background-list>
</app-concepts-list>
