.label {
    margin-left: 3vh;
}

.icon {
    margin-top: 0.2vh;
    font-size: medium;
}

.margined {
    margin-top: 2.5vh;
}

.green {
    color: #27AE60;
}

.red {
    color: #EB5757;
}

.orange {
    color: #FF8A00;
}

.grey {
    color: #A8A8A8;
}
