<div fxLayout="column" fxLayoutGap="10px">
	<span class="title">{{title | translate}}</span>
	<form [formGroup]="form">
		<mat-form-field appearance="outline">
			<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" placeholder="dd/mm/aaaa" [matDatepickerFilter]="dateFilter"
				formControlName="selectedDate" readonly>
			<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
			<mat-datepicker #datepicker>
			</mat-datepicker>
		</mat-form-field>
		<ng-container *ngIf="enableDelete">
			<button type="button" mat-icon-button (click)="delete()">
				<mat-icon color="warn">delete_outline</mat-icon>
			</button>
		</ng-container>
	</form>
</div>
