# ============================================
# Config 
# ============================================
spring.profiles.default=prod

#Contraseña del usuario root
admin.password = {{ admin_password }}

#palabra usada para encriptar token
token.secret=${TOKEN_SECRET:{{ token_secret }}}

#Directorio de almacenamiento de documentos
internment.document.directory=${DOCUMENT_ROOT_DIRECTORY:{{ document_root_directory }}}

# ============================================
# Database 
# ============================================
spring.datasource.url=jdbc:postgresql://{{
                        hostvars['postgres_master'].ansible_default_ipv4.address
                    }}:{{ database_port }}/{{ sgh_database_name }}
spring.datasource.username={{ sgh_database_user_name }}
spring.datasource.password={{ sgh_database_user_password }}


# ============================================
# Google reCAPTCHA type:v2 Checkbox 
# ============================================
google.recaptcha.secret.key = ${RECAPTCHA_SECRET_KEY:{{ recaptcha_secret_key }}}
google.recaptcha.site.key = ${RECAPTCHA_PUBLIC_KEY:{{ recaptcha_site_key }}}


# ============================================
# Renaper
# ============================================
#claves de acceso a renaper
ws.renaper.nombre= {{ renaper_usuario }}
ws.renaper.clave= {{ renaper_clave }}


# ============================================
# Federar
# ============================================
#Configuracion WS Federar
ws.federar.claims.iss= {{ federar_issuer }}
ws.federar.claims.sub= {{ federar_subject }}

ws.federar.auth.signKey= {{ federar_sign_key }}

# ============================================
# Snowstorm
# ============================================
ws.snowstorm.appId= {{ snowstorm_id }}
ws.snowstorm.appKey= {{ snowstorm_key }}
