.dose {
    border-radius: 5px;
    padding: 5px;
	background-color:#2687C533;
	color:#2687C5;
}

.mat-list-item {
	padding-bottom: 5px;
	padding-top: 5px;
}
.m {
	color: #A8A8A8;
}
.dose {
    border-radius: 2px;
    padding: 2px;
	background-color:#2687C533;
	color:#2687C5;
}
.p {
    padding-top: 10px;
	padding-block-end: 10px;
}
.p2{
	padding-block-end: 10px;
}
.p3{
    padding-top: 30px;
}
.p4{
	padding-block-end: 10px;
    padding-top: 30px;
}
.p5{
	padding-block-end: 10px;
    padding-top: 30px;
}
.p6{
	padding-top: 30px;
	padding-block-end: 40px;
}
