<div fxLayout="row" fxLayoutAlign="end" class="close">
	<button mat-button [mat-dialog-close]="true" tabindex="-1">
		<mat-icon>close</mat-icon>
	</button>
</div>

<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
	<div class="title">{{data.title}}</div>
</div>

<div mat-dialog-content fxLayoutAlign="start" fxLayout="column">

	<mat-list class="mat-list">
		<div class="mat-list-item">
			<div fxFlex="33%" [translate]="'ambulatoria.paciente.vacunas.details.DOSE'"></div>
			<div fxFlex="33%" [translate]="'ambulatoria.paciente.vacunas.details.DATE'"></div>
			<div fxFlex="33%" [translate]="'ambulatoria.paciente.vacunas.details.lotNumber'"></div>
		</div>
		<div  class="mat-values">
			<div fxFlex="33%">
				<ng-container *ngIf="data.dose else noInfo">
					<strong class="dose">{{data.dose | uppercase}}</strong>
				</ng-container>
			</div>
			<div fxFlex="33%">
				<ng-container *ngIf="data.date else noInfo">{{this.toFormatDate(data.date)}}</ng-container>
			</div>
			<div fxFlex="33%" class="capitalize-first-letter">
				<ng-container *ngIf="data.lot else noInfo">{{data.lot}}</ng-container>
			</div>
		</div>
	</mat-list>

	<mat-divider></mat-divider>

	<div class="inst-prof-container" fxLayout="column">
		<div class="sub-title" [translate]="'ambulatoria.paciente.vacunas.details.institution'"></div>
		<ng-container *ngIf="data.institution else noInfo">{{data.institution}}</ng-container>
		<div class="sub-title" [translate]="'ambulatoria.paciente.vacunas.details.professional'"></div>
		<ng-container *ngIf="data.professional else noInfo" class="inst-prof-values"><div> Dr. {{data.professional}}</div></ng-container>
	</div>

	<mat-divider></mat-divider>

	<mat-list class="mat-list">
		<div class="mat-list-item">
			<div fxFlex="50%"  [translate]="'ambulatoria.paciente.vacunas.details.condition_motive'"></div>
			<div fxFlex="50%"  [translate]="'ambulatoria.paciente.vacunas.details.scheme'"></div>
		</div>
		<div class="mat-values">
			<div fxFlex="50%" class="capitalize-first-letter">
				<ng-container *ngIf="data.terms else noInfo">{{data.terms}}</ng-container>
			</div>
			<div fxFlex="50%" class="capitalize-first-letter">
				<ng-container *ngIf="data.scheme else noInfo">{{data.scheme}}</ng-container>
			</div>
		</div>
	</mat-list>

	<div class="observations">
		<div fxFlex="100%" class="capitalize-first-letter">
			<ng-container *ngIf="data.observations else noInfo">{{data.observations}}</ng-container>
		</div>
	</div>
</div>

<ng-template #noInfo>
	<snap class="not-info" [translate]="'ambulatoria.paciente.vacunas.details.not-info'"></snap>
</ng-template>
