.internment-dialog {
	margin-top: 10px;
	border-radius: 6px;
	padding: 4px 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}

.message-label {
	padding-top: 5px;
	background-color: #FDF0F0;
	color: #EB5757;
}

.color-black {
	color: #4F4F4F;
}
