<div id="patient" fxLayout="column" fxLayoutGap="10px" *ngIf="emergencyCarePatientSummaryItem">
    <ng-container *ngIf="emergencyCarePatientSummaryItem.typeId === EMERGENCY_CARE_TEMPORARY else patientSummary">
       <app-temporary-patient [patientDescription]="emergencyCarePatientSummaryItem.description"></app-temporary-patient>
    </ng-container>
    <ng-template #patientSummary>
        <app-patient-summary [person]="emergencyCarePatientSummaryItem.summary" size={{SMALL}}>
        </app-patient-summary>
    </ng-template>
    <div class="margin" fxLayout="column" fxLayoutGap="15px">
        <app-title-description *ngIf="reason" [title]="'guardia.home.episodes.episode.patient.REASON' | translate" [text]="reason" [showFullText]="false"></app-title-description>
        <app-identifier-cases *ngIf="episodeTypeDescription" identifierCase={{EMERGENCY_CARE_TYPE}}
            [description]="episodeTypeDescription"></app-identifier-cases>
    </div>
</div>
