.header-image {
	background-image: url("../../../../../../../assets/images/empty-profile.png");
	background-size: cover;
}

mat-card-subtitle {
	margin-bottom: 0;
}

.mat-card-header .mat-card-title {
    margin-bottom: 8px;
    font-size: 16px;
}