<mat-list content>
	<mat-list-item id="bed">
		<div class="flex-container">
			<mat-icon color="primary" mat-list-icon [inline]="true">meeting_room</mat-icon>
			<span class="mat-body-2">{{ internmentEpisode?.roomNumber }}</span>
			<mat-icon color="primary" mat-list-icon [inline]="true">single_bed</mat-icon>
			<span class="mat-body-2">{{ internmentEpisode?.bedNumber }}</span>
			<span class="mat-body-2">
				{{ internmentEpisode?.specialtyName }}
			</span>
		</div>
	</mat-list-item>

	<mat-divider inset></mat-divider>

	<mat-list-item id="doctor">
		<mat-icon color="primary" mat-list-icon>person</mat-icon>
		<span class="mat-body-2">
			{{internmentEpisode?.doctor.firstName}} {{internmentEpisode?.doctor.lastName}}
		</span>
		<span class="mat-caption"> {{internmentEpisode?.doctor.license}}</span>
	</mat-list-item>

	<mat-divider inset></mat-divider>

	<mat-list-item id="days">
		<div mat-line>
			<span class="mat-body-2"
					  [translate]="'internaciones.internacion-paciente.card.DAYS_INTERNED'"
					  [translateParams]="{ days: internmentEpisode?.totalInternmentDays }">
			</span>
		</div>
		<div mat-line>
			<span 	[translate]="'internaciones.internacion-paciente.card.ADMISSION'"
					  [translateParams]="{ datetime: internmentEpisode?.admissionDatetime }">
			</span>
		</div>
	</mat-list-item>
</mat-list>
