<mat-list content>
	<mat-list-item id="bed">
		<div class="flex-container">
			<mat-icon color="primary" mat-list-icon [inline]="true">local_hospital</mat-icon>
			<span class="mat-body-2">
				{{ internmentEpisode?.episodeSpecialtyName }}
			</span>
		</div>
	</mat-list-item>

	<mat-divider inset></mat-divider>

	<mat-list-item id="bed">
		<div class="flex-container">
			<mat-icon color="primary" mat-list-icon fontSet="material-icons-outlined" [inline]="true">meeting_room</mat-icon>
			<span class="mat-body-2">{{ internmentEpisode?.roomNumber }}</span>
			<mat-icon color="primary" mat-list-icon [inline]="true">single_bed</mat-icon>
			<span class="mat-body-2">{{ internmentEpisode?.bedNumber }} </span>
			<span class="mat-body-2">
				{{ internmentEpisode?.sectorDescription}} - {{ internmentEpisode?.sectorSpecialtyName }}
			</span>
		</div>
	</mat-list-item>

	<mat-divider inset></mat-divider>

	<mat-list-item id="doctor" *ngIf="internmentEpisode?.doctor">
		<mat-icon color="primary" mat-list-icon>medical_services</mat-icon>
		<span class="mat-body-2">
			{{internmentEpisode?.doctor.firstName}} {{internmentEpisode?.doctor.lastName}}
		</span>
		<span class="mat-caption"> {{internmentEpisode?.doctor.license}}</span>
	</mat-list-item>

	<mat-divider inset></mat-divider>

	<mat-list-item id="days">
		<div mat-line>
			<span *ngIf="internmentEpisode?.totalInternmentDays === 1 else multipleDays" class="mat-body-2"
				  [translate]="'internaciones.internacion-paciente.card.ONE_DAY'">
			</span>
			<ng-template #multipleDays>
				<span class="mat-body-2"
					  [translate]="'internaciones.internacion-paciente.card.DAYS_INTERNED'"
					  [translateParams]="{ days: internmentEpisode?.totalInternmentDays }">
				</span>
			</ng-template>
		</div>
		<div mat-line>
			<span 	[translate]="'internaciones.internacion-paciente.card.ADMISSION'"
					[translateParams]="{ datetime: internmentEpisode?.admissionDatetime }">
			</span>
		</div>
		<div mat-line *ngIf="canLoadProbableDischargeDate">
			<span 	[translate]="'internaciones.internacion-paciente.card.PROBABLE_DISCHARGE'"
					[translateParams]="{ datetime: internmentEpisode?.probableDischargeDate }">
			</span>
		</div>
	</mat-list-item>

	<div *ngIf="internmentEpisode?.responsibleContact">
		<mat-divider inset></mat-divider>
		<mat-list-item id="responsibleContact">
			<mat-icon color="primary" mat-list-icon [inline]="true" >supervised_user_circle</mat-icon>
			<span>{{internmentEpisode?.responsibleContact?.fullName || '' }}
				{{internmentEpisode?.responsibleContact?.relationship ? '(' + internmentEpisode.responsibleContact.relationship + ')' : '' }}
				{{internmentEpisode?.responsibleContact?.phoneNumber ? ' - ' + internmentEpisode.responsibleContact.phoneNumber : '' }}
			</span>
		</mat-list-item>
	</div>


</mat-list>
