<app-content width="narrow">
	<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!apiResponse">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<span translate="auth.password-reset.form.TITLE"></span>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<app-form-input label="auth.password-reset.form.PASSWORD_LABEL">
					<mat-form-field [floatLabel]="'never'" appearance="outline">
						<input formControlName="password"
							type="password"
							placeholder="{{'auth.password-reset.form.PASSWORD_PLACEHOLDER' | translate }}"
							matInput
						>
						<mat-error *ngIf="hasError('required', 'password')">
							<span translate="auth.password-reset.form.PASSWORD_REQUIRED"></span>
						</mat-error>
					</mat-form-field>
				</app-form-input>
				<app-form-input label="auth.password-reset.form.REPASSWORD_LABEL">
					<mat-form-field [floatLabel]="'never'" appearance="outline">
						<input formControlName="repassword"
							type="password"
							placeholder="{{'auth.password-reset.form.REPASSWORD_PLACEHOLDER' | translate }}"
							matInput
						>
						<mat-error *ngIf="hasError('required', 'repassword')">
							<span translate="auth.password-reset.form.REPASSWORD_REQUIRED"></span>
						</mat-error>
						<mat-error *ngIf="hasError('notEquivalent', 'repassword')">
							<span translate="auth.password-reset.form.REPASSWORD_NOTEQUIVALENT"></span>
						</mat-error>
					</mat-form-field>
				</app-form-input>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button type="submit" translate="auth.login.form.SUBMIT"></button>
			</mat-card-actions>
		</mat-card>
	</form>
	<mat-card *ngIf="apiResponse">
		<mat-card-header>
			<mat-card-title>
				<span translate="auth.password-reset.result.TITLE"></span>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-progress-bar mode="indeterminate" *ngIf="apiResponse.loading"></mat-progress-bar>
			<div class="container" *ngIf="apiResponse.data">
				<h3 class="mat-h3" translate="auth.password-reset.result.OK"></h3>
				<h2 class="mat-h2"><code>{{apiResponse.data.username}}</code></h2>
			</div>
			<div class="container" *ngIf="apiResponse.error">
				<h3 class="mat-h3" translate="auth.password-reset.result.ERROR"></h3>
				<h3 class="mat-h2">{{apiResponse.error.text}}</h3>
			</div>
		</mat-card-content>
	</mat-card>
</app-content>
