<form [formGroup]="form" fxLayout="column" fxLayoutGap="5px">
    <span>{{ "call-center.new-appointment.custom-form.email.TITLE" | translate}}</span>
    <mat-form-field appearance="outline">
        <input matInput type="email" [placeholder]="'call-center.new-appointment.custom-form.email.TITLE' | translate" formControlName="email" (blur)="onTouched()">
        <mat-error *ngIf="hasError(form,'required', 'email')">{{ "forms.REQUIRED" | translate }}</mat-error>
        <mat-error *ngIf="hasError(form, 'email', 'email')">{{ "forms.INVALID_EMAIL" | translate }}</mat-error>
    </mat-form-field>
</form>
