<section>
    <mat-card class="main-card">
        <h2 class="page-title">Lista de trabajo</h2>

        <mat-form-field class="dropdown-container" appearance="outline">
            <mat-label [translate]="'image-network.equipment-diary-setup.EQUIPMENT_SELECT'"></mat-label>
            <mat-select id="equipment" fxFlex="98%">
                <mat-option *ngFor="let equipment of equipments" id="equipment.name" [value]="equipment.name">
                    {{equipment.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card class="worklist-card">
            <mat-list class="mat-form-field-wrapper">
                <div *ngFor="let appointment of detailedAppointments">
                    <mat-list-item class="appointment-detail">
                        <app-colored-label class="uppercase" fxFlex.gt-xs="20" fxFlex.gt-sm="10" fxFlex.gt-md="7"
                            description={{appointment.description}} 
                            color="{{appointment.color}}"></app-colored-label>
                        
                        <div class="patient-information" fxFlex="55">
                            <p class="patient-name">{{appointment.data.patientName}}</p>
                            <span class="patient-identification grey smaller-font">DNI {{appointment.data.identificationNumber}} - ID {{appointment.data.patientId}}</span>
                        </div>

                        <div class="appointment-date-information smaller-font" fxFlex="15">
                            <span class="grey">{{appointment.data.date.day}}/{{appointment.data.date.month}}/{{appointment.data.date.year}}</span>
                            <span class="grey">{{appointment.data.hour.hours}}:{{appointment.data.hour.minutes}} hs.</span>
                        </div>

                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </mat-card>
    </mat-card>
</section>
