.worklist-section {
    margin: 5%;
}

.main-card {
    padding: 2% 4%;
    padding-bottom: 6%;
}

.worklist-card {
    padding: 0;
    padding-bottom: 3%;
}

.dropdown-container {
    width: 30%;
}

#equipment{
    padding-left: 2%;
}

.appointment-detail {
    display: block;
    padding: 2%;
    height: fit-content;
}

.appointment-container{
    display: flex;
}

.page-title {
    margin: 3% 0 2.5% 0 !important;
}

.patient-information {
    align-items: center;
}

.patient-name {
    margin: 0.5% 0;
}

.patient-identification {
    display: block;
}

.smaller-font {
    font-size: 0.9rem;
}

// Colored-label styles
.personalized-label{
    display: flex;
    margin-right: 8%;
    align-self: center;
}

::ng-deep .appointment-detail span {
    display: flex;
    min-width: 100%;
    height: fit-content;
    justify-content: center;
}
//------------------------//

@media (max-width: 1280px) {
    .dropdown-container {
        width: 40%;
    }
}

@media (max-width: 960px) {
    .dropdown-container {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .dropdown-container {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .appointment-container {
        flex-direction: column !important;
    }

    .appointment-detail {
        padding: 3% 1%;
    }

    .personalized-label {
        align-self: start;
    }

    ::ng-deep .appointment-detail span {
        min-width: 10%;
        justify-content: start;
    }

    .patient-information {
        margin-top: 2%;
    }

    .appointment-date-information {
        margin: 2%;
        align-self: end;
    }
}

@media (max-width: 500px) {
    .worklist-section {
        width: 90vw;
    }
}