section {
    margin: 5%;
}

.main-card {
    padding: 2% 4%;
    padding-bottom: 6%;
}

.worklist-card {
    padding: 0;
    padding-bottom: 3%;
}

.dropdown-container {
    width: 30%;
}

#equipment{
    padding-left: 2%;
}

.appointment-detail {
    padding: 1%;
}

.page-title {
    margin: 2.5% 0;
}

.patient-information {
    align-items: center;
}

.patient-name {
    margin: 0.5% 0;
}

.patient-identification {
    display: block;
}

.smaller-font {
    font-size: 0.9rem;
}

// Colored-label styles
app-colored-label{
    display: flex;
    margin-right: 8%;
}

::ng-deep .appointment-detail span {
    display: flex;
    min-width: 100%;
    justify-content: center;
}
//------------------------//

@media (max-width: 1280px) {
    .dropdown-container {
        width: 50%;
    }
}