<div class="content" fxLayout="column">
	<app-show-more-concepts [concepts]="orderDetails.snomed">
	</app-show-more-concepts>

	<app-identifier-cases *ngIf="orderDetails?.EStudyType" [identifierCase]="identiferCases.ERROR" [color]="colorRED"
		[description]="orderDetails.EStudyType">
	</app-identifier-cases>

	<app-identifier-cases *ngIf="orderDetails.requiresTransfer" [identifierCase]="identiferCases.PIN_DROP"
		[description]="'Requiere translado'">
	</app-identifier-cases>

	<app-identifier-cases [identifierCase]="identiferCases.LOCAL_HOSPITAL"
		[description]="orderDetails.sourceTypeId">
	</app-identifier-cases>

	<div>
		<span class="gray">
			{{orderDetails.date | viewDateDto: 'localdatetime' | dateFormat: 'datetime'}}
		</span>
	</div>
</div>
