<h3>
	{{orderDetails.snomedPt|capitalizeFirstLetter|translate}}
</h3>

<div fxLayoutGap="2px">

	<app-identifier *ngIf="orderDetails?.EStudyType" [identifier]="{iconLegend: {icon: 'error'},
		description: orderDetails.EStudyType}"></app-identifier>

	<app-identifier *ngIf="orderDetails.requiresTransfer" [identifier]="{iconLegend: {icon: 'pin_drop'},
		description: 'Requiere translado'}"></app-identifier>


	<app-identifier [identifier]="{iconLegend: {icon: 'local_hospital'},
		description: orderDetails.sourceTypeId}"></app-identifier>
	<div>
		<span class="gray">
			{{orderDetails.date | viewDateDto: 'localdatetime' | dateFormat: 'datetime'}}
		</span>
	</div>
</div>
