mat-toolbar {
	background-color: white;
	z-index: 2;

	.logo-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	img {
		max-width: 100%;
		height: 80%;
	}
	.title {
		font-weight: normal;
	}
}
