<div data-id="anthropometric-data-section">
    <app-iconed-titled-section icon="accessibility"
        title="internaciones.anesthesic-report.anthropometric-data.TITLE"></app-iconed-titled-section>
    <div class="section-description">
        <app-title-description-list *ngIf="anthropometricData.bloodType"
            title="internaciones.anesthesic-report.anthropometric-data.BLOOD_TYPE"
            [descriptionData]="anthropometricData.bloodType"></app-title-description-list>
        <app-title-description-list *ngIf="anthropometricData.height"
            title="internaciones.anesthesic-report.anthropometric-data.detail.HEIGHT"
            [descriptionData]="anthropometricData.height"></app-title-description-list>
        <app-title-description-list *ngIf="anthropometricData.weight"
            title="internaciones.anesthesic-report.anthropometric-data.detail.WEIGHT"
            [descriptionData]="anthropometricData.weight"></app-title-description-list>
    </div>
</div>