<mat-sidenav-container autosize class="sidenav-container">
	<mat-sidenav mode="side" opened>
		<mat-nav-list>
			<mat-list-item
					[routerLink]="menuItem.url"
					routerLinkActive="active"
					[routerLinkActiveOptions]="menuItem.options || {exact: false}"
					*ngFor="let menuItem of menuItems">
				<mat-icon matListIcon fontSet="material-icons-outlined">{{menuItem.icon}}</mat-icon>
				<span [translate]=menuItem.text></span>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
