<mat-sidenav-container class="sidenav-container">
	<mat-sidenav mode="side" opened>
		<mat-nav-list>
			<mat-list-item [ngClass]="{ active: activeIndex === i }" *ngFor=" let menuItem of menuItems; index as i">
				<mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
				<a (click)="clickMenu(menuItem); activeIndex = i">{{ menuItem.text | translate }}</a>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
