<div fxLayout="column" fxLayoutGap="0.1125em">
	<mat-card>
        <div *ngIf="referenceReports.length else noInfo" fxLayout="column" fxLayoutGap="10px">
            <ng-container *ngFor="let report of filteredReferenceReports">
                <app-report-information [report]="report"></app-report-information>
            </ng-container>
            <app-paginator [list]="referenceReports" (result)="changeView($event)"></app-paginator>
        </div>
        <ng-template #noInfo>
            <app-no-data></app-no-data>
        </ng-template>
	</mat-card>
</div>
