.mat-card {
    margin: 16px 0px;
    width: 100%;
}

.mat-divider-horizontal.mat-divider-inset.divider-list {
    margin: 16px 0px;
    width: 100%;
}

.serch {
	height: 100%;
	min-height: 100%;
	min-width: 80%;
	width: 80%;
	@media screen and (min-width: 960px) {
		min-width: 40%;
		width: 40%;
	}
}
