<form [formGroup]="data.createOrderService.getForm()" fxLayout="column" fxLayoutGap="5px">
	<span>{{'ambulatoria.paciente.nueva-consulta.studies.dialog.CATEGORY' | translate}}</span>

	<mat-form-field appearance="outline" class="full-width">
		<mat-select [(value)]="DEFAULT_STUDY.id" id="study-category">
			<mat-option *ngFor="let studyCategory of studyCategoryOptions" (click)="setStudyCategory(studyCategory.id)"
				[value]="studyCategory.id">
				{{studyCategory.description | translate}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div>
		<span>{{'ambulatoria.paciente.nueva-consulta.studies.dialog.STUDY' | translate}}</span>
		<app-concept-typeahead-search [ecl]="PROCEDURE"
			[showSearchIcon]="true" [appearanceOutline]="true"
			[placeholder]="'ambulatoria.paciente.nueva-consulta.studies.dialog.SEARCH_STUDY'" [clearButton]="true"
			(conceptSelected)="setConcept($event)">
		</app-concept-typeahead-search>
	</div>
</form>
