<app-content>

    <section id="title">
        <h2 class="page-title" [translate]="'reportes.TITLE_PROVINCIALES'"> </h2>
    </section>
    
    <mat-card id="tab_container" class="mat-typography">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab id="tab_programas">
                    <ng-template mat-tab-label>
                        <span>PROGRAMAS</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reportes-programas></app-reportes-programas>
                    </ng-template>
                </mat-tab>
                <mat-tab id="tab_generales">
                    <ng-template mat-tab-label>
                        <span>GENERALES</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reportes-generales></app-reportes-generales>
                    </ng-template>
                </mat-tab>
                <mat-tab id="tab_enfermeria">
                    <ng-template mat-tab-label>
                        <span>ENFERMERIA</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reportes-enfermeria></app-reportes-enfermeria>
                    </ng-template>
                </mat-tab>
                <mat-tab id="tab_odontologia">
                    <ng-template mat-tab-label>
                        <span>ODONTOLOGIA</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reportes-odontologia></app-reportes-odontologia>
                    </ng-template>
                </mat-tab>
                <mat-tab id="tab_adultomayor">
                    <ng-template mat-tab-label>
                        <span>ADULTO MAYOR</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reportes-adultomayor></app-reportes-adultomayor>
                    </ng-template>
                </mat-tab>
                <mat-tab id="tab_personagestante">
                    <ng-template mat-tab-label>
                        <span>PERSONA GESTANTE</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reportes-personagestante></app-reportes-personagestante>
                    </ng-template>
                </mat-tab>
                <mat-tab id="tab_epidemiologia">
                    <ng-template mat-tab-label>
                        <span>EPIDEMIOLOGÍA</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-reporte-dengue></app-reporte-dengue>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

</app-content>