@import '../../../../../assets/styles/mixins';

.mat-card {
	margin-top: 15px;

	mat-card-content {
		@include card-content;
	}

	.mat-radio-button {
		@include form-radio-button;
	}

}
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.appointmentInfoForm {
	margin-left: 24px;
}
