@import "../../../../../assets/styles/mixins.scss";
@import '../../../../../assets/styles/mat-mixins';

.content {

	.mat-radio-button {
		@include form-radio-button;
	}

	@include mat-form-field-background-white

}

.form-row{
      @include form-row;
}

mat-form-field{
    margin-right: 20px;
}

div.form-buttons {
	margin: 20px 0;
	button {
		margin-right: 10px;
	}
}

button.medical-coverage {
	width: 202px;
	margin-bottom: 13px;
	text-transform: uppercase;
}

.prefix-field {
	width: 80px;
}