@import "../../../../../assets/styles/mixins.scss";
@import '../../../../../assets/styles/mat-mixins';

.content {
	.mat-radio-button {
		@include form-radio-button;
	}

	@include mat-form-field-background-white;
}

.form-row {
	display: flex;
	flex-direction: row;
	flex-wrap: baseline;
}

mat-form-field {
	margin-right: 20px;
	max-width: 30%;
}

div.form-buttons {
	margin: 20px 0;

	button {
		margin-right: 10px;
	}
}

button.medical-coverage {
	width: 202px;
	margin-bottom: 13px;
	text-transform: uppercase;
}

.prefix-field {
	width: 80px;
}

#message_for_audit {
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
}

.mat-caption {
	color: #979797;
}

#message_for_audit_section {
	margin-bottom: 20px;
	background: none;
    width: 40%;
}

.attach_file{
	position: absolute;
	right: 0;
	margin-right: 15px;
}
.mb-2{
	margin-bottom: 2%;
}

.matInput{
	max-width: none;
}
#updateDNI{
	padding-bottom: 1.3em;
}
#updateDNI button{
	text-decoration-line: underline ;
}
 :host ::ng-deep .inputDni .mat-form-field-wrapper{
	padding-bottom: 0px!important;
}
#cardMessageAudit{
	max-width: 40%;
}
