<ng-container [ngSwitch]="uiComponent.type">
	<div *ngSwitchCase="'typography'" >
		<span [ngClass]="'mat-' + uiComponent.args.className">
			{{uiComponent.args.value}}
		</span>
	</div>
	<div *ngSwitchCase="'link'">
		<a mat-raised-button color="primary" [href]="uiComponent.args.value" target="_blank">
			<app-label [label]="uiComponent.args.label"></app-label>
		</a>
	</div>
	<div *ngSwitchCase="'html'" [innerHTML]="valueAsHtml"></div>

	<div *ngSwitchDefault>
		<span class="mat-title">
			Componente "<code>{{uiComponent.type}}</code>"
		</span>
		<div>{{uiComponent | json}}</div>
	</div>
</ng-container>
