<div fxLayout="column" fxFlex="100%">
	<app-patient-card *ngIf="personPhoto" [patient]="patientBasicData" [personPhoto]="personPhoto"
		[internmentEpisodeProcess]="internmentEpisode"
		[emergencyCareEpisodeInProgress]="emergencyCareEpisodeInProgress?.inProgress">
		<div header id="header" fxLayout="row" fxLayoutAlign="space-between center">
			<app-patient-type-logo fxFlex="62%" [patientTypeData]="patientTypeData"
				class="patientTypeData"></app-patient-type-logo>
			<button mat-icon-button mat-dialog-close>
				<mat-icon>close</mat-icon>
			</button>
		</div>

		<mat-dialog-content content>
			<app-personal-information [personalInformation]="personalInformation"
				[patientMedicalCoverage]="patientMedicalCoverage"
				[showButtonGoToMedicalHistory]="showButtonGoToMedicalHistory">
			</app-personal-information>
		</mat-dialog-content>

	</app-patient-card>
</div>
