<div fxLayout="column" fxFlex="100%">
	<app-patient-card *ngIf="personPhoto" [patient]="patientBasicData" [personPhoto]="personPhoto"
		[internmentEpisodeInProgress]="internmentEpisode?.inProgress"
		[emergencyCareEpisodeInProgress]="emergencyCareEpisodeInProgress?.inProgress">
		<div header id="header" fxLayout="row" fxLayoutAlign="space-between center">
			<app-patient-type-logo fxFlex="62%" [patientTypeData]="patientTypeData"
				class="patientTypeData"></app-patient-type-logo>
			<div>
				<button mat-icon-button mat-dialog-close color="primary" (click)="goToEditPatient()">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button mat-dialog-close>
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>

		<mat-dialog-content content>
			<app-message-flagged-for-audit *ngIf="auditablePatientInfo" [auditablePatientInfo]="auditablePatientInfo"></app-message-flagged-for-audit>
			<app-personal-information [personalInformation]="personalInformation"
				[patientMedicalCoverage]="patientMedicalCoverage"
				[showButtonGoToMedicalHistory]="showButtonGoToMedicalHistory">
			</app-personal-information>
		</mat-dialog-content>

	</app-patient-card>
</div>
