<app-content width="narrow" >

	<div class="container" *ngIf="!apiResponse">
		<h1 class="mat-display-1">Definir clave</h1>
		<h2 class="mat-h2">Ingrese una nueva clave que pueda recordar y evitar que otros la adivinen. No comparta esta clave.</h2>
		<form [formGroup]="form" (ngSubmit)="submit()">
			<div class="label-title">
				<span>Nueva clave</span>
			</div>
			<mat-form-field [floatLabel]="'never'">
				<input id="password"
					type="password"
					formControlName="password"
					placeholder="Ingrese una nueva clave"
					matInput
				>
				<mat-error *ngIf="hasError('required', 'password')">
					Debe especificar una clave
				</mat-error>
			</mat-form-field>

			<div class="label-title">
				<span>Confirmar clave</span>
			</div>
			<mat-form-field [floatLabel]="'never'">
				<input id="repassword"
					type="password"
					formControlName="repassword"
					placeholder="Vuelva a ingresar la nueva clave"
					matInput
				>
				<mat-error *ngIf="hasError('required', 'repassword')">
					Debe reingresar la clave
				</mat-error>
				<mat-error *ngIf="hasError('notEquivalent', 'repassword')">
					Deben coincidir las claves
				</mat-error>
			</mat-form-field>
			<div class="button-container">
				<button mat-button class="button-continuar" type="submit">
					Guardar
				</button>
			</div>
		</form>
	</div>
	<div *ngIf="apiResponse">
		<mat-progress-bar mode="indeterminate" *ngIf="apiResponse.loading"></mat-progress-bar>
		<div class="container" *ngIf="apiResponse.data">
			<h1 class="mat-display-1">Clave nueva</h1>
			<h2 class="mat-h2">Se definió correctamente la clave para el usuario</h2>
			<h2 class="mat-h2"><code>{{apiResponse.data.email}}</code></h2>
		</div>
		<div class="container" *ngIf="apiResponse.error">
			<h1 class="mat-display-1">Error al definir clave</h1>
			<h2 class="mat-h2">{{apiResponse.error.text}}</h2>
		</div>
	</div>
</app-content>
