.health-insurance-dialog {

	.health-insurance-dialog-title {
		margin: 0px;
	}

	.mat-dialog-content {
		height: 40vh;
	}

	.health-insurance-dialog-header, .health-insurance-condition {
		margin-bottom: 20px;
	}
}
