.header-container {
	margin-bottom: 1rem;
}

.title {
    font-size: 1.4em;
}

.full-width {
	width: 100%;
}

.file-attached {
	margin-top: 0.7em;
}

.confirm-btn {
	padding: 2em 0;
}

.smaller-font {
	font-size: 0.7rem;
}

textarea {
	white-space: pre-wrap;
}
.add-studies-margin {
	margin-top: 10px;
	margin-bottom: 7px
}

.margin-problem {
	margin-bottom: 12px;
}