<div class="header-container" fxLayout="row" fxLayoutAlign="space-between">
    <h1 class="title" [translate]="'image-network.appointments.medical-order.TRANSCRIBE_ORDER_TITLE'"></h1>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="transcribeOrderForm">
    <!-- PROBLEM SELECTION -->
    <div class="margin-problem">
        <app-concept-typeahead-search *ngIf="!selectedProblem else problemSelectedField"
            [placeholder]="'image-network.appointments.medical-order.ASSOCIATED_PROBLEM' | translate" [debounceTime]="0"
            [ecl]="this.problemECL" [appearanceOutline]="true" (conceptSelected)="handleProblemSelected($event)">
        </app-concept-typeahead-search>
    
        <ng-template #problemSelectedField>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label [translate]="'image-network.appointments.medical-order.ASSOCIATED_PROBLEM'"></mat-label>
                <input formControlName="assosiatedProblem" type="text" matInput readonly
                    matTooltip="{{ this.getProblemDisplayName() }}">
                <button mat-button matSuffix color="warn" mat-icon-button (click)="resetProblemSelector()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </ng-template>
    </div>

    <!-- PROFESSIONAL SELECTION -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label translate="image-network.appointments.medical-order.PROFESSIONAL"></mat-label>
        <input formControlName="professional" type="text" matInput>
        <mat-error *ngIf="hasError(transcribeOrderForm, 'required', 'professional')">
            <span translate="forms.REQUIRED"></span>
        </mat-error>
    </mat-form-field>

    <!-- INSTITUTION SELECTION -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label translate="image-network.appointments.medical-order.INSTITUTION"></mat-label>
        <input formControlName="institution" type="text" matInput>
        <mat-error *ngIf="hasError(transcribeOrderForm, 'required', 'professional')">
            <span translate="forms.REQUIRED"></span>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <textarea matInput type="text" id="observations-input" name="observations" formControlName="observations"
            placeholder="{{'image-network.appointments.medical-order.OBSERVATIONS' | translate }}">
        </textarea>
    </mat-form-field>

    <ng-container *ngIf="associatedStudies.length > 0">
        <app-titled-content-card title="{{'image-network.appointments.medical-order.STUDY_RECORDS'}}">
            <app-study-list-transcribed [studyList]="associatedStudies"
                (removeEvent)="removeStudy($event)"></app-study-list-transcribed>
        </app-titled-content-card>
    </ng-container>

    <button id="add-study" class="add-studies-margin" mat-button color="primary" (click)="addStudy()">
        {{ 'image-network.appointments.medical-order.ADD_STUDY' | translate }}
    </button>


    <mat-divider></mat-divider>

    <!-- FILE SELECTION -->
    <div class="file-attached">
        <div>
            <button mat-button color="primary" (click)="fileInput.click()">
                <mat-icon>attachment</mat-icon>
                <span [translate]="'image-network.appointments.medical-order.ATTACH_EXTERNAL_ORDER'"></span>
            </button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file"
                (click)="$event.target.value=null" accept="image/jpeg,image/jpg,image/png,application/pdf">
        </div>

        <div *ngIf="selectedFilesShow" class="selected-files">
            <div *ngFor="let fileName of selectedFilesShow; let index = index" fxLayout="row"
                fxLayoutAlign="space-between center">
                <span class="mat-body element-light-color">
                    {{fileName}}
                </span>
                <button mat-button color="warn" (click)="removeSelectedFile(index)"><mat-icon>delete</mat-icon></button>
            </div>
        </div>

        <mat-error class="smaller-font" *ngIf="filesExtension">
            <span translate="image-network.appointments.medical-order.FILES_EXTENSION"></span>
        </mat-error>
    </div>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="confirm-btn">
        <button mat-raised-button color="primary" [disabled]="!isFormValid()" (click)="saveOrder()">
            <span [translate]="'buttons.CONFIRM'"></span>
        </button>
    </mat-dialog-actions>
</form>