<div fxLayout.gt-xs="row wrap" fxLayout.xs="column" fxLayoutGap="10px">
	<div fxFlex.gt-xs="57%" fxFlex.xs="100%" fxLayout="row" fxLayoutGap="5px">
		<mat-icon class="icon" fontSet="material-icons-outlined"> event </mat-icon>
		<span class="mat-body capitalize-first-letter text">
			{{ getViewDate() }}
		</span>
	</div>
	<div fxFlex.gt-xs="37%" fxFlex.xs="100%" fxLayout="row" fxLayoutGap="5px">
		<mat-icon class="icon"> query_builder </mat-icon>
		<span class="mat-body text">
			{{ getViewTime() }} hs
		</span>
	</div>
	<div fxFlex.gt-xs="57%" fxFlex.xs="100%" fxLayout="row" fxLayoutGap="5px">
		<mat-icon class="icon"> person_outline </mat-icon>
		<div fxLayout="column">
			<span class="mat-body text"> {{ appointment.professionalName }} </span>
		</div>
	</div>
	<div fxFlex.gt-xs="37%" fxFlex.xs="100%" fxLayout="row" fxLayoutGap="5px">
		<mat-icon class="icon" fontSet="material-icons-outlined"> add_box </mat-icon>
		<div fxLayout="column">
			<span *ngFor="let specialty of appointment.specialties" class="mat-body text">
				{{ specialty }}
			</span>
		</div>
	</div>
	<div fxFlex.gt-xs="100%" fxFlex.xs="100%" fxLayout="row" fxLayoutGap="5px">
		<mat-icon class="icon" fontSet="material-icons-outlined"> meeting_room </mat-icon>
		<span class="mat-body text"> {{ appointment.office }} </span>
	</div>
</div>
