<app-content width="full">

	<section id="header">
		<h2 id="page-title" class="page-title" [translate]="'ambulatoria.paciente.nueva-consulta.TITLE'"></h2>
		<h3 id="page_subtitle" [translate]="'ambulatoria.paciente.nueva-consulta.SUBTITLE'"></h3>
	</section>

	<section id="motivo" class="doc-section">
		<app-document-section [sectionTitle]="'ambulatoria.paciente.nueva-consulta.motivo.TITLE'">
				<ng-container concept-form>
					<app-concepts-search *ngIf="!motivoNuevaConsultaService.getMotivoConsulta() else mainMotivoConsulta"
										 [label]="'ambulatoria.paciente.nueva-consulta.motivo.MOTIVO'"
										 (search)="motivoNuevaConsultaService.openSearchDialog($event)">
					</app-concepts-search>

					<ng-template #mainMotivoConsulta>
						<form [formGroup]="motivoNuevaConsultaService.getForm()">
							<mat-form-field appearance="outline">
								<mat-label [translate]="'internaciones.anamnesis.diagnosticos.DIAGNOSIS'">
								</mat-label>
								<input id="motivo-input" matInput type="text" formControlName="snomed" name="snomed"
									   readonly
									   matTooltip="{{motivoNuevaConsultaService.getMotivoConsulta().snomed.pt }}">
								<button id="clear-motivo" mat-button matSuffix color="warn" mat-icon-button
										(click)="motivoNuevaConsultaService.resetForm()">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</form>
					</ng-template>
			</ng-container>
		</app-document-section>
	</section>

	<section id="problemas" class="doc-section">
		<app-document-section [sectionTitle]="'ambulatoria.paciente.nueva-consulta.problemas.TITLE'"
							  [tableTitle]="'ambulatoria.paciente.nueva-consulta.problemas.TABLE_TITLE'"
							  [columns]="problemasNuevaConsultaService.getColumns()"
							  [data]="problemasNuevaConsultaService.getData()">
			<div concept-form>
				<app-concepts-search
					*ngIf="!problemasNuevaConsultaService.getSnomedConcept() else problemaForm"
					[label]="'ambulatoria.paciente.nueva-consulta.problemas.CONCEPT_LABEL'"
					(search)="problemasNuevaConsultaService.openSearchDialog($event)">
				</app-concepts-search>
			</div>

			<ng-template #problemaForm>
				<form [formGroup]="problemasNuevaConsultaService.getForm()"
					  (ngSubmit)="problemasNuevaConsultaService.addToList()">

					<mat-form-field appearance="outline">
						<mat-label
							[translate]="'ambulatoria.paciente.nueva-consulta.problemas.CONCEPT_LABEL'"></mat-label>
						<input id="snomed-input" matInput type="text" formControlName="snomed" name="snomed" readonly
							   matTooltip="{{ problemasNuevaConsultaService.getSnomedConcept().pt }}">
						<button id="clear" mat-button matSuffix color="warn" mat-icon-button
								(click)="problemasNuevaConsultaService.resetForm()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>

					<div>
						<mat-checkbox id="cronico-checkbox" formControlName="cronico">
							<span [translate]="'ambulatoria.paciente.nueva-consulta.problemas.CRONICO'"></span>
						</mat-checkbox>
					</div>

					<mat-form-field appearance="outline">
						<mat-label
							[translate]="'ambulatoria.paciente.nueva-consulta.problemas.FECHA_INICIO'">
						</mat-label>
						<input matInput id="fecha_inicio" [matDatepicker]="inicioDatePicker"
							   formControlName="fechaInicio"
							   [max]="problemasNuevaConsultaService.getFechaInicioMax()">
						<mat-datepicker-toggle matSuffix [for]="inicioDatePicker"></mat-datepicker-toggle>
						<mat-datepicker #inicioDatePicker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label
							[translate]="'ambulatoria.paciente.nueva-consulta.problemas.FECHA_FIN'">
						</mat-label>
						<input matInput id="fecha_fin" [matDatepicker]="finDatePicker" formControlName="fechaFin"
							   [min]="problemasNuevaConsultaService.getFechaFinMin()">
						<mat-datepicker-toggle matSuffix [for]="finDatePicker"></mat-datepicker-toggle>
						<mat-datepicker #finDatePicker></mat-datepicker>
					</mat-form-field>

					<div align="end">
						<button id="submit" class="uppercase" mat-raised-button color="primary" type="submit">
							<span [translate]="'ambulatoria.paciente.nueva-consulta.problemas.buttons.ADD'"></span>
						</button>
					</div>

				</form>
			</ng-template>
		</app-document-section>
	</section>

</app-content>
