<form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">

	<mat-form-field appearance="outline">
		<mat-label>
			{{ 'ambulatoria.paciente.problemas.external-clinical-histories-filters.SEARCH_BY_KEYWORD' | translate }}
		</mat-label>
		<input matInput formControlName="keyWord" (change)="setKeyWordFilter()">
		<button type="button" matSuffix mat-icon-button>
			<mat-icon>search</mat-icon>
		</button>
		<button type="button" *ngIf="form.value.keyWord?.length > 0" matSuffix color="warn" mat-icon-button
			(click)="clear(form.controls.keyWord, 'keyWord'); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			{{ 'ambulatoria.paciente.problemas.external-clinical-histories-filters.SPECIALTY' | translate }}
		</mat-label>
		<mat-select formControlName="specialty" (selectionChange)="setSpecialtyFilter()">
			<mat-option *ngFor="let specialty of specialties" [value]="specialty">
				{{ specialty | titlecase }}
			</mat-option>
		</mat-select>
		<button type="button" *ngIf="form.value.specialty" matSuffix color="warn" mat-icon-button
			(click)="clear(form.controls.specialty, 'specialty'); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			{{ 'ambulatoria.paciente.problemas.external-clinical-histories-filters.PROFESSIONAL' | translate }}
		</mat-label>
		<mat-select formControlName="professional" (selectionChange)="setProfessionalFilter()">
			<mat-option *ngFor="let professional of professionals" [value]="professional">
				{{ professional | titlecase }}
			</mat-option>
		</mat-select>
		<button type="button" *ngIf="form.value.professional" matSuffix color="warn" mat-icon-button
			(click)="clear(form.controls.professional, 'professional'); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			{{ 'ambulatoria.paciente.problemas.external-clinical-histories-filters.INSTITUTION' | translate }}
		</mat-label>
		<mat-select formControlName="institution" (selectionChange)="setInstitutionFilter()">
			<mat-option *ngFor="let institution of institutions" [value]="institution">
				{{ institution | titlecase }}
			</mat-option>
		</mat-select>
		<button type="button" *ngIf="form.value.institution" matSuffix color="warn" mat-icon-button
			(click)="clear(form.controls.institution, 'institution'); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			{{ 'ambulatoria.paciente.problemas.external-clinical-histories-filters.CONSULTATION_DATE' | translate }}
		</mat-label>
		<input matInput formControlName="consultationDate" [matDatepicker]="myDatepicker"
			(dateChange)="setConsultationDateFilter()">
		<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
		<mat-datepicker #myDatepicker></mat-datepicker>
		<button type="button" *ngIf="form.value.consultationDate" matSuffix color="warn" mat-icon-button
			(click)="clear(form.controls.consultationDate, 'consultationDate'); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

</form>
