.card {
	margin-top: 10px;
}

.red {
    color: #f44336
}

.disable {
    color: #a8a8a8;
	line-height: 20px;
	font-family: 15px, Roboto;
	margin-top: 15px;
}

.container {
	margin: 0.94em 0 0 0.94em;

	.item {
		font-size: 14px;
	}
}
