<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
	<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
		<div class="diagnosis-text" fxLayout="row" fxLayoutGap="10px">
			<mat-checkbox id="{{ diagnosis.snomed.pt }}" [(ngModel)]="isMain || diagnosis.isAdded" [disabled]="isMain"
				(change)="diagnosis.isAdded = $event.checked; updateChecked() " color="primary"></mat-checkbox>
			<strong [ngClass]="{'capitalize title': type === 'EPICRISIS', 'capitalize': type !== 'EPICRISIS'}">{{
				diagnosis.snomed.pt }}</strong>
		</div>
		<span *ngIf="diagnosis.statusId == ACTIVE else remissionDiagnosis"
			[translate]="'internaciones.anamnesis.diagnosticos.ACTIVE'"></span>
		<span *ngIf="diagnosis.verificationId == PRESUMTIVE else confirmedDiagnosis"
			[translate]="'internaciones.anamnesis.diagnosticos.PRESUMPTIVE'"></span>
		<ng-template #confirmedDiagnosis>
			<span *ngIf="diagnosis.verificationId == CONFIRMED else discardedDiagnosis"
				[translate]="'internaciones.anamnesis.diagnosticos.CONFIRMED'"></span>
		</ng-template>
	</div>

	<div fxLayout="row" *ngIf="type === 'ANAMNESIS' || !isMain">
		<button mat-icon-button color="primary" (click)="openDiagnosisEditionDialog()" [disabled]="isMain">
			<mat-icon>edit</mat-icon>
		</button>
		<button mat-icon-button color="warn" (click)="remove()">
			<mat-icon>delete</mat-icon>
		</button>
	</div>

</div>

<ng-template #discardedDiagnosis>
	<span *ngIf="diagnosis.verificationId" [translate]="'internaciones.anamnesis.diagnosticos.DISCARD'"></span>
</ng-template>

<ng-template #remissionDiagnosis>
	<div *ngIf="diagnosis.statusId == REMISSION else resolvedDiagnosis">
		<span [translate]="'internaciones.anamnesis.diagnosticos.REMISSION'"></span>
	</div>
</ng-template>

<ng-template #resolvedDiagnosis>
	<div *ngIf="diagnosis.statusId == RESOLVED">
		<span [translate]="'internaciones.anamnesis.diagnosticos.RESOLVED'"></span>
	</div>
</ng-template>
