.title {
    font-weight: 500;
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.closed-panel {

    color: rgba(0, 0, 0, 0.38);

    mat-icon {
        font-size: 22px;
    }

    span {
        font-size: 18px;
    }

    .recommend {
        font-size: 14px;
    }
}

.recommend {
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    font-weight: 400;
}