<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="10px"
    fxLayoutGap.lt-md="30px">

    <div id="patient-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px" fxFlex="15%">
        <span class="bold content">{{report.dto.patientFullName}}</span>

        <div *ngIf="report.dto.identificationType && report.dto.identificationNumber" fxLayoutGap="5px" fxFlex="10%">
            <span>{{report.dto.identificationType}}</span>
            <span>{{report.dto.identificationNumber}}</span>
        </div>
    </div>

    <div id="problems-priority-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="15%">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon class="material-icons-outlined grey">error_outline</mat-icon>
            <div class="content" fxLayout="column" fxLayoutAlign="center start">
                <span>{{report.dto.problems[0]}}</span>
                <span *ngIf="report.dto.problems.length == 2 else showMore">
                    (+ {{report.dto.problems.length - 1}} {{ 'turnos.search_references.ONE_MORE_PROBLEM' | translate }})
                </span>
                <ng-template #showMore>
                    <span *ngIf="report.dto.problems.length > 2">(+ {{report.dto.problems.length - 1}} {{
                        'turnos.search_references.MORE_PROBLEMS' | translate }})</span>
                </ng-template>
            </div>
        </div>
        <app-priority [priority]="report.priority"></app-priority>
        <span class="grey">{{report.dto.date | viewDateDto: 'localdatetime' | date: 'dd/MM/yyyy - HH:mm'}}</span>
    </div>

    <div id="origin-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="15%">
        <span class="grey"> {{'turnos.search_references.ORIGIN' | translate | uppercase}}</span>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="100%">
            <app-iconed-text icon="medical_services" [text]="report.dto.clinicalSpecialtyOrigin"></app-iconed-text>
            <app-iconed-text *ngIf="report.dto.institutionOrigin" icon="domain" [text]="report.dto.institutionOrigin"></app-iconed-text>
        </div>
    </div>

    <div id="destination-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="15%">
        <span class="grey">{{'turnos.search_references.DESTINATION' | translate | uppercase}}</span>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="100%">
            <app-iconed-text icon="medical_services" [text]="report.dto.clinicalSpecialtyDestination"></app-iconed-text>
            <app-iconed-text *ngIf="report.dto.careLine" icon="library_add"
                [text]="report.dto.careLine"></app-iconed-text>
            <app-iconed-text *ngIf="report.dto.institutionDestination" icon="domain" [text]="report.dto.institutionDestination"></app-iconed-text>
        </div>
    </div>

    <app-colored-icon-text id="closure-type" fxFlex="15%"
        [coloredIconText]="report.coloredIconText"></app-colored-icon-text>
</div>

<mat-divider class="divider-list" inset></mat-divider>