.bold {
    font-weight: 500;
}

.mat-divider-horizontal.mat-divider-inset.divider-list {
    margin: 16px 0px;
    width: 100%;
}

mat-icon {
    overflow: visible;
}

.content {
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-line;
    max-width: 20vh;
}