<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="10px"
    fxLayoutGap.lt-md="30px">

    <app-patient-summary fxFlex="20%" [person]="report.patient" [size]="size"></app-patient-summary>

    <div id="problems-priority-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="15%">

        <app-identifier-cases style="white-space: pre-line" *ngIf="report.dto.clinicalSpecialtyOrigin" [identifierCase]="identiferCases.PROBLEM"
            [description]="report.dto.problems | showProblems" id="problem">
        </app-identifier-cases>

        <app-priority [priority]="report.priority"></app-priority>
        <span class="grey">{{report.dto.date | viewDateDto: 'localdatetime' | date: 'dd/MM/yyyy - HH:mm'}}</span>
    </div>

    <div id="origin-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="15%">
        <span class="grey"> {{'turnos.search_references.ORIGIN' | translate | uppercase}}</span>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="100%">
            <app-identifier-cases *ngIf="report.dto.clinicalSpecialtyOrigin" [identifierCase]="identiferCases.SPECIALTY"
                [description]="report.dto.clinicalSpecialtyOrigin" id="specialty">
            </app-identifier-cases>

            <app-identifier-cases *ngIf="report.dto.institutionOrigin" [identifierCase]="identiferCases.INSTITUTION"
                [description]="report.dto.institutionOrigin" id="institution">
            </app-identifier-cases>
           
        </div>
    </div>

    <div id="destination-data" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" fxFlex="15%">
        <span class="grey">{{'turnos.search_references.DESTINATION' | translate | uppercase}}</span>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="100%">
           
            <app-identifier-cases *ngIf="report.dto.procedure" [identifierCase]="identiferCases.PRACTICE"
                [description]="report.dto.procedure" id="procedure">
            </app-identifier-cases>
            
            <app-identifier-cases *ngIf="report.dto.clinicalSpecialtyDestination" [identifierCase]="identiferCases.SPECIALTY"
                [description]="report.dto.clinicalSpecialtyDestination" id="specialty">
            </app-identifier-cases>

            <app-identifier-cases *ngIf="report.dto.careLine" [identifierCase]="identiferCases.CARE_LINE"
                [description]="report.dto.careLine" id="careLine">
            </app-identifier-cases>

            <app-identifier-cases *ngIf="report.dto.institutionDestination" [identifierCase]="identiferCases.INSTITUTION"
                [description]="report.dto.institutionDestination" id="institution">
            </app-identifier-cases>
        </div>
    </div>

    <app-colored-icon-text id="closure-type" fxFlex="15%"
        [coloredIconText]="report.coloredIconText"></app-colored-icon-text>

    <app-colored-label id="state" [description]="report.state.description" [color]="report.state.color"></app-colored-label>    
</div>
