<div id="main-container" fxLayoutGap="12px" *ngIf="clinicalSpecialties$ | async as clinicalSpecialties; else loading">
	<div *ngIf="clinicalSpecialties.length else noPermission">

		<h2>{{'ambulatoria.reference-study-close.TITLE'|translate}} </h2>

		<app-control-select-template [studies]="studies" [patientId]="patientId">
		</app-control-select-template>

		<form [formGroup]="formReferenceClosure" class="counterreference-form" fxLayout="column">

			<mat-form-field id="specialties" appearance="outline" class="closureTypes">
				<mat-label [translate]="'ambulatoria.reference-study-close.SPECIALTIES'">
				</mat-label>
				<mat-select formControlName="clinicalSpecialty">
					<mat-option [value]="clinicalSpecialty" *ngFor="let clinicalSpecialty of clinicalSpecialties">
						{{ clinicalSpecialty.name }}
					</mat-option>
				</mat-select>
				<mat-error translate="forms.REQUIRED"></mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline" class="closureTypes">

				<mat-label [translate]="'ambulatoria.reference-study-close.CLOSURE_TYPE'">
				</mat-label>
				<mat-select formControlName="closureType">
					<mat-option [value]="closureType" *ngFor="let closureType of closureTypes$ | async">
						{{ closureType.description }}
					</mat-option>
				</mat-select>
				<mat-error translate="forms.REQUIRED"></mat-error>

			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label [translate]="'ambulatoria.reference-study-close.PLACEHOLDER_DESCRIPTION'">
				</mat-label>
				<textarea matInput type="text" name="description" formControlName="description"></textarea>
				<mat-error translate="forms.REQUIRED"></mat-error>
			</mat-form-field>
		</form>

		<div id="attach_files" fxLayout="column">
			<div>
				<button mat-button type="button" id="add-request-button" color="primary" class="add-button"
					(click)="fileInput.click()">
					<mat-icon>attachment_icon</mat-icon>
					{{ 'ambulatoria.reference-study-close.UPLOAD_FILES' | translate }}
				</button>
				<span [hidden]="true">
					<input type="file" #fileInput multiple (change)="onSelectFileFormData($event)" />
				</span>
			</div>

			<div *ngIf="selectedFilesShow" class="selected-files">
				<div *ngFor="let fileName of selectedFilesShow; let index = index">
					<span>
						{{fileName}}
					</span>
					<button mat-icon-button color="warn" (click)="removeSelectedFile(index)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>

	<ng-template #noPermission>
		<app-no-data message="ambulatoria.reference-study-close.NO_PERMISSION"></app-no-data>
	</ng-template>

</div>

<ng-template #loading>
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
