<app-titled-content-card [title]="title">
	<div *ngIf="listConcept.length else noData" fxLayout="column">
		<ng-container *ngFor="let item of listConcept; index as i; last as isLast">
			<div fxLayout="row" fxLayoutGap="15px">
				<mat-checkbox [checked]="item.isAdded" (change)="toggleItemSelection(item)"></mat-checkbox>
				<div fxLayout="column">
					<span class="capitalize">{{ item.concept.snomed.pt | titlecase}}</span>
					<em *ngIf="item.concept?.administrationDate" class="mat-caption gray-caption">
						{{ item.concept.administrationDate | date: 'shortDate' }}
					</em>
				</div>
			</div>
			<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
		</ng-container>
		<div *ngIf="listConcept.length>1" id="toggle_all_Selection" class="checkbox">
			<br>
			<mat-checkbox [checked]="checked" (change)="toggleAllSelection($event)">
				{{'internaciones.epicrisis.list-concept.INCLUDE_ALL' | translate}}</mat-checkbox>
		</div>
	</div>

	<ng-template #noData>
		<div class="no-data mat-typography gray-caption">
			<span>{{'internaciones.epicrisis.list-concept.NO_DATA' | translate}}</span>
		</div>
	</ng-template>
</app-titled-content-card>

