@import '../../../../../../../assets/styles/mixins';

div.spinner {
	@include centered-spinner;
}

.flex-container {
	display: flex;
	flex-direction: column;
	height: auto;
}

.padding {
    padding: 2% 0%;
}

app-emergency-care-patient-summary-item {
	flex: 0 0 35%;
    max-width: 35%;
}