.hide-borders{
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	outline: none;
	margin-left: 3px;
}

mat-icon {
	font-size: large;
}

.check-circle {
	color: green;
}
