@import "../../../../../assets/styles/variables";

.panel-filtro{
    min-width: 30%;
    background-color: #f3efef8e;
    padding: 20px;
}

.mat-card {
    padding: 0px;
}

section.beds {
    width: 70%;
    padding: 20px;
    margin-top: 0px;
}

.mat-raised-button{
    color: white;
    margin: 5px;
    padding: 0 5px;
    background-color: $error-color;
}

.free{
    background-color: $success-color;
    text-decoration: underline;
}

.mat-card .mat-divider {
    margin: 10px 0px 10px 0px;
}

#bed-managment-card {
    min-width: 60%;
    width: 100%;
}

#speciality-title {
    margin: 0px;
}

#speciality-block {
    margin: 5px 0px 5px 0px;
}