@import "../../../../../assets/styles/variables";

.panel-filtro{
    min-width: 20%;
    background-color: #f3efef8e;
    padding: 20px;
}

.mat-card {
    padding: 0px;
}

section.beds{
    padding: 20px;
}

.mat-raised-button{
    color: white;
    margin: 5px;
    padding: 0 5px;
    background-color: $error-color;
}

.free{
    background-color: $success-color;
}

.mat-card .mat-divider {
    margin: 10px 0px 10px 0px;
}