<app-content width="full">
	<section fxLayout="column" fxFlex="40%" fxFlex.lt-md="100%" fxLayoutGap="15px">
		<div>
			<app-patient-card *ngIf="personPhoto" [patient]="patientBasicData" [personPhoto]="personPhoto"
							  [internmentEpisodeProcess]="internmentEpisode"
							  [emergencyCareEpisodeInProgress]="emergencyCareEpisodeInProgress?.inProgress">
				<div header class="header">
					<app-patient-type-logo [patientTypeData]="patientTypeData"></app-patient-type-logo>
				</div>
				<div content>
					<app-personal-information [personalInformation]="personalInformation"
					                          [patientMedicalCoverage]="patientMedicalCoverage"
											  [showButtonGoToMedicalHistory]="showButtonGoToMedicalHistory"
											  (goToMedicalHistory)="goToMedicalHistory()">
					</app-personal-information>
				</div>
			</app-patient-card>
		</div>
	</section>
</app-content>
