<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>{{ data.titleLabel | translate}}</h1>
    <button id="close-modal"  mat-icon-button aria-label="close" [matDialogClose]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content id="prescription-dialog-content">
	<form [formGroup]="prescriptionItemForm" fxLayout="column" fxLayoutGap="15px">
		<mat-form-field appearance="outline">
			<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.ASSOCIATED_PROBLEM' | translate}}</mat-label>
			<mat-select formControlName="healthProblem" name="healthProblem">
				<mat-option *ngFor="let healthProblem of healthProblemOptions" [value]="healthProblem.snomed.sctid">
					{{healthProblem.snomed.pt}}
				</mat-option>
				<div *appFeatureFlag="HABILITAR_RECETA_DIGITAL">
					<mat-option *appHasRole="[PRESCRIPTOR]" (click)="addNewProblem()">
						<button mat-button type="button" color="primary">
							{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.ADD_NEW_PROBLEM' | translate }}
						</button>
					</mat-option>
				</div>
			</mat-select>
			<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'healthProblem')" translate="forms.REQUIRED"></mat-error>
		</mat-form-field>

		<mat-radio-group *ngIf="snomedRelationsFFIsOn && searchConceptsLocallyFFIsOn" fxLayout="column" fxLayoutGap="10px" formControlName="pharmacoSearchType">
			<mat-radio-button color="primary" [value]="DEFAULT_RADIO_OPTION">
				{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.GENERIC_SEARCH' | translate}}
			</mat-radio-button>
			<mat-radio-button color="primary" [value]="OTHER_RADIO_OPTION">
				{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.COMMERCIAL_SEARCH' | translate}}
			</mat-radio-button>
		</mat-radio-group>

		<ng-container *ngIf="(isHabilitarRecetaDigitalFFActive && isEnabledFinancedPharmaco && !data.hasSelectedCoverage) else genericPharmaco">
			<ng-container *ngIf="prescriptionItemForm.value.pharmacoSearchType === DEFAULT_RADIO_OPTION else commercialPharmaco">
				<app-generic-financed-pharmaco-search
					[problemSelected]="prescriptionItemForm.value.healthProblem"
					[preloadConcept]="data.item?.snomed"
					[markFormAsTouched]="markFormAsTouched"
					(conceptSelected)="setConcept($event)"
				>
				</app-generic-financed-pharmaco-search>
			</ng-container>
		</ng-container>

		<ng-template #genericPharmaco>
			<ng-container *ngIf="prescriptionItemForm.value.pharmacoSearchType ===  DEFAULT_RADIO_OPTION else commercialPharmaco">
				<app-concept-typeahead-search
					[ecl]="data.eclTerm"
					[appearanceOutline]="true"
					[showSearchIcon]="true"
					[clearButton]="true"
					[placeholder]="'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.GENERIC_PHARMACO_SEARCH'"
					[preload]="snomedConcept"
					[required]="true"
					(conceptSelected)="setConcept($event)">
				</app-concept-typeahead-search>
			</ng-container>
		</ng-template>

		<ng-template #commercialPharmaco>
			<app-commercial-pharmaco-typeahead *ngIf="prescriptionItemForm.value.pharmacoSearchType === OTHER_RADIO_OPTION && snomedRelationsFFIsOn && searchConceptsLocallyFFIsOn"
				[ecl]="data.eclTerm"
				[placeholder]="'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.COMMERCIAL_PHARMACO_SEARCH'"
				[required]="true"
				(conceptSelected)="setCommercialMedicationConcept($event)">
			</app-commercial-pharmaco-typeahead>
		</ng-template>

		<mat-checkbox *ngIf="snomedRelationsFFIsOn && searchConceptsLocallyFFIsOn" formControlName="isSuggestCommercialMedicationChecked" [color]="'primary'" (change)="changeCheckboxValue($event)">
			<span id="suggest-commercial-checkbox">
				{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.SUGGEST_COMMERCIAL_MEDICATION' | translate}}
			</span>
		</mat-checkbox>

		<app-typeahead id="suggestedCommercialMedication" *ngIf="snomedRelationsFFIsOn && searchConceptsLocallyFFIsOn && prescriptionItemForm.value.isSuggestCommercialMedicationChecked"
			[titleInput]="'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.SUGGESTED_COMMERCIAL_MEDICATION' | translate"
			[externalSetValue]="initialSuggestCommercialMedication"
			[options]="suggestedCommercialMedicationOptions"
			(selectionChange)="setSuggestedCommercialMedication($event)">
		</app-typeahead>

		<section *appFeatureFlag="HABILITAR_RECETA_DIGITAL">
			<div class="unit-day-dose-container" *ngIf="enableFields">
				<mat-form-field appearance="outline">
					<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.UNIT_DOSE' | translate}}</mat-label>
					<input type="number" matInput autocomplete="off" formControlName="unitDose">
					<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'unitDose')" translate="forms.REQUIRED"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'max', 'unitDose')" translate="forms.MAX_ERROR" [translateParams]="{max: MAX_VALUE}"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'min', 'unitDose')" translate="forms.MIN_ERROR" [translateParams]="{min: MIN_VALUE}"></mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.DAY_DOSE' | translate}}</mat-label>
					<input (input)="setQuantityMultiplication()" type="number" matInput autocomplete="off" formControlName="dayDose">
					<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'dayDose')" translate="forms.REQUIRED"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'max', 'dayDose')" translate="forms.MAX_ERROR" [translateParams]="{max: MAX_VALUE}"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'min', 'dayDose')" translate="forms.MIN_ERROR" [translateParams]="{min: MIN_VALUE}"></mat-error>
				</mat-form-field>
			</div>

			<div class="administration-days-quantity-container">
				<mat-form-field appearance="outline">
					<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.TREATMENT_DAYS' | translate}}</mat-label>
					<input (input)="setQuantityMultiplication()" type="number" matInput autocomplete="off" formControlName="administrationTimeDays">
					<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'administrationTimeDays')" translate="forms.REQUIRED"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'max', 'administrationTimeDays')" translate="forms.MAX_ERROR" [translateParams]="{max: MAX_VALUE}"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'min', 'administrationTimeDays')" translate="forms.MIN_ERROR" [translateParams]="{min: MIN_VALUE}"></mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.QUANTITY' | translate}}</mat-label>
					<input type="text" matInput autocomplete="off" formControlName="quantity">
					<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'quantity')" translate="forms.REQUIRED"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'max', 'quantity')" translate="forms.MAX_ERROR" [translateParams]="{max: MAX_QUANTITY}"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'min', 'quantity')" translate="forms.MIN_ERROR" [translateParams]="{min: MIN_VALUE}"></mat-error>
					<mat-error *ngIf="hasError(prescriptionItemForm, 'pattern', 'quantity')" translate="forms.FORMAT_NUMERIC"></mat-error>
				</mat-form-field>
			</div>

		</section>

		<mat-form-field *ngIf="data.showStudyCategory" appearance="outline">
			<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.STUDY_CATEGORY' | translate}}</mat-label>
			<mat-select formControlName="studyCategory" name="studyCategory">
				<mat-option *ngFor="let studyCategory of studyCategoryOptions" [value]="studyCategory.id">
					{{studyCategory.description | translate}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<div *ngIf="data.showDosage" class="mat-form-field-wrapper" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="50px">
			<div fxLayout="column" fxLayoutGap="10px">
				<mat-label class="mat-subheading-2">{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.INTERVAL' | translate}}</mat-label>
				<mat-radio-group formControlName="interval" fxLayout="column" fxLayoutGap="10px">
					<mat-radio-button color="primary" [value]="DEFAULT_RADIO_OPTION">
						{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.INTERVAL_DEFAULT_OPTION' | translate}}
					</mat-radio-button>
					<mat-radio-button color="primary" [value]="OTHER_RADIO_OPTION">
						Cada <input #intervalHoursInput [style.width.ch]="getInputNumberWidth('intervalHours')"
								formControlName="intervalHours" type="number" matInput> hs.
						<mat-error *ngIf="intervalValidation(prescriptionItemForm, 'intervalHours', 'interval')">
							<span translate="ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.INTERVAL_HOURS_REQUIRED"></span>
						</mat-error>
					</mat-radio-button>
				</mat-radio-group>
			</div>
		</div>

		<div *ngIf="! this.isHabilitarRecetaDigitalFFActive" fxLayout="column" fxLayoutGap="10px">
			<mat-label class="mat-subheading-2">{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.ADMINISTRATION_TIME' | translate}}</mat-label>
			<mat-radio-group formControlName="administrationTime" fxLayout="column" fxLayoutGap="10px">
				<mat-radio-button color="primary" [value]="DEFAULT_RADIO_OPTION">
					{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.ADMINISTRATION_TIME_DEFAULT_OPTION' | translate}}
				</mat-radio-button>
				<mat-radio-button color="primary" [value]="OTHER_RADIO_OPTION">
					Durante <input #administrationTimeDaysInput [style.width.ch]="getInputNumberWidth('administrationTimeDays')"
								formControlName="administrationTimeDays" type="number" matInput> días.
					<mat-error *ngIf="intervalValidation(prescriptionItemForm, 'administrationTimeDays', 'administrationTime')">
						<span translate="ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.ADMINISTRATION_TIME_DAYS_REQUIRED"></span>
					</mat-error>
				</mat-radio-button>
			</mat-radio-group>
		</div>

		<div fxLayout="row" fxLayoutGap="30px" *ngIf="snomedRelationsFFIsOn && commercialPrescriptionFFIsOn">
			<mat-form-field appearance="outline" fxFlex="50">
				<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.PRESENTATION_UNITS' | translate}}</mat-label>
				<mat-select formControlName="presentationUnit">
					<mat-option *ngFor="let option of presentationUnitsOptions" [value]="option">
						<span>{{option}}</span>
						<span>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.UNITS' | translate}}</span>
					</mat-option>
				</mat-select>
				<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'presentationUnit')" translate="forms.REQUIRED"></mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline" fxFlex="30">
				<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.MEDICATION_PACK_QUANTITY' | translate}}</mat-label>
				<input matInput formControlName="medicationPackQuantity">
				<mat-error *ngIf="hasError(prescriptionItemForm, 'required', 'medicationPackQuantity')" translate="forms.REQUIRED"></mat-error>
				<mat-error *ngIf="hasError(prescriptionItemForm, 'min', 'medicationPackQuantity')" translate="forms.MIN_ERROR" [translateParams]="{min: MIN_VALUE}"></mat-error>
				<mat-error *ngIf="hasError(prescriptionItemForm, 'pattern', 'medicationPackQuantity')" translate="forms.FORMAT_NUMERIC"></mat-error>
			</mat-form-field>
		</div>

		<mat-form-field appearance="outline">
			<mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.OBSERVATIONS' | translate}}</mat-label>
			<textarea matInput type="text" id="observations" name="observations"
						formControlName="observations"
						placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.add_prescription_item_dialog.OBSERVATIONS' | translate }}">
			</textarea>
			<mat-error *ngIf="hasError(prescriptionItemForm, 'maxlength', 'observations')" translate="forms.MAX_LENGTH_ERROR"
						[translateParams]="{max: TEXT_AREA_MAX_LENGTH}">
			</mat-error>

		</mat-form-field>
	</form>
</div>

<div fxLayout="row" fxLayoutAlign="end start">
	<button (click)="addPrescriptionItem()" mat-flat-button color="primary" type="submit" fxFlexFill.xs>
		<span class="uppercase">{{'buttons.ADD' | translate}}</span>
	</button>
</div>

