.worklist-section {
    margin: 5%;
}

.main-card {
	padding: 2% 4% 6%;
}

.worklist-card {
    padding: 1% 3% 3% 3%;
}

:host ::ng-deep .mat-form-field {
    width: 240px;
}

:host ::ng-deep .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.button-filter-effect {
	transform: rotate(180deg);
	transition: transform 256ms;
}

#equipment{
    padding-left: 2%;
}

.appointment-detail {
    display: block;
    padding: 2% 0;
    height: fit-content;
}

.appointment-container {
    display: flex;
	align-items: center;
}

.page-title {
    margin: 3% 0 2.5% 0 !important;
}

.patient-information {
    align-items: center;
}

.patient-name {
    margin: 0.5% 0;
    justify-content: start;
}

.naming {
    justify-content: start;
    min-width: auto;
    margin-right: 4px;
}

.patient-identification {
    display: block;
}

.smaller-font {
    font-size: 0.8rem;
}

.derive-information {
    text-align: center;
    font-weight: 500;
}

.study-name {
    justify-content: start;
    font-size: 14px;
}

.options-btn {
    align-self: center;
    @media (max-width: 960px){
        align-self: start;
    }
}

.mid-grey {
    color: #9A9A9A;
}

.grey {
    color: #A4A2A2;
}

.orange {
    color: #FFA500;
}

.green {
    color: #27AE60;
}

// Colored-label styles
.personalized-label{
    display: flex;
    margin-right: 6%;
    align-self: center;
}

::ng-deep .appointment-detail span {
    display: flex;
    height: fit-content;
    justify-content: center;
}
//------------------------//

@media (max-width: 1150px) {
    .appointment-container {
        align-items: start;
        flex-direction: column !important;
    }

    .appointment-detail {
        padding: 3% 1%;
    }

    .personalized-label {
        align-self: start;
    }

    :host ::ng-deep .appointment-detail span {
        min-width: 10%;
        justify-content: start;
    }

    .patient-information {
        margin-top: 2%;
    }

    .appointment-date-information {
        margin: 2%;
        align-self: end;
    }
}

@media (max-width: 500px) {
    .worklist-section {
        width: 90vw;
    }

    .appointment-detail {
        padding: 5% 1%;
    }
}