<div fxLayout="row" fxLayoutGap="15px">
	<div fxLayout="column" fxFlex="7" fxLayoutAlign="start end">
		<mat-icon mat-list-icon fontSet="material-icons-outlined" color="primary">
			assignment
		</mat-icon>
	</div>

	<div fxFlex="calc(93%-15px)" fxLayout="column" fxLayoutGap="15px" fxLayoutGap.gt-sm="0">
		<div fxLayout="column" fxLayoutAlign fxLayoutGap="0" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between"
			fxLayoutGap.gt-sm="15px">
			<div>
				<ng-container *ngIf="externalClinicalHistory.professionalName else noProfessionalData">
					<h2 class="color-primary min-line-height capitalize-first-letter">
						{{ externalClinicalHistory.professionalName }}
					</h2>
				</ng-container>
			</div>
			<ng-template #noProfessionalData>
				<h2 class="no-data min-line-height">
					{{ 'ambulatoria.paciente.problemas.external-clinical-history.NO_PROFESSIONAL_DATA' | translate }}
				</h2>
			</ng-template>

			<div fxFlex.gt-sm="30">
				<div class="color-primary">
					{{ 'ambulatoria.paciente.problemas.external-clinical-history.CONSULTATION_DATE' | translate }}
				</div>
				<div>
					{{ DATE_TO_VIEW | viewDateDto : 'date' | date: 'dd/MM/yyyy'}}
				</div>
			</div>
		</div>

		<div fxLayout="column" fxLayoutGap="15px">
			<div *ngIf="externalClinicalHistory.professionalSpecialty">
				<strong>
					{{ 'ambulatoria.paciente.problemas.external-clinical-history.SPECIALTY' | translate }}
				</strong>
				<div class="capitalize-first-letter">
					{{ externalClinicalHistory.professionalSpecialty }}
				</div>
			</div>

			<div *ngIf="externalClinicalHistory.institution">
				<strong>
					{{ 'ambulatoria.paciente.problemas.external-clinical-history.INSTITUTION' | translate }}
				</strong>
				<div class="capitalize-first-letter">
					{{ externalClinicalHistory.institution }}
				</div>
			</div>

			<div>
				<div class="color-primary">
					{{ 'ambulatoria.paciente.problemas.external-clinical-history.NOTES' | translate }}
				</div>
				<div class="capitalize-first-letter">
					{{ externalClinicalHistory.notes }}
				</div>
			</div>
		</div>
	</div>
</div>
