.mat-dialog-title{
    width: 261px;
	margin-left: 20px;
	margin-top: 5px;
	height: 35px;
}

.numeration-list{
	list-style-type: decimal;
	list-style-position: outside;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height : 25px;
	width: 360px;
	height: 130px;
	margin-bottom: 0px;

	li{
		color: #2687C5;
	}

	li span{
		color: black;
	}
}

.mat-form-field{
	margin-bottom: 0px;
	::ng-deep .mat-form-field-wrapper{
		padding-bottom: 0;
		margin: 0;
		background-color:#D2D2D1;
		color: #D2D2D1;
	}
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #D2D2D1!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #D2D2D1!important;
}

::ng-deep .mat-form-field input{
	caret-color: #D2D2D1;
}

.mat-dialog-content{
	position: relative;
}

.close{
	transform: scale(1.0);
	position: absolute;
	top: 0px;
	right: 30px;
}
