.title1 {
    text-align: center;
    background-color: #E0EEF7;
    color: #2687c5;
    font-size: 22px;

}

h3 {
    text-align: center;
    font-weight: 500;

}

.tipos {
    border-radius: 5px;
    color: #2687c5;
    padding: 2%;
    background-color: aliceblue;
}

.intro {
    font-size: 15px;
}

p {
    margin-top: 1;
    margin-bottom: 1;

}

.requeriment {
    color: red;
    padding: 2.5%
}

.intro-requeriments {
    margin-top: 2%;

}

.title-test {

    text-align: left;
    border-radius: 5px;
    font-size: 18px;
    color: #2687c5;
    padding: 2%;
    background-color: aliceblue;

}