<div class="container">
    <h2 class="title1">Prueba corta de desempeño fisico</h2>

   <div class="tipos"> 
    <h3>ANTES DE EMPEZAR</h3>
        <div class="intro">
            Para la correcta realización de esta prueba es necesario contar con los siguientes elementos:
            <div class="intro-requeriments">
                <p>- Silla sin descansa brazo y con respaldo recto.</p>
                <p>- Distancia de 4 metros delimitada, puede encontrarse señalada con una cinta en el suelo.</p>
                <p>- Cronómetro o teléfono celular para llevar registro del tiempo en segundos.</p>
            </div>
        </div>
    </div>
     <div class="requeriment">
        Se recomienda posicionarse al lado del paciente al momento de comenzar cada una de las pruebas para evitar
        posibles caídas durante su ejecución.
    </div>

    <h3 class="title-test">PRUEBA DE BALANCE</h3>


























</div>