@import "../../../../../assets/styles/mixins.scss";

.section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	section{
		width: 50%;
	}
}

.form-row{
	@include form-row;
}

.header{
	display: flex;
	justify-content: flex-end;
}
