<app-content width="full">
	<section fxLayout="column" fxLayoutGap="18px">
		<mat-card class="triage-card">
			<mat-card-header>
				<mat-card-title class="page-title" [translate]="'guardia.new-episode.TITLE'"></mat-card-title>
			</mat-card-header>
		
			<mat-card-content>
				<app-pediatric-triage (confirm)="confirmEvent($event)"
									(cancel)="cancelEvent()"
									[canAssignNotDefinedTriageLevel]="NOT_DEFINED_TRIAGE_LEVEL_AVAILABLE"
									[confirmLabel]="'guardia.dialog.attention_place.CONFIRM' | translate">
				</app-pediatric-triage>
			</mat-card-content>
		</mat-card>	
	</section>
</app-content>
