.filter-panel{
	min-width: 25%;
	max-width: 30%;
	background-color: #f3efef8e;
}

.results-panel {
	width: 100%;
}

.padding {
	padding: 15px;
}

.filters-card {
	min-width: 60%;
	width: 100%;
	padding: 0;
}
