@import "../../turnos-mixins.scss";

.appointment-information {
	height: auto;
}

.hide-borders {
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	outline: none;
	margin-left: 3px;
}

.dateForm {
	.date {
		width: 276px;
	}

	.hour {
		width: 90px;
		height: 50px;
	}

	.hs {
		height: fit-content;
		margin-top: 20px;
		margin-left: 5px;
	}

	.confirm-buttons {
		margin-top: 15px;
	}
}

.none {
	display: none;
}