<form [formGroup]="formMotivo" (ngSubmit)="saveAbsent()">
	<div mat-dialog-content>
		<section id="personal-data" fxLayout="column" fxLayoutGap="5px">
			<div class="header-content" fxLayout="row" fxLayoutAlign="start">
				<mat-icon fxFlex="10%" fontSet="material-icons-outlined" color="primary">person</mat-icon>
				<div fxLayout="column" fxLayoutAlign="center start">
					<span class="mat-body-strong capitalize patient-name-title"
						*ngIf="params.appointmentData.patient.fullName">
						{{ viewPatientName(params.appointmentData) | uppercase }}
					</span>
					<div>
						<span style="font-size: 16px; font-weight: 300px;" id="patient_id" class="mat-body-strong">ID
							{{params.appointmentData.patient.id}}
						</span> •
						<span style="font-size: 16px; font-weight: 300px" class="mat-body-strong"
							*ngIf="params.appointmentData.patient.identificationNumber">
							{{identificationType?.description}}
							{{params.appointmentData.patient.identificationNumber}}
						</span>
					</div>
					<div class="historia-clinica">
						<a class="mat-body"
							*appHasRole="['ESPECIALISTA_MEDICO','PROFESIONAL_DE_SALUD','ENFERMERO', 'ESPECIALISTA_EN_ODONTOLOGIA']"
							[routerLink]="'/institucion/' + institutionId + '/ambulatoria/paciente/' + params.appointmentData?.patient?.id"
							[state]="{ appointmentCoverageInfo: summaryCoverageData }" (click)="closeDialog()">
							{{'turnos.appointment.BUTTON_HISTORIA_CLINICA' | translate}}
							
						</a>
						<a *appHasRole="['ESPECIALISTA_MEDICO','PROFESIONAL_DE_SALUD','ENFERMERO', 'ESPECIALISTA_EN_ODONTOLOGIA']"
							[routerLink]="'/institucion/' + institutionId + '/ambulatoria/paciente/' + params.appointmentData?.patient?.id"
							[state]="{ appointmentCoverageInfo: summaryCoverageData }"
							target="_blank">
							<mat-icon color="primary" fxFlex="10%" >open_in_new</mat-icon>
						</a>
					</div>
				</div>
			</div>

			<ng-container *ngIf="!hideFilterPanel else editAppointment">
				<div fxLayout="column" fxLayoutGap="5px">
					<span class="mat-caption">{{'turnos.appointment.coverageData.COVERAGE_DATA' | translate}}</span>
					<div fxLayout="row" fxLayoutGap="5px">
						<span class="mat-body patient-info coverage-text" *ngIf="coverageData"
							matTooltip="{{coverageData.medicalCoverage.name}}">{{coverageText}}</span>
						<span class="mat-body patient-info coverage-text" *ngIf="!coverageData">
							{{"Sin información"}}
						</span>
						<span class="mat-body patient-info coverage-text" *ngIf="coverageNumber">/
							{{coverageNumber}}
						</span>
						<span class="mat-body patient-info coverage-text lowercase" *ngIf="coverageCondition">/
							{{coverageCondition}}
						</span>
					</div>
				</div>
				<div fxLayout="column" fxLayoutGap="5px">
					<span class="mat-caption" [translate]="'turnos.appointment.phoneNumber.PHONE_NUMBER'">:</span>
					<span class="mat-body patient-info coverage-text">{{formatPhonePrefixAndNumber()}}</span>
				</div>
				<button type="button" mat-icon-button color="primary" fxFlex="10%"
					*ngIf="( hasRoleToEditPhoneNumber$ | async )" (click)="hideFilters()">
					<mat-icon class="material-icons-outlined">edit</mat-icon>
					<a class="mat-body">
						{{'turnos.appointment.EDIT_PACIENT_INFO' | translate}}
					</a>
				</button>
			</ng-container>

			<ng-template #editAppointment>
				<form [formGroup]="formEdit" fxLayout="column" fxLayoutGap="5px" (ngSubmit)="edit()">
					<mat-form-field appearance="outline" *ngIf="isAssigned()">
						<button type="button" mat-button matSuffix color="warn" mat-icon-button
							*ngIf="formEdit.value.newCoverageData" (click)="clear(); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
						<mat-label>{{'pacientes.form.MEDICAL_COVERAGE' | translate}}</mat-label>
						<mat-select formControlName="newCoverageData">
							<mat-option *ngFor="let patientMedicalCoverage of patientMedicalCoverages"
								[value]="patientMedicalCoverage.id">
								{{getFullMedicalCoverageText(patientMedicalCoverage)}}
							</mat-option>
							<mat-divider></mat-divider>
							<mat-option (click)="openMedicalCoverageDialog()">
								<span class="color-primary"
									[translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.UPDATE_COVERAGE'">
								</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
						<mat-form-field fxFlex="30%" appearance="outline">
							<mat-label [translate]="'turnos.appointment.phoneNumber.PHONE_PREFIX'"></mat-label>
							<input matInput type="text" id="phonePrefix" name="phonePrefix"
								formControlName="phonePrefix"
								placeholder="{{'turnos.appointment.phoneNumber.PHONE_PREFIX' | translate }}"
								(keyup)="updatePhoneValidators()">
							<mat-error *ngIf="hasError(formEdit, 'required', 'phonePrefix')">
								<span translate="forms.REQUIRED"></span>
							</mat-error>
							<mat-error *ngIf="hasError(formEdit, 'maxlength', 'phonePrefix')"
								translate="forms.MAX_LENGTH_ERROR" [translateParams]="{max: 10}">
							</mat-error>
						</mat-form-field>
						<mat-form-field fxFlex="70%" appearance="outline">
							<mat-label [translate]="'turnos.appointment.phoneNumber.PHONE_NUMBER'"></mat-label>
							<input matInput type="text" id="phoneNumber" name="phoneNumber"
								formControlName="phoneNumber"
								placeholder="{{'turnos.appointment.phoneNumber.PHONE_NUMBER' | translate }}"
								(keyup)="updatePhoneValidators()">
							<mat-error *ngIf="hasError(formEdit, 'required', 'phoneNumber')">
								<span translate="forms.REQUIRED"></span>
							</mat-error>
							<mat-error *ngIf="hasError(formEdit, 'maxlength', 'phoneNumber')"
								translate="forms.MAX_LENGTH_ERROR" [translateParams]="{max: 20}">
							</mat-error>
						</mat-form-field>
					</div>
					<div class="confirm-buttons">
						<button mat-stroked-button color="primary" btn-block type="button" (click)="hideFilters()">
							<span [translate]="'turnos.appointment.CANCEL'"></span>
						</button>
						<button mat-flat-button color="primary" type="submit"  [disabled]="formEdit.invalid">
							<span [translate]="'turnos.appointment.SAVE'"></span>
						</button>
					</div>
				</form>
			</ng-template>
			<mat-divider></mat-divider>
		</section>

		<section id="appointment" class="appointment-details" fxLayout="column">
			<span class="mat-body-strong">{{'turnos.appointment.TITLE' | translate}}</span>
			<div fxLayout="column" fxLayoutGap="5px">
				<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start">
					<mat-icon fontSet="material-icons-outlined" color="primary" mat-list-icon [inline]="true"
						id="full-date">
						calendar_today
					</mat-icon>
					<span class="mat-body"> {{params.appointmentData.date | date:"fullDate"}}</span>
				</div>
				<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start">
					<mat-icon fontSet="material-icons-outlined" color="primary" mat-list-icon [inline]="true" id="hour">
						access_time
					</mat-icon>
					<span class="mat-body"> {{params.appointmentData.date | date:"HH:mm"}} hs</span>
				</div>
			</div>
		</section>

		<section id="state">
			<span class="mat-body-strong">{{'turnos.appointment.APPOINTMENT_STATE' | translate}}</span>
			<div class="appointment-actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">

				<button type="button" [disabled]="(hasRoleToChangeState$ | async) === false"
					[ngClass]="{'selected assigned': estadoSelected === appointmentStatesIds.ASSIGNED }"
					(click)="onClickedState(appointmentStatesIds.ASSIGNED)" mat-stroked-button>
					<mat-icon matTooltip="{{getAppointmentState(appointmentStatesIds.ASSIGNED).description}}"
						color="primary">event_available</mat-icon>
				</button>

				<button type="button" [disabled]="(hasRoleToChangeState$ | async) === false"
					[ngClass]="{'selected confirmed': estadoSelected === appointmentStatesIds.CONFIRMED }"
					(click)="onClickedState(appointmentStatesIds.CONFIRMED)" mat-stroked-button>
					<mat-icon matTooltip="{{getAppointmentState(appointmentStatesIds.CONFIRMED).description}}"
						color="primary">meeting_room
					</mat-icon>
				</button>

				<button type="button" [disabled]="(hasRoleToChangeState$ | async) === false"
					[ngClass]="{ 'assigned': estadoSelected === appointmentStatesIds.CONFIRMED }"
					(click)="callPatient()"
					*ngIf="isMqttCallEnabled && estadoSelected === appointmentStatesIds.CONFIRMED" mat-stroked-button>
					<mat-icon matTooltip="{{BELL_LABEL}}" color="primary" svgIcon="bell_appointment_call">
					</mat-icon>
				</button>

				<button type="button" [ngClass]="{'selected absent': estadoSelected === appointmentStatesIds.ABSENT }"
					(click)="onClickedState(appointmentStatesIds.ABSENT)" mat-stroked-button
					[disabled]="(hasRoleToChangeState$ | async) === false">
					<mat-icon matTooltip="{{getAppointmentState(appointmentStatesIds.ABSENT).description}}"
						color="primary" svgIcon="person_cancel_outlined">
					</mat-icon>
				</button>

				<button type="button" disabled
					[ngClass]="{'selected served': estadoSelected === appointmentStatesIds.SERVED }" mat-stroked-button>
					<mat-icon color="primary" svgIcon="person_check_outlined"
						matTooltip="{{getAppointmentState(appointmentStatesIds.SERVED).description}}"></mat-icon>
				</button>
			</div>

			<div style="margin-top: 10px" *ngIf="isMotivoRequired()">
				<mat-form-field [floatLabel]="'never'" appearance="outline">
					<mat-label>{{'turnos.appointment.MOTIVE' | translate}}</mat-label>
					<textarea formControlName="motivo" placeholder="Describa el motivo" matInput type="text"
						id="motivo"></textarea>
					<mat-error *ngIf="hasError(formMotivo, 'required', 'motivo')" [translate]="'forms.REQUIRED'">
					</mat-error>
					<mat-error *ngIf="hasError(formMotivo, 'maxlength', 'motivo')"
						[translate]="'forms.MAX_LENGTH_ERROR'"
						[translateParams]="{max: getError(formMotivo, 'maxlength', 'motivo')?.requiredLength}">
					</mat-error>
				</mat-form-field>
			</div>
		</section>

		<section id="observation-section" class="observation-section">
			<div *ngIf="!observation && hideObservationForm && hideObservationTittle">
				<a class="mat-body"	(click)="setHideObservationForm(false); setHideObservationTittle(false)" 
					[translate]="'turnos.appointment.observations.ADD_OBSERVATION'">
				</a>
			</div>
			
			<div class="observation-details">
				<span class="mat-body-strong" *ngIf="!hideObservationTitle" 
					[translate]="'turnos.appointment.observations.OBSERVATIONS'">
				</span>
				<div class="observation" *ngIf="observation && hideObservationForm">
					<p> 
						{{observation}}
					</p>
					<button type="button" mat-icon-button color="primary" fxFlex="10%" 
						(click)="setHideObservationForm(false)">
						<mat-icon>edit</mat-icon>
					</button>
				</div>
				<form [formGroup]="formObservations" *ngIf="!hideObservationForm" fxLayout="column" fxLayoutGap="5px" (ngSubmit)="updateObservation()">
					<mat-form-field appearance="outline">
						<textarea formControlName="observation" placeholder="Ingrese observaciones..." rows="4" matInput type="text"></textarea>
					</mat-form-field>

					<div class="observation-buttons">
						<button mat-stroked-button color="primary" btn-block type="button" 
							(click)="cancelObservation()">
							<span [translate]="'turnos.appointment.observations.CANCEL'"></span>
						</button>
						<button mat-flat-button color="primary" type="submit" [disabled]="formObservations.invalid">
							<span [translate]="'turnos.appointment.SAVE'"></span>
						</button>
					</div>
				</form>
			</div>	
		</section>
				
		<ng-container
			*appHasRole="['ADMINISTRATIVO', 'ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']">
			<ng-container
				*ngIf="downloadReportIsEnabled && !isAbsent() && ((hasRoleToDownloadReports$ | async) === true || params.hasPermissionToAssignShift)">
				<mat-divider></mat-divider>
				<section id="report" fxLayout="column">
					<span class="mat-body-strong" fxLayout="row">{{'turnos.report.TITLE' | translate}}</span>
					<section class="example-section">
						<mat-checkbox class="example-margin" fxLayout="row"
							(change)="enableDowndloadAnexo($event.checked)">
							<span class="mat-body">{{'turnos.report.ANEXO' | translate}}</span>
						</mat-checkbox>
						<mat-checkbox class="example-margin" fxLayout="row"
							(change)="enableDowndloadFormulario($event.checked)">
							<span class="mat-body">{{'turnos.report.FORM' | translate}}</span>
						</mat-checkbox>
					</section>
				</section>
			</ng-container>
		</ng-container>
	</div> 

	<mat-dialog-actions
		*appHasRole="['ADMINISTRATIVO', 'ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']"
		align="end">
		<ng-container
			*ngIf="downloadReportIsEnabled && !isAbsent() && ((hasRoleToDownloadReports$ | async) === true || params.hasPermissionToAssignShift)">
			<button type="button" mat-flat-button color="primary" id="report-appointment" name="report-appointment"
				(click)="getReportAppointment()" [disabled]="!isCheckedDownloadAnexo && !isCheckedDownloadFormulario">
				<span class="uppercase" [translate]="'turnos.report.TITLE'"></span>
			</button>
		</ng-container>
		<button type="button" *ngIf="isCancelable()" mat-flat-button color="warn" id="cancel-appointment"
			name="cancel-appointment" (click)="cancelAppointment()">
			<span class="uppercase" [translate]="'turnos.cancel.TITLE'"></span>
		</button>

		<button type="submit" *ngIf="isMotivoRequired()" mat-flat-button color="primary" id="save">
			<span class="uppercase">Guardar</span>
		</button>
	</mat-dialog-actions>
</form>