@import "../../../../../../../assets/styles/mixins";

.subtitle {
	font-weight: bold;
	font-size: 14px;
}

.patient-card {
	margin-bottom: 2em;
}

.checkbox {
	flex-basis: calc(33.33% - 10px);
	margin: 0.5em 0;
}

.all-checkbox {
	margin-bottom: 0.5em;
}

.header {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.short{
	width: 5%;
}

.long{
	width: 15%;
}

#encounterList {
	display: none;
}

.table-card {
	padding: 1em 0 0 0;
}

.table {
	box-shadow: none;
}

.selected-rows {
	margin: 1em 2em;

	span {
		margin-right: 0.5em;
	}
}

.download-button {
	margin: 1em 0;
}

.last-printed {
	margin: 1.5em 1em;
}

.spinner {
	margin-top: 2em;
	@include centered-spinner;
}
