<app-content width="full">
	<section id="title" fxLayout="column" fxLayoutAlign="space-between">
		<h2 class="page-title" [translate]="'ambulatoria.print.TITLE'"></h2>
		<div id="subtitle">
			<span [translate]="'ambulatoria.print.SUBTITLE'"></span>
		</div>
	</section>

	<section id="patientInfo">
		<app-patient-card class="patient-card" fxFlex="40%" *ngIf="personPhoto$" [patient]="patient"
			[personalAdditionalInformation]="personInformation" [personPhoto]="personPhoto$ | async"
			[showAdditionalInformation]="true">
		</app-patient-card>
	</section>

	<section id="date">
		<h3 class="subtitle">{{'ambulatoria.print.date-picker.TITLE' | translate}}</h3>
		<mat-form-field appearance="fill">
			<mat-label>{{'ambulatoria.print.date-picker.LABEL' | translate}}</mat-label>
			<mat-date-range-input [formGroup]="dateRangeForm" [rangePicker]="dateRangePicker" [max]="maxDate">
				<input matStartDate placeholder="{{'ambulatoria.print.date-picker.START' | translate}}"
					formControlName="start" readonly>
				<input matEndDate placeholder="{{'ambulatoria.print.date-picker.END' | translate}}"
					formControlName="end" readonly>
			</mat-date-range-input>
			<mat-hint>{{'ambulatoria.print.date-picker.HINT' | translate}}</mat-hint>
			<mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
			<mat-date-range-picker #dateRangePicker></mat-date-range-picker>
			<mat-error [translate]="'ambulatoria.print.date-picker.REQUIRED'"></mat-error>
		</mat-form-field>
	</section>

	<mat-divider></mat-divider>

	<section id="encounterType">
		<h3 class="subtitle">{{'ambulatoria.print.encounter-type.TITLE' | translate}}</h3>
		<div fxLayout="row" fxLayoutGap="18px" [formGroup]="encounterTypeForm">
			<ng-container *ngFor="let encounterType of encounterTypes">
				<mat-checkbox [formControlName]="encounterType.value" [color]="'primary'"
					(change)="encounterCheckedChange()">
					{{ encounterType.label | translate}}
				</mat-checkbox>
			</ng-container>
		</div>
		<div *ngIf="encounterTypeForm.invalid && encounterTypeForm.touched">
			<mat-error *ngIf="encounterTypeForm.hasError('atLeastOneChecked')">
				{{ 'ambulatoria.print.encounter-type.ERROR' | translate }}
			</mat-error>
		</div>
	</section>

	<mat-divider></mat-divider>

	<section id="documentType" *ngIf="showDocuments">
		<h3 class="subtitle">{{'ambulatoria.print.document-type.TITLE' | translate}}</h3>
		<div [formGroup]="documentTypeForm">
			<mat-checkbox formControlName="all" [color]="'primary'" class="all-checkbox"
				(change)="onAllCheckedChange()">
				{{ 'ambulatoria.print.document-type.ALL' | translate}}
			</mat-checkbox>
			<mat-divider></mat-divider>
			<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
				<ng-container *ngFor="let documentType of documentTypes">
					<mat-checkbox [formControlName]="documentType.value" [color]="'primary'" class="checkbox"
						(change)="onDocumentTypeCheckedChange()">
						{{ documentType.label | translate}}
					</mat-checkbox>
				</ng-container>
			</div>
		</div>
		<div *ngIf="documentTypeForm.invalid && documentTypeForm.touched">
			<mat-error *ngIf="documentTypeForm.hasError('atLeastOneChecked')">
				{{ 'ambulatoria.print.document-type.ERROR' | translate }}
			</mat-error>
		</div>
	</section>

	<section id="buttons" fxLayout="row" fxLayoutGap="20px">
		<button mat-stroked-button type="button" color="primary" (click)="goBack()">
			{{ 'ambulatoria.print.BACK' | translate }}
		</button>
		<button mat-flat-button type="button" color="primary" (click)="search()"
			[disabled]="dateRangeForm.invalid || encounterTypeForm.invalid || documentTypeForm.invalid || loadingTable">
			{{ 'ambulatoria.print.SEARCH' | translate }}
		</button>
	</section>

	<mat-divider></mat-divider>

	<div class="spinner" *ngIf="loadingTable" fxLayout="column" fxLayoutGap="25px">
		<mat-spinner color="primary"></mat-spinner>
		<span class="color-primary">{{ 'ambulatoria.print.SPINNER_DESCRIPTION' | translate }}</span>
	</div>

	<section id="encounterList">
		<h3 class="subtitle">{{'ambulatoria.print.encounter-list.TITLE' | translate}}</h3>
		<div *ngIf="!noInfo else noData">
			<h4>{{'ambulatoria.print.encounter-list.SUBTITLE' | translate}}</h4>
			<mat-card class="table-card">
				<p class="selected-rows color-primary" fxLayoutAlign="end">
					<span>{{'ambulatoria.print.encounter-list.SELECTED_ROWS' | translate}}</span>
					<span>{{selection.selected.length}}</span>
				</p>
				<mat-divider></mat-divider>
				<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" matSort>
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef class="short header"></th>
						<td mat-cell *matCellDef="let row">
							<mat-checkbox [color]="'primary'" (click)="$event.stopPropagation()" [disabled]="!selection.isSelected(row) && selection.selected.length >= MAX_DOCUMENTS_TO_BE_SELECTED"
								(change)="toggleCheck(row)" [checked]="selection.isSelected(row)">
							</mat-checkbox>
						</td>
					</ng-container>

					<ng-container matColumnDef="startDate">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="long header"> {{'ambulatoria.print.encounter-list.header.START_DATE' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
					</ng-container>

					<ng-container matColumnDef="endDate">
						<th mat-header-cell *matHeaderCellDef mat-sort-header class="long header"> {{'ambulatoria.print.encounter-list.header.END_DATE' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
					</ng-container>

					<ng-container matColumnDef="encounterType">
						<th mat-header-cell *matHeaderCellDef class="long header"> {{'ambulatoria.print.encounter-list.header.ENCOUNTER_TYPE' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.encounterType | translate}} </td>
					</ng-container>

					<ng-container matColumnDef="documentType">
						<th mat-header-cell *matHeaderCellDef class="long header"> {{'ambulatoria.print.encounter-list.header.DOCUMENT_TYPE' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.documentType | translate}} </td>
					</ng-container>

					<ng-container matColumnDef="problem">
						<th mat-header-cell *matHeaderCellDef class="long header"> {{'ambulatoria.print.encounter-list.header.PROBLEM' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.problems}} </td>
					</ng-container>

					<ng-container matColumnDef="institution">
						<th mat-header-cell *matHeaderCellDef class="long header"> {{'ambulatoria.print.encounter-list.header.INSTITUTION' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.institution}} </td>
					</ng-container>

					<ng-container matColumnDef="professional">
						<th mat-header-cell *matHeaderCellDef class="long header"> {{'ambulatoria.print.encounter-list.header.PROFESSIONAL' | translate}} </th>
						<td mat-cell *matCellDef="let row"> {{row.professional}} </td>
					</ng-container>

					<ng-container matColumnDef="download-button">
						<td mat-footer-cell *matFooterCellDef colspan="2">
							<app-button 
								class="download-button" 
								text="ambulatoria.print.encounter-list.DOWNLOAD" 
								[isLoading]="isDownloadingDocuments"
								[disabled]="selection.selected.length === 0" 
								[buttonType]="ButtonType"
								(clicked)="downloadSelected()">
							</app-button>
						</td>
					</ng-container>

					<ng-container matColumnDef="paginator">
						<td mat-footer-cell *matFooterCellDef colspan="6">
							<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
						</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr mat-footer-row *matFooterRowDef="['download-button','paginator']"></tr>
				</table>
				<mat-progress-bar mode="indeterminate" *ngIf="isDownloadingDocuments"></mat-progress-bar>
			</mat-card>
			<p class="last-printed" *ngIf="showLastPrinted">
				<span>{{'ambulatoria.print.encounter-list.LAST_PRINTED' | translate}}</span>
				<span>{{userLastDownload}} | </span>
				<span>{{dateLastDownload | dateFormat: 'datetime'}}</span>
			</p>

		</div>
		<ng-template #noData>
			<app-no-data></app-no-data>
		</ng-template>
	</section>
</app-content>
