mat-form-field.input {
	width: 100%;
}

form {
	margin-top: 10px;
}

mat-selection-list {
	overflow: auto;
	width: 45%;
}

.content {
	width: 65%;
	margin-left: 10px;
	overflow-x: hidden;
}

.documents {
	max-height: 50vh;
}

.selection-documents {
	min-width: 30vw;
}

.selection-documents mat-list-option {
	height: auto;
}

.no-notes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.main-diagnosis-toggle, .without-diagnosis-toggle{
	display: flex;
	flex-direction: column;
	margin: 7px;
}

.bold-text {
	font-weight: 500;
}

#document-type {
	margin-top: 7px;
}

.grey {
	color: #A8A8A8;
}

.empicrisis-draft{
	font-weight: 500;
	color: #a8a8a8;
}

.edit-draft-button{
	margin-bottom: 15px;
}

.no-data-styles {
	padding: 20px 5px;
	text-align: center;
	font-weight: bold;
	color: #A8A8A8;
}
