.index-box {
    border-radius: 10px;
    background-color: #e0eef7;
	min-width: 50%;
}

.consultation {
    margin: 3%;
}

.index {
    display: grid;
    grid-template-columns: 12% 12% 12% 25% auto;
    margin: 4%;
    row-gap: 10%;
}
