<div fxLayoutAlign="end">
	<button id="close" mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>
<h2 mat-dialog-title class="capitalize-first-letter">{{ data.title | translate}}</h2>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">
	<span class="capitalize-first-letter">{{ data.subtitle | translate }}</span>
	<form [formGroup]="motive" (ngSubmit)="confirm()">
		<mat-form-field appearance="outline">
			<textarea id="motive" matInput type="text" formControlName="motive"
				placeholder="{{ data.placeholder | translate }}"></textarea>
			<mat-error *ngIf="motive.hasError('required', 'motive')" [translate]="'forms.REQUIRED'"></mat-error>
			<mat-error *ngIf="motive.hasError('pattern', 'motive')" [translate]="'forms.REQUIRED'"></mat-error>
		</mat-form-field>
		<div fxLayoutAlign="end">
			<button actions mat-raised-button type="submit" color="primary" id="okButton-button">
				{{ 'buttons.CONFIRM' | translate | uppercase}}
			</button>
		</div>
	</form>
</div>
