<div>

	<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
		<app-tooth #tooth [toothTreatment]="toothTreatment" (selectedSurfacesEmitter)="reciveSelectedSurfaces($event)"
			[newFinding]="newHallazgoId" [setFirstProcedure]="firstProcedureId" [setSecondProcedure]="secondProcedureId"
			[setThirdProcedure]="thirdProcedureId"
			[findingsAndProcedures]="odontogramService.getActionsFrom(data.tooth.snomed.sctid)">
		</app-tooth>
		<div fxLayout="column">
			<span class="title">Pieza {{data.quadrantCode}}{{data.tooth.code}}</span>
			<span class="subtitle">{{selectedSurfacesText}}</span>
		</div>
	</div>

	<div fxLayout="column">
		<form [formGroup]="form" (ngSubmit)="confirm()" fxLayout="column">
			<mat-form-field appearance="outline">
				<mat-label>Seleccione hallazgo</mat-label>
				<mat-select formControlName="findingId" name="findingId" (selectionChange)="findingChanged($event)">
					<mat-option *ngFor="let finding of filteredDiagnostics" [value]="finding.snomed.sctid">
						<span>{{finding.snomed.pt}}</span>
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div fxLayout="column" formGroupName="procedures">

				<mat-form-field appearance="outline">
					<mat-label>Seleccione 1er procedimiento</mat-label>
					<mat-select formControlName="firstProcedureId" name="firstProcedureId"
						(selectionChange)="firstProcedureChanged()">
						<mat-option *ngFor="let procedure of filteredProcedures" [value]="procedure.snomed.sctid">
							<span>{{procedure.snomed.pt}}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>

				<div *ngIf="!selectedSurfaces.length" fxLayout="column">
					<mat-form-field appearance="outline">
						<mat-label>Seleccione 2do procedimiento</mat-label>
						<mat-select formControlName="secondProcedureId" name="secondProcedureId"
							(selectionChange)="secondProcedureChanged()">
							<mat-option *ngFor="let procedure of filteredProcedures" [value]="procedure.snomed.sctid">
								<span>{{procedure.snomed.pt}}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Seleccione 3er procedimiento</mat-label>
						<mat-select formControlName="thirdProcedureId" name="thirdProcedureId"
							(selectionChange)="thirdProcedureChanged()">
							<mat-option *ngFor="let procedure of filteredProcedures" [value]="procedure.snomed.sctid">
								<span>{{procedure.snomed.pt}}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>


			</div>

			<mat-dialog-actions fxLayoutAlign="end end">
				<button mat-stroked-button color="primary" mat-dialog-close type="button">Cancelar </button>
				<button mat-raised-button color="primary">Confirmar </button>
			</mat-dialog-actions>
		</form>
	</div>
</div>
