<div fxLayout="column" fxLayoutGap="7px">

	<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
		<app-tooth #tooth [toothTreatment]="toothTreatment" (selectedSurfacesEmitter)="reciveSelectedSurfaces($event)"
			[newFinding]="newHallazgoId" [setFirstProcedure]="firstProcedureId" [setSecondProcedure]="secondProcedureId"
			[setThirdProcedure]="thirdProcedureId">
		</app-tooth>
		<div fxLayout="column">
			<span class="title">Pieza {{data.quadrantCode}}{{data.tooth.code}}</span>
			<span class="subtitle">{{selectedSurfacesText}}</span>
		</div>
	</div>

	<div id="records" style="font-size: 13.5px;" *ngIf="historicalRecords$ | async as historicalRecords">
		<span *ngIf="!historicalRecords.length; else displayRecords" style="color: #A8A8A8;">Sin registros.</span>
		<ng-template #displayRecords>
			<div fxLayout="column" fxLayoutGap="10px">

				<div fxLayout="row" fxLayoutGap="5px">
					<span id="record_date">{{historicalRecords[0].date | viewDateDto : 'date' | date:
						'dd/MM/yyyy'}}</span>
					<div>
						<span id="record_pt">{{historicalRecords[0].snomed.pt}}</span>
						<span id="record_surface" *ngIf="historicalRecords[0].surfaceSctid"> (
							{{shortNameOf(historicalRecords[0].surfaceSctid)}} ) </span>
					</div>

				</div>
				<div *ngIf="historicalRecords.length === 1; else olderRecords"></div>
			</div>

			<ng-template #olderRecords>
				<div class="color-primary pointer" *ngIf="!showOlderRecords" (click)="showOlderRecords = true"
					fxLayoutAlign="start center">
					<mat-icon>arrow_drop_down</mat-icon>
					<span *ngIf="historicalRecords.length === 2 ; else multipleRecords">Ver 1 registro anterior</span>
					<ng-template #multipleRecords>
						<span>Ver {{ historicalRecords.slice(1).length}} registros anteriores</span>
					</ng-template>
				</div>

				<div *ngIf="showOlderRecords" fxLayout="column" fxLayoutGap="10px">
					<div class="scrolleable-records" fxLayout="column" fxLayoutGap="10px">
						<div id="scrolleable_records" style="color: grey" fxLayout="row" fxLayoutGap="5px"
							*ngFor="let record of historicalRecords.slice(1) ">
							<span id="record_date">{{record.date | viewDateDto : 'date' | date: 'dd/MM/yyyy'}}</span>
							<div>
								<span id="record_pt">{{record.snomed.pt}}</span>
								<span id="record_surface" *ngIf="record.surfaceSctid"> (
									{{shortNameOf(record.surfaceSctid)}} ) </span>
							</div>
						</div>
					</div>

					<div class="color-primary pointer" *ngIf="showOlderRecords" (click)="showOlderRecords = false"
						fxLayoutAlign="start center">
						<mat-icon>arrow_drop_up</mat-icon>
						<span>Ocultar registros anteriores</span>
					</div>
				</div>
			</ng-template>
		</ng-template>
	</div>

	<div fxLayout="column">
		<form [formGroup]="form" (ngSubmit)="confirm()" fxLayout="column">
			<mat-form-field appearance="outline">
				<mat-label>Seleccione hallazgo</mat-label>
				<mat-select formControlName="findingId" name="findingId" (selectionChange)="findingChanged($event)">
					<mat-option *ngFor="let finding of filteredDiagnostics" [value]="finding.snomed.sctid">
						<span>{{finding.snomed.pt}}</span>
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div fxLayout="column" formGroupName="procedures">

				<mat-form-field appearance="outline">
					<mat-label>Seleccione 1er procedimiento</mat-label>
					<mat-select formControlName="firstProcedureId" name="firstProcedureId"
						(selectionChange)="firstProcedureChanged()">
						<mat-option *ngFor="let procedure of filteredProcedures" [value]="procedure.snomed.sctid">
							<span>{{procedure.snomed.pt}}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>

				<div *ngIf="!selectedSurfaces.length" fxLayout="column">
					<mat-form-field appearance="outline">
						<mat-label>Seleccione 2do procedimiento</mat-label>
						<mat-select formControlName="secondProcedureId" name="secondProcedureId"
							(selectionChange)="secondProcedureChanged()">
							<mat-option *ngFor="let procedure of filteredProcedures" [value]="procedure.snomed.sctid">
								<span>{{procedure.snomed.pt}}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Seleccione 3er procedimiento</mat-label>
						<mat-select formControlName="thirdProcedureId" name="thirdProcedureId"
							(selectionChange)="thirdProcedureChanged()">
							<mat-option *ngFor="let procedure of filteredProcedures" [value]="procedure.snomed.sctid">
								<span>{{procedure.snomed.pt}}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>


			</div>

			<mat-dialog-actions fxLayoutAlign="end end">
				<button mat-stroked-button color="primary" mat-dialog-close type="button">Cancelar </button>
				<button mat-raised-button color="primary">Confirmar </button>
			</mat-dialog-actions>
		</form>
	</div>
</div>
