<app-content width="full">
    <section *ngIf="viewSearchComponent()">
		<h1 [translate]="'pacientes.search.TITLE'">Búsqueda de pacientes</h1>
		<p>
			<span [translate]="'No se ha encontrado un paciente registrado con ese tipo y numero de documento.'"></span>
			<br>
			<span [translate]="'Complete los siguientes datos para una busqueda avanzada.'"></span>
		</p>
		<div class="content">
			<form [formGroup]="formSearch" (ngSubmit)="serch()">
				<br>
				<mat-form-field appearance="outline">
					<mat-label>Tipo</mat-label>
					<input id="identificationNumber"
						   formControlName="identificationNumber"
					       placeholder="DNI"
						   matInput>
					<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'identificationNumber')">
						El campo es requerido
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Documento</mat-label>
					<input id="identificationTypeId"
						   formControlName="identificationTypeId"
					       placeholder="Sin puntos"
						   matInput>
					<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'identificationTypeId')">
						El campo es requerido
					</mat-error>
				</mat-form-field>
				<br>
				<mat-label>Sexo</mat-label>
				<div class="">
					<mat-radio-group name="gender" id="gender" formControlName="gender">
						<mat-radio-button *ngFor="let gender of genderOptions" [value]="gender.id">
							{{gender.description}}
						</mat-radio-button>
					</mat-radio-group>
					<mat-error *ngIf="formSearchSubmitted &&  hasError(formSearch, 'required', 'gender')">
						Género requerido
					</mat-error>
				</div>
				<br>
				<mat-form-field appearance="outline">
					<mat-label>Nombre</mat-label>
					<input id="firstName"
							formControlName="firstName"
							matInput>
					<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'firstName')">
						El campo es requerido
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Segundo Nombre</mat-label>
					<input id="middleNames"
							formControlName="middleNames"
							matInput>
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline">
					<mat-label>Apellido</mat-label>
					<input  id="lastName"
							formControlName="lastName"
							matInput>
					<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'lastName')">
						El campo es requerido
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Apellido materno</mat-label>
					<input  id="mothersLastName"
							formControlName="mothersLastName"
							matInput>
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline">
					<mat-label>Fecha de nacimiento</mat-label>
					<input matInput id="birthDate"
									formControlName="birthDate"
									[matDatepicker]="picker">
					<mat-error *ngIf="formSearchSubmitted && hasError(formSearch, 'required', 'birthDate')">
						El campo es requerido
					</mat-error>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<br>
				<mat-action-row>
					<button mat-button class="button-continuar" (click)="back()">
						<span [translate]="'Volver'"></span>
					</button>
					<button mat-raised-button color="primary" matBadgeColor="accent" type="submit">
						<span [translate]="'Buscar'"></span>
					</button>
				</mat-action-row>
			</form>
		</div>
	</section>
	<div class="container" *ngIf="!viewSearchComponent()">
		<app-partial-matches-table>
		</app-partial-matches-table>
	</div>
</app-content>
