<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <style>
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }

        .img-container {
            width: 700px;
            height: 420px;
        }
    </style>
</head>
<body>
<table>
    <thead><tr><td>
        <div class="header-space">&nbsp;</div>
    </td></tr></thead>
    <tbody><tr><td>
        <div>
            <div th:replace="fragments/general.html :: header"></div>
            <div th:replace="fragments/general.html :: encounterData(type='Internación')"></div>
            <div th:replace="fragments/general.html :: professionalData"></div>
            <div th:replace="fragments/general.html :: documentTypeTitle(title='Parte anestésico')"></div>

        </div>
    </td></tr></tbody>
    <tfoot><tr><td>
        <div class="footer-space">&nbsp;</div>
    </td></tr></tfoot>
</table>
</body>
<footer>
    <div th:replace="fragments/general.html :: footer"></div>
</footer>
</html>