<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
    <table>
        <thead><tr><td>
            <div class="header-space">&nbsp;</div>
        </td></tr></thead>
        <tbody><tr><td>
            <div>
                <div th:replace="fragments/general.html :: header"></div>
                <div th:replace="fragments/general.html :: encounterData(type='Alta de internación')"></div>
                <div th:replace="fragments/general.html :: professionalData"></div>
                <div th:replace="fragments/general.html :: documentTypeTitle(title='Epicrisis')"></div>
                <div th:replace="fragments/general.html :: mainDiagnosis(message='Diagnóstico principal')"></div>
                <div th:replace="fragments/general.html :: diagnosis(message='Diagnósticos secundarios')"></div>
                <div th:replace="fragments/general.html :: personalHistory"></div>
                <div th:replace="fragments/general.html :: familyHistory"></div>
                <div th:replace="fragments/general.html :: allergies"></div>
                <div th:replace="fragments/general.html :: immunizations"></div>
                <div th:replace="fragments/general.html :: medications(title='Medicación ambulatoria')"></div>
                <div th:replace="fragments/general.html :: procedures(message='Procedimientos')"></div>
                <div th:replace="fragments/general.html :: otherProblems(title='Otras circunstancias que prologan la epicrisis')"></div>
                <div th:replace="fragments/general.html :: externalCause"></div>
                <div th:replace="fragments/general.html :: obstetricEvent"></div>
                <div th:replace="fragments/general.html :: notes-epicrisis"></div>
            </div>
        </td></tr></tbody>
        <tfoot><tr><td>
            <div class="footer-space">&nbsp;</div>
        </td></tr></tfoot>
    </table>
</body>
<footer>
    <div th:replace="fragments/general.html :: footer"></div>
</footer>
</html>
<!-- en diagnostico principal dice: Sin información NO Sin cambios registrados -->
