<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Cuestionario de antecedentes familiares</title>
    <!-- Bootstrap's .css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"></link>
    <style>
        body {
           border: 1px solid black;
           padding: 10px;
           font-family: Tahoma, Verdana, sans-serif;
        }

        h5 {
           font-weight: bold;
           font-size: 15px;
           margin: 15px 0px;
           border-top: 1px solid black;
        }

        h4 {
           margin: 15px 0px;
           color: #2687c5;
           background-color: #f0f8ff;
           border-top: 1px solid black;
           font-weight: normal;
        }

        p {
           font-weight: bold;
           font-size: 15px;
        }

        label {
           width: 70%;
           page-break-inside: avoid;
           margin: 2px 0px;
        }

        span {
           font-weight: normal;
        }

    </style>
</head>
<body th:fragment="familybg">
    <div class="container">
        <p style="text-align:right;">Fecha de atención: <span th:text="${formattedCreatedOn}"></span></p>
        <p>Institución: <span th:text="${institution.name}"></span></p>
        <hr></hr>
        <h5>Datos del paciente</h5>
        <p>Apellido y nombre: <span th:text="${patientPersonFullName}"></span></p>
        <p><span th:utext="${'<b>' + patientIdType.description + ':</b> ' + patientPerson.identificationNumber}"></span></p>
        <p>Edad a la fecha de atención: <span th:text="${patientAge}"></span></p>
        <hr></hr>
        <h5>Datos del profesional</h5>
        <p>Apellido y nombre: <span th:text="${professionalPersonFullName}"></span></p>
        <p>M.P.: <span th:text="${professional.licenseNumber}"></span></p>

        <h3>Cuestionario de antecedentes familiares - Informe de resultados</h3>

        <hr></hr>

        <div class="itemcontainer" th:each="respuesta : ${answers[0]}">
            <h4>¿Con qué familiar(es) convive?</h4>
            <p>Madre</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt1" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt2" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt3" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[1]}">
            <p>Padre</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt4" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt5" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt6" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[2]}">
            <p>Madrastra</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt7" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt8" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt9" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[3]}">
            <p>Padrastro</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt10" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt11" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt12" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[4]}">
            <p>Hermanos</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt13" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt14" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt15" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <br></br>
        <br></br>
        <br></br>
        <p style="text-align:right;">1/4</p>
        <div class="itemcontainer" th:each="respuesta : ${answers[5]}">
            <p>Pareja</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt16" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt17" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt18" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[6]}">
            <p>Hijos</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt19" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt20" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt21" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[7]}">
            <p>Abuelos</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt22" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt23" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt24" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[8]}">
            <p>Otros</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt25" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt26" th:checked="${respuesta.answerId == 26}"></input>
                En la casa
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt27" th:checked="${respuesta.answerId == 27}"></input>
                En el cuarto
            </label><br></br>
        </div>

        <hr></hr>

        <div class="itemcontainer" th:each="respuesta : ${answers[9]}">
            <h4>¿Dónde vive?</h4>
            <p>En una institución</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt28" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt29" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[10]}">
            <p>En la calle</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt30" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt31" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[11]}">
            <p>Solo</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt32" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt33" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[12]}">
            <p>Comparto la cama</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt34" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt35" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
        </div>

        <hr></hr>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <p style="text-align:right;">2/4</p>

        <div class="itemcontainer" th:each="respuesta : ${answers[13]}">
            <h4>Nivel de instrucción alcanzado</h4>
            <p>Padre o sustituto</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt42" th:checked="${respuesta.answerId == 28}"></input>
                Analfabeto
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt43" th:checked="${respuesta.answerId == 29}"></input>
                Primario incompleto
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt44" th:checked="${respuesta.answerId == 30}"></input>
                Primario
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt45" th:checked="${respuesta.answerId == 31}"></input>
                Secundario incompleto
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt46" th:checked="${respuesta.answerId == 32}"></input>
                Secundario
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt47" th:checked="${respuesta.answerId == 33}"></input>
                Universitario/terciario
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[14]}">
            <p>Madre o sustituta</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt36" th:checked="${respuesta.answerId == 28}"></input>
                Analfabeta
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt37" th:checked="${respuesta.answerId == 29}"></input>
                Primario incompleto
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt38" th:checked="${respuesta.answerId == 30}"></input>
                Primario
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt39" th:checked="${respuesta.answerId == 31}"></input>
                Secundario incompleto
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt40" th:checked="${respuesta.answerId == 32}"></input>
                Secundario
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt41" th:checked="${respuesta.answerId == 33}"></input>
                Universitario/terciario
            </label><br></br>
        </div>
        <hr></hr>

        <hr></hr>

        <div class="itemcontainer" th:each="respuesta : ${answers[15]}">
            <h4>Madre</h4>
            <p>Trabajo remunerado</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt48" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt49" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[16]}">
            <p>Horas diarias afuera de casa</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value + ' horas' : 'No registrado'}" name="opt50"></p>
            </label>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[17]}">
            <p>Edad (años)</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value + ' años' : 'No registrado'}" name="opt51"></p>
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[18]}">
            <p>Estado civil</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt52" th:checked="${respuesta.answerId == 34}"></input>
                Soltera
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt53" th:checked="${respuesta.answerId == 35}"></input>
                Casada
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt54" th:checked="${respuesta.answerId == 36}"></input>
                Unión estable
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt55" th:checked="${respuesta.answerId == 37}"></input>
                Otros
            </label><br></br>
        </div>

        <hr></hr>

        <div class="itemcontainer" th:each="respuesta : ${answers[19]}">
            <h4>Padre</h4>
            <p>Trabajo remunerado</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt56" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt57" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
            <br></br>
            <br></br>
            <p style="text-align:right;">3/4</p>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[20]}">
            <p>Horas diarias afuera de casa</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value + ' horas' : 'No registrado'}" name="opt58"></p>
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[21]}">
            <p>Edad (años)</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value + ' años' : 'No registrado'}" name="opt59"></p>
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[22]}">
            <p>Estado civil</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt60" th:checked="${respuesta.answerId == 34}"></input>
                Soltero
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt61" th:checked="${respuesta.answerId == 35}"></input>
                Casado
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt62" th:checked="${respuesta.answerId == 36}"></input>
                Unión estable
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt63" th:checked="${respuesta.answerId == 37}"></input>
                Otros
            </label><br></br>
        </div>

        <hr></hr>

        <div class="itemcontainer" th:each="respuesta : ${answers[23]}">
            <h4>Hermanos</h4>
            <p>Vivos</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value : 'No registrado'}" name="opt64"></p>
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[24]}">
            <p>Fallecidos</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value : 'No registrado'}" name="opt65"></p>
            </label><br></br>
        </div>

        <hr></hr>

        <div class="itemcontainer" th:each="respuesta : ${answers[25]}">
            <h4>Vivienda</h4>
            <p>Número de cuartos</p>
            <label>
                <p style="font-weight: normal;" th:text="${respuesta.value != null and respuesta.value != 0 ? respuesta.value : 'No registrado'}" name="opt66"></p>
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[26]}">
            <p>Energía eléctrica</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt67" th:checked="${respuesta.answerId == 19}"></input>
                No
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt68" th:checked="${respuesta.answerId == 20}"></input>
                Sí
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[27]}">
            <p>Agua corriente</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt69" th:checked="${respuesta.answerId == 38}"></input>
                Conectado a la red
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt70" th:checked="${respuesta.answerId == 39}"></input>
                Sin conexión a la red
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt71" th:checked="${respuesta.answerId == 40}"></input>
                Fuera del hogar
            </label><br></br>
        </div>
        <hr></hr>
        <div class="itemcontainer" th:each="respuesta : ${answers[28]}">
            <p>Excretas</p>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt72" th:checked="${respuesta.answerId == 38}"></input>
                Conectado a la red
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt73" th:checked="${respuesta.answerId == 39}"></input>
                Sin conexión a la red
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt74" th:checked="${respuesta.answerId == 40}"></input>
                Fuera del hogar
            </label><br></br>
            <label>
                <input type="checkbox" disabled="disabled" readonly="readonly" name="opt75" th:checked="${respuesta.answerId == 41}"></input>
                Letrina
            </label><br></br>
            <br></br>
            <p style="text-align:right;">4/4</p>
        </div>

    </div>
    <!-- Bootstrap's script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>