<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
	<div th:replace="fragments/general.html :: header(title='Nueva consulta', subtitle='Ambulatoria')"></div>
	<div th:replace="fragments/general.html :: clinicalSpecialty(message='Especialidad clínica')"></div>
	<div th:replace="fragments/general.html :: personalData(patientType='Paciente')"></div>
	<div th:replace="fragments/general.html :: reasons(message='Motivos')"></div>
	<div th:replace="fragments/general.html :: procedures(message='Procedimientos')"></div>
	<div th:replace="fragments/general.html :: problems(message='Problemas/Antecedentes')"></div>
	<div th:replace="fragments/general.html :: antropometicData"></div>
	<div th:replace="fragments/general.html :: familyHistory"></div>
	<div th:replace="fragments/general.html :: allergies"></div>
	<div th:replace="fragments/general.html :: medications(title='Medicación habitual')"></div>
	<div th:replace="fragments/general.html :: immunizations"></div>
	<div th:replace="fragments/general.html :: riskFactors"></div>
	<div th:replace="fragments/general.html :: notes-outpatient"></div>
</body>
<footer>
	<div th:replace="fragments/general.html :: footer"></div>
</footer>
</html>