<div class="m-top">
    <h1 [translate]="'gis.responsability-area.TITLE'"></h1>
    <span [translate]="'gis.responsability-area.DESCRIPTION'"></span>

    <div class="m-top" *ngIf="showPolygonError">
        <app-box-message
            [boxMessageInfo]="{message: 'gis.responsability-area.status.POLYGON_ERROR', showButtons: false, viewError: true}">
        </app-box-message>
    </div>

    <div class="actions m-top">
        <button (click)="previousStepper()" mat-button mat-stroked-button color="primary">{{'buttons.BACK' | translate | uppercase}}</button>
        <button (click)="saveAddressAndCoordinates(true)" mat-button mat-stroked-button color="primary">{{'gis.responsability-area.actions.SKIP' | translate | uppercase}}</button>
        <app-button 
            text="buttons.CONFIRM" 
            [buttonType]="ButtonType.RAISED" 
            [isLoading]="isSaving" 
            (clicked)="handleConfirm()">  
        </app-button>
    </div>
</div>

<button [ngClass]="!showUndo ? 'hide' : ''" (click)="removeLastPoint()" mat-stroked-button color="primary" class="map-action" id="undo">
    <mat-icon>undo</mat-icon>
    <span [translate]="'gis.responsability-area.actions.UNDO'"></span>
</button>

<button [ngClass]="!showRemoveAndCreate ? 'hide' : ''" (click)="removeAndCreate()" mat-stroked-button color="primary" class="map-action" id="removeAndCreate">
    <span [translate]="'gis.responsability-area.actions.DELETE'"></span>
</button>