@import "./routes/agenda/agenda.component.scss-theme.scss";
@import "./dialogs/appointment/appointment.component.scss-theme.scss";

@mixin turnos-mixins($theme) {
    @include app-agenda($theme);
    @include app-appointment($theme);
}

.turnos div.calendar-event-white-text .cal-event-title {
    color: white;
}

.turnos div.calendar-event-grey-text .cal-event-title {
    color: #7D807D;
}

.turnos div.calendar-event-purple-text .cal-event-title {
    color: #AF26C5;
}

@mixin fixed-header {
	position: sticky;
  	top: 0;
	z-index: 3;
	background-color:white;
}
