<div *ngFor="let fluidAdministration of fluidAdministrationList; index as i; last as isLastElement">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutGap="10px">
            <span class="bold-text">
                {{ fluidAdministration.snomed.pt }}
            </span>
            <span *ngIf="fluidAdministration.amount">
                {{ 'internaciones.anesthesic-report.fluid-administration.AMOUNT_LABEL' | translate }} :
                <span class="bold-text">{{fluidAdministration.amount }}</span>
            </span>
        </div>
        <ng-container>
            <button mat-icon-button color="warn" (click)="service.remove(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-container>
    </div>
    <mat-divider class="separation" inset *ngIf="!isLastElement"></mat-divider>
</div>