<div *ngIf="userInfo?.fullName; else userName" class="badge">
	<img class="picture" [src]="avatar" [alt]="'profile.PICTURE' | translate">
	<div [hidden]="hideName">
		<h1 class="fullName">{{userInfo.fullName}}</h1>
	</div>
</div>

<ng-template #userName>
	<div *ngIf="userInfo?.userName; else loading" class="badge warn-background">
		<h1 [hidden]="hideName" class="userName">{{userInfo?.userName}}</h1>
		<p class="info">Este usuario no está asociado a una persona real</p>
	</div>
</ng-template>

<ng-template #loading>
	<div class="loading">

	</div>
</ng-template>
