<div id="search" class="actions" fxLayout="row" fxLayoutGap="15px">
	<app-typeahead
		style="width: 26%;"
		[placeholder]="'turnos.home.SPECIALTY_SEARCH'"
		[options]="especialidadesTypeaheadOptions$ | async"
		(selectionChange)="setEspecialidad($event)">
	</app-typeahead>
	<app-typeahead
	style="width: 20%;"
		[options]="profesionalesTypeahead" [placeholder]="'turnos.home.PROFESSIONAL_SEARCH'"
		[externalSetValue]="profesionalInitValue"
		(selectionChange)="setProfesional($event)">
	</app-typeahead>
</div>
<app-select-agenda></app-select-agenda>
