@import '../../../../../assets/styles/mat-mixins';

@include mat-form-field-background-white;

.actions {
	margin-bottom: 16px;
	padding-top: 16px;

	.aligned-form-field {
		::ng-deep .mat-form-field-wrapper {
			padding-bottom: 0;
			margin: 0;
		}

		font-size: 12px;
		input {
			font-size: 15px;
		}
	}
}
