.label {
    width: fit-content;
    margin-bottom: 10px;
}

.date {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.amend-problems-card {
	padding-right: 10px;

	@media screen and (max-width: 960px) {
		padding-right: 0px;
	}
}
