// .report-label {
//     font-size: 0.8rem;
//     color: orange;
//     margin-left: 10px;
// }

// .report-status {
//     display: flex;
//     text-align: center;
//     align-items: center;
// }

// @media (max-width: 1280px) {
//     .view-study-btn {
//         align-self: center;
//     }
// 	.report-status {
// 		display: block;
// 	}
//     .report-label {
//         margin-left: 0;
//     }
// }

// .order-info {
//     width: 42px;
//     color: blue;
// }

// .order-warn {
//     width: 42px;
//     color: red; }

.study-reports{
	max-width: 50%;
}
