<div fxLayout="column" fxLayoutGap="30px">
	<app-category-header-divider [header]="studyHeader"></app-category-header-divider>

	<div id="content" fxLayout="column" fxLayoutGap="50px">

		<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" *ngFor="let study of _studies">
			<app-study-list-element fxFlex [content]="contentBuilder(study.diagnosticInformation)"
				[createdDuring]="wasCreatedDuringSource(study.diagnosticInformation.source)"></app-study-list-element>

			<ng-container *ngIf="study.diagnosticInformation.category === IMAGE_DIAGNOSIS && study.diagnosticInformation.infoOrderInstances?.imageId">
					<app-study-images-reports
						[appointmentId]="study.appointmentId"
						[studyInfo]="study.diagnosticInformation">
				</app-study-images-reports>
			</ng-container>
			<ng-container *ngIf="!IMAGE_TYPE_ORDER.includes(study.diagnosticInformation.typeOrder)">
				<div actions fxFlex="3" *ngIf="study.diagnosticInformation.statusId !== STUDY_STATUS.ERROR.id">
					<button mat-icon-button [matMenuTriggerFor]="menu" >
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']">
							<button mat-menu-item (click)="downloadOrder(study.diagnosticInformation.serviceRequestId)">
								<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DOWNLOAD_STUDY'"></span>
							</button>
						</ng-container>
						<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ESPECIALISTA_EN_ODONTOLOGIA', 'PERSONAL_DE_IMAGENES', 'PERSONAL_DE_LABORATORIO']">
							<button mat-menu-item (click)="completeStudy(study.diagnosticInformation)" *ngIf="(study.diagnosticInformation.statusId === STUDY_STATUS.REGISTERED.id) ||( study.diagnosticInformation.statusId === STUDY_STATUS.PARTIAL.id)"
							[disabled]="study.hasActiveAppointment">
								<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.COMPLETE'"></span>
							</button>
						</ng-container>
						<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ESPECIALISTA_EN_ODONTOLOGIA']">
							<button mat-menu-item (click)="confirmDeleteStudy(study.diagnosticInformation)" *ngIf="study.diagnosticInformation.statusId === STUDY_STATUS.REGISTERED.id"
							[disabled]="study.hasActiveAppointment">
								<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DELETE'"></span>
							</button>
						</ng-container>
							<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA', 'PERSONAL_DE_IMAGENES', 'PERSONAL_DE_LABORATORIO']">
								<button mat-menu-item (click)="showStudyResults(study.diagnosticInformation)" *ngIf="study.diagnosticInformation.statusId === STUDY_STATUS.FINAL.id || (study.diagnosticInformation.statusId === STUDY_STATUS.PARTIAL.id)">
								<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.SHOW_RESULTS'"></span>
							</button>
						</ng-container>
					</mat-menu>
				</div>
			</ng-container>
		</div>
	</div>
</div>
