<div fxLayout="column" fxLayoutGap="30px">
	<app-category-header-divider [header]="studyHeader"></app-category-header-divider>

	<div id="content" fxLayout="column" fxLayoutGap="50px">
		<div fxLayout="row" *ngFor="let study of studies">
			<app-study-list-element fxFlex="100" [content]="contentBuilder(study)"
				[wasCreatedDuringInternment]="wasCreatedDuringSource(study.source)"></app-study-list-element>
			<div actions *ngIf="study.statusId !== STUDY_STATUS.ERROR.id">
				<button mat-icon-button [matMenuTriggerFor]="menu" >
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']">
						<button mat-menu-item (click)="downloadOrder(study.serviceRequestId)">
							<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DOWNLOAD_STUDY'"></span>
						</button>
					</ng-container>
					<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ESPECIALISTA_EN_ODONTOLOGIA', 'PERSONAL_DE_IMAGENES', 'PERSONAL_DE_LABORATORIO']">
						<button mat-menu-item (click)="completeStudy(study)" *ngIf="study.statusId === STUDY_STATUS.REGISTERED.id">
							<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.COMPLETE'"></span>
						</button>
					</ng-container>
					<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ESPECIALISTA_EN_ODONTOLOGIA']">
						<button mat-menu-item (click)="deleteStudy(study)" *ngIf="study.statusId === STUDY_STATUS.REGISTERED.id">
							<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DELETE'"></span>
						</button>
					</ng-container>
					<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA', 'PERSONAL_DE_IMAGENES', 'PERSONAL_DE_LABORATORIO']">
						<button mat-menu-item (click)="showStudyResults(study)" *ngIf="study.statusId === STUDY_STATUS.FINAL.id">
							<span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.SHOW_RESULTS'"></span>
						</button>
					</ng-container>
				</mat-menu>
			</div>
		</div>
	</div>
</div>
