<div fxLayout="column" fxLayoutGap="0.1125em">
	<mat-card>
		<div *ngIf="referenceReports.length else noInfo" fxLayout="column" fxLayoutGap="10px">
			<div fxLayout="column" *ngFor="let referenceReport of referenceReports">

				<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutAlign="center">
					<app-reference-summary fxFlex="90" [referenceReport]="referenceReport"></app-reference-summary>
					<div fxFlex="10" fxLayoutAlign.lt-lg="end">
						<button mat-stroked-button (click)="openRequest(referenceReport.dto.id)" color="primary">
							{{ 'access-management.search_references.VIEW_APPLICATION' | translate}}
						</button>
					</div>
				</div>
				<mat-divider class="divider-list" inset></mat-divider>
			</div>
			<mat-paginator #paginator [length]="totalElementsAmount" [pageSizeOptions]="pageSizeOptions"
				[disabled]="dashboardService.disabledDashboardActions" (page)="updatePage($event)">
			</mat-paginator>
		</div>
		<ng-template #noInfo>
			<app-no-data></app-no-data>
		</ng-template>
	</mat-card>
</div>
