<app-content width="full">
	<section>
		<div>
			<button mat-raised-button color="primary" (click)="goToAmbulatoria()">
				<span [translate]="'ambulatoria.paciente.profile.BUTTON_HISTORIA_CLINICA'"></span>
			</button>
		</div>
		<div class="profile-card">
			<app-patient-card [patient]="patientBasicData">
				<div header class="header">
					<app-patient-type-logo [patientTypeData]="patientTypeData"></app-patient-type-logo>
				</div>
				<div content>
					<app-personal-information [personalInformation]="personalInformation"></app-personal-information>
				</div>
			</app-patient-card>
		</div>
	</section>
	<em *ngIf="!internmentEpisode?.id && internmentEpisode?.inProgress"
	    [translate]="'ambulatoria.paciente.profile.WARNING_INTERNADO'">
	</em>
</app-content>
