.dialog {
    max-height: 90vh;
}

.small-width {
    width: 520px;
    max-width: 100%;
}

.medium-width {
    width: 760px;
    max-width: 100%;
}

.large-width {
    width: 960px;
    max-width: 100%;
}