.private-health-insurance-dialog {
	.private-health-insurance-dialog-title {
		margin: 0px;
	}

	.mat-dialog-content {
		height: 40vh;
	}

	.private-health-insurance-dialog-header {
		margin-bottom: 20px;
	}

	.private-health-insurance-dates {
		margin-top: 20px;
	}
}
