<div class="expansion-section">
	<app-new-consultation-expansion-section id="diagnosticos"
		title="{{'guardia.nursing_evolution_note.DIAGNOSIS' | translate}}" icon="error_outlined" [collapsed]="false"
		[isEmpty]="false" [hideBorder]="true">

		<app-titled-content-card title="{{'guardia.nursing_evolution_note.MAIN_DIAGNOSIS' | translate}}">
			<div fxLayout="column" fxLayoutGap="5px">
				<div class="diagnosis-text" fxLayout="row" fxLayoutGap="10px">
					<mat-checkbox id="{{ form.value.mainDiagnostico.snomed.pt }}" color="primary" [checked]="true"
						[disabled]="true"></mat-checkbox>
					<strong class="capitalize-first-letter">{{ form.value.mainDiagnostico.snomed.pt }}</strong>
				</div>
				<span *ngIf="form.value.mainDiagnostico.statusId === ACTIVE">
					{{'internaciones.anamnesis.diagnosticos.ACTIVE' | translate}} 
				</span>
				<span *ngIf="form.value.mainDiagnostico.verificationId === CONFIRMED">
					{{'internaciones.anamnesis.diagnosticos.CONFIRMED' | translate}} 
				</span>
			</div>
		</app-titled-content-card>

		<ng-container *ngIf="form.value.otrosDiagnosticos.length as otherDiagnosesLength">
			<section>
				<app-titled-content-card [title]="'internaciones.anamnesis.diagnosticos.TITLE'">
					<div *ngFor="let otherDiagnosis of form.value.otrosDiagnosticos">
						<app-elemento-diagnostico [diagnosis]="otherDiagnosis" [isMain]="true" [disabled]="true"></app-elemento-diagnostico>
						<hr *ngIf="otherDiagnosesLength > 1">
					</div>
				</app-titled-content-card>
			</section>
		</ng-container>
	</app-new-consultation-expansion-section>

	<section>
		<app-box-message *ngIf="form.value.otrosDiagnosticos.length" [boxMessageInfo]="boxMesaggeInfo"></app-box-message>
	</section>
</div>