@import '~@angular/material/theming';

$primary-bg: #EDF1F7;
$default-color: 50;

@mixin general($theme) {
	mat-sidenav-content {
		background-color: $primary-bg;
	}
}

@mixin mat-nav-list($theme) {
	$primary-palette: map-get($theme, primary);

	mat-list-item.mat-list-item {
		&.active,
		&.active:focus {
			background-color: mat-color($primary-palette, $default-color);
			span, mat-icon {
				color: mat-color($primary-palette, default);
			}
			&:hover {
				background-color: mat-color($primary-palette, $default-color, 0.8);
			}
		}
	}
}

@mixin no-data($theme) {
	$palette: map-get($theme, primary);
	app-no-data {
		div.no-data {
			padding: 20px 5px;
			text-align: center;
			font-weight: bold;
			background-color: white;
		}
	}
}

@mixin mat-table($theme) {
	$primary-palette: map-get($theme, primary);
	$accent-palette: map-get($theme, accent);

	app-table {
		.mat-form-field {
			width: 50%;
		}
	}

	app-no-data {
		width: 100%;
		&.default{
			div.no-data {
				margin-top: -1px;
			}
		}
		&.primary {
			//Solo el primary usa mat-elevation-z8
			div.no-data {
				margin-top: -1px;
				box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
			}
		}
		&.secondary {
			div.no-data {
				margin-top: -1px;
				border: solid 1px #A8A8A8;
				color: mat-color($primary-palette, default);
			}
		}
	}

	mat-paginator {
		width: 100%;
		box-sizing: border-box;
		&.default{
			margin-top: -1px;
		}
		&.primary {
			//Solo el primary usa mat-elevation-z8
			color: mat-color($primary-palette, default);
			margin-top: -1px;
			box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
		}
		&.secondary {
			margin-top: -1px;
			border: solid 1px #A8A8A8;
		}
	}

	table.mat-table {
		width: 100%;
		th.actions {
			max-width: 40px;
			text-align: center;
		}
		td.actions {
			text-align: center;
			&:last-of-type {
				text-align: end;
			}
		}
		&.primary {
			text-align: center;
			thead {
				background-color: mat-color($primary-palette, $default-color);
				th {
					text-align: center;
					color: mat-color($primary-palette, default);
				}
				th, td {
					&.actions {
						text-align: end;
					}
				}
			}
		}
		&.secondary {
			border-collapse: collapse;
			th, td {
				padding-left: 10px;
				padding-right: 10px;
				text-align: left;
				&:first-of-type {
					padding-left: 24px;
				}
				&:last-of-type {
					padding-right: 24px;
				}
				&.actions {
					text-align: end;
				}
			}
			thead {
				background-color: #F0F0F0;
				th {
					color: #282828;
				}
			}
			tr {
				border: solid 1px #A8A8A8;
				th, td {
					border-bottom: none;
				}
			}
		}
	}
}

@mixin mat-card-box($theme) {
	$palette: map-get($theme, primary);

	mat-card.box {
		padding: 0;
		mat-card-header {
			padding: 10px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background-color: mat-color($palette, $default-color);
			color: mat-color($palette, default);
			& div.mat-card-header-text {
				align-self: center;
				mat-card-title.mat-card-title {
					font-weight: normal;
					font-size: medium;
					margin-bottom: 0;
				}
			}
		}
		mat-card-content {
			padding: 10px;
		}
	}
}

@mixin signos-vitales-box($theme) {
	$palette: map-get($theme, primary);
	app-signo-vital-current-previous {
		mat-card.mat-card {
			background-color: $primary-bg;
			div.current-value {
				color: mat-color($palette, default);
			}
		}
	}
}

@mixin detail-box($theme) {
	$palette: map-get($theme, primary);
	app-detail-box {
		mat-card.mat-card {
			border: 1px solid mat-color($palette, default);
			background-color: $primary-bg;
			span.value {
				color: mat-color($palette, default);
			}
		}
	}
}

@mixin mat-dialog($theme) {
	$primary-palette: map-get($theme, primary);

	.mat-dialog-title {
		div.mat-h1 {
			color: mat-color($primary, default);
		}
	}
}

@mixin mat-button($theme) {
	.mat-stroked-button {
		background-color: white;
	}
}

@mixin header($theme) {
	$primary-palette: map-get($theme, primary);
	h1, h2, h3, h4, h5, h6 {
		&.primary {
			color: mat-color($primary-palette, default);
		}
	}
}
