@import '~@angular/material/theming';

@mixin mat-nav-list($theme) {
	$primary-palette: map-get($theme, primary);

	mat-list-item.mat-list-item {
		&.active,
		&.active:focus {
			background-color: mat-color($primary-palette, default);
			span, mat-icon {
				color: mat-color($primary, default-contrast);
			}
			&:hover {
				background-color: mat-color($primary-palette, default, 0.8);
			}
		}
	}
}

@mixin mat-table($theme) {
	$primary-palette: map-get($theme, primary);

	table.mat-table {
		width: 100%;
		text-align: center;
		thead {
			background-color: mat-color($primary-palette, default);
			th {
				text-align: center;
				color: mat-color($primary, default-contrast);
			}
		}
	}
}

@mixin mat-card-box($theme) {
	$primary-palette: map-get($theme, primary);

	mat-card.box {
		padding: 0;
		mat-card-header {
			padding: 10px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background-color: mat-color($primary-palette, default);
			color: mat-color($primary, default-contrast);
			& div.mat-card-header-text {
				align-self: center;
				mat-card-title.mat-card-title {
					font-weight: normal;
					font-size: medium;
					margin-bottom: 0;
				}
			}
		}
		mat-card-content {
			padding: 10px;
		}
	}
}
