@import "variables";

@mixin form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin card-properties {
	width: 50%;
}

@mixin card-content {
	margin: 0 16px;
}

@mixin form-radio-button {
	margin: 5px 10px;
}

@mixin form-field {
	margin-left: 10px;
}

@mixin form-buttons {
	margin: 20px 0;
	button {
		margin-right: 10px;
	}
}

@mixin centered-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
