$primary-palette: (
	50 : #eaeaf0,
	100 : #cacbda,
	200 : #a7a8c1,
	300 : #8385a8,
	400 : #696a96,
	500 : #4e5083,
	600 : #47497b,
	700 : #3d4070,
	800 : #353766,
	900 : #252753,
	A100 : #999eff,
	A200 : #666dff,
	A400 : #333cff,
	A700 : #1a24ff,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);
