@import 'mat-mixins';
@import 'palettes';

@include mat-core();

$primary: mat-palette($primary-palette);
$accent:  mat-palette($primary-palette);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

@include mat-nav-list($theme);
@include mat-table($theme);
@include mat-card-box($theme);
