//font sizes
$font-size-xl: 30px;
$font-size-lg: 25px;
$font-size-me: 20px;
$font-size-sm: 15px;
$font-size-xs: 11px;

$error-color: #BD362F;
$success-color: #51A351;

$occupied-bed: #BD362F;
$free-bed: #51A351;

$mobile-popups: 1024px;
