$sgh-default-fonts: Roboto, Verdana, sans-serif;

$color-primary: #00A1D4;
$color-secondary: #39ADA6;

//font sizes
$font-size-xl: 30px;
$font-size-lg: 25px;
$font-size-me: 20px;
$font-size-sm: 15px;
$font-size-xs: 11px;
