<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
	<div class="mat-h2"> {{title | translate}} </div>
	<button mat-icon-button (click)="dialogRef.close();">
		<mat-icon>close</mat-icon>
	</button>
</div>


<mat-stepper linear #stepper>
	<form [formGroup]="form" class="form">

		<mat-step [completed]="this.form.controls.healthProblem.valid">
			<ng-template matStepLabel> {{'ambulatoria.paciente.outpatient-order.create-order-dialog.PATIENT_DATA' |
				translate}}
			</ng-template>

			<mat-dialog-content>
				<div fxLayoutGap="10px" fxLayout="column">

					<div fxLayoutGap="10px">
						<h1> {{'ambulatoria.paciente.outpatient-order.create-order-dialog.PATIENT_DATA' |
							translate}}</h1>
						<app-patient-card-header [patient]="patient">
						</app-patient-card-header>
					</div>

					<div>
						<span>{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.MEDICAL_COVERAGE'
							| translate}}</span>
						<mat-form-field appearance="outline" class="full-width">

							<mat-select formControlName="patientMedicalCoverage"
								placeholder="{{'ambulatoria.paciente.outpatient-order.create-order-dialog.NO_COVERAGE' | translate}}"
								[(value)]="selectedCoverage" [disabled]="true">
								<mat-option id="medical-coverage" name="medicalCoverage"
									*ngFor="let patientMedicalCoverage of patientMedicalCoverages"
									[value]="patientMedicalCoverage">
									{{ patientMedicalCoverage | fullMedicalCoverage }}
								</mat-option>
								<mat-divider></mat-divider>

							</mat-select>

						</mat-form-field>

						<span> {{'ambulatoria.paciente.outpatient-order.create-order-dialog.HEALTH_PROBLEM' |
							translate}}
						</span>
						<mat-form-field appearance="outline" class="full-width">
							<mat-select formControlName="healthProblem" id="health-problem">
								<mat-option *ngFor="let healthProblem of healthProblemOptions" [value]="healthProblem">
									{{ healthProblem.description | translate }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>

			</mat-dialog-content>

			<mat-dialog-actions class="dialog-actions" fxLayout="row" fxLayoutAlign="end start">
				<button mat-raised-button mat-button matStepperNext color="primary"
					[disabled]="!this.form.controls.healthProblem.valid" (click)="goToConfirmationStep()">
					{{'ambulatoria.paciente.outpatient-order.create-order-dialog.NEXT'|translate}}
				</button>
			</mat-dialog-actions>
		</mat-step>
	</form>

	<form [formGroup]="form" class="form">
		<mat-step [completed]="this.form.controls.studyCategory.valid && (orderStudiesService.data.length > 0)">
			<ng-template matStepLabel>
				{{'ambulatoria.paciente.outpatient-order.create-order-dialog.STUDIES_INCLUDED' |
				translate}}
			</ng-template>

			<div *ngIf="this.form.controls.healthProblem.valid">
				<mat-dialog-content>
					<div fxLayout="row" fxLayoutGap="10px">

						<div fxFlex="50%">
							<span>{{'ambulatoria.paciente.outpatient-order.create-order-dialog.CATEGORY' |
								translate}}</span>
							<mat-form-field appearance="outline" class="full-width">

								<mat-select formControlName="studyCategory" id="study-category"
									placeholder="{{'ambulatoria.paciente.outpatient-order.create-order-dialog.SELECT_CATEGORY' | translate}}">
									<mat-option *ngFor="let studyCategory of studyCategoryOptions"
										[value]="studyCategory.id">
										{{studyCategory.description | translate}}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<span>
								{{'ambulatoria.paciente.outpatient-order.create-order-dialog.STUDY' | translate}}
							</span>

							<app-template-concept-typeahead-search *ngIf="!selectedStudy else studySelectedField"
								placeholder="{{'ambulatoria.paciente.outpatient-order.create-order-dialog.SEARCH_STUDY' | translate}}"
								[debounceTime]="0" [ecl]="this.ecl" (optionSelected)="handleStudySelected($event)">
							</app-template-concept-typeahead-search>

							<ng-template #studySelectedField>

								<mat-form-field appearance="outline" class="full-width">

									<input formControlName="studySelection" id="study-selection" matInput type="text"
										readonly matTooltip="{{ this.getStudyDisplayName() }}">

									<button matSuffix color="warn" mat-icon-button (click)="resetStudySelector()">
										<mat-icon>close</mat-icon>
									</button>

								</mat-form-field>

							</ng-template>
						</div>
						<div fxFlex="50%">
							<app-titled-content-card [title]="'ambulatoria.paciente.outpatient-order.create-order-dialog.ADDED_STUDIES'">
								<br>
								<div *ngIf="(orderStudiesService.data.length > 0); else withoutStudies">

									<div *ngFor="let study of orderStudiesService.data; let i = index">
										<div id="selected-study-row" fxLayout="row">
											<div id="selected-study-name" fxFlex="90%">
												<span class="capitalize-first-letter">
													{{ study.snomed.pt }}
												</span>
											</div>
											<button fxFlex="10%" mat-icon-button color="warn"
												[disabled]="orderStudiesService.data.length < 1"
												(click)="removeStudy(i)">
												<mat-icon>delete_outline</mat-icon>
											</button>
										</div>
									</div>
								</div>

								<ng-template #withoutStudies>
									<app-no-data
										[message]="'ambulatoria.paciente.outpatient-order.create-order-dialog.NO_ADDED_STUDIES'|translate">
									</app-no-data>
								</ng-template>

							</app-titled-content-card>
						</div>

					</div>
				</mat-dialog-content>

				<mat-dialog-actions fxLayoutAlign="end center" class="margin-top" fxLayoutAlign="space-between center">
					<button mat-raised-button mat-button color="primary" matStepperPrevious>
						{{'ambulatoria.paciente.outpatient-order.create-order-dialog.BACK' |
						translate}}</button>

					<button mat-raised-button mat-button color="primary" matStepperNext
						[disabled]="!this.form.controls.studyCategory.valid || !(orderStudiesService.data.length > 0)">
						{{'ambulatoria.paciente.outpatient-order.create-order-dialog.NEXT'|translate}}
					</button>
				</mat-dialog-actions>
			</div>
		</mat-step>
	</form>
	<form [formGroup]="form" class="form">

		<mat-step>
			<ng-template matStepLabel>
				{{'ambulatoria.paciente.outpatient-order.create-order-dialog.ORDER_DETAIL'|translate}}
			</ng-template>

			<div *ngIf="orderStudiesService.data.length > 0">

				<mat-dialog-content fxLayout="column" fxLayoutGap="15px">
					<div fxLayout="column" fxLayoutGap="5px">
						<span> {{'ambulatoria.paciente.outpatient-order.create-order-dialog.TYPE-OF-STUDY' |
							translate}}</span>

						<mat-radio-group fxLayoutGap="10px" formControlName="studyType" id="study-type">
							<mat-radio-button [value]="ROUTINE">
								{{'ambulatoria.paciente.outpatient-order.create-order-dialog.RUTINE' | translate}}
							</mat-radio-button>
							<mat-radio-button [value]="URGENT">
								{{'ambulatoria.paciente.outpatient-order.create-order-dialog.URGENT' | translate}}
							</mat-radio-button>
						</mat-radio-group>
					</div>

					<div fxLayout="column" fxLayoutGap="5px">
						<span>
							{{'ambulatoria.paciente.outpatient-order.create-order-dialog.REQUIERES-TECHNICIAN-ON-SITE' |
							translate}}
						</span>

						<mat-radio-group fxLayoutGap="10px" formControlName="requiresTechnical" id="requires-technical">
							<mat-radio-button [value]="true">
								{{'ambulatoria.paciente.outpatient-order.create-order-dialog.YES' | translate}}
							</mat-radio-button>
							<mat-radio-button [value]="false">
								{{'ambulatoria.paciente.outpatient-order.create-order-dialog.NO' |
								translate}}</mat-radio-button>
						</mat-radio-group>
					</div>

					<div fxLayout="column" fxLayoutGap="5px">
						<span>
							{{'ambulatoria.paciente.outpatient-order.create-order-dialog.NOTES' | translate}}
						</span>
						<mat-form-field appearance="outline">
							<textarea matInput type="text" formControlName="notes" id="note-input"></textarea>
						</mat-form-field>
					</div>

				</mat-dialog-content>
				<mat-dialog-actions fxLayoutAlign="end center" class="margin-top" fxLayoutAlign="space-between center">
					<button id="back" mat-raised-button mat-button color="primary" matStepperPrevious>
						{{'ambulatoria.paciente.outpatient-order.create-order-dialog.BACK' | translate}}
					</button>

					<button id="create-order" mat-raised-button mat-button color="primary" matStepperNext
						[disabled]="!this.form.controls.studyCategory.valid || !(orderStudiesService.data.length > 0)"
						(click)="confirmOrder()">
						{{'ambulatoria.paciente.outpatient-order.create-order-dialog.CREATE_ORDER' | translate}}
					</button>
				</mat-dialog-actions>
			</div>

		</mat-step>
	</form>

</mat-stepper>
