<app-titled-content-card *ngIf="personalHistories?.length"
	title="{{ 'ambulatoria.paciente.nueva-consulta.medicaciones.LIST_CARD_TITLE' }}">
	<div fxLayout="column" fxLayoutGap="10px"
		*ngFor="let personalHistory of personalHistories; index as i; last as isLast">
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div fxLayout="column" fxLayoutGap="6px">
				<span>{{ personalHistory.snomed.pt }}</span>
			</div>
			<button type="button" mat-icon-button color="warn" (click)="remove(i)">
				<mat-icon>delete_outline</mat-icon>
			</button>
		</div>
		<em *ngIf="personalHistory?.observaciones" class="mat-caption gray-caption">
			{{ personalHistory.observaciones }}
		</em>
		<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
	</div>
</app-titled-content-card>

<div>
	<button mat-button type="button" id="add-antecedentes-personales-button" color="primary" class="add-button"
		(click)="addPersonalHistory()">
		+ {{ 'internaciones.anamnesis.antecedentes-personales.ADD' | translate }}
	</button>
</div>
