section {
	margin: 0;
}

.info {
	& > span:first-child {
		font-size: 12px;
		font-weight: normal;
		line-height: 14px;
	}

	& > span:last-child {
		font-weight: 500;
		line-height: 20px;
	}
}

.padding-to-align-chip {
	padding: 1.5px 0;
}

.subtitle-weight {
	font-weight: 500;
}
