<p class="grey">{{'firma-conjunta.INTERVENING_PROFESSIONALS' | translate}}</p>
<div fxLayout="row wrap">
    <ng-container *ngFor="let professional of interveningProfessionals">
        <div fxLayout="column" fxLayoutAlign="none start" fxFlex="20" id="info-signature">
            <p class="name-professional">{{professional.professionalCompleteName | titlecase}}</p>
            <app-colored-icon-text [coloredIconText]="professional.signature"></app-colored-icon-text>
        </div>
    </ng-container>
</div>