@import "../../../../../assets/styles/mat-mixins";

.mat-button-toggle-group {
    border-radius: 10px;
    height: fit-content;
    font-weight: 500;
    width: fit-content;
}

.form {
    @include mat-form-field-background-white;
    min-width: 30%;

    div {
        margin: 4px;
    }    
}
