<div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column">
    <mat-button-toggle-group value="{{dashboardService.dashboardView}}" *appHasRole="['ADMINISTRATIVO']"
        (change)="dashboardService.updateDashboardView($event.value)">
        <mat-button-toggle value="{{dashboardView.RECEIVED}}"
            [disabled]="dashboardService.disabledDashboardActions">
            {{'access-management.search_references.RECEIVED' | translate}}
        </mat-button-toggle>
        <mat-button-toggle value="{{dashboardView.REQUESTED}}"
            [disabled]="dashboardService.disabledDashboardActions">
            {{'access-management.search_references.REQUEST' | translate}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div fxLayout="column">
        <app-date-range-picker [label]="'access-management.search_references.FILTER_BY_PERIOD'"
            [dateRange]="dashboardService.dateRange" (dateRangeChange)="checkDays($event)"
            [disabled]="dashboardService.disabledDashboardActions"></app-date-range-picker>
        <mat-error *ngIf="showValidation">{{'access-management.search_references.PERIOD_VALIDATIONS' | translate}}</mat-error>
    </div>

</div>

<app-filters [filters]="filters" (selectedFilters)="setFilters($event)">

    <form class="form" [formGroup]="filterByDocument" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <mat-form-field appearance="outline">
            <mat-label>{{'access-management.search_references.DOCUMENT_SEARCH' | translate}}</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <div>
            <button id="search-by-document" mat-flat-button color="primary" matSuffix (click)="searchByDocument()">
                <mat-icon>search</mat-icon>
                <span class="uppercase" [translate]="'buttons.SEARCH'"></span>
            </button>
        </div>

    </form>

</app-filters>