.text-container {
    word-wrap: break-word;
    word-break: break-word;
    font-size: 1rem;
}

.date-text {
    font-size: 14px;
}

.bull-elements {
    font-size: 2rem;
    margin-right: 0.25rem;
}

.description-item {
    margin-bottom: 2px;
}

.formatted-text {
    white-space: pre-wrap;
}