<div class="appointment-container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="50">
        <span data-id="patient-name">{{worklist.patientInformation.fullName}}</span>
        <span data-id="patient-identification" class="patient-identification grey smaller-font">
            {{worklist.patientInformation.identification}}
        </span>
    </div>
    <div fxLayout="row" class="institution" fxFlex.gt-sm="20" fxLayoutAlign="center">
        <mat-icon>domain</mat-icon>
        <span>{{worklist.institutionName}}</span>
    </div>
    <div fxFlex.gt-sm="20" fxLayoutAlign="center">
        <app-colored-label [description]="worklist.state.description | translate | uppercase"
            [color]="worklist.state.color">
        </app-colored-label>
    </div>
    <div class="smaller-font grey" fxLayout="column" fxFlex.gt-sm="10">
        <span data-id="time">{{ worklist.date | dateFormat: 'datetime'}}</span>
    </div>
</div>
