.smaller-font {
    font-size: 0.9rem;
}

.grey {
    color: grey;
}

.appointment-container {
    display: flex;
	align-items: center;
}

span {
    text-align: start;
}

@media (max-width: 960px) {
    span {
        text-align: center;
    }
}