<div class="appointment-container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="55">
        <span data-id="patient-name">{{worklist.patientInformation.fullName}}</span>
        <span data-id="patient-identification" class="patient-identification grey smaller-font">
            {{worklist.patientInformation.identification}}
        </span>
    </div>
    <app-colored-label [description]="worklist.state.description | translate | uppercase"
        [color]="worklist.state.color">
    </app-colored-label>
    <div class="smaller-font grey" fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="15">
        <span data-id="date">{{ datePipe.transform(worklist.date, datePipeFormat.SHORT_DATE)}}</span>
        <span data-id="time">{{ datePipe.transform(worklist.date, datePipeFormat.SHORT_TIME)}}hs</span>
    </div>
</div>