@import '../../../../../assets/styles/mixins';

.mat-radio-button {
    @include form-radio-button;
}

.form-row {
    @include form-row;
}

mat-form-field{
    margin-right: 20px;
}

div.form-buttons {
	margin: 20px 0;
	button {
		margin-right: 10px;
	}
}
