.column-name-title {
	margin-left: 17%;
	font-weight: normal;
	font-size: medium;
}

.nombre-style {
	color: black;
}

.miniature {
	width: 265px;
	height: 175px;
	cursor: pointer;
}

img.icon {
	width: 20px;
	height: 20px;
}

.button {
	background-color: transparent;
	border: transparent;
	padding: 19px;
	display: inline;
	margin: 6px;
}

.button:hover {
	background-color: #F7FAFD;
    border-radius: 5px;
	cursor: pointer;
}

.panel-content .button img.icon {
	display: block;
	margin-top: 20px;
	text-align: left;
}

.panel-content {
	display: flex;
	margin-top: 10px;
	text-align: left;
}

.button-text {
	display: inline-block;
	vertical-align: left;
	text-align: left;
	color: #2687c5;
	position: relative;
	top: 21px;
	margin-left: 5px;	
}

.unavailable-items {
	color: #A8A8A8;
    line-height: 20px;
    font-size: 14px;
}

::ng-deep .mat-tab-labels {
	display: flex;
	justify-content: space-around;
}

h2 {
	margin: 1%;
	margin-top: 5px;
}

.h2-title {
	color: #2687c5;
    background-color: #f6fafb;
    text-align: center;
    padding: 7px;
    border-radius: 3px;
}

.mat-tab-group.mat-primary .mat-tab-nav-bar .mat-ink-bar {
	width: 100px;
}

.container-name {

	margin-left:10px;
}

.container-imgIcon {

	display: flex;
	flex-direction: row;
}