<div class="container"> 
    <form action="formulario">
      <h2 class="title1">Escala de Edmonton</h2>
      <h3 class="tipos"><mat-list-item>Cognitivo</mat-list-item></h3>
      <div class="text">
        <p>Por favor imagina que este círculo pre-dibujado es un reloj. Me gustaría que pusiera los
          números en las posiciones correctas y luego poner las manilas o manecillas para indicar la
          hora “Las once con diez minutos”
        </p>
        <fieldset>
        <mat-radio-group id="cognitiveOptions" [(ngModel)]="selectedCognitiveOption" name="cognitiveOptions" (ngModelChange)="onOptionSelected(0, $event)">
          <mat-radio-button color="primary" [value]="1" [attr.data-sum]="0">Sin errores</mat-radio-button>
          <mat-radio-button color="primary" [value]="2" [attr.data-sum]="1">Errores mínimos de espaciado</mat-radio-button>
          <mat-radio-button color="primary" [value]="3" [attr.data-sum]="2">Otros errores</mat-radio-button>
        </mat-radio-group>
      </fieldset>

      </div><br>
      
      <div class="text">
        <h3 class="tipos"><mat-list-item>Estado de salud general</mat-list-item></h3>
        <p>
          En el último año, ¿Cuántas veces ha sido hospitalizado?
        </p>
        <fieldset>
        <mat-radio-group id="healthStatusOptions" [(ngModel)]="selectedHealthStatusOption" name="selectedHealthStatusOption" (ngModelChange)="onOptionSelected(1, $event)">
          <mat-radio-button color="primary" [value]="4"[attr.data-sum]="0">0</mat-radio-button>
          <mat-radio-button color="primary" [value]="5"[attr.data-sum]="1">1 o 2</mat-radio-button>
          <mat-radio-button color="primary" [value]="6"[attr.data-sum]="2">Mayor o igual a 3</mat-radio-button>
        </mat-radio-group>
      </fieldset>
      </div><br>
      <div class="text">
        <p>
          En general, ¿cómo describiría su salud?
        </p>
        <fieldset>
        <mat-radio-group id="HealthStatusOptionDos" [(ngModel)]="selectedHealthStatusOptionDos" name="HealthStatusOptionDos" (ngModelChange)="onOptionSelected(2, $event)">
          <mat-radio-button color="primary" [value]="7" [attr.data-sum]="0">Excelente</mat-radio-button>
          <mat-radio-button color="primary" [value]="8" [attr.data-sum]="1">Razonable</mat-radio-button>
          <mat-radio-button color="primary" [value]="9" [attr.data-sum]="2">Mala</mat-radio-button>
        </mat-radio-group>
      </fieldset>
      </div><br>
      
      <div class="text">
        <h3 class="tipos"><mat-list-item>Independencia Funcional</mat-list-item></h3>
        <p>
          ¿Con cuántas de las siguientes actividades necesita ayuda?
          (preparar la comida, comparas, transporte, comunicación telefónica,
          cuidado del hogar, lavado de ropa, manejo de dinero, tomar medicamentos).
        </p>
        <fieldset>
        <mat-radio-group id="SupportSocOption" [(ngModel)]="selectedSupportSocOption" name="SupportSocOption" (ngModelChange)="onOptionSelected(4, $event)">
          <mat-radio-button color="primary" [value]="13" [attr.data-sum]="0">0 a 1</mat-radio-button>
          <mat-radio-button color="primary" [value]="14" [attr.data-sum]="1">2 a 4</mat-radio-button>
          <mat-radio-button color="primary" [value]="15" [attr.data-sum]="2">Mayor o igual a 4</mat-radio-button>
        </mat-radio-group>
      </fieldset>
      </div><br>
  
     <div class="text">
        <h3 class="tipos"><mat-list-item>Soporte Social</mat-list-item></h3>
        <p>Cuando Ud. necesita ayuda,
          ¿puede contar con alguien que esté dispuesto y disponible para atender sus necesidades o problemas?</p>
          <fieldset>
          <mat-radio-group id="RendimientoFuncOption" [(ngModel)]="selectedRendimientoFuncOption" name="RendimientoFuncOption" (ngModelChange)="onOptionSelected(5, $event)">
            <mat-radio-button color="primary" [value]="16" [attr.data-sum]="0">Siempre</mat-radio-button>
            <mat-radio-button color="primary" [value]="17" [attr.data-sum]="1">A veces</mat-radio-button>
            <mat-radio-button color="primary" [value]="18" [attr.data-sum]="2">Nunca</mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </div> <br>
  
     <div class="text">
        <h3 class="tipos"><mat-list-item>Uso de medicamentos</mat-list-item></h3>
        <p>¿Usa 5 o más medicamentos en el día a día?</p>
        <fieldset>
        <mat-radio-group id="MedicationOption" [(ngModel)]="selectedMedicationOption" name="MedicationOption" (ngModelChange)="onOptionSelected(6, $event)">
            <mat-radio-button color="primary" [value]="19" [attr.data-sum]="0">Si</mat-radio-button>
            <mat-radio-button color="primary" [value]="20" [attr.data-sum]="1">No</mat-radio-button>
          </mat-radio-group>   
        </fieldset>   
        
      </div> <br>
  
     <div class="text">
        <p>En ocasiones, ¿se le olvida tomarse los medicamentos?</p>
        <fieldset>
        <mat-radio-group id="MedicationOptionDos" [(ngModel)]="selectedMedicationOptionDos" name="MedicationOptionDos" (ngModelChange)="onOptionSelected(7, $event)">
          <mat-radio-button color="primary" [value]="19" [attr.data-sum]="0">Si</mat-radio-button>
          <mat-radio-button color="primary" [value]="20" [attr.data-sum]="1">No</mat-radio-button>
        </mat-radio-group>
      </fieldset>
      </div><br>
      
      
      <div class="text">
        <h3 class="tipos"><mat-list-item>Nutrición</mat-list-item></h3>
        <p>Recientemente, ¿ha perdido peso como para que su ropa le quede suelta? </p>
        <fieldset>
        <mat-radio-group id="NutritionOption" [(ngModel)]="selectedNutritionOption" name="NutritionOption" (ngModelChange)="onOptionSelected(8, $event)">
            <mat-radio-button color="primary" [value]="19" [attr.data-sum]="0">Si</mat-radio-button>
            <mat-radio-button color="primary" [value]="20" [attr.data-sum]="1">No</mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </div><br>
    
      <div class="text">
        <h3 class="tipos"><mat-list-item>Animo</mat-list-item></h3>
        <p>¿Se siente con frecuencia triste o deprimido? </p>
        <fieldset>
        <mat-radio-group id="AnimoOption" [(ngModel)]="selectedAnimoOption" name="AnimoOption" (ngModelChange)="onOptionSelected(9, $event)">
            <mat-radio-button color="primary" [value]="19" [attr.data-sum]="0">Si</mat-radio-button>
            <mat-radio-button color="primary" [value]="20" [attr.data-sum]="1">No</mat-radio-button>
  
        </mat-radio-group>
      </fieldset>
      </div><br>
  
        <div class="text">
        <h3 class="tipos"><mat-list-item>Continencia</mat-list-item></h3>
        <p>¿Tiene algún problema con el control para orinar, es decir puede contener la orina si así lo desea?</p>
        <fieldset>
        <mat-radio-group id="AnimoOption" [(ngModel)]="selectedContingenciaOption" name="ContingenciaOption" (ngModelChange)="onOptionSelected(10, $event)">
            <mat-radio-button color="primary" [value]="19" [attr.data-sum]="0">Si</mat-radio-button>
            <mat-radio-button color="primary" [value]="20" [attr.data-sum]="1">No</mat-radio-button>
  
        </mat-radio-group>
      </fieldset>
      </div> <br>
      <div class="text">
        <h3 class="tipos"><mat-list-item>Rendimiento Funcional</mat-list-item></h3>
        <p>
          Me gustaría que se sentara en esta silla con su espalda y brazos relajados.
            Luego, cuando yo diga “YA”, por favor párese y camine a un ritmo cómodo y seguro a la marca del suelo" +
          (aproximadamente a 3 metros de distancia), regrese a su silla y se sienta.
        </p>
        <fieldset>
        <mat-radio-group id="FunctionIndOption" [(ngModel)]="selectedFunctionIndOption" name="FunctionIndOption" (ngModelChange)="onOptionSelected(3, $event)">
          <mat-radio-button color="primary" [value]="10" [attr.data-sum]="0">0 a 10 segundos</mat-radio-button>
          <mat-radio-button color="primary" [value]="11" [attr.data-sum]="1">11 a 20 segundos</mat-radio-button>
          <mat-radio-button color="primary" [value]="12" [attr.data-sum]="2">Más de 20 segundos</mat-radio-button>
        </mat-radio-group>
      </fieldset>
      </div><br>
  

      <div class="resultados-container">
        <div class="resultados-titulo">
          Resultados
        </div>
        <div *ngIf="sumaAcumulada === 21" class="sano">
          <p>Individuo sano</p>
        </div>
        <div *ngIf="sumaAcumulada === 22" class="sano">
          <p>Vulnerable</p>
        </div>
        <div *ngIf="sumaAcumulada === 23" class="sano">
          <p>Fragilidad leve</p>
        </div>
        <div *ngIf="sumaAcumulada === 24" class="sano">
          <p>Fragilidad moderada</p>
        </div>
        <div *ngIf="sumaAcumulada >= 25" class="preocupante">
          <p>Fragilidad severa</p>
        </div>
      </div>
      

      <div class="btn-container">
        <div class="btn">
          <button id="submit-btn" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Enviar formulario</button>
        </div>
      </div>
    </form>
  </div>
