<app-content width="full">
	<section>
		<h2 class="page-title">{{'pacientes.audit.TITLE_CONTROL_DUPLICATE_PATIENTS' | translate}}</h2>
	</section>
	<section>
		<button mat-icon-button color="primary" (click)="goToBack()">
			<mat-icon>arrow_back</mat-icon>
			<span>{{'buttons.BACK' | translate}}</span>
		</button>
	</section>
	<section>
		<mat-card>
			<div fxLayout="row" fxLayoutAlign="space-between" class="content grey">
				<div fxLayoutAlign="start center" class="content" fxFlex="5%">

				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="10%">
					<span>{{'pacientes.audit.LABEL_ID' | translate}}</span>
				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="15%">
					<span>{{'pacientes.audit.LABEL_NAME' | translate}}</span>
				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="15%">
					<span>{{'pacientes.audit.LABEL_LASTNAME' | translate}}</span>
				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="15%">
					<span>{{'pacientes.audit.LABEL_BIRTHDATE' | translate}}</span>
				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="15%">
					<span>{{'pacientes.audit.LABEL_DOC' | translate}}</span>
				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="10%">
					<span>{{'pacientes.audit.LABEL_STATE' | translate }}</span>
				</div>
				<div fxLayoutAlign="start center" class="content" fxFlex="10%">

				</div>
			</div>

			<mat-divider></mat-divider>
			<div *ngFor="let patient of listPatientData$ | async;last as isLast">
				<div fxLayout="row" fxLayoutAlign="space-between" class="content">
					<div fxLayoutAlign="start center" class="content" fxFlex="5%">
						<mat-checkbox (change)="setSelectedPatient(patient)" color="primary"></mat-checkbox>
					</div>

					<div fxLayoutAlign="start center" class="content" fxFlex="10%">
						<mat-radio-button color="primary" *ngIf="patient.selected"
							(change)="setValuesPatientFusion(keyAttributes.PATIENT_ID,patient.patientId)"></mat-radio-button>
						<span matTooltip="{{'pacientes.audit.MESSAGE_TOOLTIP' | translate}}">{{patient?.patientId}} </span>
					</div>
					<div fxLayoutAlign="start center" class="content" fxFlex="15%">
						<mat-radio-button color="primary" name="names" *ngIf="patient.selected"
							(change)="setValuesPatientFusion(keyAttributes.NAMES,patient.firstName,patient.middleNames)"></mat-radio-button>
						<span *ngIf="patient.firstName else noData">{{patient?.firstName}}
							{{patient?.middleNames}}</span>
					</div>
					<div fxLayoutAlign="start center" class="content" fxFlex="15%">
						<mat-radio-button color="primary" name="lastName" *ngIf="patient.selected"
							(change)="setValuesPatientFusion(keyAttributes.LASTNAMES,patient.lastName,patient.otherLastNames)"></mat-radio-button>
						<span *ngIf="patient.lastName else noData">{{patient?.lastName}}
							{{patient?.otherLastNames}}</span>
					</div>
					<div fxLayoutAlign="start center" class="content" fxFlex="15%">
						<mat-radio-button color="primary" name="birthdate" *ngIf="patient.selected"
							(change)="setValuesPatientFusion(keyAttributes.BIRTHDATE,patient.birthdate)"></mat-radio-button>
						<span *ngIf="patient.lastName else noData">{{patient?.birthdate | date: 'dd/MM/yyyy'
							}}</span>
					</div>
					<div fxLayoutAlign="start center" class="content" fxFlex="15%">
						<mat-radio-button color="primary" name="identificationType" *ngIf="patient.selected"
							(change)="setValuesPatientFusion(keyAttributes.IDENTIFICATION,patient.identificationTypeId,patient.identificationNumber)"></mat-radio-button>
						<span
							*ngIf="patient.identificationTypeId else noData">{{getIdentificationType(patient?.identificationTypeId)}}
							&nbsp;</span>
						<span *ngIf="patient.identificationNumber else noData">{{patient?.identificationNumber}}</span>
					</div>
					<div fxLayoutAlign="start center" class="content" fxFlex="10%">
						<span *ngIf="patient.lastName else noData">{{getPatientType(patient?.typeId) |
							uppercase}}</span>
					</div>
					<div fxLayoutAlign="start center" class="content" fxFlex="10%">
						<button mat-stroked-button color="primary">{{'pacientes.audit.LABEL_BUTTON_VIEW' |
							translate}}</button>
					</div>
				</div>
				<mat-divider *ngIf="!isLast" insert class="divider"></mat-divider>
			</div>

		</mat-card>

		<div fxLayout="row" fxLayoutAlign="end end" id="div-button">
			<button mat-raised-button color="primary" (click)="merge()">{{'pacientes.audit.LABEL_BUTTON_MERGE' | translate | uppercase}}</button>
		</div>
		<ng-template #noInfo>
			<app-no-data></app-no-data>
		</ng-template>

		<ng-template #noData><span>-</span></ng-template>
	</section>
</app-content>
