<div class="evolution-note-container" data-id="evolution-note-summary">
    <div *ngIf="(documentSummary$ | async) as summary, else loader" fxFlex="100%" FxLayoutAlign="start" fxLayout="column"
        fxLayoutGap="20px">
        <app-document-summary-header data-id="summary-header" [headerData]="summary.headerDescription"
            [isPopUpOpen]="isPopUpOpen" (deleteDocument)="delete()"
            (editDocument)="edit()"></app-document-summary-header>
        <mat-divider></mat-divider>

        <ng-container *ngIf="_activeDocument?.document?.editedOn">
            <div fxLayoutGap="5px" data-id="edited-summary" fxLayoutAlign="start center" class="grey edited-summary">
                <span [translate]="'internaciones.documents-summary.EDITED_DOCUMENT'"></span>
                <span>{{ _activeDocument.document?.editedOn | viewDateDto: 'localdatetime' | dateFormat: 'datetime' }}</span>
            </div>
        </ng-container>

        <div fxFlex="100%" FxLayoutAlign="start" fxLayout="column" fxLayoutGap="36px">
            <app-diagnosis-summary data-id="diagnosis-summary" *ngIf="summary.evolutionNote.mainDiagnosis || summary.evolutionNote.diagnosis"
                [diagnosis]="summary.evolutionNote.diagnosis" [mainDiagnosis]="summary.evolutionNote.mainDiagnosis"></app-diagnosis-summary>

            <app-clinical-evaluation-summary data-id="clinical-evaluation-summary" *ngIf="summary.evolutionNote.clinicalEvaluation"
                [clinicalEvaluation]="summary.evolutionNote.clinicalEvaluation"></app-clinical-evaluation-summary>
            
            <app-description-item-data-summary *ngIf="summary.evolutionNote.procedures" data-id="procedures-summary"
                [descriptionItemDataSummary]="summary.evolutionNote.procedures"></app-description-item-data-summary>

            <app-vital-signs-and-risk-factors-summary data-id="vital-signs-and-risk-factors-summary"
                *ngIf="summary.evolutionNote.vitalSignsAndRiskFactors"
                [vitalSignsAndRiskFactors]="summary.evolutionNote.vitalSignsAndRiskFactors"></app-vital-signs-and-risk-factors-summary>

            <app-anthropometric-data-summary data-id="anthropometric-data-summary" *ngIf="summary.evolutionNote.anthropometricData"
                [anthropometricData]="summary.evolutionNote.anthropometricData"></app-anthropometric-data-summary>

            <app-description-item-data-summary *ngIf="summary.evolutionNote.allergies" data-id="allergies-summary"
                [descriptionItemDataSummary]="summary.evolutionNote.allergies"></app-description-item-data-summary>

            <app-description-item-data-summary *ngIf="summary.evolutionNote.vaccines" data-id="vaccines-summary"
                [descriptionItemDataSummary]="summary.evolutionNote.vaccines"></app-description-item-data-summary>
        </div>
    </div>
    <ng-template #loader>
        <mat-spinner color="primary" style="margin: auto"></mat-spinner>
    </ng-template>
</div>