<div fxLayout="column" fxLayoutGap="30px" *ngFor=" let nursingSection of nursingSections">
    <div id="title" fxLayoutGap="10px" fxLayoutAlign="start center">
        <span class="title capitalize-first-letter">{{ nursingSection.title | translate }}</span>
        <mat-divider inset></mat-divider>
    </div>

    <div id="content" class="content" *ngFor="let record of nursingSection.records" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-lg="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-lg="start">
            <mat-icon class="color-primary" fontSet="material-icons-outlined" *ngIf="record.matIcon; else svgIcon">
                {{ record.matIcon }}
            </mat-icon>
            <ng-template #svgIcon>
                <mat-icon class="color-primary svg-icon" svgIcon={{record.svgIcon}}></mat-icon>
            </ng-template>
            <div fxLayout="column" fxFlex="50%" fxLayoutGap="10px">
                <span class="description">{{record.content.description}}</span>
                <div fxLayout="row" fxLayoutGap="20px">
                    <div *ngFor="let extraInfo of record.content.extra_info" class="color-grey extra-info" fxLayout="row" fxLayoutGap="5px">
                        <span class="extra-info-title">{{extraInfo.title | translate}}</span>
                        <span>{{extraInfo.content}}</span>
                    </div>
                </div>
            </div>

            <div>
                <strong [class]="record.content.status.cssClass" class="label">{{ record.content.status.description | translate | uppercase }}</strong>
            </div>
            <div *ngIf="record.content.status.type == PENDING">
                <button mat-button mat-raised-button color="primary" (click)="openDialogToRegister(record)">
                    {{ 'indicacion.nursing-care.buttons.TO_REGISTER' | translate | uppercase }}
                </button>
            </div>
        </div>
    </div>
</div>