.card {
	padding: 12px 0 12px 0;
}

.mat-card-content {
	align-self: center;
	margin-bottom: 0;
}

.button {
	margin: 10px;
}

.mat-flat-button {
	@media screen and (max-width: 600px) {
		min-width: 50%;
	}
}

.headerCardToAudit{
	width: 20%;
}
.headerCard{
	width: 40%;
}
.contentCardToAudit{
	width: 80%;
}
.contentCard{
	width: 55%;
}
