
mat-form-field {
    width:100%;
}

.hour_selector{
	width: 25%;
	margin-top: 20px;
}

.detail_icon{
	color: #A8A8A8;
}

.day_text{
	font-weight: bolder;
	color: #2C2C2C;
}

.header-container{
	margin-bottom: 10px;
}

.mat-dialog-title {
	margin: 0;
}

.mat-checkbox{
	margin: 5px;
}

.menssage{
	width: 60%;
	margin-left: 30px;
	white-space: normal;
	color: #A8A8A8;
}
