<div>

	<div class="header-container" fxLayout="row" fxLayoutAlign="space-between center">
		<div mat-dialog-title *ngIf="!data.isEdit else edit">
			<div translate="turnos.agenda-setup.dialog.TITLE"></div>
		</div>
		<ng-template #edit>
			<div mat-dialog-title>
				<div translate="turnos.agenda-setup.dialog.EDIT"></div>
			</div>
		</ng-template>

		<div align="end">
			<button id="cancel_button" name="cancel_button" mat-icon-button (click)="closeDialog()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>


	<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="this.form?.value?.medicalAttentionType">

		<div fxLayout="column" fxLayoutAlign="center none">
			<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
				<mat-icon class="detail_icon">event</mat-icon>
				<span class="day_text">Todos los {{ data.start | date:'EEEE' }}</span>
			</div>

			<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
				<mat-icon class="detail_icon">access_time</mat-icon>
				<mat-form-field appearance="outline" class="hour_selector">
					<mat-select id="startingHour" formControlName="startingHour">
						<mat-option [value]="possibleScheduleHour"
							*ngFor="let possibleScheduleHour of possibleStartingScheduleHours"
							(click)="filterAppointmentEndingHours()">
							{{ possibleScheduleHour | date:'shortTime' }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<span>hs. a</span>
				<mat-form-field appearance="outline" class="hour_selector">
					<mat-select id="endingHour" formControlName="endingHour">
						<mat-option [value]="possibleScheduleHour"
							*ngFor="let possibleScheduleHour of possibleEndingScheduleHours">
							{{ possibleScheduleHour | date:'shortTime' }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<span>hs.</span>
			</div>
		</div>

		<div fxLayout="column">
			<div>
				<mat-form-field appearance="outline">
					<mat-label [translate]="'turnos.agenda-setup.MEDICAL_ATTENTION_TYPE'"></mat-label>
					<mat-select formControlName="medicalAttentionType" name="medical_attention_type"
						id="medical_attention_type" (selectionChange)="onSelectionChanged()">
						<mat-option *ngFor="let medicalAttentionType of medicalAttentionTypes"
							[value]="medicalAttentionType">
							{{ medicalAttentionType.description}}
						</mat-option>
					</mat-select>
					<mat-error [translate]="'forms.REQUIRED'"></mat-error>
				</mat-form-field>
			</div>

		</div>

		<div fxLayout="column" *ngIf="!isSpontaneousMedicalAttention">
			<div translate="turnos.agenda-setup.OVERTURN_COUNT"></div>
			<div>
				<mat-form-field floatLabel="never" appearance="outline">
					<input id="overturnCount" name="overturnCount" formControlName="overturnCount" matInput
						placeholder="0" type="number">
				</mat-form-field>
			</div>
		</div>


		<div *ngIf="!isSpontaneousMedicalAttention && data.diaryType == 0">
			<div fxLayout="column" *ngIf="isEnableTelemedicina">
				<div fxLayout="column" >
					<p mat-dialog-title>{{'turnos.agenda-setup.dialog.MODALITY' | translate}}</p>
					<mat-error *ngIf="showErrorModality" [translate]="'forms.REQUIRED'"></mat-error>
				</div>
				<mat-checkbox color="primary" formControlName="onSiteAttentionAllowed">
					<span>
						{{'turnos.agenda-setup.dialog.ATTENDS_FACE_TO_FACE' | translate}}
					</span>
				</mat-checkbox>
				<mat-checkbox color="primary" formControlName="patientVirtualAttentionAllowed">
					<span>
						{{'turnos.agenda-setup.dialog.ATTENDS_BY_TELECONSULTATION_OF_PATIENT' | translate}}
					</span>
				</mat-checkbox>
				<mat-checkbox color="primary" [disabled]="!data.hasSelectedLinesOfCare" formControlName="secondOpinionVirtualAttentionAllowed">
					<span>
						{{'turnos.agenda-setup.dialog.ATTENDS_BY_TELECONSULTATION_OF_SECOND_OPINION' | translate}}
					</span>
				</mat-checkbox>
			</div>
			<div fxLayout="column" ga>
				<div mat-dialog-title>
					{{'turnos.agenda-setup.dialog.TAKE_SHIFTS_TITLE' | translate}}
				</div>
				<div>
					<mat-checkbox (change)="changeAvailbleForCareLine()" [disabled]="!data.hasSelectedLinesOfCare"
						[checked]="form.value.protectedAppointmentsAllowed">
						<span>
							{{'turnos.agenda-setup.dialog.TAKE_PROTECTED_ONLINE' | translate}}
						</span>
					</mat-checkbox>
				</div>
				<div *ngIf="isEnableReportReference">
					<mat-checkbox (change)="changeAvailbleProtectedByRegulation()" [checked]="form.value.regulationProtectedAppointmentsAllowed">
						<span>
							{{'turnos.agenda-setup.dialog.SERVES_SHIFTS_PROTECTED_BY_REGULATION' | translate}}
						</span>
					</mat-checkbox>
				</div>
				<div>
					<mat-checkbox (change)="changeAvailableForBooking()" [disabled]="!isEnableOnlineAppointments"
						[checked]="form.value.availableForBooking">
						<span [translate]="'turnos.agenda-setup.dialog.ONLINE_APPOINTMENTS'"></span>
					</mat-checkbox>
				</div>
			</div>
		</div>

		<mat-dialog-actions align="end">
			<button *ngIf="data.isEdit" mat-flat-button mat-dialog-close color="warn" (click)="removeAttention()">
				<span>Eliminar atención</span>
			</button>
			<button id="confirm_button" name="confirm_button" mat-raised-button color="primary">
				<span [translate]="'buttons.CONFIRM'"></span>
			</button>
		</mat-dialog-actions>

	</form>
</div>
