.dose {
	border-radius: 5px;
	padding: 0 5px;
}

.no-info {
	padding: 20px 5px;
	text-align: center;
	font-weight: bold;
	color: #a8a8a8;
}

.vaccines-table-header-text {
	color: rgba(0, 0, 0, 0.54);
	font-size: 12px;
	font-weight: 500;
	padding: 16px 0 8px 24px;
}

.mat-values {
	padding: 0 5px 0 24px;
}
