.dose {
    border-radius: 5px;
    padding: 5px;
	background-color:#2687C533;
	color:#2687C5;
}

.no-info {
	padding: 20px 5px;
    text-align: center;
    font-weight: bold;
    color: #A8A8A8;}

.vaccines-table-header-text {
	color: rgba(0, 0, 0, 0.54);
	font-size: 12px;
	font-weight: 500;
}
