.container {
  padding: 28px;
  max-width: 92%;
  border: 1px solid #e0eef7;
  box-shadow: 0px 3px 3px 0px rgba(179, 177, 179, 1);
}

.title1 {
  text-align: center;
  background-color: #E0EEF7;
  color: #2687c5;
  font-family: "Roboto", "helvetica Neue", sans-serif;
  font-size: 22px;

}


th {
  text-align: left;
}

td {
  position: relative;
  top: 10px;
}

table { 
  margin-top: 1%;
}

 
.section3 {
display: inline-grid;
justify-items: center;
margin-left: 15%;
}

.text1 {

position: relative;
top: 21.5px;
}

.checkPadres {
  
  display: inline-grid;
  padding-top: 12%;
}