<div class="container">
  <form>
    <!-- <h2 class="title1" id="3">Antecedentes Familiares</h2> -->

    <div class="full" _ngcontent-rsa-c295="">
      <mat-card _ngcontent-kda-c377="" class="mat-card mat-focus-indicator box">
        <mat-card-header _ngcontent-kda-c377="" class="mat-card-header">
          <div class="mat-card-header-text">
            <mat-card-title _ngcontent-kda-c377="" class="mat-card-title">
              <div _ngcontent-kda-c377="" fxlayout="row" fxlayoutalign="center center" fxlayoutgap="16px"
                ng-reflect-fx-layout="row" ng-reflect-fx-layout-align="center center" ng-reflect-fx-layout-gap="16px"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                <mat-icon _ngcontent-kda-c377="" role="img" fontset="material-icons-outlined"
                  class="mat-icon notranslate material-icons-outlined mat-icon-no-color" aria-hidden="true"
                  ng-reflect-font-set="material-icons-outlined" style="margin-right: 16px;" data-mat-icon-type="font"
                  data-mat-icon-namespace="material-icons-outlined">
                  medical_services
                </mat-icon>
                <span _ngcontent-kda-c377="">
                  Cuestionario de antecedentes familiares
                </span>
              </div>
            </mat-card-title>
          </div>
        </mat-card-header>
        <mat-menu _ngcontent-kda-c621="" class="ng-tns-c107-64 ng-star-inserted"></mat-menu>
        <div _ngcontent-kda-c621="" fxlayout="row" fxlayoutgap="15px" class="header-filters ng-star-inserted"
          ng-reflect-fx-layout="row" ng-reflect-fx-layout-gap="15px"
          style="flex-direction: row; box-sizing: border-box; display: flex;"></div>
        <mat-divider _ngcontent-kda-c621="" role="separator" class="mat-divider mat-divider-horizontal"
          aria-orientation="horizontal"></mat-divider>
        <mat-divider _ngcontent-kda-c621="" role="separator" class="mat-divider mat-divider-horizontal ng-star-inserted"
          aria-orientation="horizontal"></mat-divider>

        <div _ngcontent-yer-c638="" _ngcontent-dtl-c638="" _ngcontent-dbc-c621="" fxlayout="column"
          ng-reflect-fx-layout="column" class="ng-star-inserted"
          style="flex-direction: column; box-sizing: border-box; display: flex;">
          <app-content _ngcontent-yer-c613="" width="full" _nghost-yer-c295="" ng-reflect-width="full">
            <div _ngcontent-yer-c295="" class="full">
              <div _ngcontent-yer-c612="" fxlayout="column" fxlayoutgap="30px" ng-reflect-fx-layout="column"
                ng-reflect-fx-layout-gap="30px" style="flex-direction: column; box-sizing: border-box; display: flex;">
                <div _ngcontent-yvu-c347="" id="title" fxlayoutgap="10px" fxlayoutalign="start center"
                  ng-reflect-fx-layout-gap="10px" ng-reflect-fx-layout-align="start center"
                  style="place-content: center flex-start; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                  <div _ngcontent-yvu-c347="" fxlayout="row" fxflex="20px" ng-reflect-fx-layout="row"
                    ng-reflect-fx-flex="20px"
                    style="margin-right: 10px; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 20px; max-width: 20px; min-width: 20px;">
                    <mat-icon _ngcontent-yvu-c347="" role="img" fontset="material-icons-outlined"
                      class="mat-icon notranslate color-primary material-icons-outlined mat-icon-no-color ng-star-inserted"
                      aria-hidden="true" ng-reflect-font-set="material-icons-outlined" data-mat-icon-type="font"
                      data-mat-icon-namespace="material-icons-outlined">
                      group
                    </mat-icon>
                  </div>
                  <span class="color-primary title"
                    style="margin-right: 10px; font-size: 20px; background-color: #f6fafb ; text-align: center;">
                    FAMILIA
                  </span>
                  <mat-divider _ngcontent-yvu-c347="" role="separator" inset=""
                    class="mat-divider mat-divider-horizontal mat-divider-inset" ng-reflect-inset=""
                    aria-orientation="horizontal"></mat-divider>
                </div>
                <div _ngcontent-yer-c612="" id="content" fxlayout="column" fxlayoutgap="50px"
                  ng-reflect-fx-layout="column" ng-reflect-fx-layout-gap="50px"
                  style="flex-direction: column; box-sizing: border-box; display: flex;">
                  <table>
                    <tr>

                      <th>CONVIVE CON</th>
                      <th>No</th>
                      <th>En la casa</th>
                      <th>En el cuarto</th>
                    </tr>

                    <tr>

                      <td>Madre</td>
                      <td>
                        <input type="checkbox" name="name1" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name2" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name3" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Padre</td>
                      <td>
                        <input type="checkbox" name="name4" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name4" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name5" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Madrasta</td>
                      <td>
                        <input type="checkbox" name="name6" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name7" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name8" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Padrasto</td>
                      <td>
                        <input type="checkbox" name="name9" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name10" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name11" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Hermanos</td>
                      <td>
                        <input type="checkbox" name="name12" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name13" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name14" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Pareja</td>
                      <td>
                        <input type="checkbox" name="name15" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name16" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name17" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Hijos</td>
                      <td>
                        <input type="checkbox" name="name18" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name19" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name20" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Abuelos</td>
                      <td>
                        <input type="checkbox" name="name21" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name22" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name23" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Otros</td>
                      <td>
                        <input type="checkbox" name="name24" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name25" id="">
                      </td>
                      <td>
                        <input type="checkbox" name="name26" id="">
                      </td>
                    </tr>
                  </table>

                  <div *ngIf="viveConOtros()">
                    <mat-form-field class="example-form-field">
                      <mat-label>¿Quiénes?</mat-label>
                      <input matInput type="text" [(ngModel)]="otrosFamiliares">
                    </mat-form-field>
                    <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486=""
                      aria-orientation="horizontal"
                      class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                      style="margin-bottom: 20px;"></mat-divider>

                  </div>

                  <table>
                    <tr>
                      <th>Vive</th>
                      <th>No</th>
                      <th>Si</th>
                    </tr>

                    <tr>

                      <td>En institución</td>
                      <td>
                        <input type="checkbox" name="name1" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name2" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>En la calle</td>
                      <td>
                        <input type="checkbox" name="name4" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name4" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Solo</td>
                      <td>
                        <input type="checkbox" name="name6" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name7" id="">
                      </td>

                    </tr>

                    <tr>
                      <td>Comparte la cama</td>
                      <td>
                        <input type="checkbox" name="name9" id="">
                      </td>

                      <td>
                        <input type="checkbox" name="name10" id="">
                      </td>

                    </tr>
                  </table>

                  <br>

                  <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486=""
                    aria-orientation="horizontal"
                    class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                    style="margin-bottom: 15px;"></mat-divider>

                  <br />

                  <table>
                    <tr>
                      <th>Ultimo nivel de instrucción</th>

                    </tr>

                    <tr class="section3">
                      <td>
                        Padre o sustituto
                      </td>
                      <td class="checkPadres">

                        <input type="checkbox" name="name11" id="">
                        <input type="checkbox" name="name12" id="">
                        <input type="checkbox" name="name13" id="">
                        <input type="checkbox" name="name14" id="">
                        <input type="checkbox" name="name15" id="">
                        <input type="checkbox" name="name16" id="">

                      </td>
                    </tr>

                    <tr class="section3 && text1">
                      <td>
                        Analfabeto
                      </td>

                      <td>
                        Primario incompleto
                      </td>
                      <td>
                        Primario
                      </td>
                      <td>
                        Secundario Incompleto
                      </td>
                      <td>
                        Secundario
                      </td>
                      <td>
                        Univ./terciario
                      </td>

                    </tr>


                    <tr class="section3">
                      <td>
                        Madre o sustituta
                      </td>
                      <td class="checkPadres">

                        <input type="checkbox" name="name17" id="">
                        <input type="checkbox" name="name18" id="">
                        <input type="checkbox" name="name19" id="">
                        <input type="checkbox" name="name20" id="">
                        <input type="checkbox" name="name21" id="">
                        <input type="checkbox" name="name22" id="">

                      </td>
                    </tr>
                  </table>
                  <br>

                  <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486=""
                    aria-orientation="horizontal"
                    class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                    style="margin-bottom: 15px;"></mat-divider>

                  <br />

                  <span class="color-primary title && title-section4"
                    style="margin-right: 10px; font-size: 20px; background-color: #f6fafb ; text-align: center;">
                    Madre
                  </span>

                  <table>
                    <div class="div1">
                      <tr>
                        <th class="section4">Edad</th>

                      <tr class="section4-b && section4">
                        <td>
                          Años
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="23" id="">
                        </td>
                      </tr>
                    </div>

                    <div class="div1">
                      <tr>

                        <th class="section4 && section4b2">Estado civil</th>

                      </tr>

                      <tr class="section4-b && section4">

                        <td>
                          Casada
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="24" id="">

                        </td>
                      </tr>

                      <tr class="section4-b && section4">

                        <td>
                          Soltera
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="25" id="">

                        </td>

                      </tr>

                      <tr class="section4-b && section4">

                        <td>
                          Unión estable
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="26" id="">

                        </td>

                      </tr>

                      <tr class="section4-b && section4">
                        <td>
                          Otros
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="27" id="">

                        </td>

                      </tr>
                    </div>

                    <div class="div1">
                      <tr>

                        <th class="section4 && section4b2">Trabajo remunerado</th>

                      </tr>

                      <tr class="section4-b && section4">

                        <td>
                          Si
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="24" id="">

                        </td>
                      </tr>

                      <tr class="section4-b && section4">

                        <td>
                          No
                        </td>
                        <td>
                          <input class="section4-b" type="checkbox" name="25" id="">

                        </td>
                    </div>

                  </table>

                  <br>

                  <mat-divider _ngcontent-phc-c769="" role="separator" ngcontent-rqs-c486=""
                    aria-orientation="horizontal"
                    class="mat-divider mat-divider-horizonal ng-star-inserted mat-divider-horizontal"
                    style="margin-bottom: 15px;"></mat-divider>

                  <br />
                </div>
              </div>
            </div>

          </app-content>
        </div>
      </mat-card>
    </div>
  </form>
  <div>
    <br>
  </div>
</div>