.container {
    padding: 28px;
    max-width: 92%;
    border: 1px solid #e0eef7;
    box-shadow: 0px 3px 3px 0px rgba(179,177,179,1); 
  }

  .title1{
    text-align: center;
    background-color: #E0EEF7;
    color: #2687c5;
    font-family: "Roboto", "helvetica Neue", sans-serif;
    font-size: 22px;
     
    }

     