<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>{{ data.titleLabel | translate}}</h1>
    <button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <form [formGroup]="prescriptionForm" class="form">
        <div fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT_MEDICAL_COVERAGE' | translate}}</mat-label>
                <mat-select formControlName="patientMedicalCoverage">
                    <mat-option
                        id="medicalCoverage"
                        name="medicalCoverage"
                        *ngFor="let patientMedicalCoverage of patientMedicalCoverages" [value]="patientMedicalCoverage">
                        {{getFullMedicalCoverageText(patientMedicalCoverage)}}
					</mat-option>
					<mat-divider></mat-divider>
					<mat-option (click)="openMedicalCoverageDialog()">
						<span class="color-primary" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.UPDATE_COVERAGE'"></span>
					</mat-option>
                </mat-select>
                <button id="clear_medical_coverage" type="button" mat-button *ngIf="prescriptionForm.value.patientMedicalCoverage" matSuffix
                    color="warn" mat-icon-button (click)="clear(prescriptionForm.controls.patientMedicalCoverage); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                </button>
			</mat-form-field>

            <div class="margin-checkbox" *ngIf="isMedication()">
                <mat-checkbox formControlName="withoutRecipe">
                    <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.WITHOUT_RECIPE'"></span>
                </mat-checkbox>
            </div>

            <app-new-consultation-expansion-section id="specialty" *ngIf="isHabilitarRecetaDigitalEnabled" class="mb-1"
			    [title]="'ambulatoria.paciente.nueva-consulta.SPECIALTY' | translate" icon="medical_services"
			    [isEmpty]="!prescriptionForm.value.clinicalSpecialty" [collapsed]="false" [hideBorder]="true">
                    <ng-container concept-form>
                        <div fxLayout="row" [formGroup]="prescriptionForm">
                            <mat-form-field appearance="outline">
                                <mat-select id="clinicalSpecialtyId" name="clinicalSpecialty"
                                    formControlName="clinicalSpecialty" (selectionChange)="setDefaultSpecialty()"
                                    [attr.disabled]="fixedSpecialty">
                                    <mat-option *ngFor="let clinicalSpecialty of this.specialties"
                                        [value]="clinicalSpecialty">
                                        <span class="mat-body">{{clinicalSpecialty.name}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error [translate]="'forms.REQUIRED'"></mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
		    </app-new-consultation-expansion-section>

            <mat-checkbox class="mb-1"
				*ngIf="isHabilitarRecetaDigitalEnabled"
				formControlName="prolongedTreatment"
				(change)="setProlongedTreatment($event.checked)">
				<span translate="ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PROLONGED_TREATMENT"></span>
			</mat-checkbox>

			<mat-form-field *ngIf="isHabilitarRecetaDigitalEnabled" appearance="outline">
				<mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_LABEL'">
                </mat-label>
                <input formControlName="posdatadas" type="number" matInput>
                <mat-hint *ngIf="prescriptionForm.controls.posdatadas.value <= POSDATADAS_DEFAULT else posdatadasHintPlural"
                    [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_HINT_SINGULAR'"
                    [translateParams]="{posdatadas: prescriptionForm.controls.posdatadas.value}">
                </mat-hint>
                <ng-template #posdatadasHintPlural>
                    <mat-hint
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_HINT_PLURAL'"
                        [translateParams]="{posdatadas: prescriptionForm.controls.posdatadas.value}">
                    </mat-hint>
                </ng-template>
				<mat-error *ngIf="hasError(prescriptionForm, 'required', 'posdatadas')" translate="forms.REQUIRED"></mat-error>
                <mat-error *ngIf="hasError(prescriptionForm, 'min', 'posdatadas')" 
                    [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_ERROR'"
                    [translateParams]="{min: POSDATADAS_MIN, max: POSDATADAS_MAX}">
                </mat-error>
                <mat-error *ngIf="hasError(prescriptionForm, 'max', 'posdatadas')" 
                    [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_ERROR'"
                    [translateParams]="{min: POSDATADAS_MIN, max: POSDATADAS_MAX}">
                </mat-error>
			</mat-form-field>
        </div>
    </form>

    <div *ngFor="let prescriptionItem of prescriptionItems" class="item-container">
        <div fxLayout="column" fxLayoutGap="10px" class="item-information">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <h3 fxFlex="80%" id="prescriptionItemName" class="mat-subheading-2 capitalize-first-letter">{{prescriptionItem.snomed.pt}}</h3>

                <div fxFlex="20%" fxLayoutAlign="end start">
                    <button mat-icon-button color="primary" (click)="openPrescriptionItemDialog(prescriptionItem)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deletePrescriptionItem(prescriptionItem)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </div>
            <section class="prescription-list gray">
                <div *ngIf="prescriptionItem.unitDose && prescriptionItem.administrationTimeDays && prescriptionItem.dayDose">
                    <span
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.UNIT_DOSE'"
                        [translateParams]="{unitDose: prescriptionItem.unitDose}">
                    </span>
                    <span
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.TREATMENT_DAYS'"
                        [translateParams]="{treatmentDays: prescriptionItem.administrationTimeDays}">
                    </span>
                    <span
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.DAY_DOSE'"
                        [translateParams]="{dayDose: prescriptionItem.dayDose}">
                    </span>
                </div>
                <div>
                    <span *ngIf="prescriptionItem.healthProblem"
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.DIAGNOSIS'"
                        [translateParams]="{healthProblem: prescriptionItem.healthProblem.description}">
                    </span>
                    <span *ngIf="prescriptionItem.intervalHours"
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.INTERVAL'"
                        [translateParams]="{interval: prescriptionItem.intervalHours}">
                    </span>
                    <span *ngIf=" ! prescriptionItem.intervalHours" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.DAILY'"></span>
                    <span *ngIf="prescriptionItem.administrationTimeDays && ! isHabilitarRecetaDigitalEnabled"
                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.ADMINISTRATION_TIME_DAYS'"
                        [translateParams]="{days: prescriptionItem.administrationTimeDays}">
                    </span>
                    <span *ngIf=" ! prescriptionItem.administrationTimeDays && ! prescriptionItem.posdatadas" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.USUAL'"></span>
                </div>
            </section>
            <span class="gray" *ngIf="prescriptionItem.observations">{{prescriptionItem.observations}}</span>
            <span class="mat-body-1" *ngIf="data.addPrescriptionItemDialogData.showStudyCategory">{{prescriptionItem.studyCategory.description}}</span>
        </div>
        <mat-divider></mat-divider>
    </div>

    <button mat-stroked-button color="primary" (click)="openPrescriptionItemDialog()" fxFlexFill.xs>
        <span class="uppercase">{{data.addLabel | translate}}</span>
    </button>
</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button color="primary" *ngIf="prescriptionItems.length" (click)="confirmPrescription()" fxFlexFill.xs>
        <span class="uppercase">{{'buttons.ELECTRONIC_FIRM' | translate}}</span>
    </button>
</mat-dialog-actions>
