<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>{{ data.titleLabel | translate}}</h1>
    <button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content #dialog>
    <mat-stepper [selectedIndex]="initialIndex" #stepper labelPosition="bottom">
        <form [formGroup]="prescriptionForm" class="form" id="form">
            <div fxLayout="column">
                <mat-step [stepControl]="prescriptionForm" label="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PATIENT_LABEL' | translate}}"
                 [editable]="editableStepModality">
                    <h2 class="bold no-margin">{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PATIENT_DATA' | translate}}</h2>
                    <div class="patientSummary">
                        <app-patient-summary *ngIf="patientSummary" [person]="patientSummary"></app-patient-summary>
                    </div>
                    <div>
                        <mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.MEDICAL_COVERAGE_LABEL' | translate}}</mat-label>
                        <mat-form-field appearance="outline" class="no-margin my-form-field fullWidth">
                            <mat-select formControlName="patientMedicalCoverage" placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT_MEDICAL_COVERAGE' | translate}}">
                                <mat-option (click)="selectPatientMedicalCoverage(patientMedicalCoverage)"
                                    id="medicalCoverage"
                                    name="medicalCoverage"
                                    *ngFor="let patientMedicalCoverage of patientMedicalCoverages" [value]="patientMedicalCoverage">
                                    {{ patientMedicalCoverage | fullMedicalCoverage }}
                                </mat-option>
                                <mat-divider></mat-divider>
                                <mat-option (click)="openMedicalCoverageDialog()">
                                    <span class="color-primary" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.UPDATE_COVERAGE'"></span>
                                </mat-option>
                            </mat-select>
                            <button id="clear_medical_coverage" type="button" mat-button *ngIf="prescriptionForm.value.patientMedicalCoverage" matSuffix
                                color="warn" mat-icon-button (click)="clear(prescriptionForm.controls.patientMedicalCoverage); $event.stopPropagation()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint *ngIf="this.showCoverageMessage"
                                translate="ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.MEDICAL_COVERAGE_SUGGESTION">
                            </mat-hint>
                        </mat-form-field>
                    </div>

                    <section formGroupName="patientData" *ngIf="isHabilitarRecetaDigitalEnabled">
                        <div class="margin-top-10">
                            <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PHONE'"></mat-label>
                            <section class="phone-container">
                                <mat-form-field appearance="outline" class="prefix">
                                    <input placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PHONE_PREFIX'| translate}}"
                                    matInput formControlName="phonePrefix" type="text">
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.phonePrefix')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="number">
                                    <input placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PHONE_NUMBER' | translate}}"
                                    matInput formControlName="phoneNumber" type="text">
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.phoneNumber')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>
                            </section>
                        </div>

                        <section class="countries-provinces-container margin-top-10">
                            <div class="country-section">
                                <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.COUNTRY'"></mat-label>
                                <mat-form-field appearance="outline" class="country">
                                    <mat-select id="country" name="country" formControlName="country"
                                                placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT' | translate}}">
                                        <mat-option *ngFor="let country of countries$ | async" [value]="country.id">
                                            {{country.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="province-section">
                                <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PROVINCE'"></mat-label>
                                <mat-form-field appearance="outline" class="province">
                                    <mat-select id="province" name="province" formControlName="province" (selectionChange)="setDepartments($event.value)"
                                                placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT' | translate}}">
                                        <mat-option *ngFor="let province of provinces$ | async" [value]="province.id">
                                            {{province.description}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.province')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>
                            </div>
                        </section>

                        <section class="departments-citys-container margin-top-10">
                            <div class="departament-section">
                                <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.LOCALITY'"></mat-label>
                                <mat-form-field appearance="outline" class="locality">
                                    <mat-select id="locality" name="locality" formControlName="locality" (selectionChange)="setCities($event.value)"
                                                placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT' | translate}}">
                                        <mat-option *ngFor="let department of departments$ | async" [value]="department.id">
                                            {{department.description}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.locality')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>
                            </div>
                            <div class="city-section">
                                <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.CITY'"></mat-label>
                                <mat-form-field appearance="outline" class="city">
                                    <mat-select id="city" name="city" formControlName="city"
                                                placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT' | translate}}">
                                        <mat-option *ngFor="let city of cities$ | async" [value]="city.id">
                                            {{city.description}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.city')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>
                            </div>
                        </section>

                        <section class="margin-top-10">
                            <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.ADDRESS'"></mat-label>
                            <div class="street-container">
                                <mat-form-field appearance="outline" class="street">
                                    <input placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.STREET' | translate}}"
                                    matInput formControlName="street" type="text">
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.street')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="streetNumber">
                                    <input placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.STREET_NUMBER' | translate}}"
                                    matInput formControlName="streetNumber" type="text">
                                    <mat-error *ngIf="hasError(prescriptionForm, 'required', 'patientData.streetNumber')" [translate]="'forms.REQUIRED'"></mat-error>
                                </mat-form-field>
                            </div>
                        </section>
                    </section>
                </mat-step>

                <mat-step [stepControl]="prescriptionForm" label="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PRESCRIPTION_LABEL' | translate}}"
                 [editable]="editableStepModality">
                <!-- SEGUNDO STEPPER RECETA-->
                    <section class="prescription">
                        <h2 class="bold">{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PRESCRIPTION_DATA' | translate}}</h2>
                        <div *ngIf="isMedication()">
                            <mat-checkbox formControlName="withoutRecipe">
                                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.WITHOUT_RECIPE'"></span>
                            </mat-checkbox>
                        </div>
                        <mat-label translate="ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SPECIALTY"></mat-label>
                        <mat-form-field appearance="outline" *ngIf="isHabilitarRecetaDigitalEnabled">
                            <mat-select id="clinicalSpecialtyId" name="clinicalSpecialty" formControlName="clinicalSpecialty"
                                placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SELECT_SPECIALTY' | translate}}">
                                <mat-option *ngFor="let clinicalSpecialty of this.specialties"
                                    [value]="clinicalSpecialty.id">
                                    {{clinicalSpecialty.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError(prescriptionForm, 'required', 'clinicalSpecialty')"
                                translate="ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.SPECIALTY_REQUIRED">
                            </mat-error>
                        </mat-form-field>

                        <mat-checkbox class="mb-1"
                            *ngIf="isHabilitarRecetaDigitalEnabled"
                            formControlName="archived">
                            <span translate="ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.ARCHIVED"></span>
                        </mat-checkbox>

                        <mat-checkbox class="mb-1"
                            *ngIf="isHabilitarRecetaDigitalEnabled"
                            formControlName="prolongedTreatment"
                            (change)="setProlongedTreatment($event.checked)">
                            <span translate="ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.PROLONGED_TREATMENT"></span>
                        </mat-checkbox>

                        <mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_LABEL'"></mat-label>
                        <mat-form-field *ngIf="isHabilitarRecetaDigitalEnabled" appearance="outline">
                            <input formControlName="posdatadas" type="number" matInput>
                            <mat-hint *ngIf="prescriptionForm.controls.posdatadas.value == POSDATADAS_MIN else posdatadasHintPlural"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_HINT_SINGULAR'"
                                [translateParams]="{posdatadas: prescriptionForm.controls.posdatadas.value}">
                            </mat-hint>
                            <ng-template #posdatadasHintPlural>
                                <mat-hint
                                    [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_HINT_PLURAL'"
                                    [translateParams]="{posdatadas: prescriptionForm.controls.posdatadas.value}">
                                </mat-hint>
                            </ng-template>
                            <mat-error *ngIf="hasError(prescriptionForm, 'required', 'posdatadas')" translate="forms.REQUIRED"></mat-error>
                            <mat-error *ngIf="hasError(prescriptionForm, 'min', 'posdatadas')"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_ERROR'"
                                [translateParams]="{min: POSDATADAS_MIN, max: POSDATADAS_MAX}">
                            </mat-error>
                            <mat-error *ngIf="hasError(prescriptionForm, 'max', 'posdatadas')"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.POSDATADAS_ERROR'"
                                [translateParams]="{min: POSDATADAS_MIN, max: POSDATADAS_MAX}">
                            </mat-error>
                        </mat-form-field>
                    </section>
                </mat-step>
            </div>
        </form>

        <mat-step [stepControl]="prescriptionForm" label="{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.MEDICATION_LABEL' | translate}}" [editable]="editableStepModality">
        <!-- TERCER STEPPER MEDICACION-->
            <h2 class="bold">{{'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.MEDICATION_LABEL' | translate}}</h2>

            <div *ngFor="let prescriptionItem of prescriptionItems" class="item-container">
                <div fxLayout="column" fxLayoutGap="10px" class="item-information">
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <h3 fxFlex="80%" id="prescriptionItemName" class="mat-subheading-2 capitalize-first-letter no-margin">{{prescriptionItem.snomed.pt}}</h3>
    
                        <div fxFlex="20%" fxLayoutAlign="end start">
                            <button mat-icon-button color="primary" (click)="openPrescriptionItemDialog(prescriptionItem)" [disabled]="submitted">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deletePrescriptionItem(prescriptionItem)" [disabled]="submitted">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                    <section fxLayout="row" fxLayoutAlign="space-between start" class="gray">
                        <div *ngIf="prescriptionItem.administrationTimeDays && isHabilitarRecetaDigitalEnabled" fxLayout="column" fxLayoutGap="5px">
                            <span *ngIf="prescriptionItem.unitDose"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.UNIT_DOSE'"
                                [translateParams]="{unitDose: prescriptionItem.unitDose}">
                            </span>
                            <span *ngIf="prescriptionItem.dayDose"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.DAY_DOSE'"
                                [translateParams]="{dayDose: prescriptionItem.dayDose}">
                            </span>
                            <span
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.TREATMENT_DAYS'"
                                [translateParams]="{treatmentDays: prescriptionItem.administrationTimeDays}">
                            </span>
                            <span *ngIf="prescriptionItem.quantity"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.QUANTITY'"
                                [translateParams]="{quantity: prescriptionItem.quantity.value}">
                            </span>
                        </div>
                        <div fxLayout="column" fxLayoutGap="5px">
                            <span *ngIf="prescriptionItem.healthProblem"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.DIAGNOSIS'"
                                [translateParams]="{healthProblem: prescriptionItem.healthProblem.description}">
                            </span>
                            <span *ngIf="prescriptionItem.intervalHours"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.INTERVAL'"
                                [translateParams]="{interval: prescriptionItem.intervalHours}">
                            </span>
                            <span *ngIf=" ! prescriptionItem.intervalHours" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.DAILY'"></span>
                            <span *ngIf="prescriptionItem.administrationTimeDays && ! isHabilitarRecetaDigitalEnabled"
                                [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.ADMINISTRATION_TIME_DAYS'"
                                [translateParams]="{days: prescriptionItem.administrationTimeDays}">
                            </span>
                            <span *ngIf=" ! prescriptionItem.administrationTimeDays && ! prescriptionItem.posdatadas" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.USUAL'"></span>
                        </div>
                    </section>
                    <span class="gray" *ngIf="prescriptionItem.observations">{{prescriptionItem.observations}}</span>
                    <span class="mat-body-1" *ngIf="data.addPrescriptionItemDialogData.showStudyCategory">{{prescriptionItem.studyCategory.description}}</span>
                </div>
                <mat-divider></mat-divider>
            </div>

            <mat-error class="mb-1" *ngIf="this.showAddMedicationError" [translate]="'ambulatoria.paciente.ordenes_prescripciones.new_prescription_dialog.REQUIRED_MEDICATION'"></mat-error>
            
            <app-button id="download_study" [color]="'primary'" [isLoading]="isLoading" [text]="data.addLabel" [disabled]="submitted"
                [buttonType]="'mat-stroked-button'" (clicked)="openPharmacosFrequestDialog()" fxFlexFill.xs>
            </app-button>
        </mat-step>
    </mat-stepper>
</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
	<button id="back" class="back-btn" *ngIf="stepper.selectedIndex > indexStep.PATIENT" mat-stroked-button color="primary"
     (click)="back(stepper)">
		<span [translate]="'buttons.BACK'"></span>
	</button>
	<button id="next" (click)="stepper.next()" *ngIf="stepper.selectedIndex < indexStep.MEDICATION" mat-raised-button type="button" color="primary">
		<span [translate]="'buttons.NEXT'"></span>
	</button>
	<button mat-flat-button color="primary" *ngIf="stepper.selectedIndex === indexStep.MEDICATION" (click)="confirmPrescription()" fxFlexFill.xs [disabled]="!prescriptionForm.valid">
        <span class="uppercase" *ngIf="isHabilitarRecetaDigitalEnabled">{{'buttons.FINISH' | translate}}</span>
        <span class="uppercase" *ngIf="! isHabilitarRecetaDigitalEnabled">{{'buttons.CONFIRM' | translate}}</span>
    </button>
</mat-dialog-actions>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    
</mat-dialog-actions>
