.form {
    margin-bottom: 25px;
}

.no-margin {
    margin: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.fullWidth {
    width: 100%;
}

section {
    margin: 0;
}

h3#prescriptionItemName {
    font-weight: 500;
}

.item-information {
    margin: 15px 0;
}

.item-container {
    margin-bottom: 25px;
}

.gray {
    color: gray;
}

.mb-1 {
    margin-bottom: 1rem;
}