.container {
    width: 100%;
    
    article {
        display: flex;
        cursor: pointer;
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;

        span {
            margin-left: 0.3rem;
        }
    }
}

.unselected {
    article {
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.38);
    }
}

.selected {
    article {
        font-size: 1.25rem;
    }
}

.content {
    padding: 1rem;
}