@import "../../../../../../../assets/styles/mixins";

section {
	margin: 0;
}

.info {
	&>span:first-child {
		@include info-secondary;
	}

	&>span:last-child {
		@include info-primary;
	}
}

.padding-to-align-chip {
	padding: 1.5px 0;
}

.title-weight {
	font-weight: 500;
}

#basic-data div {
	margin-top: 15px;
}

.line-break-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}
