<app-new-consultation-expansion-section id="diagnosticos"
	*appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']"
	[title]="'ambulatoria.paciente.surgical-report.procedures.TITLE' | translate" icon="library_add" [collapsed]="false"
	[hideBorder]="false">

	<div fxLayout="row" fxLayoutGap="20px">
		<mat-form-field appearance="outline">
			<mat-label [translate]="'ambulatoria.paciente.surgical-report.procedures.SURGERY_START_DATE'"></mat-label>
			<input matInput id="fecha_inicio" [matDatepicker]="startDatePicker" (dateChange)="changeStartDateTime($event.value, null)">
			<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
			<mat-datepicker #startDatePicker></mat-datepicker>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label [translate]="'ambulatoria.paciente.surgical-report.procedures.SKIN_OPENING'"></mat-label>
			<input matInput [(ngModel)]="skinOpeningTime" (ngModelChange)="changeStartDateTime(null, skinOpeningTime)">
			<mat-icon matSuffix>schedule</mat-icon>
			<mat-hint>HH:MM</mat-hint>
		</mat-form-field>
	</div>

	<div fxLayout="row" fxLayoutGap="20px">
		<mat-form-field appearance="outline">
			<mat-label [translate]="'ambulatoria.paciente.surgical-report.procedures.SURGERY_END_DATE'"></mat-label>
			<input matInput id="fecha_inicio" [matDatepicker]="endDatePicker" (dateChange)="changeEndDateTime($event.value, null)">
			<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
			<mat-datepicker #endDatePicker></mat-datepicker>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label [translate]="'ambulatoria.paciente.surgical-report.procedures.SKIN_CLOSURE'"></mat-label>
			<input matInput [(ngModel)]="skinClosureTime" (ngModelChange)="changeEndDateTime(null, skinClosureTime)">
			<mat-icon matSuffix>schedule</mat-icon>
			<mat-hint>HH:MM</mat-hint>
		</mat-form-field>
	</div>

	<div fxLayout="column" fxLayoutGap="20px">
		<div>
			<button mat-button type="button" id="add-procedure-button" color="primary" (click)="addProcedure()">
				+ {{ 'ambulatoria.paciente.surgical-report.procedures.ADD' | translate }}
			</button>
		</div>
		<app-titled-content-card *ngIf="!procedureService.isEmpty()"
			[title]="'ambulatoria.paciente.surgical-report.procedures.REGISTERED_PROCEDURES'">
			<app-procedure-list [service]="procedureService"></app-procedure-list>
		</app-titled-content-card>
	</div>

	<mat-form-field appearance="outline">
		<mat-label [translate]="'ambulatoria.paciente.surgical-report.procedures.SURGERY_DESCRIPTION'"></mat-label>
		<textarea matInput [(ngModel)]="description" (ngModelChange)="changeDescription($event)"></textarea>
	</mat-form-field>

	<div>
		<button id="clear_identification_type" type="button" mat-button color="primary" (click)="addDiagnosis()">
			+ {{'ambulatoria.paciente.surgical-report.procedures.ADD_DIAGNOSIS' | translate}}
		</button>
	</div>

	<app-titled-content-card *ngIf="diagnosis?.length" [title]="'ambulatoria.paciente.surgical-report.procedures.DIAGNOSIS' | translate">
		<div *ngFor="let diagnose of diagnosis; index as i; last as isLast">
			<div fxLayout="row" fxLayoutAlign="space-between center">
				<div fxLayout="column">
					<span>{{ diagnose.snomed.pt }}</span>
				</div>
				<button type="button" mat-icon-button color="warn" (click)="deleteDiagnosis(i)">
					<mat-icon>delete_outline</mat-icon>
				</button>
			</div>
			<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
		</div>
	</app-titled-content-card>


</app-new-consultation-expansion-section>
