.alta {
	background-color: #eb5757;
}

.media {
	background-color: #ffa500;
}

.baja {
	background-color: #32c25b;
}

.circle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

.alta-text {
	color: #eb5757;
}

.media-text {
	color: #ffa500;
}

.baja-text {
	color: #32c25b;
}
