
<app-control-select-template [studies]="studies" [patientId]="patientId">
</app-control-select-template>

<form [formGroup]="formStudyClosure" fxLayout="column">
	<mat-form-field appearance="outline">
		<mat-label>
			{{'ambulatoria.reference-study-close.PLACEHOLDER_DESCRIPTION' | translate}}
		</mat-label>
		<textarea matInput type="text" id="description" formControlName="description"></textarea>
		<mat-error>
			{{'forms.REQUIRED' | translate}}
		</mat-error>
	</mat-form-field>
</form>

<app-download-button [description]="'adjuntar'" (selectedFilesEmiit)="setSelectedFilesEmiit($event)">
</app-download-button>
