<div *ngIf="(formSet$ | async) as formSet">
	<div class="template-values" *ngFor="let template of formSet; let i = index; last as isLast" fxLayout="column">

		<span mat-line class="mat-h3 capitalize-first-letter">
			{{template.name}}
		</span>

		<mat-form-field appearance="outline" id="procedure-templates">
			<mat-label>Plantilla de resultados</mat-label>
			<mat-select (selectionChange)="onSelect($event.value, i, template.id)">
				<mat-option *ngFor="let t of template.form" [value]="t">
					{{ t.description }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<ng-container *ngIf="(selectedTemplate$ | async) as selectedTemplate">
			<mat-card-content>
				<app-procedure-template-form *ngIf="selectedTemplate[i] !== null" [template]="selectedTemplate[i]"
					(valueChange)="changeValues($event,template.id)">
				</app-procedure-template-form>
			</mat-card-content>
		</ng-container>

		<mat-divider *ngIf="!isLast" insert class="divider"></mat-divider>

	</div>
</div>



<form [formGroup]="formStudyClosure" fxLayout="column">
	<mat-form-field appearance="outline">
		<mat-label>
			{{'ambulatoria.reference-study-close.PLACEHOLDER_DESCRIPTION' | translate}}
		</mat-label>
		<textarea matInput type="text" id="description" formControlName="description"></textarea>
		<mat-error>
			{{'forms.REQUIRED' | translate}}
		</mat-error>
	</mat-form-field>
</form>

<app-download-button [description]="'adjuntar'" (selectedFilesEmiit)="setSelectedFilesEmiit($event)">
</app-download-button>
