<app-summary-card [header]="signosVitalesSummary"
                  [tooltip]="'historia-clinica.summary-card.signos-vitales.TOOLTIP'"
				  [canEdit]="['ENFERMERO', 'ENFERMERO_ADULTO_MAYOR', 'ESPECIALISTA_MEDICO']"
				  [editable]="editable"
				  (openInNew)="openDialog()">
	<mat-card-content>
		<div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.xs="center center" fxLayout.xs="column">
			<app-signo-vital-current-previous
				*ngFor="let vitalSign of signosVitales"
				[vitalSign]="vitalSign">
			</app-signo-vital-current-previous>
		</div>
	</mat-card-content>
</app-summary-card>
