<mat-form-field>
	<mat-label [translate]="'internaciones.anamnesis.SEARCH'" [translateParams]="{ conceptLabel: translatedLabel }"></mat-label>
	<input matInput type="text" [(ngModel)]="searchValue">
	<button id="clear" mat-button *ngIf="searchValue" matSuffix color="warn" mat-icon-button
		(click)="clear()">
		<mat-icon>close</mat-icon>
	</button>
	<button mat-flat-button type="button" color="primary" matSuffix (click)="openDialog()">
		<span class="uppercase" [translate]="'buttons.SEARCH'"></span>
	</button>
</mat-form-field>
