.tabla-card{
    background-color: lightblue;
}

.cardTablas{
    width: 900px;
    display: flex;
    margin-left: 45px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.titulo{
    color: #2687c5;
}