<mat-card class="box">
	<mat-card-header>
		<mat-card-title>
			<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
				<mat-icon fontSet="material-icons-outlined">{{ header.matIcon }}</mat-icon>
				<span>{{ header.title | translate }}</span>
			</div>
		</mat-card-title>
		<ng-container *featureFlag="'habilitarBotonCovidDiagnosticoPresuntivo'">
			<div *ngIf="hasCovidAlert">
				<button class="presumptive-button" mat-icon-button (click)="covidAlertEvent.emit()">
					<mat-icon matListIcon fontSet="material-icons-outlined">pest_control</mat-icon>
					<span [translate]="'internaciones.alerta-covid.TITLE'"> </span>
				</button>
			</div>
		</ng-container>
		<ng-container *ngIf="!editable">
			<button mat-icon-button *hasRole="canEdit" (click)="openInNew.emit()">
				<mat-icon fontSet="material-icons-outlined">open_in_new</mat-icon>
			</button>
		</ng-container>
	</mat-card-header>
	<ng-content></ng-content>
</mat-card>
