.filter-panel {
	background-color: #f3efef8e;
}

.historical-list {
	margin-top: 0;
	max-height: 80vh;
	overflow-y: auto;
	overflow-wrap: break-word;
}

.historical-item {
	padding: 20px;
}

.no-data-styles {
	text-align: center;
	font-weight: bold;
	color: #A8A8A8;
	font-size: 18px
}

#problemas {
	.mat-list .mat-list-item .mat-line {
		overflow-wrap: break-word;
		white-space: pre-line;
	}

	.mat-list .mat-list-item {
		height: initial;
		padding: 5px 0;
	}

	.mat-list-item:hover {
		background-color: #f3efef8e;
		cursor: pointer;
	}

	.mat-list-item {
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 14px;
	}
}

.historical-card {
	padding: 0;
}

.problems-table-header-text {
	color: rgba(0, 0, 0, 0.54);
	font-size: 12px;
	font-weight: 500;
}

.problems-table-header {
	pointer-events: none;
}

#solved_problems .date {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#historical-problems {
	margin-top: 60px;

	.tab-label {
		font-size: 18px;
		font-weight: 500;
	}

	.mat-form-field-outline {
		background-color: #ffffff;
	}

	h3 {
		margin: 0px;
	}
}

.span-clickable {
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}

.reference-description {
	margin-top: 20px;
}

.counterreference-title {
	margin-top: 10px;
}

.counterreference-description {
	line-height: 19px;
	margin-left: 40px;
}

.pending-reference-label {
	margin-top: 7px;
}

.closure-type-label {
	margin-top: 10px;
}
