<app-content width="full">

	<h1 translate="guardia.episode.TITLE"></h1>

	<div fxLayoutGap="24px">

		<div fxFlex="70" fxLayout="column" fxLayoutGap="30px">
			<mat-card class="grid">

				<div fxLayout="column" fxLayoutGap="1px">
					<span class="grid-title" translate="guardia.episode.administrative.EPISODE"></span>
					<div fxLayout="row" fxLayoutGap="3px" class="content-primary">
						<span>ID {{episodeId}}</span>
						<div *ngIf="responseEmergencyCare.emergencyCareType" fxLayoutGap="3px">
							<label>•</label>
							<span>{{responseEmergencyCare.emergencyCareType.description}}</span>
						</div>
					</div>
				</div>

				<div fxLayout="column" fxLayoutGap="1px">
					<span class="grid-title" translate="guardia.episode.administrative.REASONS"></span>
					<div *ngIf="responseEmergencyCare.reasons else noInfo">
						<div class="content-primary" *ngFor="let reason of responseEmergencyCare.reasons">
							<span>{{reason.description}}</span>
						</div>
					</div>
				</div>

				<div fxLayout="column" fxLayoutGap="1px">
					<span class="grid-title" translate="guardia.episode.administrative.ENTRANCE"></span>
					<div fxLayout="row" fxLayoutGap="3px" class="content-primary">
						<span>{{responseEmergencyCare.entrance?.type?.description}}</span>
						<div *ngIf="responseEmergencyCare.entrance?.ambulanceCompanyId" fxLayoutGap="3px">
							<label>•</label>
							<span>ID {{responseEmergencyCare.entrance?.ambulanceCompanyId}}</span>
						</div>
					</div>
					<div fxLayout="row" fxLayoutGap="3px" class="content-secondary">
						<span>{{responseEmergencyCare.creationDate.date.day}}/{{responseEmergencyCare.creationDate.date.month}}/{{responseEmergencyCare.creationDate.date.year}}</span>
						<label>-</label>
						<span>{{responseEmergencyCare.creationDate.time.hours}}:{{responseEmergencyCare.creationDate.time.minutes}}
							Hs</span>
					</div>
				</div>

				<div fxLayout="column" fxLayoutGap="1px">
					<span class="grid-title" translate="guardia.episode.administrative.POLICE_INTERVENTION"></span>
					<div *ngIf="responseEmergencyCare.policeIntervention else noInfo">
						<div fxLayout="row" fxLayoutGap="3px" class="content-primary">
							<span
								*ngIf="responseEmergencyCare.policeIntervention.firstName || responseEmergencyCare.policeIntervention.lastName">Oficial
								{{responseEmergencyCare.policeIntervention.firstName}}
								{{responseEmergencyCare.policeIntervention.lastName}}</span>

							<div *ngIf="responseEmergencyCare.policeIntervention.plateNumber" fxLayoutGap="3px">
								<label
									*ngIf="responseEmergencyCare.policeIntervention.firstName || responseEmergencyCare.policeIntervention.lastName">•</label>
								<span>Mat. Nº {{responseEmergencyCare.policeIntervention.plateNumber}}</span>
							</div>
						</div>
						<div fxLayout="row" fxLayoutGap="3px" class="content-secondary">
							<span
								*ngIf="responseEmergencyCare.policeIntervention.callDate?.date">{{responseEmergencyCare.policeIntervention.callDate.date.day}}/{{responseEmergencyCare.policeIntervention.callDate.date.month}}/{{responseEmergencyCare.policeIntervention.callDate.date.year}}
							</span>
							<div *ngIf="responseEmergencyCare.policeIntervention.callDate?.time" fxLayoutGap="3px">
								<label *ngIf="responseEmergencyCare.policeIntervention.callDate.date">-</label>
								<span>{{responseEmergencyCare.policeIntervention.callDate.time.hours}}:{{responseEmergencyCare.policeIntervention.callDate.time.minutes}}
									Hs</span>
							</div>
						</div>
					</div>
				</div>

			</mat-card>

			<mat-card id="last-triage-card">
				<app-triage-details [triage]="lastTriage" [emergencyCareType]="emergencyCareType"></app-triage-details>

				<mat-divider class="margin" [inset]="true"></mat-divider>

				<div id="history">
					<h3 class="triage-subtitle-weight" style="margin-bottom: 0">
						{{ 'guardia.episode.triage.HISTORIAL' | translate}}
					</h3>
					<div *ngIf="triagesHistory?.length else noInfo"
						 style="margin-top: 16px" fxLayout="column" fxLayoutGap="10px">
						<mat-card class="triage-list-item" *ngFor="let triage of triagesHistory">
							<mat-card-content>
								<div fxLayout="row" fxLayoutAlign="space-between">

									<div id="left-side">
										<span style="margin-right: 20px">
											{{ triage.creationDate | date: 'dd/MM/yy - HH:mm' }}
											hs
										</span>
										<app-triage-chip [category]="triage.category"></app-triage-chip>
									</div>

									<div id="right-side">
										<span>
											{{ triage.professional.firstName }} {{ triage.professional.lastName }}
										</span>
										<span *ngIf="triage.doctorsOfficeDescription">
											• {{ triage.doctorsOfficeDescription }}
										</span>
									</div>

								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-card>
		</div>

		<div fxFlex="30%">
			<app-patient-card [patient]="patientBasicData" [personPhoto]="personPhoto$ | async">
				<div content>
					<app-personal-information [personalInformation]="personalInformation"
						[patientMedicalCoverage]="patientMedicalCoverage">
					</app-personal-information>

					<button *ngIf="!responseEmergencyCare.patientId" mat-raised-button color="primary"
						(click)="searchPatient()" class="uppercase" translate="Buscar Paciente"></button>
				</div>
			</app-patient-card>
		</div>
	</div>

</app-content>

<ng-template #noInfo>
	<span translate="guardia.NO_INFO"></span>
</ng-template>
