<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>{{ 'ambulatoria.paciente.ordenes_prescripciones.complete_study_dialog.TITLE' | translate}}</h1>
    <button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal(true)">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content style="margin-bottom: 25px;">
    <mat-list id="estudio" style="margin-bottom: 25px;">
        <app-item-prescripciones fxFlex="100%" mat-list-item class="item-padding" [prescriptionItemData]="prescriptionItemDataBuilder(diagnosticReport)">
            <span prescription-number mat-line class="mat-body element-light-color">
                Orden #{{diagnosticReport[0].serviceRequestId}}
            </span>
        </app-item-prescripciones>
    </mat-list>
    <mat-divider></mat-divider>

    <form [formGroup]="completeStudyForm" fxLayout="column" fxLayoutGap="5px" style="margin-top: 25px;">
        <mat-form-field appearance="outline">
            <mat-label>{{'ambulatoria.paciente.ordenes_prescripciones.complete_study_dialog.OBSERVATIONS_LABEL' | translate}}</mat-label>
			<textarea matInput  type="text" id="observations" name="observations"
					  formControlName="observations"
					  placeholder="{{'ambulatoria.paciente.ordenes_prescripciones.complete_study_dialog.OBSERVATIONS_PLACEHOLDER' | translate }}"
			>
            </textarea>
			<mat-error *ngIf="hasError(completeStudyForm, 'maxlength', 'observations')" translate="forms.MAX_LENGTH_ERROR"
					   [translateParams]="{max: TEXT_AREA_MAX_LENGTH}">
			</mat-error>

		</mat-form-field>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px">
            <div>
                <button (click)="fileInput.click()" mat-button color="primary">
                    <mat-icon>attach_file</mat-icon>
                    {{'ambulatoria.paciente.ordenes_prescripciones.complete_study_dialog.UPLOAD_FILES' | translate}}
                </button>
                <span [hidden]="true">
                    <input type="file" #fileInput multiple (change)="onSelectFileFormData($event)"/>
                </span>
            </div>

            <div *ngIf="selectedFilesShow">
                <div *ngFor="let fileName of selectedFilesShow; let index = index" fxLayoutAlign="space-between start" fxLayoutGap="5px">
                    <span class="mat-body element-light-color" fxFlexAlign="center">
                        {{fileName}}
                    </span>
                    <button mat-button color="warn" (click)="removeSelectedFile(index)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </form>
</div>


<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button color="primary" (click)="completeStudy()" [disabled]="disableButton()">
        <span class="uppercase">{{'ambulatoria.paciente.ordenes_prescripciones.complete_study_dialog.COMPLETE_BUTTON' | translate}}</span>
    </button>
</mat-dialog-actions>

