<div data-id="surgical-medication-and-description-section">
	<app-iconed-titled-section icon="{{ descriptionItemDataSummary.icon }}"
		title="{{ descriptionItemDataSummary.title }}"></app-iconed-titled-section>
	<div class="surgical-medication-and-description" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
		<app-title-description-list *ngIf="descriptionItemDataSummary.data.items"
			title="{{ descriptionItemDataSummary.subtitle }}"
			[descriptionData]="descriptionItemDataSummary.data.items"></app-title-description-list>

		<app-title-description-list *ngIf="descriptionItemDataSummary.data.note.length"
			title="historia-clinica.surgical-report.summary.DESCRIPTION"
			[descriptionData]="descriptionItemDataSummary.data.note"></app-title-description-list>
	</div>
</div>
