<div fxLayout="row" fxLayoutAlign="space-between">
	<h1 mat-dialog-title> {{dialogTitle | translate}} </h1>
    <button id="close-modal"  mat-icon-button aria-label="close" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <h4 translate="guardia.dialog.attention_place.SUBTITLE"></h4>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label translate="guardia.dialog.attention_place.PLACE"></mat-label>
            <mat-select id="attention-place" formControlName="place" (selectionChange)="verifyPlaceType()">
                <mat-option [value]="place.id" *ngFor="let place of places$ | async">{{place.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError(this.form, 'required', 'place')" translate="guardia.dialog.attention_place.ATTENTION_REQUIRED"></mat-error>
        </mat-form-field>

        <app-typeahead *ngIf="(offices$ | async)"
            id="doctors-office"
            [titleInput]="'guardia.dialog.attention_place.office.SELECT_OFFICE' | translate"
            [options]="officesTypeaheadOptions$ | async"
			[externalSetValue]="preselectedOffice"
            (selectionChange)="setOffice($event)"
            [required]="true">
        </app-typeahead>

        <app-typeahead *ngIf="(shockrooms$ | async)"
            id="shockroom"
            [titleInput]="'guardia.dialog.attention_place.shockroom.SELECT_SHOCKROOM' | translate"
            [options]="shockroomsTypeaheadOptions$ | async"
			[externalSetValue]="preselectedShockroom"
            (selectionChange)="setShockroom($event)"
            [required]="true">
        </app-typeahead>
    </form>
</div>
<mat-dialog-actions align="end">
    <button id="{{currentButton.id}}" mat-flat-button color="primary" (click)="confirm()" [disabled]="this.form.invalid">
        <span translate="{{currentButton.text}}"></span>
    </button>
</mat-dialog-actions>

