<app-content width="full">
	<section id="header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
		<div>
			<h2 id="title" class="page-title" [translate]="'turnos.home.TITLE'"></h2>
		</div>
		<div *appHasRole="['ADMINISTRADOR_AGENDA']">
			<button mat-flat-button color="primary" id="goToNewAgendaButton" *ngIf="ffIsOn else professionalDiary"
				fxFlexFill.xs [matMenuTriggerFor]="menu">
				<span class="uppercase" [translate]="'turnos.home.actions.NEW_AGENDA'"></span>
			</button>
			<ng-template #professionalDiary>
				<button mat-flat-button color="primary" id="goToNewAgendaButton" (click)="goToNewProfessionalDiary()"
					fxFlexFill.xs>
					<span class="uppercase" [translate]="'turnos.home.actions.NEW_AGENDA'"></span>
				</button>
			</ng-template>
		</div>

		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="goToNewProfessionalDiary()" id="goToNewAgendaButton">
				{{'turnos.home.actions.PROFESSONAL' | translate}}</button>
			<button mat-menu-item (click)="goToNewEquipmentDiary()">
				{{'image-network.home.PICTURES' | translate}}</button>
		</mat-menu>
	</section>

	<mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="tabsService.selectedIndex">
		<mat-tab label="{{ 'turnos.home.SEARCH_BY_PROFESSIONAL' | translate | uppercase }}"
			*appHasRole="['ADMINISTRATIVO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA', 'ADMINISTRADOR_AGENDA', 'ENFERMERO']">
			<app-seach-appointments-by-professional [isVisible]="tabsService.tabActive === Tabs.PROFESSIONAL"></app-seach-appointments-by-professional>
		</mat-tab>
		<mat-tab label="{{ 'turnos.home.SEARCH_BY_INSTITUTION' | translate | uppercase }}"
			*appHasRole="['ADMINISTRATIVO']">
			<app-search-appointments-by-specialty [isVisible]="tabsService.tabActive === Tabs.INSTITUTION"></app-search-appointments-by-specialty>
		</mat-tab>
		<mat-tab label="{{ 'turnos.home.CARE_NETWORK_OFFER' | translate | uppercase }}"
			*appHasRole="['ADMINISTRATIVO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']">
			<app-search-appointments-in-care-network [isVisible]="tabsService.tabActive === Tabs.CARE_NETWORK">
			</app-search-appointments-in-care-network>
		</mat-tab>

		<mat-tab *ngIf="ffIsOn && hasRoleToViewTab"	label=" {{ 'image-network.home.SEARCH_BY_EQUIPMENT' | translate | uppercase }}">
			<app-search-appointments-by-equipment [selectedEquipment]="selectedEquipment" [selectedDiary]="selectedDiary">
			</app-search-appointments-by-equipment>
		</mat-tab>

		<div *ngIf="ffReferenceReportIsOn">
			<mat-tab label="{{ 'turnos.home.REQUESTS' | translate | uppercase }}" 
				*appHasRole="['ADMINISTRATIVO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']">
				<app-reference-report></app-reference-report>
			</mat-tab>
		</div>
	</mat-tab-group>

	<div *ngIf="noPermission">
		<app-no-data  *appHasRole="['ADMINISTRATIVO_RED_DE_IMAGENES']" [message]="mssg"></app-no-data>
	</div>

</app-content>
