<app-content width="full">
	<section id="header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
		<div>
			<h2 id="title" class="page-title" [translate]="'turnos.home.TITLE'"></h2>
		</div>
		<button mat-flat-button color="primary" id="goToNewAgendaButton" *appHasRole="['ADMINISTRADOR_AGENDA']"
			(click)="goToNewAgenda()" fxFlexFill.xs>
			<span class="uppercase" [translate]="'turnos.home.actions.NEW_AGENDA'"></span>
		</button>
	</section>

	<mat-tab-group (selectedTabChange)="tabChanged($event)">
		<mat-tab label="{{ 'turnos.home.SEARCH_BY_PROFESSIONAL' | translate | uppercase }}">
			<app-seach-appointments-by-professional></app-seach-appointments-by-professional>
		</mat-tab>
		<mat-tab label="{{ 'turnos.home.SEARCH_BY_SPECIALTY' | translate | uppercase }}"
			*appHasRole="['ADMINISTRATIVO']">
			<app-search-appointments-by-specialty></app-search-appointments-by-specialty>
		</mat-tab>
		<mat-tab label="{{ 'turnos.home.CARE_NETWORK_OFFER' | translate | uppercase }}"
			*appHasRole="['ADMINISTRATIVO']">
			<app-search-appointments-in-care-network [isVisible]="tabActiveIndex === 2">
			</app-search-appointments-in-care-network>
		</mat-tab>
	</mat-tab-group>
</app-content>