<div *ngIf="referencePermissionService.visualPermissions.showApprovalDropdown else showRegulationState">
	<app-institutional-network-actions-dropdown
		*appHasRoleWithoutContext="['GESTOR_DE_ACCESO_DE_DOMINIO', 'GESTOR_DE_ACCESO_REGIONAL', 'GESTOR_DE_ACCESO_LOCAL', 'GESTOR_DE_ACCESO_INSTITUCIONAL']"
		[isOrigin]="false" (newState)="onNewState($event)" (editing)="onEditingState($event)">
	</app-institutional-network-actions-dropdown>
</div>

<ng-template #showRegulationState>
	<app-colored-label [description]="regulationState.description | translate | uppercase"
		[color]="regulationState.color" [icon]="regulationState.icon">
	</app-colored-label>
</ng-template>

<div *ngIf="referenceAdministrativeDto?.reason && !hideReason" fxLayout="column" fxLayoutGap="10px">
	<span class="reason">{{referenceAdministrativeDto.reason}}</span>
	<div class="grey" fxLayout="row" fxLayoutAlign="space-between">
		<span>{{referenceAdministrativeDto.professionalName}}</span>
		<span>{{referenceAdministrativeDto.createdOn | dateFormat: 'datetime'}}</span>
	</div>
</div>

<div *appHasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']">
	<app-reference-state-actions *ngIf="loggedUserCanDoActions && !referenceCompleteDataDto.reference?.closureType"
		[referenceCompleteDataDto]="referenceCompleteDataDto"></app-reference-state-actions>
</div>
