@import "../../../../../../../../../assets/styles/mixins";
@import "../../../../../../../../../assets/styles/mat-mixins";

.section-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	section{
		width: 50%;
	}
}

.form-row{
	@include form-row;
	@include mat-form-field-background-white;

	.mat-form-field{
		width: 100%;
	}
}

.header{
	display: flex;
	justify-content: flex-end;
}

.bed-assignment {
	background: #ffffffff;
	padding: 15px;
	margin-bottom: 10px;
}

.date {
	margin-bottom: 15px;
}

.error-message {
	padding-left: 10px;
	font-size: 10.5px;
}
