<app-content width="full">
	<div class="section-container">
		<section class="page">
			<h2 class="page-title" [translate]="'internaciones.new-internment.TITLE'"></h2>
			<h4 class="page-title" [translate]="'internaciones.new-internment.SUBTITLE'"></h4>
			<br>
			<form [formGroup]="form" (ngSubmit)="save()">

				<section>
					<div class="form-row" fxLayoutGap="5px" formGroupName="dateTime">
						<span translate="internaciones.new-internment.DATE_TIME"></span>

						<mat-form-field class="date" appearance="outline">

							<input formControlName="date" id="date" matInput [matDatepicker]="datePicker"
								[value]="today" [min]="validPreviousDays" [max]="today"
								placeholder="{{'internaciones.new-internment.DATE' | translate}}">

							<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
							<mat-datepicker #datePicker></mat-datepicker>

							<mat-error *ngIf="hasError(form.get('dateTime'), 'required', 'date') else invalidDate"
								translate="internaciones.new-internment.REQUIRED"></mat-error>
							<ng-template #invalidDate>
								<mat-error translate="internaciones.new-internment.INVALID_DATE"></mat-error>
							</ng-template>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<input matInput id="time" type="text" formControlName="time" pattern="{{TIME_PATTERN}}"
								placeholder="{{'internaciones.new-internment.TIME' | translate}}">

							<mat-error *ngIf="hasError(form.get('dateTime'), 'pattern', 'time')"
								translate="internaciones.new-internment.TIME_FORMAT">
							</mat-error>
							<mat-error *ngIf="hasError(form.get('dateTime'), 'required', 'time')"
								translate="internaciones.new-internment.REQUIRED">
							</mat-error>
							<mat-error *ngIf="hasError(form.get('dateTime'), 'futureTime', 'time')"
								translate="internaciones.new-internment.MAX_TIME_ERROR"></mat-error>
						</mat-form-field>
					</div>
				</section>

				<section>
					<div class="form-row">
						<span translate="internaciones.new-internment.MEDICAL_CONVERGE"></span>
						<mat-form-field appearance="outline">
							<mat-select formControlName="patientMedicalCoverage" placeholder="{{'internaciones.new-internment.NO_MEDICAL_CONVERGE' | translate}}">
								<mat-option id="medicalConverge"
									*ngFor="let patientMedicalCoverage of patientMedicalCoverages"
									[value]="patientMedicalCoverage">
									{{getFullMedicalCoverageText(patientMedicalCoverage)}}
								</mat-option>
								<mat-option [value]="'null'" >{{'internaciones.new-internment.NO_MEDICAL_CONVERGE'
									|translate}}</mat-option>
								<mat-divider></mat-divider>
								<mat-option (click)="openMedicalCoverageDialog()">
									<span class="color-primary"
										translate="internaciones.new-internment.UPDATE_COVERAGE"></span>
								</mat-option>
							</mat-select>
							<mat-error translate="internaciones.new-internment.REQUIRED"></mat-error>
						</mat-form-field>
					</div>
				</section>
				<section>
					<h2 [translate]="'internaciones.new-internment.SECTION_BED'"></h2>
					<div class="bed-assignment">
						<h4 class="page-title" *ngIf="!selectedBedInfo" [translate]="'internaciones.new-internment.BED_ASSIGNMENT'"></h4>
						<mat-list content *ngIf="selectedBedInfo">
							<mat-list-item>
								<h2 [translate]="'gestion-camas.detail.BED_TITLE'" [translateParams]="{ bedNumber: selectedBedInfo.bed.bedNumber }"></h2>
							</mat-list-item>
							<mat-list-item>
								<div fxLayout="column wrap">
									<span class="mat-body-1" [translate]="'gestion-camas.detail.SECTOR'"></span>
									<span class="mat-body-2">
										{{selectedBedInfo.bed.room.sector.description}}
									</span>
								</div>
							</mat-list-item>
							<mat-list-item>
								<div fxLayout="column wrap">
									<span class="mat-body-1" [translate]="'gestion-camas.detail.ROOM'"></span>
									<span class="mat-body-2">
										{{selectedBedInfo.bed.room.description}}
									</span>
								</div>
							</mat-list-item>
						</mat-list>
						<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
							<button mat-raised-button color="primary" type="button" (click)="openBedAssignmentDialog()" *ngIf="selectedBedInfo">
								{{'buttons.EDIT' | translate | uppercase }}
							</button>
							<button mat-raised-button color="primary" type="button" (click)="openBedAssignmentDialog()" *ngIf="!selectedBedInfo">
								<span [translate]="'internaciones.new-internment.BED_ASSIGNMENT_BUTTON'"></span>
							</button>
						</div>
					</div>
				</section>
				<section #errorDoctor>
					<h2 [translate]="'internaciones.new-internment.SECTION_DOCTOR'"></h2>
					<div class="form-row">
						<span [translate]="'internaciones.new-internment.DOCTOR_NAME'"></span>
					</div>
					<div class="form-row">
						<div fxFlex="100%">
							<app-typeahead id="doctorId" [options]="doctorsTypehead"
								[placeholder]="'internaciones.new-internment.DOCTOR_NAME' | translate" (selectionChange)="setDoctor($event)" [required]=true>
							</app-typeahead>
						</div>
						<mat-error class="error-message" *ngIf="!form.value.doctorId && submitForm" [translate]="'pacientes.form.REQUIRED'"></mat-error>
					</div>
				</section>

				<section>
					<h2 [translate]="'internaciones.new-internment.SECTION_CONTACT'"></h2>
					<span [translate]="'Nombre y apellido'"></span>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<input id="contactName"
							       name="contactName"
							       formControlName="contactName"
							       placeholder="Nombre y apellido"
							       maxlength="40"
							       matInput>
						</mat-form-field>
					</div>
					<span [translate]="'Teléfono'"></span>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<input id="contactPhoneNumber"
							       name="contactPhoneNumber"
							       formControlName="contactPhoneNumber"
							       placeholder="Teléfono"
							       maxlength="20"
							       matInput>
						</mat-form-field>
					</div>
					<span [translate]="'Parentesco'"></span>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<input id="contactRelationship"
							       name="contactRelationship"
							       formControlName="contactRelationship"
							       placeholder="Parentesco"
							       maxlength="20"
							       matInput>
						</mat-form-field>
					</div>
				</section>

				<section>
					<button *appHasRole="['ADMINISTRATIVO']" mat-raised-button color="primary" type="submit">
						<span [translate]="'buttons.CONTINUE'"></span>
					</button>
				</section>
			</form>
		</section>

		<section>
			<div class="profile-card">
				<app-patient-card *ngIf="personPhoto" [patient]="patientBasicData" [personPhoto]="personPhoto">
					<div header class="header">
						<app-patient-type-logo [patientTypeData]="patientTypeData"></app-patient-type-logo>
					</div>
					<div content>
						<app-personal-information [personalInformation]="personalInformation"
						                          [patientMedicalCoverage]="patientMedicalCoverage">
						</app-personal-information>
					</div>
				</app-patient-card>
			</div>
		</section>
	</div>
</app-content>
