<div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title>{{ 'ambulatoria.paciente.ordenes_prescripciones.show_study_results_dialog.TITLE' | translate}}</h1>
    <button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <mat-list id="estudio" style="margin-bottom: 25px;">
        <app-item-prescripciones fxFlex="100%" mat-list-item class="item-padding" [prescriptionItemData]="prescriptionItemDataBuilder(diagnosticReport)">
            <span prescription-number mat-line class="mat-body element-light-color">
                Orden #{{diagnosticReport.serviceRequestId}}
            </span>
        </app-item-prescripciones>
    </mat-list>
    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayoutGap="15px" style="margin-top: 25px;">
        <span class="mat-subheading-2 capitalize-first-letter">
            {{observations}}
        </span>
        <div>
            <div *ngFor="let file of diagnosticReportFiles">
                <a mat-button color="primary" (click)="download(file)">
                    {{file.fileName}}
                </a>
            </div>
        </div>
    </div>
</div>
