<div fxLayout="row" fxLayoutAlign="space-between start">
	<h1 mat-dialog-title>
		{{ 'ambulatoria.paciente.ordenes_prescripciones.show_study_results_dialog.TITLE' | translate}}
	</h1>
	<button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal()">
		<mat-icon>close</mat-icon>
	</button>
</div>

<div mat-dialog-content fxLayout="column" fxLayoutGap="22px">

	<app-complete-study-information id="estudio" fxFlex="45%" [order]="order" [registerEditor]="study.registerEditor"
		[titleContent]="study.problemPt" [descriptionState]="study.problemPt" [status]="status">
	</app-complete-study-information>

	<mat-divider [vertical]="true"></mat-divider>

	<div fxLayout="column" fxLayoutGap="15px">
		<h2>
			{{ 'ambulatoria.paciente.ordenes_prescripciones.show_study_results_dialog.STUDY_RESULTS' | translate}}
		</h2>

		<div *ngFor="let dr of diagnosisResultArr" fxLayoutGap="10px">
			<mat-divider></mat-divider>

			<h3 class="title capitalize-first-letter">
				{{dr.descriptionTemplate }}
			</h3>

			<app-show-closed-forms-template [result]="rp">
			</app-show-closed-forms-template>
		</div>

		<mat-divider></mat-divider>

		<app-title-description [title]="observationsConst" [text]="observations">
		</app-title-description>

		<div>
			<div *ngFor="let file of diagnosticReportFiles">
				<a mat-button color="primary" (click)="download(file)">
					{{file.fileName}}
				</a>
			</div>
		</div>
	</div>

</div>
