.flex-container {
	display: flow;
	margin: 0.94em 0 0 0.94em;
}

.sub-title {
	margin: 0.94em 0 0 0;
}

.data {
	margin: 0 0 0.44em 0;
}

.no-info {
	line-height: 20px;
	font-family: 15px, Roboto;
	margin-top: 15px;
	color: #a8a8a8;
}
