
<button mat-button [ngClass]="{'mat-stroked-button': list?.length > 1}" [matMenuTriggerFor]="menu"
	style="display: flex; align-items: center;">
	<span>{{value.description}}</span>
	<mat-icon *ngIf="list?.length > 1">arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu" appearance="outline">
	<button mat-menu-item *ngFor="let unitInList of list"
		[disabled]="unitInList?.unitOfMeasureId === value?.unitOfMeasureId" (click)="valueSelected.emit(unitInList)">
		<span>{{unitInList.description}}</span>
	</button>
</mat-menu>
