<div id="attach_files" fxLayout="column">
	<div>
		<button mat-button type="button" id="add-request-button" color="primary" class="add-button"
			(click)="fileInput.click()">
			<mat-icon>attachment_icon</mat-icon>

			{{ 'ambulatoria.reference-study-close.UPLOAD_FILES' | translate }}

		</button>
		<span [hidden]="true">
			<input type="file" #fileInput multiple (change)="onSelectFileFormData($event)" />
		</span>
	</div>

	<div *ngIf="selectedFilesShow" class="selected-files">
		<div *ngFor="let fileName of selectedFilesShow; let index = index">
			<span>
				{{fileName}}
			</span>
			<button mat-button color="warn" (click)="removeSelectedFile(index)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
</div>
