<div fxLayout="row" fxLayoutAlign="space-between">
    <h1 mat-dialog-title [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.dispense.dialog.TITLE'"></h1>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <span class="indicated-medication" [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.dispense.dialog.INDICATED_MEDICATION'"></span>

    <div class="pharmaco-details">
        <app-pharmarco-detail *ngIf="pharmaco" [pharmaco]="pharmaco"></app-pharmarco-detail>
    </div>

    <div class="problem">
        <app-iconed-text
            [icon]="'info'"
            [text]="problem">
        </app-iconed-text>
    </div>

    <div class="observations">
        <app-title-description
            *ngIf="observations"
            [title]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.dispense.dialog.OBSERVATIONS'"
            [text]="observations">
        </app-title-description>
    </div>

    <app-register-editor-info [registerEditor]="registerEditor"></app-register-editor-info>

    <app-pharmacos-to-dispense (isValidToConfirm)="setIsValidToConfirm($event)" [medicationInfo]="medicationInfo"></app-pharmacos-to-dispense>

</mat-dialog-content>

<mat-dialog-actions>
    <div class="actions">
        <app-button mat-dialog-close [text]="'buttons.CANCEL'"></app-button>
        <app-button [text]="'buttons.CONFIRM'" [buttonType]="ButtonType.RAISED" [disabled]="!isValid" (click)="confirm()" [isLoading]="isLoading"></app-button>
    </div>
</mat-dialog-actions>
