@import '../../../../../assets/styles/variables.scss';

section.page {
	margin: 0px;
}

mat-card.mat-card {
	min-height: 300px;
	padding-left: 20px;
	padding-right: 20px;
}

mat-card-title {
	display: flex;
	justify-content: space-between;
}

mat-chip {

	&.default {
		background-color: $success-color;
		color: white;
	}
	&.error {
		background-color: white;
		color: $error-color;
		text-decoration: none;
		border: 1px solid $error-color;
	}
}

small {
	color: $grey;
}
