<app-summary-card [header]="HEADER">
	<ng-container *ngIf="this.documentHistoric?.length !== 0 || searchTriggered; else noData">
		<div class="documents" id="documents" fxLayout="row">
			<mat-selection-list color="accent" [multiple]=false id="selection-documents" class="selection-documents">
				<mat-list-option (click)="setActive(documentSearch)" *ngFor="let documentSearch of documentHistoric">
					<div fxLayout="row" fxLayoutGap="5px">
						<div fxLayout="column" fxLayoutGap="20px">
							<app-summary-attention class="padding-left"
								[title]="documentSearch.summary.title | translate"
								[specialty]="documentSearch.summary.specialty"
								[registerEditor]="documentSearch.summary.registerEditor">
							</app-summary-attention>
							<mat-divider></mat-divider>
						</div>
					</div>
				</mat-list-option>
			</mat-selection-list>

            <div *ngIf="activeDocument && (activeDocument.summary.title === DOCUMENT_TYPES.TRIAGE)" class="summary">
                <app-triage-summary [content]="activeDocument" [episodeId]="emergencyCareId"></app-triage-summary>
            </div>
            <div *ngIf="activeDocument && (activeDocument.summary.title === DOCUMENT_TYPES.EVOLUTION_NOTE || activeDocument.summary.title === DOCUMENT_TYPES.NURSING_EVOLUTION_NOTE)" class="summary">
                <app-emergency-care-evolution-note [content]="activeDocument" [episodeId]="emergencyCareId"
                    [patientId]="patientId" (resetActiveDocument)="resetActiveDocument()"></app-emergency-care-evolution-note>
            </div>

		</div>
		<div *ngIf="this.documentHistoric && !this.documentHistoric.length">
			<div class="no-data-styles">
				<span [translate]="'internaciones.documents-summary.NO_FILTERED_PROBLEMS'"></span>
			</div>
		</div>
	</ng-container>

	<ng-template #noData>
		<app-no-data></app-no-data>
	</ng-template>
</app-summary-card>
