@import '../../../../../assets/styles/variables.scss';

.dock-popup {
	box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.50);
}

#popup-header {
	border-radius: 5px 5px 0 0;
}

.action-bar {
	max-height: 10vh;
	padding: 0 2vw;

	font-weight: 500;
	color: white;

	.title {
		font-size: large;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	button {
		mat-icon {
			font-size: x-large;
		}
	}
}

.content {
	height: 88vh;

	.body {
		max-height: 75vh;
		padding: 35px 30px;
		overflow-y: auto
	}

	.actions {
		justify-content: flex-end;
		padding: 20px;
		box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
	}
}

.menu {
	min-height: 90vh;

	.body-menu {
		max-height: 83vh;
		padding: 35px 30px;
		overflow-y: auto
	}
}

@media (max-width: $mobile-popups) {
	.dock-popup {
		height: 100vh;
	}

	.content {
		max-height: 100vh;
		overflow-y: scroll;

		.body {
			max-height: 100vh;
		}
	}
}