section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        max-width: 20rem;
        font-weight: 500;
    }

    h1, button {
        margin: .50rem;
    }
    
    mat-icon {
        color: #2687C5;
        font-size: 100px;
        width: 100px;
        height: 100px;
    }
}