.report{
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 4vh;

	.content {
		margin: 10px 7px;

		.question {
			display: block;
			font-weight: 500;
		}
	}
}
h1{
	margin-top: 10px;
}

.no-margin-bottom{
	margin-bottom: -10px!important;
}
