.report{
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 4vh;

	.content {
		margin: 10px 7px;

		.question {
			display: block;
			font-weight: 500;
		}
	}
}
h1{
	margin-top: 10px;
	font-weight: 500;
}

.mat-icon.material-icons-outlined{
	scale: 3;
	margin-bottom: 15px;
}
