<div *ngIf="data.buttonClose" fxLayout="row" fxLayoutAlign="end center">
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>

<div class="report" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

	<div fxLayout="row" class="image" fxLayoutAlign="center">
		<ng-container *ngIf="data.errorMode;  else noError">
			<mat-icon class="material-icons-outlined" color="warn">cancel</mat-icon>
		</ng-container>
		<ng-template #noError>
			<mat-icon class="material-icons-outlined" [color]="data.color">error_outlined</mat-icon>
		</ng-template>
	</div>

	<ng-container *ngIf="!data.paramTranslate else hasParam">
		<h1 mat-dialog-title [ngClass]="!data.content && !data.contentBold ? 'no-margin-bottom' : 'margin-bottom'">{{ data.title | translate}}</h1>
	</ng-container>
	<ng-template #hasParam>
		<h1 mat-dialog-title [ngClass]="!data.content && !data.contentBold ? 'no-margin-bottom' : 'margin-bottom'" [translate]="data.title" [translateParams]="{param: data.paramTranslate}"></h1>
	</ng-template> 

	<div mat-dialog-content class="content" fxLayoutGap="25px" *ngIf="data.content">
			<div innerHTML="{{ data.content | translate}}"></div>
	</div>

	<div mat-dialog-content fxLayoutGap="25px">
		<strong innerHTML="{{ data.contentBold | translate}}"></strong>
	</div>

	<div mat-dialog-actions fxLayout="row" fxLayoutGap="25px">
		<button *ngIf="!data.errorMode" mat-stroked-button [mat-dialog-close]=false [color]="data.color" class="uppercase" id="cancel-button">
			{{(data.cancelButtonLabel? data.cancelButtonLabel : 'buttons.CANCEL') | translate}}</button>
		<button mat-raised-button [mat-dialog-close]=true cdkFocusInitial [color]='okBottonColor' class="uppercase"
			id="okButton-button">
			{{(data.okButtonLabel? data.okButtonLabel : 'buttons.CONFIRM' ) | translate}}</button>
	</div>
</div>
