<app-content width="full">
	<section>
		<h2 class="page-title" [translate]="'internaciones.internacion-paciente.TITLE'"></h2>
		<div class="buttons">
			<button mat-flat-button color="primary" (click)="goToAnamnesis()">
				<span class="uppercase" [translate]="'internaciones.internacion-paciente.actions.ADD_EVAL_INGRESO'"></span>
			</button>
		</div>
		<div class="flex-layout">
			<div class="column">
				<section>
					<app-patient-card [patient]="patient$ | async"></app-patient-card>
				</section>
				<section>
					<app-signos-vitales-summary></app-signos-vitales-summary>
				</section>
			</div>
			<div class="column">
				<section>
					<app-summary-card [header]="internacionSummary">
						<mat-card-content>
							<app-internment-episode-summary [internmentEpisode]="internmentEpisode$ | async"></app-internment-episode-summary>
						</mat-card-content>
					</app-summary-card>
				</section>
				<section>
					<app-diagnosis-summary [internmentEpisodeId]="(internmentEpisode$ | async)?.id"></app-diagnosis-summary>
				</section>
			</div>
		</div>
	</section>
</app-content>
