<app-content width="full">
	<section>
		<h2 class="page-title" [translate]="'internaciones.internacion-paciente.TITLE'"></h2>
		<div class="buttons">
			<button mat-flat-button color="primary" (click)="goToAnamnesis()">
				<span class="uppercase" [translate]="'internaciones.internacion-paciente.actions.ADD_EVAL_INGRESO'"></span>
			</button>
		</div>
		<div class="flex-layout">
			<app-patient-card [patient]="patient$ | async"></app-patient-card>
			<app-summary-card [header]="internacionSummary">
				<app-internment-episode-summary [internmentEpisode]="internmentEpisode$ | async"></app-internment-episode-summary>
			</app-summary-card>
		</div>
	</section>
</app-content>
