<app-summary-card [header]="documentsSummary">
	<ng-container *ngIf="this.documentHistoric?.documents.length !== 0 || searchTriggered; else noData">
		<div class="search-form" id="header">
			<form fxLayout="row" fxLayoutGap="10px" id="document-search-form" [formGroup]="form" (ngSubmit)="search()">
				<div style="padding-left: 16px;">
					<mat-form-field appearance="outline">
						<mat-label>Campo</mat-label>
						<mat-select formControlName="field" name="field">
							<mat-option *ngFor="let field of searchFields" [value]="field.field">
								{{field.label | translate}}
							</mat-option>
						</mat-select>
						<button id="clear-filter-field" type="button" mat-button *ngIf="form.value.field" matSuffix
								color="warn"
								mat-icon-button
								(click)="setFilterValueAndSearchIfEmptyForm(form.controls.field, null); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
						<mat-error *ngIf="hasError(form, 'filterFieldIsRequiredWhenInputIsSet', 'field')"
								   [translate]="'historia-clinica.summary-card.evolution-notes-filter.filterFieldIsRequiredWhenInputIsSet'">
						</mat-error>
					</mat-form-field>
				</div>
				<div style="width: 35%">
					<mat-form-field class="input" appearance="outline"
									*ngIf="form.value.field === 'CREATED_ON'; else textInput">
						<mat-label>Fecha</mat-label>
						<input matInput
							   id="date"
							   formControlName="date"
							   [matDatepicker]="myDatepicker"
							   [max]="this.today"
						>
						<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
						<mat-datepicker #myDatepicker></mat-datepicker>
						<mat-error
							[translate]="'historia-clinica.summary-card.evolution-notes-filter.generalDateError'">
						</mat-error>
					</mat-form-field>
					<ng-template #textInput>
						<mat-form-field class="input" appearance="outline">
							<mat-label>Filtro</mat-label>
							<input matInput
								   id="filter"
								   name="text"
								   formControlName="text"
								   type="text">
							<button id="clear-filter-text" type="button" mat-button *ngIf="form.value.text" matSuffix
									color="warn"
									mat-icon-button
									(click)="setFilterValueAndSearchIfEmptyForm(form.controls.text, ''); $event.stopPropagation()">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</ng-template>
				</div>
				<div *featureFlag="'habilitarToggleFiltroDiagnosticoPrincipal'" class="main-diagnosis-toggle">
					<mat-label>Diagnóstico principal</mat-label>
					<mat-slide-toggle formControlName="mainDiagnosisOnly" (change)="updateDocuments()">
					</mat-slide-toggle>
				</div>
			</form>
		</div>
		<div class="documents" id="documents" fxLayout="row">
			<mat-selection-list color="accent" [multiple]=false>
				<mat-list-option (click)="setActive(document)"
								 *ngFor="let document of documentsToShow">
					<span id="main-diagnosis" mat-line class="capitalize-first-letter" *ngIf="document.mainDiagnosis">
						{{document.mainDiagnosis}}
					</span>
					<span *ngIf="document.diagnosis.length && !document.mainDiagnosis" mat-line></span>
					<span id="other-diagnosis" *ngFor="let diagnosis of document.diagnosis"
						  mat-line class="capitalize-first-letter">
						{{diagnosis}}
					</span>
					<mat-icon mat-list-icon fontSet="material-icons-outlined" color="primary">assignment</mat-icon>
					<span mat-line>{{document.createdOn | date : 'dd/MM/yyyy'}}</span>
					<span mat-line>{{document.creator.firstName}} {{document.creator.lastName}}</span>
					<mat-divider></mat-divider>

				</mat-list-option>
			</mat-selection-list>
			<div *ngIf="viewEvolutionNote()" class="content">

				<section *ngIf="activeDocument.notes?.currentIllnessNote">
					<div class="mat-body" [translate]="'internaciones.anamnesis.observations.CURRENT_DISEASE'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.currentIllnessNote}}</div>
				</section>

				<section *ngIf="activeDocument.notes?.physicalExamNote">
					<div class="mat-body"
						 [translate]="'internaciones.anamnesis.observations.PHYSICAL_EXAMINATION'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.physicalExamNote}}</div>
				</section>

				<section *ngIf="activeDocument.notes?.studiesSummaryNote">
					<div class="mat-body" [translate]="'internaciones.anamnesis.observations.STUDIES_PROCEDURES'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.studiesSummaryNote}}</div>
				</section>

				<section *ngIf="activeDocument.notes?.evolutionNote">
					<div class="mat-body" [translate]="'internaciones.anamnesis.observations.PATIENT_PROGRESS'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.evolutionNote}}</div>
				</section>

				<section *ngIf="activeDocument.notes?.clinicalImpressionNote">
					<div class="mat-body"
						 [translate]="'internaciones.anamnesis.observations.CLINICAL_IMPRESSION'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.clinicalImpressionNote}}</div>
				</section>

				<section *ngIf="activeDocument.notes?.indicationsNote">
					<div class="mat-body" [translate]="'internaciones.epicrisis.observations.INDICATIONS_NOTE'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.indicationsNote}}</div>
				</section>

				<section *ngIf="activeDocument.notes?.otherNote">
					<div class="mat-body" [translate]="'internaciones.anamnesis.observations.OTHERS'"></div>
					<div class="mat-body-strong">{{activeDocument.notes.otherNote}}</div>
				</section>

				<section *ngIf="activeDocument.procedures.length > 0">
					<div class="mat-body" [translate]="'internaciones.anamnesis.procedimientos.PROCEDIMIENTOS'"></div>
					<div *ngFor="let procedure of activeDocument.procedures">
						<div *ngIf="procedure.performedDate" class="mat-body-strong">
							{{procedure.procedure}} - {{procedure.performedDate | viewDate }}
						</div>
						<div *ngIf="!procedure.performedDate" class="mat-body-strong">
							{{procedure.procedure}}
						</div>
					</div>
				</section>
			</div>

			<div *ngIf="(activeDocument && !viewEvolutionNote() )" class="no-notes content mat-body-strong">
				No hay observaciones para mostrar
			</div>
		</div>
	</ng-container>

	<ng-template #noData>
		<app-no-data></app-no-data>
	</ng-template>
</app-summary-card>
