.content {
	padding: 12px 0 12px 0;
	@media screen and (max-width: 600px) {
		margin-left: 20px;
	}
	@media screen and (min-width: 700px) {
		min-width: 100px;
		margin-left: 25px;
	}
}
.bold{
	font-weight: 500;
}
