<app-content width="full">

	<div fxLayout="column" fxLayoutGap="15px">

		<span class="mat-h2"> {{ 'ambulatoria.paciente.guardia.TAB_LABEL' | translate }} </span>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
			<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
				<app-resumen-de-guardia *ngIf="showEmergencyCareSummary" [episodeId]="episodeId" [isEmergencyCareTemporalPatient]="isEmergencyCareTemporalPatient">
				</app-resumen-de-guardia>
			</div>

			<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
				<app-summary-card [header]="factoresDeRiesgoSummary" id="risk_factors_summary"
					[tooltip]="'ambulatoria.paciente.guardia.RISK_FACTORS_TOOLTIP'">
					<mat-card-content>
						<div fxLayout="row wrap" *ngIf="riskFactors?.length else noData">
							<app-factor-de-riesgo *ngFor="let riskFactor of riskFactors" [riskFactor]="riskFactor.value"
								[description]="riskFactor.description" id="{{ riskFactor.id }}">
							</app-factor-de-riesgo>
						</div>
					</mat-card-content>
				</app-summary-card>
			</div>
		</div>


		<app-emergency-care-evolutions *ngIf="episodeId" [emergencyCareId]="episodeId" [patientId]="patientId"></app-emergency-care-evolutions>

	</div>
</app-content>

<ng-template #noData>
	<app-no-data></app-no-data>
</ng-template>
