<app-content width="full">
	<app-summary-card id="internment-indications"	[header]="internmentIndication"
		[editable]="false"
		[canEdit]="['ESPECIALISTA_MEDICO', 'ESPECIALISTA_EN_ODONTOLOGIA', 'PROFESIONAL_DE_SALUD', 'ENFERMERO']"
		[menu]="!epicrisisConfirmed" [matMenu]="menu">
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openPharmacoDialog()">
				<span>{{'indicacion.internment-card.menu-items.PHARMACO' | translate }}</span>
			</button>
			<button mat-menu-item (click)="openDietDialog()">
				<span>{{'indicacion.internment-card.menu-items.DIET' | translate }}</span>
			</button>
			<button mat-menu-item (click)="openIndicationDialog()">
				<span>{{'ambulatoria.dialog-title.OTHER-INDICATION' | translate }}</span>
			</button>
			<ng-container *appHasRole="['ESPECIALISTA_MEDICO', 'ESPECIALISTA_EN_ODONTOLOGIA']">
				<button mat-menu-item (click)="openParenteralPlanDialog()">
					<span>{{'indicacion.internment-card.menu-items.PARENTERAL_PLAN' | translate }}</span>
				</button>
			</ng-container>
		</mat-menu>
		<div class="content" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
			<button mat-icon-button (click)="viewAnotherDay(-1)" [disabled]="this.currentViewIsEntryDate">
				<mat-icon [ngClass]="{ 'disabled': this.currentViewIsEntryDate, 'color-primary': !this.currentViewIsEntryDate}">chevron_left</mat-icon>
			</button>
			<div *ngIf="isToday || isYesterday || isTomorrow">
				<ng-container *ngIf="isToday; else yesterday">
					<span class="actual-date" [translate]="'indicacion.internment-card.TODAY'"></span>
				</ng-container>
			</div>
			<div *ngIf="viewDay" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="left center" class="actual-date">
				<span>{{ viewDay.nameDay }}</span>
				<span>{{ viewDay.numberDay }}</span>
				<span>{{ viewDay.month }}</span>
			</div>
			<button mat-icon-button (click)="viewAnotherDay(1)">
				<mat-icon class="color-primary">chevron_right</mat-icon>
			</button>
		</div>
		<div id="sections">
			<app-internment-diet-card [diets]="diets"></app-internment-diet-card>
			<app-internment-parenteral-plan-card [parenteralPlans]="parenteralPlan"></app-internment-parenteral-plan-card>
			<app-internment-pharmaco-card [pharmacos]="pharmacos"></app-internment-pharmaco-card>
			<app-internment-other-indication-card [otherIndications]="otherIndications"></app-internment-other-indication-card>
		</div>
	</app-summary-card>
</app-content>

<ng-template #yesterday>
	<ng-container *ngIf="isYesterday else tomorrow">
		<span class="actual-date" [translate]="'indicacion.internment-card.YESTERDAY'"></span>
	</ng-container>
</ng-template>
<ng-template #tomorrow>
	<span class="actual-date" [translate]="'indicacion.internment-card.TOMORROW'"></span>
</ng-template>

