@mixin background-primary($theme) {
	$palette-primary: map-get($theme, primary);

	.date {
		color: mat-color($palette-primary, 50);
	}
}

.bold-text {
	font-weight: 500;
}

#date {
	font-weight: 500;
}

mat-icon {
	margin: 0 10px;
}

.inf {
	width: 100%;
}

.mat-card .mat-divider-horizontal {
    position: static;
    left: 0;
    width: 100%;
    margin: 10px 0;
}
