@mixin background-primary($theme) {
	$palette-primary: map-get($theme, primary);

	.date {
		color: mat-color($palette-primary, 100);
	}
}

.bold-text {
	font-weight: 500;
}

.padding {
	padding: 5px;
}
