<div fxLayout="column">
	<mat-card *ngIf="pharmacos?.length else noInfo">
		<div *ngFor="let pharmaco of pharmacos;last as isLast">

			<div fxLayoutAlign="space-between center">
				<div fxFlex="45%">
					<span class="bold-text" *ngIf="pharmaco.snomed">{{pharmaco.snomed.pt | translate | titlecase}}</span>
					<span class="bold-text" *ngIf="pharmaco.pt">{{pharmaco.pt}}</span>
				</div>

				<div fxFlex="row" fxLayoutAlign="space-around" fxFlex="35%" class="info" *ngIf="pharmaco.snomed">
					<span fxFlex="50%" color="grey"> {{pharmaco.dosage.quantity.value}}
						{{pharmaco.dosage.quantity.unit}}</span>

					<span fxFlex="25%" fxLayoutAlign="start"> {{pharmaco.via | translate | showVia : vias }}</span>

					<div fxFlex="60%" *ngIf="pharmaco?.patientId" fxLayoutAlign="start center">
						<mat-icon color="primary">schedule</mat-icon>
						<span class="color-primary bold line-height" id="date"
							[translate]="pharmaco.indicationDate|relativeDate">
						</span>
					</div>
				</div>

				<div fxFlex="20%" fxLayoutAlign="end">
					<button mat-flat-button color="primary"
						(click)=emit(pharmaco)>{{'indicacion.card-pharmaco.SELECTION' | translate | titlecase}}</button>
				</div>
			</div>
			<mat-divider *ngIf="!isLast"></mat-divider>
		</div>
	</mat-card>
</div>

<ng-template #noInfo>
	<app-no-data></app-no-data>
</ng-template>