@import '~@angular/material/theming';

$primary-bg: #EDF1F7;
$default-color: 50;

@mixin general($theme) {
	$primary: map-get($theme, primary);
	mat-sidenav-content {
		background-color: mat-color($primary, 25);
	}

	.app-background-color {
		background-color: mat-color($primary, 25);
	}
}

@mixin mat-nav-list($theme) {
	$primary-palette: map-get($theme, primary);

	mat-list-item.mat-list-item {
		&.active,
		&.active:focus {
			background-color: mat-color($primary-palette, $default-color);

			span, mat-icon {
				color: mat-color($primary-palette, default);
			}

			&:hover {
				background-color: mat-color($primary-palette, $default-color, 0.8);
			}
		}
	}
}

@mixin mat-selection-list($theme) {
	$palette: map-get($theme, accent);

	mat-selection-list {
		.mat-list-single-selected-option {
			&, &:hover, &:focus {
				background-color: mat-color($palette, 100);
			}
		}
	}
}

@mixin mat-tab-label($theme) {
	$primary-palette: map-get($theme, primary);
	.mat-tab-label.mat-tab-label-active {
		opacity: 1;
		span {
			color: mat-color($primary-palette, default);
		}
	}
}

@mixin mat-table($theme) {
	$primary-palette: map-get($theme, primary);
	$accent-palette: map-get($theme, accent);

	app-table {
		.mat-form-field {
			width: 50%;
		}
	}

	app-no-data {
		width: 100%;

		&.default {
			div.no-data {
				margin-top: -1px;
			}
		}

		&.primary {
			//Solo el primary usa mat-elevation-z8
			div.no-data {
				margin-top: -1px;
				box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
			}
		}

		&.secondary {
			div.no-data {
				margin-top: -1px;
				border: solid 1px #A8A8A8;
				color: mat-color($primary-palette, default);
			}
		}
	}

	mat-paginator {
		width: 100%;
		box-sizing: border-box;

		&.default {
			margin-top: -1px;
		}

		&.primary {
			//Solo el primary usa mat-elevation-z8
			color: mat-color($primary-palette, default);
			margin-top: -1px;
			box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
		}

		&.secondary {
			margin-top: -1px;
			border: solid 1px #A8A8A8;
		}
	}

	table.mat-table {
		width: 100%;

		th.actions {
			max-width: 40px;
			text-align: center;
		}

		td.actions {
			text-align: center;

			&:last-of-type {
				text-align: end;
			}
		}

		&.primary {
			text-align: center;

			thead {
				background-color: mat-color($primary-palette, $default-color);

				th {
					text-align: center;
					color: mat-color($primary-palette, default);
				}

				th, td {
					&.actions {
						text-align: end;
					}
				}
			}
		}

		&.secondary {
			border-collapse: collapse;

			th, td {
				padding-left: 10px;
				padding-right: 10px;
				text-align: left;

				&:first-of-type {
					padding-left: 24px;
				}

				&:last-of-type {
					padding-right: 24px;
				}

				&.actions {
					text-align: end;
				}
			}

			thead {
				background-color: #F0F0F0;

				th {
					color: #282828;
				}
			}

			tr {
				border: solid 1px #A8A8A8;

				th, td {
					border-bottom: none;
				}
			}
		}
	}
}

@mixin mat-card-box($theme) {
	$palette: map-get($theme, primary);

	mat-card.box {
		padding: 0;

		mat-card-header {
			padding: 10px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background-color: mat-color($palette, $default-color);
			color: mat-color($palette, default);

			& div.mat-card-header-text {
				align-self: center;

				mat-card-title.mat-card-title {
					font-weight: normal;
					font-size: medium;
					margin-bottom: 0;
				}
			}
		}

		mat-card-content {
			padding: 10px;
		}
	}
}


@mixin mat-dialog($theme) {
	$primary-palette: map-get($theme, primary);

	.mat-dialog-title {
		div.mat-h1 {
			color: mat-color($primary, default);
		}
	}
}

@mixin mat-button($theme) {
	.mat-stroked-button {
		background-color: white;
	}
}

@mixin header($theme) {
	$primary-palette: map-get($theme, primary);
	h1, h2, h3, h4, h5, h6 {
		&.primary {
			color: mat-color($primary-palette, default);
		}
	}
}

@mixin mat-form-field-background-white {
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap,
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
		background-color: #ffffff;
	}
}

@mixin mat-theme-color($theme) {

	$primary-palette: map-get($theme, primary);

	.color-primary{
		color: mat-color($primary-palette);
	}

	.background-color-primary {
		background-color: mat-color($primary-palette);
	}
}

@mixin mat-theme-color-warn($theme) {

	$warn-palette: map-get($theme, warn);

	.color-warn{
		color: mat-color($warn-palette);
	}

}

@mixin material-mixins($theme) {
	@include general($theme);
	@include mat-nav-list($theme);
	@include mat-selection-list($theme);
	@include mat-table($theme);
	@include mat-card-box($theme);
	@include mat-dialog($theme);
	@include mat-button($theme);
	@include header($theme);
	@include mat-theme-color($theme);
	@include mat-tab-label($theme);
	@include mat-theme-color-warn($theme);
}
