<form [formGroup]="form" fxLayout="column" fxLayoutGap="10px" class="beds-form">
    <mat-form-field appearance="outline">
        <mat-label [translate]="'gestion-camas.filters.SECTOR'"></mat-label>
        <mat-select formControlName="sector" (selectionChange)="sendAllFiltersOnFilterChange()" name="sector">
            <mat-option *ngFor="let sector of sectors" [value]="sector.sectorId">
                {{sector.sectorDescription | translate}}
            </mat-option>
        </mat-select>
        <button id="clear-specialty" type="button" mat-button *ngIf="form.controls.sector.value" matSuffix color="warn"
            mat-icon-button (click)="clear(form.controls.sector); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isEmergencyEpisode">
        <mat-label [translate]="'gestion-camas.filters.SERVICE'"></mat-label>
        <mat-select formControlName="service" (selectionChange)="sendAllFiltersOnFilterChange()" name="service">
            <mat-option *ngFor="let service of services" [value]="service.serviceId">
                {{service.serviceDescription | translate}}
            </mat-option>
        </mat-select>
        <button id="clear-specialty" type="button" mat-button *ngIf="form.controls.service.value" matSuffix
            color="warn" mat-icon-button (click)="clear(form.controls.service); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>{{'gestion-camas.filters.HIERARCHICAL_UNITS' | translate}}</mat-label>
		<mat-select formControlName="hierarchicalUnits" multiple (selectionChange)="sendAllFiltersOnFilterChange()" name="hierarchicalUnits">
		    <mat-select-trigger>
			    {{hierarchicalUnits.value?.[0]?.name || ''}}
			    <span *ngIf="(hierarchicalUnits.value?.length || 0) > 1">
			    (+{{(hierarchicalUnits.value?.length || 0) - 1}} {{hierarchicalUnits.value?.length >= 2 ? 'más' : ''}})
			    </span>
		    </mat-select-trigger>
		    <mat-option *ngFor="let h of hierarchicalUnits$ | async" [value]="h">{{h.name}}</mat-option>
		</mat-select>
        <button id="clear-hierarchicalUnits" type="button" mat-button *ngIf="form.controls.hierarchicalUnits.value?.length" matSuffix
                color="warn" mat-icon-button (click)="clear(form.controls.hierarchicalUnits); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
        </button>
	</mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isEmergencyEpisode">
        <mat-label [translate]="'gestion-camas.filters.PROBABLE_DISCHARGE_DATE'"></mat-label>
        <input matInput id="date" [matDatepicker]="myDatepicker" formControlName="probableDischargeDate" (dateChange)="sendAllFiltersOnFilterChange()">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <button id="clear-probable-discharge-date" type="button" mat-button *ngIf="form.controls.probableDischargeDate.value" matSuffix
            color="warn" mat-icon-button (click)="clear(form.controls.probableDischargeDate); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</form>
