@import '../../../../../../../assets/styles/mat-mixins';

form {
	@include mat-form-field-background-white;
}

.formLabel {
	font-weight: 500;
}

.simple-form-field {
	min-width: 280px;
}

.triage-options {
	padding-bottom: 5px;
}

.page {
	width: 100%;
	max-width: 500px;
}

.patient-summary {
	margin: 0px 0px 20px 0px;
}
