<form [formGroup]="triageForm" class="page" fxLayout="column" fxFlex="grow shrink initial">
	<mat-form-field class="simple-form-field" appearance="outline">
		<mat-label [translate]="'guardia.triage.LEVEL'"></mat-label>
		<mat-select formControlName="triageCategoryId">
			<mat-option id="triageCategoryId"
			            *ngFor="let triageCategory of triageCategories" [value]="triageCategory.id">
				{{triageCategory.description}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div *appHasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA', 'ENFERMERO']">
		<span [translate]="'guardia.triage.REASON'"></span>
		<app-reasons-form [reasons]="lastTriageReasons" (selectedReasons)="setSelectedReasons($event)"></app-reasons-form>
	</div>
	
	<mat-form-field *ngIf="false" class="simple-form-field" appearance="outline">
		<mat-label [translate]="'guardia.triage.TRIAGE_ROOM'"></mat-label>
		<mat-select matTooltip="{{'guardia.triage.TRIAGE_ROOM_DESCRIPTION' | translate}}" formControlName="doctorsOfficeId">
			<mat-option id="doctorsOfficeId"
			            *ngFor="let office of (doctorsOffices$ | async )" [value]="office.id">
				{{office.description}}
			</mat-option>
		</mat-select>
		<button id="clear_triage_room" type="button"  *ngIf="triageForm.value.doctorsOfficeId" matSuffix
			color="warn" mat-icon-button (click)="clear(triageForm.controls.doctorsOfficeId); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</form>

