@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins.scss";

span {
	float: left;
	clear: left;
}

.header {
	display: flex;
	justify-content: flex-end;
}

.profile-card {
	width: 80%;
}

button {
	margin-bottom: 25px;
}

.reports {
	margin-top: 5%;
	margin-bottom: 0%;
}

user-data {
	width: 100%;
}

.no-information {
	color: #a8a8a8;
	line-height: 20px;
	font-size: 14px;
}

.no-professions {
	color: #a8a8a8;
	line-height: 20px;
	font-family: 15px, Roboto;
	margin-top: 15px;
}

.data {
	margin-top: 15px;
}

mat-card {
	mat-card-header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.create-user {
			margin: 0px;
		}
	}

	.edit-professions {
		align-items: left;
		border: 1px solid #1a73e8;
		box-sizing: content-box;
		border-radius: 5px;
		font-family: 15px, Roboto;
		color: #1a73e8;
		margin-bottom: auto;
		min-height: auto;
		white-space: normal;
	}
}
