<app-content width="full">
	<ng-template #noUserInformation>
		<p class="no-information" [translate]="'pacientes.user_data.WITHOUT_USER'"></p>
	</ng-template>
	<ng-template #noInformation>
		<span class="no-information" [translate]="'pacientes.user_data.NO_INFO'"></span>
	</ng-template>

	<div *appHasRole="['ADMINISTRATIVO']">
		<button *ngIf="(!internmentEpisode?.patientHospitalized && !internmentEpisode?.id)" mat-raised-button color="primary" (click)="goNewInternment()">
			<span class="uppercase"> {{ 'pacientes.profile.INITIATE_INTERNMENT' | translate }} </span>
		</button>
	</div>
	<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
		<div fxFlex="50" fxFlex.lt-md="100">
			<div>
				<app-patient-card *ngIf="personPhoto" [patient]="patientBasicData" [personPhoto]="personPhoto"
					[internmentEpisodeProcess]="internmentEpisode"
					[emergencyCareEpisodeInProgress]="emergencyCareEpisodeInProgress?.inProgress">
					<div header class="header">
						<app-patient-type-logo [patientTypeData]="patientTypeData"></app-patient-type-logo>
						<ng-container>
							<button mat-icon-button color="primary" *appHasRole="['ADMINISTRATIVO']"
								(click)="goToEditProfile()">
								<mat-icon>edit</mat-icon>
							</button>
						</ng-container>
					</div>
					<div content *appHasRole="['ADMINISTRATIVO']">
						<button mat-stroked-button color="primary" class="reports" *ngIf="downloadReportIsEnabled"
							(click)="reports()">
							<span class="uppercase"> {{ 'pacientes.profile.REPORTS' | translate }} </span>
						</button>
					</div>
					<div content>
						<app-personal-information [personalInformation]="personalInformation"
							[patientMedicalCoverage]="patientMedicalCoverage">
						</app-personal-information>
					</div>
				</app-patient-card>
			</div>
			<em *ngIf="!internmentEpisode?.id && internmentEpisode?.inProgress">
				{{ 'pacientes.profile.PATIENT_INTERNMENT_ANOTHER_INSTITUTION' | translate }}
			</em>
		</div>
		<div fxLayout="column" fxFlex="50" fxFlex.lt-md="100" fxLayoutGap="20px">
			<div *appHasRole="['ADMINISTRADOR_INSTITUCIONAL_BACKOFFICE']">
				<div *ngIf="createUsersIsEnable">
					<mat-card class="box user-data">
						<mat-card-header>
							<mat-card-title>
								<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
									<mat-icon fontSet="material-icons-outlined">person</mat-icon>
									<span [translate]="'pacientes.user_data.TITLE'"></span>
								</div>
							</mat-card-title>
							<ng-container *ngIf="!userData?.id">
								<div fxLayout="row" fxLayoutAlign="center center">
									<button mat-raised-button color="primary" class="create-user">
										<span [translate]="'pacientes.user_data.buttons.CREATE_USER'"
											(click)="addUser()"></span>
									</button>
								</div>
							</ng-container>
						</mat-card-header>
						<mat-divider inset></mat-divider>
						<mat-card-content>
							<div *ngIf="userData?.id else noUserInformation" fxLayout="column" fxLayoutGap="10px">
								<div fxLayout="row" fxLayoutGap="5px">
									<strong [translate]="'pacientes.user_data.USER_ID'"></strong>
									<span>{{userData.id}}</span>
								</div>
								<div *ngIf="!userData.username" fxLayout="row" fxLayoutGap="10px">
									<mat-icon color="primary" fontSet="material-icons-outlined">error_outline</mat-icon>
									<span class="color-primary" [translate]="'pacientes.user_data.PENDING_DATA'"></span>
								</div>
								<ng-container *ngIf="userData.username">
									<div fxLayout="row" fxLayoutGap="5px">
										<strong [translate]="'pacientes.user_data.USERNAME'"></strong>
										<span>{{userData.username}}</span>
									</div>
									<div fxLayout="row" fxLayoutGap="5px">
										<strong [translate]="'pacientes.user_data.LAST_ACCESS'"></strong>
										<span *ngIf="userData.lastLogin else noInformation">
											{{userData.lastLogin | date: 'dd/MM/yyyy - HH:mm'}} hs
										</span>
									</div>
									<div fxLayout="row">
										<form [formGroup]="form">
											<mat-slide-toggle color="primary" formControlName="enable"
												(change)="enableUser()">
												<span [translate]="'pacientes.user_data.ENABLE'"></span>
											</mat-slide-toggle>
										</form>
									</div>
									<ng-container>
										<div content>
											<button mat-stroked-button color="primary" (click)="goResetAccessData()">
												<span class="uppercase"
													[translate]="'pacientes.user_data.buttons.RESET_ACCESS_DATA'"></span>
											</button>
										</div>
									</ng-container>
								</ng-container>
								<ng-container *ngIf="!userData.username">
									<div content>
										<button mat-raised-button color="primary" (click)="goResetAccessData()">
											<span [translate]="'pacientes.user_data.buttons.SET_ACCESS_DATA'"
												class="uppercase"></span>
										</button>
									</div>
								</ng-container>
								<mat-divider inset></mat-divider>
								<div content>
									<ng-container *ngIf="!isInstitutionalAdministrator() else doesNotHavePermissions">
										<app-card-roles [userRoles]="userRoles" [institutionName]="institutionName">
										</app-card-roles>
									</ng-container>
								</div>
								<div content>
									<button [disabled]="isInstitutionalAdministrator()" id="button-edit-roles"
										mat-stroked-button color="primary" (click)="editRoles()">
										<span [translate]="'pacientes.user_data.buttons.EDIT_ROLES'"
											class="uppercase"></span>
									</button>
								</div>
							</div>
							<mat-divider inset></mat-divider>
							<div *ngIf="!hideProfessions">
								<div fxLayout="column" fxLayoutGap="10px">
									<div content>
										<app-card-professions
											[ownProfessionsAndSpecialties]="ownProfessionsAndSpecialties$ | async">
										</app-card-professions>
									</div>
									<div content>
										<button id="button-edit-professions" mat-stroked-button color="primary"
											(click)="editProfessions()">
											<span [translate]="'pacientes.user_data.buttons.EDIT_PROFESSIONS'"
												class="uppercase"></span>
										</button>
									</div>
								</div>
								<mat-divider inset></mat-divider>
								<div fxLayout="column" fxLayoutGap="10px">
									<div content>
										<app-card-license [professionsWithLicense]="professionsWithLicense$ | async"
											[ownProfessionsAndSpecialties]="ownProfessionsAndSpecialties$ | async">
										</app-card-license>
									</div>
									<div content>
										<button id="button-edit-licenses" mat-stroked-button color="primary"
											(click)="editLicense()">
											<span [translate]="'pacientes.user_data.buttons.EDIT_LICENSES'"
												class="uppercase"></span>
										</button>
									</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div *appHasRole="['ADMINISTRATIVO']" fxLayout="column" fxLayoutGap="20px">
				<app-summary-card *ngIf="internmentEpisodeSummary" id="internment_summary_card"
					[header]="internacionSummary">
					<mat-card-content>
						<app-internment-episode-summary [canLoadProbableDischargeDate]="canLoadProbableDischargeDate"
							[patientDocuments]="internmentDocuments" [internmentEpisode]="internmentEpisodeSummary"
							[patientId]="patientId" [showDischarge]="showDischarge">
						</app-internment-episode-summary>
					</mat-card-content>
				</app-summary-card>
				<mat-card class="box" *ngIf="emergencyCareEpisodeSummary" id="emergency-care-episode-summary-card">
					<mat-card-header>
						<mat-card-title>
							<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
								<mat-icon fontSet="material-icons-outlined">local_hospital</mat-icon>
								<span [translate]="'pacientes.emergency_care_episode_sumamry.TITLE'"></span>
							</div>
						</mat-card-title>
						<ng-container *ngIf="emergencyCareEpisodeSummary?.id">
							<div fxLayout="row" fxLayoutAlign="center center">
								<button mat-raised-button color="primary" class="create-user"
									(click)="goToEmergencyCareEpisode()">
									<span
										[translate]="'pacientes.emergency_care_episode_sumamry.buttons.VIEW_EPISODE'"></span>
								</button>
							</div>
						</ng-container>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="space-between">
							<div fxLayout="column">
								<div fxLayout="row" fxLayoutGap="15px">
									<div fxLayout="column">
										<div id="triage-chip"
											[ngStyle]="{'color':emergencyCareEpisodeSummary?.triage?.id === triages.AMARILLO_NIVEL_3 ? 'black' : 'white' }"
											[style.background-color]="emergencyCareEpisodeSummary?.triage?.color">
											{{ emergencyCareEpisodeSummary?.triage?.name }}
										</div>
									</div>
									<div fxLayout="column" fxLayoutAlign="center center">
										<span>{{ emergencyCareEpisodeSummary?.type?.description }}</span>
									</div>
								</div>
							</div>
							<div fxLayout="column" fxLayoutGap="15px">
								<div fxLayout="row" fxLayoutGap="15px">
									<div fxLayout="column">
										<span
											*ngIf="emergencyCareEpisodeSummary?.state.id === episodeStates.EN_ESPERA else enAtencion">
											{{ emergencyCareEpisodeSummary?.state.description }}
										</span>
									</div>
									<div fxLayout="column">
										<span> {{ emergencyCareEpisodeSummary?.doctorsOffice?.description }} </span>
									</div>
								</div>
								<ng-template #enAtencion>
									<span id="episode-state">
										{{ emergencyCareEpisodeSummary?.state.description | uppercase }}
									</span>
								</ng-template>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
				<app-assigned-appointments [patientId]="patientId" (newAppointmentRequired)="newAppointment()">
				</app-assigned-appointments>
			</div>
		</div>
	</div>
</app-content>

<ng-template #noInfo>
	<span class="no-professions" [translate]="'pacientes.user_data.WITHOUT_PROFESSIONS'"></span>
</ng-template>

<ng-template #doesNotHavePermissions>
	<span class="no-professions" [translate]="'pacientes.user_data.NOT_HAVE_PERMISSIONS'"></span>
</ng-template>

<ng-template #doesNotHavePermissions>
	<span class="no-professions" [translate]="'pacientes.user_data.NOT_HAVE_PERMISSIONS'"></span>
</ng-template>
