@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins.scss";

span {
	float: left;
	clear: left
}

.header{
	display: flex;
	justify-content: flex-end;
}

.profile-card{
	width: 80%;
}

button{
	margin-bottom: 25px;
}

.reports {
	margin-top: 5%;
	margin-bottom: 0%
}

user-data {
	width: 100%;
}

.no-information {
	color: #A8A8A8;
	line-height: 20px;
	font-size: 14px;
}

mat-card {
	mat-card-header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.create-user {
			margin: 0px;
		}
	}
}
