::ng-deep .cdk-overlay-pane {
	app-evolution-note-dock-popup {
		width: 100%;
	}
}

::ng-deep .cdk-overlay-pane.dock-popup-overlay {
	background-color: white;
}

mat-form-field {
	width: 100%;
}

.margin-bottom {
	margin-bottom: 3vh;
}

.risk-factors-field {
	display: flex;
	flex-direction: column;
	.mat-form-field {
		width: 50%;
		::ng-deep .mat-form-field-wrapper {
			padding-bottom: 0;
		}
		margin-bottom: -5px;
	}
}
