<app-typeahead *ngIf="professionalsTypeAhead?.length" [options]="professionalsTypeAhead"
	[externalSetValue]="externalSetValue" [titleInput]="professionalTitle" [required]="false"
	(selectionChange)="setProfessional($event)" placeholder="ambulatoria.paciente.surgical-report.surgical-team.LABEL_SEARCH_PROFESSIONAL">
</app-typeahead>
<div fxLayout="row" fxLayoutGap="20px" class="professional-info">
	<mat-form-field appearance="outline">
		<mat-label>
			<span>{{'ambulatoria.paciente.surgical-report.surgical-team.DNI' | translate}}</span>
		</mat-label>
		<input matInput placeholder="Placeholder" disabled [value]="identificationNumber">
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>
			<span>{{'ambulatoria.paciente.surgical-report.surgical-team.MATRICULA' | translate}}</span>
		</mat-label>
		<input matInput placeholder="Placeholder" disabled [value]="licenseNumber">
	</mat-form-field>
</div>
