@import '../../../../../assets/styles/mat-mixins.scss';

form {
	@include mat-form-field-background-white;
}

.time-picker-input {
    width: 55px;
}

.mat-form-field {
    text-align: center !important;
}

.error-container {
    margin: -25px 10.5px 0 10.5px;
    font-size: 10.5px;
}