@import '../../../../../../../assets/styles/mat-mixins';
@import '../../../../../../../assets/styles/mixins';

@include mat-form-field-background-white;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.slide-toggle-wrapper {
	padding: .25em .75em;
}

.triage-options {
	padding-bottom: 5px;
}

.font-weigth {
	@include info-primary;
}

.service-width {
	display: block;
}