<div fxLayout="row" fxLayoutAlign="space-between">
    <span mat-dialog-title [translate]="'internaciones.internacion-paciente.documents.dialogs.delete.TITLE'"></span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<section mat-dialog-actions>
    <button mat-stroked-button color="primary" [mat-dialog-close]=true>
        <span [translate]="'internaciones.internacion-paciente.documents.dialogs.delete.actions.CANCEL'"></span>
    </button>

    <button mat-raised-button color="warn" (click)="delete()">
        <span [translate]="'internaciones.internacion-paciente.documents.dialogs.delete.actions.DELETE'"></span>
    </button>
</section>
