<div fxLayout="column" fxLayoutGap="30px">
	<app-category-header-divider [header]="header"></app-category-header-divider>

	<div id="content" *ngIf="contents.length; else noData" fxLayout="column" fxLayoutGap="20px">
		<div *ngFor="let content of contents" fxLayout="row" fxLayoutAlign="space-between center">
			<app-list-element-item [content]="content" fxFlex="95%"></app-list-element-item>
			<div fxFlex="5%">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="menuOptionClick(content)">
						<span>{{menuOption | translate}}</span>
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>

<ng-template #noData>
	<div class="no-data mat-typography color-grey">
		<span>{{noInformation | translate}}</span>
	</div>
</ng-template>
