<div fxLayout="row" fxLayoutAlign="space-between start">
	<h1 class="capitalize-first-letter">{{study.prescriptionPt}}</h1>

	<div>
		<button id="close" mat-icon-button mat-dialog-close>
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>

<mat-dialog-content>
	<mat-dialog-content fxLayout="column" fxLayoutGap="22px">
		<app-complete-study-information fxFlex="35%" [order]="data.order" [registerEditor]="study.registerEditor"
			[titleContent]="study.problemPt" [descriptionState]="study.problemPt" [status]="data.status">
		</app-complete-study-information>

		<mat-divider></mat-divider>

		<app-study-information [patientId]="data.patientId" [diagnosticReport]="diagnosticReport"
			[studies]="data.studies">
		</app-study-information>
	</mat-dialog-content>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">

	<app-button *ngIf="buttonService.activatePartialSaveButton$ | async" [buttonType]='buttonTypeFlat' text='ambulatoria.reference-study-close.COMPLETE_PARTIAL_BUTTON'
		[isLoading]="buttonService.isLoadingPartialSave$ | async" (clicked)="completePartialStudy()">
	</app-button>

	<app-button [buttonType]='buttonTypeFlat' text='ambulatoria.reference-study-close.COMPLETE_BUTTON'
		[isLoading]="buttonService.isLoading$ | async" [disabled]="(buttonService.formDisabled$ | async)"
		(clicked)="completeStudy()">
	</app-button>

</mat-dialog-actions>
