<div mat-dialog-title>
    <h2 class="mat-h2 page-title" [translate]="'gestion-camas.home.TITLE'"></h2>
</div>

<div mat-dialog-content>
    <div fxLayout="column">

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">
            <mat-card id="bed-management-card">
                <mat-card-content>
                    <div fxLayout="row">
                        <div id="filtros" class="panel-filtro">
                            <h2 class="mat-h2 page-title" [translate]="'gestion-camas.home.SUBTITLE'"></h2>
                            <mat-card-subtitle>
                                <span *ngIf="bedManagementList" id="bed_id">Resultado: {{bedsAmount}} camas</span>
                            </mat-card-subtitle>
                            <app-bed-filters [filled]="filled"></app-bed-filters>
                        </div>
                        <section class="beds" id="mapeo" *ngIf="bedManagementList && bedManagementList.length">
                            <app-bed-mapping [bedManagementList]="bedManagementList" (selectedBed)="onSelectBed($event)"></app-bed-mapping>
                        </section>
                        <section class="beds" *ngIf="bedManagementList && !bedManagementList.length" fxLayout="column" fxLayoutAlign="space-around center">
                            <h2 [translate]="'gestion-camas.home.NO_FILTERED_BEDS'"></h2>
                        </section>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="spinner" *ngIf="!bedManagementList">
                <mat-spinner color="primary"></mat-spinner>
            </div>
            <app-bed-detail [bedId]="selectedBed" [bedAssign]="true" (assignedBed)="onAssignedBed($event)"></app-bed-detail>
        </div>

    </div>
</div>
