<h2 class="subtitle" translate="image-network.worklist.details_study.REPORT"></h2>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" *ngIf="study?.info.informerObservations?.conclusions?.length">
    <span class="bold">{{ 'image-network.worklist.details_study.CONCLUTIONS' | translate }}</span>
</div>


<form [formGroup]="form" *ngIf="enabledEditing else showInformerObservations" fxLayout="column">

    <div *ngIf="searchConceptsLocallyFFIsOn">
        <app-concept-typeahead-search id="typeaheadSearch" [ecl]="ambulatoryConsultationProblemsService.getECL()"
            [placeholder]="'image-network.worklist.details_study.conclutions.SEARCH_CONCLUTION'"
            appearanceOutline="true" (conceptSelected)="addTypeaheadConclusion($event)">
    </app-concept-typeahead-search>
    </div>

    <app-titled-content-card *ngIf="!ambulatoryConsultationProblemsService.isEmpty()"
        title="{{ 'image-network.worklist.details_study.conclutions.REGISTERED_CONCLUTIONS' }}" class="card">
        <app-problem-list [problemsService]="ambulatoryConsultationProblemsService" [canEdit]="false"></app-problem-list>
    </app-titled-content-card>

    <div *ngIf="!searchConceptsLocallyFFIsOn">
        <button mat-button class="add-btn" id="add-problem-button" color="primary" (click)="addProblem()">
            + {{ 'image-network.worklist.details_study.conclutions.ADD_CONCLUTION' | translate }}
        </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2rem;">
        <span class="bold">{{ 'image-network.worklist.details_study.OBSERVATIONS' | translate }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="30px" style="margin-top: 0.7rem;">
        <app-rich-text-editor [formParent]="form" [controlParent]="form.controls.observations"></app-rich-text-editor>
        <mat-error *ngIf="submitted && form.hasError('required','observations')"
            [translate]="'forms.REQUIRED'"></mat-error>

        <div fxLayout="row" fxLayoutGap="30px">
            <button id="save_draft" mat-stroked-button type="submit" class="button" color="primary"
                (click)="saveDraft()">
                <span>{{ 'image-network.worklist.details_study.SAVE_DRAFT' | translate | uppercase
                    }}</span>
            </button>

            <button id="finish_report" mat-raised-button class="button" color="primary" (click)="save()">
                <span>{{ 'image-network.worklist.details_study.FINISH_REPORT' | translate |
                    uppercase}}</span>
            </button>

        </div>
    </div>
</form>


<ng-template #showInformerObservations>
    <div fxLayout="column" *ngIf="study.info.informerObservations">
        <div class="content">
            <div *ngFor="let problem of study.info.informerObservations.conclusions">
                <span>{{problem.snomed.pt}}</span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span class="bold">{{ 'image-network.worklist.details_study.OBSERVATIONS' | translate }}</span>
        </div>


        <div class="observations" [innerHtml]="study.info.informerObservations.evolutionNote"></div>
        <div class="grey" fxLayout="row" fxLayoutAlign="space-between">
            <span>{{study.info.informerObservations.createdBy}}</span>
            <div fxLayout="row" fxLayoutGap="10px">
                <span class="grey" *ngIf="!study.info.informerObservations.confirmed">
                    {{ 'image-network.worklist.details_study.DRAFT_REPORT' | translate }}
                </span>
                <span>{{ study.info.informerObservations.actionTime | viewDateDto: 'localdatetime' | date : 'short'}} hs</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30px" *ngIf="!study.info.informerObservations.confirmed">
            <button id="still_editing" mat-stroked-button class="button" color="primary"
                (click)="enabledEditing = true" [disabled]="disableContinueEditing">
                <span>{{ 'image-network.worklist.details_study.CONTINUE_EDITING' | translate | uppercase }}</span>
            </button>
        </div>
    </div>
</ng-template>