<h2 class="subtitle" translate="image-network.worklist.details_study.REPORT"></h2>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" *ngIf="study?.info.informerObservations?.conclusions?.length">
    <span class="bold">{{ 'image-network.worklist.details_study.CONCLUTIONS' | translate }}</span>
</div>


<form [formGroup]="form" *ngIf="enabledEditing else showInformerObservations" fxLayout="column">

    <div *ngIf="searchConceptsLocallyFFIsOn">
        <app-concept-typeahead-search id="typeaheadSearch" [ecl]="ambulatoryConsultationProblemsService.getECL()"
            [placeholder]="'image-network.worklist.details_study.conclutions.SEARCH_CONCLUTION'"
            appearanceOutline="true" (conceptSelected)="addTypeaheadConclusion($event)">
    </app-concept-typeahead-search>
    </div>

    <app-titled-content-card *ngIf="!ambulatoryConsultationProblemsService.isEmpty()"
        title="{{ 'image-network.worklist.details_study.conclutions.REGISTERED_CONCLUTIONS' }}" class="card">
        <app-problem-list [problemsService]="ambulatoryConsultationProblemsService" [canEdit]="false"></app-problem-list>
    </app-titled-content-card>

    <div *ngIf="!searchConceptsLocallyFFIsOn">
        <button mat-button class="add-btn" id="add-problem-button" color="primary" (click)="addProblem()">
            + {{ 'image-network.worklist.details_study.conclutions.ADD_CONCLUTION' | translate }}
        </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="margin">
        <span class="bold">{{ 'image-network.worklist.details_study.OBSERVATIONS' | translate }}</span>
        <div fxLayout="row" fxLayoutAlign="center center">
            <span mat-button class="bold template-label"  color="primary">
                {{ 'image-network.worklist.details_study.TEMPLATE' | translate }}
            </span>
            <button  id="actions-template-button"  color="primary" mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-container >
                    <button mat-menu-item (click)="openSaveTemplate()" [disabled]="!form.valid || textEditorLength === 0" >
                        <span [translate]="'image-network.worklist.details_study.SAVE_TEMPLATE_TITLE'"></span>
                    </button>
                    <button mat-menu-item (click)="openTemplateManagementByForm()" [disabled]="disableImportFiles">
                        <span [translate]="'image-network.worklist.details_study.IMPORT_TEMPLATE'"></span>
                    </button>
                    <button mat-menu-item (click)="openDeleteTemplate()" [disabled]="disableImportFiles">
                        <span [translate]="'image-network.worklist.details_study.DELETE_TEMPLATE'"></span>
                    </button>
                </ng-container>
            </mat-menu>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="30px" style="margin-top: 0.7rem;">
        <app-rich-text-editor [formParent]="form" [controlParent]="form.controls.observations"></app-rich-text-editor>
        <mat-error *ngIf="submitted && (form.hasError('required','observations') || !textEditorLength)"
            [translate]="'forms.REQUIRED'"></mat-error>

        <div fxLayout="row" fxLayoutGap="30px">
            <button id="save_draft" mat-stroked-button type="submit" class="button" color="primary"
                (click)="saveDraft()">
                <span>{{ 'image-network.worklist.details_study.SAVE_DRAFT' | translate | uppercase
                    }}</span>
            </button>

            <button id="finish_report" mat-raised-button class="button" color="primary" (click)="save()">
                <span>{{ 'image-network.worklist.details_study.FINISH_REPORT' | translate |
                    uppercase}}</span>
            </button>

        </div>
    </div>
</form>


<ng-template #showInformerObservations>
    <app-view-informer-observations [informerObservations]="study.info.informerObservations" [disableEditing]="disableContinueEditing" (updateEditing)="updateEditing()">
    </app-view-informer-observations>
</ng-template>