.subtitle {
    font-weight: 700;
    color:  #525659;
}

.bold {
    font-weight: bold;
}

.card {
    margin-top: 1rem;
}

.add-btn {
    align-self: flex-start;
    padding: 0 !important;
}

.template-label {
    color: #2687c5
}

.margin {
    margin-top: 2rem;
}
