.subtitle {
    font-weight: 700;
    color:  #525659;
}

.observations {
    padding: 15px 30px;
	word-wrap: break-word;
}

.bold {
    font-weight: bold;
}

.card {
    margin-top: 1rem;
}

.content {
    padding: 15px 30px;
}

.add-btn {
    align-self: flex-start;
    padding: 0 !important;
}