<div fxLayout="row" fxLayoutAlign="space-between">
    <h2 mat-dialog-title [translate]="'image-network.worklist.details_study.conclutions.ADD_CONCLUTION'"></h2>
    <button mat-icon-button mat-dialog-close (click)="resetForm()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div>
        <app-concepts-search *ngIf="!data.searchConceptsLocallyFF"
            [label]="'image-network.worklist.details_study.conclutions.CONCEPT_LABEL'"
            (search)="searchProblem($event)">
        </app-concepts-search>
    </div>
</mat-dialog-content>