@import "../../../../../assets/styles/mat-mixins";
app-toggle-avaiability{
	width: max-content;
}
.page-title{
	font-weight: 500;
}
a{
	cursor: pointer;
}
.content-patient-filter{
	@include mat-form-field-background-white;
}

#search-patient{
	width: 360px;;
}
