<div mat-dialog-title >
	<div class="mat-h2" [translate]="'ambulatoria.paciente.vacunas.aplicar.TITLE'"></div>
</div>

<div mat-dialog-content>

	<div fxLayout="row">
		<div class="mat-h4" [translate]="'Especialidad'"></div>
	</div>
	<div fxLayout="row" [formGroup]="form">
		<mat-form-field appearance="outline">
			<mat-select id="clinicalSpecialtyId"
						name="clinicalSpecialty"
						formControlName="clinicalSpecialty"
						(selectionChange)="setDefaultSpecialty()"
						[attr.disabled]="fixedSpecialty">
				<mat-option *ngFor="let clinicalSpecialty of this.specialties" [value]="clinicalSpecialty">
					<span class="mat-body">{{clinicalSpecialty.name}}</span>
				</mat-option>
			</mat-select>
			<mat-error [translate]="'forms.REQUIRED'"></mat-error>
		</mat-form-field>
	</div>

<div class="spinner" *ngIf="loading && !snowstormServiceNotAvailable else addInmunization">
	<mat-spinner color="primary"></mat-spinner>
</div>


<ng-template #addInmunization>

	<form [formGroup]="form" (ngSubmit)="save()">
		<div mat-dialog-content>

			<app-concepts-search *ngIf="!snomedConcept else vacunasForm"
			                     [label]="'ambulatoria.paciente.vacunas.aplicar.INMUNIZATION'"
			                     (search)="onSearch($event)">
			</app-concepts-search>

			<div class="spinner">
				<mat-spinner diameter="70" color="primary" *ngIf="searching && !snowstormServiceNotAvailable"></mat-spinner>
			</div>

			<div *ngIf="snowstormServiceNotAvailable">
				<span [translate]="'historia-clinica.snowstorm.SERVICE_NOT_AVAILABLE'"> </span>
			</div>

			<app-table *ngIf="!searching && !snomedConcept" [model]="conceptsResultsTable"></app-table>

			<ng-template #vacunasForm>
				<div>
					<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2%">

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.vacunas.aplicar.INMUNIZATION'">
							</mat-label>
							<input matInput type="text" formControlName="snomed" name="snomed" readonly
							       matTooltip="{{ snomedConcept.pt }}">
							<button id="clear" mat-button matSuffix color="warn" mat-icon-button
							        (click)="resetForm()">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label [translate]="'ambulatoria.paciente.vacunas.aplicar.ADMINISTRATION_DATE'">
							</mat-label>
							<input matInput id="date" [matDatepicker]="myDatepicker" formControlName="date"
							       [max]="this.today">
							<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #myDatepicker startView="multi-year"
							                (yearSelected)="chosenYearHandler($event)"
							                (monthSelected)="chosenMonthHandler($event)">
							</mat-datepicker>
							<mat-error [translate]="'forms.REQUIRED'"></mat-error>
						</mat-form-field>
					</div>

					<mat-form-field [floatLabel]="'never'" appearance="outline">
						<mat-label [translate]="'ambulatoria.paciente.vacunas.aplicar.NOTE'"></mat-label>
						<textarea maxlength="1024" matInput type="text" id="note" name="note"
								  formControlName="note"></textarea>
						<mat-error [translate]="'forms.REQUIRED'"></mat-error>
					</mat-form-field>

				</div>
			</ng-template>
		</div>

			<div *ngIf="tableModel?.data?.length > 0" fxLayout="row" fxLayoutGap="20px">
					<app-summary-card [header]="vacunasSummary" style="width: 100%"
									  [tooltip]="'historia-clinica.summary-card.vacunas.TOOLTIP'">
						<app-table [model]="tableModel" ></app-table>
					</app-summary-card>
			</div>

		<mat-dialog-actions align="end">
			<button mat-stroked-button color="primary" mat-dialog-close> {{ 'buttons.CANCEL' | translate | uppercase }}
			</button>
			<button (click)="applyVaccine()" *ngIf="snomedConcept" mat-raised-button color="primary">
				{{'ambulatoria.paciente.vacunas.aplicar.TITLE' | translate | uppercase}}
			</button>
			<button type="submit" *ngIf="this.appliedVaccines.length >= 1 && !snomedConcept" mat-raised-button color="primary">
				{{'ambulatoria.paciente.vacunas.aplicar.SUBMIT_CONJUNTO_VACUNAS' | translate | uppercase}}
			</button>
		</mat-dialog-actions>

	</form>


</ng-template>

</div>
