.header-title {
    font-size: 1.2rem;
    font-weight: 500;
    align-content: center;
}

.data-description {
    margin-top: 24px;
}

.identifier-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

app-identifier-cases {
    margin-bottom: 10px;
}