<div class="anamnesis-container">
    <div *ngIf="(anamnesis$ | async) && !isLoading, else loader" fxFlex="100%" FxLayoutAlign="start" fxLayout="column"
        fxLayoutGap="36px">
        <app-document-summary-header [headerData]="headerTestInfo"
            [isPopUpOpen]="isPopUpOpen"></app-document-summary-header>
        <mat-divider></mat-divider>

        <app-diagnosis-summary *ngIf="anamnesis.mainDiagnosis || anamnesis.diagnosis" [diagnosis]="anamnesis.diagnosis"
            [mainDiagnosis]="anamnesis.mainDiagnosis"></app-diagnosis-summary>

        <app-clinical-evaluation-summary *ngIf="anamnesis.clinicalEvaluation"
            [clinicalEvaluation]="anamnesis.clinicalEvaluation"></app-clinical-evaluation-summary>

        <app-description-item-data-summary *ngIf="anamnesis.procedures" data-id="procedures-summary"
            [summary]="anamnesis.procedures" icon="library_add" title="internaciones.documents-summary.procedure.TITLE"
            subtitle="internaciones.documents-summary.procedure.REGISTERED_PROCEDURES"></app-description-item-data-summary>

        <app-anthropometric-data-summary *ngIf="anamnesis.anthropometricData"
            [anthropometricData]="anamnesis.anthropometricData"></app-anthropometric-data-summary>

        <app-vital-signs-and-risk-factors-summary *ngIf="anamnesis.vitalSignsAndRiskFactors"
            [vitalSignsAndRiskFactors]="anamnesis.vitalSignsAndRiskFactors"></app-vital-signs-and-risk-factors-summary>

        <app-description-item-data-summary *ngIf="anamnesis.allergies" data-id="allergies-summary"
            [summary]="anamnesis.allergies" icon="cancel" title="internaciones.documents-summary.allergies.TITLE"
            subtitle="internaciones.documents-summary.allergies.RECORDED_ALLERGIES"></app-description-item-data-summary>

        <app-description-item-data-summary *ngIf="anamnesis.vaccines" data-id="vaccines-summary"
            [summary]="anamnesis.vaccines" icon="vaccines" title="internaciones.documents-summary.vaccines.TITLE"
            subtitle="internaciones.documents-summary.vaccines.RECORDED_VACCINES"></app-description-item-data-summary>
            
        <app-description-item-data-summary *ngIf="anamnesis.personalHistories" data-id="personal-histories-summary"
            [summary]="anamnesis.personalHistories" icon="report" title="internaciones.documents-summary.personal-histories.TITLE"
            subtitle="internaciones.documents-summary.personal-histories.RECORDED_PERSONAL_HISTORIES"></app-description-item-data-summary>
            
        <app-description-item-data-summary *ngIf="anamnesis.familyHistories" data-id="family-histories-summary"
            [summary]="anamnesis.familyHistories" icon="report" title="internaciones.documents-summary.family-histories.TITLE"
            subtitle="internaciones.documents-summary.family-histories.RECORDED_FAMILY_HISTORIES"></app-description-item-data-summary>
    </div>
    <ng-template #loader>
        <mat-spinner color="primary" style="margin: auto"></mat-spinner>
    </ng-template>
</div>