.reference-notification {
	font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;    
    margin-left: 20px;
    width: 30vw;
}

@media (max-width: 959px) {
    .reference-notification {
        width: 65vw;
    }
}
.title {
    font-size: 18px;
    margin-left: 10px;
    line-height: 24px;
    margin-top: 30px;
}

.grayText {
	color: #979797;
}

.icon {
    margin-top: 30px;
    overflow: visible;
}