mat-icon {
    overflow: visible;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.colorDefault {
	color: #9A9A9A;
}

.display {
    display: flex;
    flex-direction: row;
    align-items: center center;
    gap: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center center;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center center;

    .description {
        margin-left: 3.5vh;
        word-wrap: break-word;
    }
}

.red {
    color: #eb5757;
}

.yellow {
    color: #ff8a00;
}

.green {
    color: #27ae60;
}

.grey {
    color: #A4A2A2;
}

.blue {
    color: #1A73E8;
}
