<app-content width="full">
	<ng-container *ngIf="isEnableQueueImageList else workList">
		<mat-tab-group>
			<mat-tab label="{{ 'image-network.technical-section.WORKLIST' | translate }}">
				<ng-template matTabContent>
					<app-worklist-by-technical></app-worklist-by-technical>
				</ng-template>
			</mat-tab>
			<mat-tab label="{{ 'image-network.technical-section.QUEUE_IMAGE' | translate }}">
				<ng-template matTabContent>
					<app-queue-image-technical></app-queue-image-technical>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
	<ng-template #workList>
		<app-worklist-by-technical></app-worklist-by-technical>
	</ng-template>
</app-content>