mat-card.flat {
	background: none;
	box-shadow: none !important;

	.title {
		margin-top: 1em;
		text-align: center;
	}

	app-ui-component-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
