app-colored-label {
	align-self: flex-start;
	justify-self: flex-start;
	margin-right: 20px;
}

.label {
	border-radius: 6px;
	padding: 3px 8px;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	font-weight: 400px
}

.professional-elapsed-time {
	font-weight: 400;
	font-size: 12px;
}

.extra-info {
	font-size: 14px;
	line-height: 22px;
	.extra-info-title {
		font-weight: 500;
	}
}

.color-grey {
	color: #A8A8A8;
}

.content {
	height: auto;
	word-break: break-word;
}

.observation{
	font-style: italic;
	font-size: 16px;
}

.medication {
	font-size: 16px;
}

.report-status {
    align-items: center;
}

.formatted-text {
    white-space: pre-wrap;
}

@media (max-width: 1280px) {
	.report-status {
		align-items: baseline;
	}
}