.label {
	border-radius: 6px;
	padding: 3px 8px;
	font-size: 12px;
	line-height: 19px;
	width: 100px;
	text-align: center;
}

.blue {
	background-color: #E0EEF7;
	color: #2687C5;
}

.red {
	background-color: #FDF0F0;
	color: #EB5757;
}

.professional-elapsed-time {
	font-weight: 400;
	font-size: 12px;
}

.extra-info {
	font-size: 14px;
	line-height: 22px;
	.extra-info-title {
		font-weight: 500;
	}
}

.color-grey {
	color: #A8A8A8;
}

.content {
	height: auto;
	word-break: break-word;
}
