.element-margin {
	margin: 10px 0 0 0;
}

.element-light-color {
	color: rgba(0, 0, 0, 0.54);
}

.label {
	margin-top: 10px;
}

.observation {
	max-width: 85%;
	font-style: italic;
	font-size: 16px;
	margin: 10px 0;
	word-wrap: break-word;
}

.color-grey{
	color: #A8A8A8;
}