<app-new-consultation-expansion-section id="diagnosticos"
	*appHasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']"
	[title]="'ambulatoria.paciente.surgical-report.surgical-team.TITLE' | translate" icon="brush" [collapsed]="false"
	[hideBorder]="false" [isEmpty]="isEmpty()">

	<app-surgical-report-professional-info *ngIf="professionals" [professionals]="professionals"
		[professionalTitle]="'ambulatoria.paciente.surgical-report.surgical-team.CIRUJANO' | translate"
		[externalSetProfessional]="surgeon?.healthcareProfessional" (professionalChange)="selectSurgeon($event)">
	</app-surgical-report-professional-info>
	<mat-error *ngIf="isSelectedSurgeon === false">{{'ambulatoria.paciente.surgical-report.surgical-team.ERROR_SELECTING_SURGEON' | translate}}</mat-error>
	<mat-error *ngIf="showErrorProfessionalRepeated">{{'ambulatoria.paciente.surgical-report.surgical-team.ERROR_PROFESSIONAL_REPEATED' | translate}}</mat-error>
	<app-titled-content-card [title]="'ambulatoria.paciente.surgical-report.surgical-team.CARD_TITLE'"
		*ngIf="!!healthcareProfessionals.length">
		<div *ngFor="let professional of healthcareProfessionals; index as i; last as isLast">
			<div fxLayout="row" fxLayoutAlign="space-between center" class="list-item">
				<div fxLayout="column">
					<span class="bold" *ngIf="professional.professionalData.profession.type != OTHER else other">{{
						professional.descriptionType }}</span>
					<ng-template #other>
						<span class="bold capitalize-first-letter" #other>{{ professional.professionalData.profession.otherTypeDescription }}</span>
					</ng-template>
					<span>{{ professional.professionalData.healthcareProfessional.person.fullName }} </span>
					<div>
						<span>{{'ambulatoria.paciente.surgical-report.surgical-team.DNI' | translate}} </span>
						<span>{{ professional.professionalData.healthcareProfessional.person.identificationNumber }} </span>
						<span> | {{ 'ambulatoria.paciente.surgical-report.surgical-team.MATRICULA' | translate }}
						</span>
						<span>{{ professional.professionalData.healthcareProfessional.licenseNumber }} </span>
					</div>
				</div>
				<button type="button" mat-icon-button color="warn" (click)="deleteProfessional(i)">
					<mat-icon>delete_outline</mat-icon>
				</button>
			</div>
			<mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
		</div>
	</app-titled-content-card>

	<div>
		<button type="button" mat-button color="primary" class="add-button" [disabled]="!surgeon" (click)="addProfessional()">
			{{'ambulatoria.paciente.surgical-report.surgical-team.ADD_PROFESSIONAL' | translate}}
		</button>
	</div>
</app-new-consultation-expansion-section>
