h2 {
	width: 400px;
	font-weight: 500;
	font-size: 20px;
}

.subtitle {
	font-size: 16px;
}

.typeahead-field {
	padding-bottom: 16.8px;
	margin: 3.5px 0;
}

::ng-deep .mat-form-field {
	font-size: 14px !important;
}

.error-message {
	padding-left: 10px;
	font-size: 10.5px;
}

.message {
	width: 500px;
	min-width: fit-content;
    max-width: min-content;
}

.green {
	color: #27ae60;
}

.purple {
	color: #7A3FB5;
}

.red {
    color: #f44336
}
