
@import "~@angular/material/theming";

@mixin app-signo-vital($theme) {
	$palette: map-get($theme, primary);
	app-signo-vital {
		mat-card.mat-card {
			background-color: $primary-bg;
			div.current-value {
				color: mat-color($palette, default);
			}
		}
	}
}