<form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">

	<mat-form-field appearance="outline">
		<mat-label [translate]="'ambulatoria.paciente.problemas.historical-problems-filters.SPECIALTY'"></mat-label>
		<mat-select formControlName="specialty" (selectionChange)="sendAllFiltersOnFilterChange()" name="specialty">
			<mat-option *ngFor="let specialty of specialties" [value]="specialty.id">
				{{specialty.name}}
			</mat-option>
		</mat-select>
		<button id="clear_specialty" type="button" mat-button *ngIf="form.controls.specialty.value" matSuffix
			color="warn" mat-icon-button (click)="clear(form.controls.specialty); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label [translate]="'ambulatoria.paciente.problemas.historical-problems-filters.PROFESSIONAL'"></mat-label>
		<mat-select formControlName="professional" (selectionChange)="sendAllFiltersOnFilterChange()"
			name="professional">
			<mat-option *ngFor="let professional of professionals" [value]="professional.personId">
				{{professional.professionalDescription}}
			</mat-option>
		</mat-select>
		<button id="clear_professional" type="button" mat-button *ngIf="form.controls.professional.value" matSuffix
			color="warn" mat-icon-button (click)="clear(form.controls.professional); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label [translate]="'ambulatoria.paciente.problemas.historical-problems-filters.PROBLEM'"></mat-label>
		<mat-select formControlName="problem" (selectionChange)="sendAllFiltersOnFilterChange()" name="problem">
			<mat-option *ngFor="let problem of problems" [value]="problem.problemId">
				{{problem.problemDescription}}
			</mat-option>
		</mat-select>
		<button id="clear_problem" type="button" mat-button *ngIf="form.controls.problem.value" matSuffix color="warn"
			mat-icon-button (click)="clear(form.controls.problem); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label [translate]="'ambulatoria.paciente.problemas.historical-problems-filters.CONSULTATION_DATE'">
		</mat-label>
		<input matInput id="date" [matDatepicker]="myDatepicker" formControlName="consultationDate"
			(dateChange)="sendAllFiltersOnFilterChange()">
		<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
		<mat-datepicker #myDatepicker></mat-datepicker>
		<button id="clear_consultationDate" type="button" mat-button *ngIf="form.controls.consultationDate.value" matSuffix
			color="warn" mat-icon-button (click)="clear(form.controls.consultationDate); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label [translate]="'ambulatoria.paciente.problemas.historical-problems-filters.REFERENCE_STATE'"></mat-label>
		<mat-select formControlName="referenceState" (selectionChange)="sendAllFiltersOnFilterChange()">
			<mat-option *ngFor="let referenceState of referenceStates" [value]="referenceState">
				{{referenceState}}
			</mat-option>
		</mat-select>
		<button id="clear_reference_state" type="button" mat-button *ngIf="form.value.referenceState" matSuffix color="warn"
			mat-icon-button (click)="clear(form.controls.referenceState); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

</form>
