
@import "~@angular/material/theming";

@mixin app-factor-de-riesgo($theme) {
	$palette: map-get($theme, primary);
	app-factor-de-riesgo {
		mat-card.mat-card {
			background-color:mat-color($palette, 25);
			div.current-value {
				color: mat-color($palette, default);
			}
		}
	}
}
