.center-dialog {
    display: flex;
    justify-content: center;
    text-align: center;
}

.alert-icon {
    width: 65px;
    height: 65px;
    font-size: 64px;
}

.alert-message {
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 16px;
}