<app-new-consultation-expansion-section [title]="'ambulatoria.paciente.violence-situations.dialog.relevant-information.TITLE' | translate" icon="cancel">

    <form [formGroup]="form">
        <span>{{'ambulatoria.paciente.violence-situations.dialog.relevant-information.questions.QUESTION_1' | translate}}</span>
        <mat-form-field appearance="outline">
            <textarea matInput type="text" id="violence-situation-observations" formControlName="observations"
                placeholder="{{'ambulatoria.paciente.violence-situations.dialog.relevant-information.placeholders.WRITE_OBSERVATIONS_CONSIDERED_NECESSARY' | translate }}">
            </textarea>
        </mat-form-field>
    </form>

</app-new-consultation-expansion-section>
