div {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog {
	position: relative;
}

.sub-title {
	font-weight: 500;
	margin: 0 0 14px 0;
}

.activate-button {
	color: #2687c5;
}

.form-input {
	margin: 14px 0 14px 0;
}

.disable-button {
	color: #9c9fa3;
}

.divider {
	margin: 0 10px 10px 0;
}

.mat-icon {
	font-size: 20px;
}
