<div fxLayout="row" fxLayoutAlign="end center" >
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
	<div fxLayout="row" fxLayoutAlign="center">
		<img src='assets/images/error_outline.png'>
	</div>

	<h2 mat-dialog-title translate="pacientes.form.TITLE_UPDATE_IDENTIFICATION_NUMBER"></h2>

	<div mat-dialog-content fxLayoutGap="25px">
		<span
			translate="pacientes.audit.SUBTITLE_WARNING_EDIT_IDENTIFICATION_NUMBER"
			[translateParams]="{dni: data.dni}"></span>
	</div>
	<div mat-dialog-content class="content" fxLayout="column" fxLayoutAlign="space-around center">

		<strong *ngIf="data.personData?.firstName"
			innerHTML=" - {{ data.personData?.firstName | translate}} {{data.personData?.lastName | translate}}"></strong>
		<strong *ngIf="data.personData?.cuil" innerHTML=" - Cuil {{ data.personData?.cuil | translate}}"></strong>
		<strong *ngIf="data.personData?.birthDate" innerHTML=" - Fecha Nac. {{ data.personData?.birthDate  | isoToDate | dateFormat: 'date'}}"></strong>
	</div>

	<div mat-dialog-content fxLayoutGap="25px" class="margin-bottom">
		<strong>{{'pacientes.audit.QUESTION_WARNING_EDIT_IDENTIFICATION_NUMBER' | translate}}</strong>
	</div>

	<div mat-dialog-actions fxLayout="row" fxLayoutGap="25px" class="margin-bottom">
		<button mat-stroked-button [mat-dialog-close]=false color="primary" class="uppercase" id="cancel-button">
			{{'pacientes.audit.BUTTON_CANCEL' | translate}}</button>
		<button mat-raised-button [mat-dialog-close]=true cdkFocusInitial color='primary' class="uppercase"
			id="okButton-button">
			{{'pacientes.audit.BUTTON_CONFIRM_USE' | translate}}</button>
	</div>
</div>
