<mat-card *ngIf="!!vitalSign">
	<div class="flex-column">
		<div class="flex-row">
			<div class="flex-column">
				<span class="mat-body-2">
					{{ vitalSign.description }}
				</span>
				<span class="mat-caption">Último resultado</span>
			</div>
			<div class="current-value">
				<mat-icon *ngIf="vitalSign.currentValue.effectiveTime" inline color="accent"
					matTooltip="{{ vitalSign.currentValue.effectiveTime | date: 'dd/MM/yy - HH:mm' }} hs">
					access_time
				</mat-icon>
				<span class="value">
					{{ vitalSign.currentValue.value || '-' }}
				</span>
			</div>
		</div>
		<mat-divider inset></mat-divider>
		<div class="flex-row">
			<span class="mat-caption">Anterior</span>
			<div class="flex-row">
				<mat-icon *ngIf="vitalSign.previousValue?.effectiveTime" inline color="accent"
					matTooltip="{{ vitalSign.previousValue.effectiveTime | date: 'dd/MM/yy - HH:mm' }} hs">
					access_time
				</mat-icon>
				<span class="mat-body-1">
					{{ vitalSign.previousValue?.value || '-' }}
				</span>
			</div>
		</div>
	</div>
</mat-card>
