<mat-card *ngIf="!!vitalSign">
	<div class="flex-column">
		<div class="flex-row">
			<div class="flex-column">
				<span class="mat-body-2">
					{{ vitalSign.description }}
				</span>
				<span class="mat-caption">Último resultado</span>
			</div>
			<div class="current-value">
				<mat-icon class="green" *ngIf="vitalSign.currentValue > vitalSign.previousValue">arrow_drop_up</mat-icon>
				<mat-icon color="warn" *ngIf="vitalSign.currentValue < vitalSign.previousValue">arrow_drop_down</mat-icon>
				<span>{{ vitalSign.currentValue || '-' }}</span>
			</div>
		</div>
		<mat-divider inset></mat-divider>
		<div class="flex-row">
			<span class="mat-caption">Anterior</span>
			<span class="mat-body-1">
				{{ vitalSign.previousValue || '-' }}
			</span>
		</div>
	</div>
</mat-card>
