<div fxLayout="row" fxLayoutAlign="space-between">
    <h1>Historial de turnos de {{data.patientName}}</h1>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div>
        <mat-paginator [length]="totalElements"
            [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
    <ng-template #noInfo>
        <app-no-data></app-no-data>
    </ng-template>
</mat-dialog-content>