<div mat-dialog-title>
	{{ 'guardia.home.episodes.episode.select_consultorio.ATENDER' | translate }}
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
	<div mat-dialog-content>
		<mat-form-field style="width: 100%" appearance="outline">
			<mat-label [translate]="'guardia.home.episodes.episode.select_consultorio.CONSULTORIO'"></mat-label>
			<mat-select formControlName="consultorio">
				<mat-option id="consultorio_{{doctorsOffice.id}}"
							*ngFor="let doctorsOffice of doctorsOffices$ | async"
							[value]="doctorsOffice.id"
				>
					{{doctorsOffice.description}}
				</mat-option>
			</mat-select>
			<mat-error [translate]="'forms.REQUIRED'"></mat-error>
		</mat-form-field>
	</div>

	<div mat-dialog-actions style="justify-content: flex-end">
		<button mat-button mat-dialog-close class="uppercase">
			{{ 'buttons.CANCEL' | translate }}
		</button>
		<button mat-raised-button color="primary" class="uppercase">
			{{ 'buttons.CONFIRM' | translate }}
		</button>
	</div>
</form>
