<mat-tab-group>
    <mat-tab label="{{'guardia.home.tabs.PATIENTS' | translate | uppercase}}">
        <ng-template matTabContent>
            <app-emergency-care-patients-summary></app-emergency-care-patients-summary>
        </ng-template>
    </mat-tab>

	<mat-tab *ngIf="hasProffesionalRole" label="{{'guardia.home.tabs.ATTENTION_PLACES' | translate | uppercase}}">
		<ng-template matTabContent>
			<app-emergency-care-attention-places></app-emergency-care-attention-places>
		</ng-template>
	</mat-tab>
</mat-tab-group>
