@import "../../../../../assets/styles/mixins.scss";

.appointment-information {
	height: auto;
}

.assigned-appointment {
	padding: 20px;
	color: #545454;
	line-height: 14px;
}

.patient-info {
	color: #545454;
	line-height: 17px;
}

mat-icon {
	font-size: 20px;
}

section {
	margin: 0;
}
