<app-content width="full">
	<section>
		<h2 [translate]="'ambulatoria.paciente.resumen.TITLE'"></h2>
		<div fxLayout="column" fxLayoutGap="20px">
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
				<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
					<app-antecedentes-personales-summary [personalHistory]="personalHistory$ | async">
					</app-antecedentes-personales-summary>
				</div>
				<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
					<ng-container
						*hasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','ENFERMERO','PROFESIONAL_DE_SALUD']">
						<app-antecedentes-familiares-summary [familyHistories]="familyHistories$ | async"
							[familyHistoriesHeader]="familyHistoriesHeader">
						</app-antecedentes-familiares-summary>
					</ng-container>
				</div>
			</div>
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
				<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
					<ng-container
						*hasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','ENFERMERO','PROFESIONAL_DE_SALUD']">
						<app-medicacion-summary [medications]="medications$ | async"></app-medicacion-summary>
					</ng-container>
				</div>
				<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
					<ng-container
						*hasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','ENFERMERO','PROFESIONAL_DE_SALUD']">
						<app-alergias-summary [allergies]="allergies$ | async">
						</app-alergias-summary>
					</ng-container>
				</div>
			</div>
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
				<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
					<ng-container
						*hasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ENFERMERO_ADULTO_MAYOR','ENFERMERO','PROFESIONAL_DE_SALUD']">
						<app-antropometricos-summary [anthropometricData$]="anthropometricData$">
						</app-antropometricos-summary>
					</ng-container>
				</div>
				<div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
					<ng-container
						*hasRole="['ESPECIALISTA_MEDICO', 'ENFERMERO_ADULTO_MAYOR','ENFERMERO','PROFESIONAL_DE_SALUD']">
						<app-signos-vitales-summary [editable]="false" [vitalSigns$]="vitalSigns$">
						</app-signos-vitales-summary>
					</ng-container>
				</div>
			</div>
		</div>
	</section>
</app-content>
