button {
	margin: 0 0 15px 0;
}

.serch {
	height: 100%;
	min-height: 100%;
	min-width: 90%;
	width: 90%;
}

.grey {
	color: #a8a8a8;
}

.mat-dialog-content {
	max-height: 81vh;
}

.mat-stroked-button {
	height: 100%;
}
