<div fxLayout="row" fxLayoutAlign="space-evenly center">
	<div fxLayoutGap="10px">
		<mat-checkbox id="{{ diagnosis.snomed.pt }}" [checked]="diagnosis.isAdded" (change)="diagnosis.isAdded = $event.checked"></mat-checkbox>
		<strong class="capitalize">{{ diagnosis.snomed.pt }}</strong>
	</div>
	<span>Activo</span>
	<span>{{ diagnosis.presumptive ? 'Presuntivo' : 'Confirmado' }}</span>
	<button mat-icon-button color="primary" (click)="openDiagnosisEditionDialog()">
        <mat-icon>edit</mat-icon>
      </button>
</div>
