<div fxLayout="row" fxLayoutAlign="end">
    <button id="close-modal"  mat-icon-button aria-label="close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-actions fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
    <mat-icon id="check_circle" class="material-icons-outlined" color="primary">check_circle</mat-icon>
    <h1 class="mat-headline">{{data.titleLabel | translate}}</h1>
    <button mat-flat-button color="primary" (click)="downloadPrescription()" fxFlexFill.xs>
        <span class="uppercase">{{data.downloadButtonLabel | translate}}</span>
    </button>
    <button *ngIf="isHabilitarRecetaDigital && data?.sendEmail" id="send_email" mat-stroked-button color="primary" (click)="sendEmail()"
        fxFlexFill.xs>
        <span class="uppercase">{{data.sendEmail | translate}}</span>
    </button>
</mat-dialog-actions>
