@import '../../../../../../../../assets/styles/mixins';

div.spinner {
    @include centered-spinner;
}

h1 {
    text-align: center;
}

#check_circle {
    font-size: 96px;
    height: 96px;
    width: 96px;
}

#send_email {
    margin: 0 0 20px 0;
}