<div fxLayout="row" fxLayoutAlign="end">
    <button id="close-modal" mat-button mat-icon-button aria-label="close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-actions fxLayout="column" fxLayoutAlign="start center">
    <div class="icon">
        <mat-icon [inline]="true" class="material-icons-outlined" color="primary">check_circle</mat-icon>
    </div>
    <h1 class="mat-headline item-margin" style="padding-top: 1em;">{{data.titleLabel | translate}}</h1>
    <button class="item-margin" mat-flat-button color="primary" (click)="downloadPrescription()" fxFlexFill.xs>
        <span class="uppercase">{{data.downloadButtonLabel | translate}}</span>
    </button>
</mat-dialog-actions>
