.icon-text-size {
    font-size: 18px;
}

.icon-text-layout {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6px ;
}

.colored-area-audit {
    border-radius: 8px;
    padding: 16px 16px;
    background-color: #E0EEF7;
    margin-bottom: 8px;
}

.margin-subtitle {
    margin-left: 29px;
}