<div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlex fxLayout.gt-xs="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon class="icon" fontSet="material-icons-outlined"> event </mat-icon>
                <span class="mat-body capitalize-first-letter text">
                    {{ appointment.dateTime.date | viewDateDto: 'date' | date: 'fullDate' | titlecase}}
                </span>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon class="icon"> query_builder </mat-icon>
                <span class="mat-body text">
                    {{ appointment.dateTime.time | viewDateDto: 'time' | date: 'HH:mm' }} hs
                </span>
            </div>
        </div>
    
        <div fxFlex fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon class="icon"> person_outline </mat-icon>
                <span class="mat-body text"> 
                    {{ appointment.doctorName }} 
                </span>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon class="icon" fontSet="material-icons-outlined"> domain </mat-icon>
                <span class="mat-body text">
                    {{ appointment.institution }}
                </span>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon class="icon" fontSet="material-icons-outlined"> location_on </mat-icon>
                <span class="mat-body text"> 
                    {{ appointment.city }}
                </span>
            </div>
        </div>
    
        <div fxFlex fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon class="icon" fontSet="material-icons-outlined"> medical_services </mat-icon>
                <span class="mat-body text">
                    {{ appointment.clinicalSpecialty }}
                </span>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" *ngIf="appointment.practice">
                <mat-icon class="icon" fontSet="material-icons-outlined"> library_add </mat-icon>
                <span class="mat-body text">
                    {{ appointment.practice }}
                </span>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" *ngIf="appointment.service">
                <mat-icon class="icon" fontSet="material-icons-outlined"> schema </mat-icon>
                <span class="mat-body text">
                    {{ appointment.service }}
                </span>
            </div>
        </div>
    </div>

    <div fxFlex="20">
        <app-colored-label  class="personalized-label uppercase" description={{appointmentState.description}}
        color="{{appointmentState.color}}"></app-colored-label>
    </div>
</div>
