<div>
    <h1>{{institutionDescription.title | translate}}</h1>
    <app-title-description-list 
        [title]="'gis.address.INSTITUTION'"
        [descriptionData]="[{description: institutionDescription.institution}]">
    </app-title-description-list>
    
    <div class="space-between m-top">
        <app-title-description-list 
            [title]="'gis.address.STREET'"
            [descriptionData]="[{description: institutionDescription.address.streetName}]">
        </app-title-description-list>
    
        <app-title-description-list 
            [title]="'gis.address.HOUSE_NUMBER'"
            [descriptionData]="[{description: institutionDescription.address.houseNumber}]">
        </app-title-description-list>
    </div>
    
    <div class="space-between m-top">
        <app-title-description-list
            [title]="'gis.address.CITY'"
            [descriptionData]="[{description: institutionDescription.address.city.description}]">
        </app-title-description-list>
    
        <app-title-description-list
            [title]="'gis.address.DEPARTMENT'"
            [descriptionData]="[{description: institutionDescription.address.department.description}]">
        </app-title-description-list>
    </div>
    
    <div class="m-top">
        <app-title-description-list
            [title]="'gis.address.STATE'"
            [descriptionData]="[{description: institutionDescription.address.state.description}]">
        </app-title-description-list>
    </div>
        
    <div class="m-top">
        <app-title-description-list
            [title]="'gis.map-position.COORDINATES'"
            [descriptionData]="[{description: coordinatesToShow}]">
        </app-title-description-list>
    </div>

    <div *ngIf="showActions" class="actions m-top">
        <button matStepperPrevious mat-button mat-stroked-button color="primary">{{'buttons.BACK' | translate | uppercase}}</button>
        <app-button 
            text="buttons.CONFIRM" 
            [buttonType]="ButtonType.RAISED" 
            [isLoading]="isSaving" 
            (clicked)="confirm()">
        </app-button>
    </div>
</div>