<div mat-dialog-content fxLayoutGap="12px" fxLayout="column">
	<h2>{{'ambulatoria.reference-study-closure-information.TITLE'|translate}}</h2>

	<div *ngFor="let rp of resultsPractices" fxLayoutGap="10px">
		<app-show-closed-forms-template [result]="rp">
		</app-show-closed-forms-template>

		<mat-divider></mat-divider>
	</div>

	<div *ngIf="reportReference.observations">
		<h3 class="grey">{{'ambulatoria.reference-study-closure-information.OBSERVATIONS'|translate}} : </h3>
		<span id="note">{{ reportReference.observations }}</span>
		<div *ngFor="let file of diagnosticReportFiles$ | async">
			<a mat-button color="primary" (click)="download(file)">
				{{file.fileName}}
			</a>
		</div>
	</div>

	<div *ngIf="reportReference?.date" class="row-container" fxLayoutAlign="space-between" id="refernece-info-third">
		<span class="grey" id="professional-name">
			{{doctorName}}
		</span>
		<span class="grey" id="date">{{reportReference.date | viewDateDto: 'localdatetime' | dateFormat:
			'datetime'}}</span>
	</div>
</div>
