<div mat-dialog-content fxLayoutGap="16px" fxLayout="column">
	<h2>{{'ambulatoria.reference-study-closure-information.TITLE'|translate}}</h2>

	<h3 class="grey">{{'ambulatoria.reference-study-closure-information.OBSERVATIONS'|translate}}</h3>
	<span id="note">{{ reportReference.observations }}</span>
	<div *ngFor="let file of diagnosticReportFiles$ | async">
		<a mat-button color="primary" (click)="download(file)">
			{{file.fileName}}
		</a>
	</div>

	<div class="row-container" fxLayoutAlign="space-between" id="refernece-info-third">
		<span class="grey" id="professional-name">
			{{doctorName}}
		</span>
		<span class="grey" id="date">{{reportReference.date | viewDateDto: 'localdatetime' | dateFormat:
			'datetime'}}hs</span>
	</div>
</div>
