<div mat-dialog-title>
	<div class="mat-h2" [translate]="'internaciones.internacion-paciente.alergias-summary.ADD'"></div>
</div>

<div class="spinner" *ngIf="loading else addAllergy">
	<mat-spinner color="primary"></mat-spinner>
</div>

<ng-template #addAllergy>
	<div mat-dialog-content>
		<app-concepts-search *ngIf="!snomedConcept else alergiasForm"
							 [label]="'internaciones.anamnesis.alergias.ALLERGY'"
							 (search)=onSearch($event)>
		</app-concepts-search>

		<div class="spinner">
			<mat-spinner diameter="70" color="primary" *ngIf="searching && !snowstormServiceNotAvailable"></mat-spinner>
		</div>
		<div *ngIf="snowstormServiceNotAvailable">
			<div style="padding-bottom: 1em">
				<span style="font-weight: bold; padding-bottom: 2em" [translate]="'historia-clinica.snowstorm.ERROR_MESSAGE_DESCRIPTION'"></span>: {{snowstormServiceErrorMessage}}
			</div>
			<span [translate]="'historia-clinica.snowstorm.SERVICE_NOT_AVAILABLE'"> </span>
		</div>
		<app-table *ngIf="!searching && !snomedConcept" [model]="conceptsResultsTable"
				   [mainStyle]="'secondary'"></app-table>

		<ng-template #alergiasForm>
			<form [formGroup]="form" (ngSubmit)="submit()">
				<mat-form-field appearance="outline">
					<mat-label [translate]="'internaciones.anamnesis.alergias.ALLERGY'">
					</mat-label>
					<input matInput type="text" formControlName="snomed" name="snomed" readonly>
					<button id="clear" mat-button matSuffix color="warn" mat-icon-button
							(click)="resetForm()">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</form>
		</ng-template>
	</div>
	<mat-dialog-actions align="end">
		<button mat-stroked-button color="primary" mat-dialog-close><span [translate]="'buttons.CANCEL'"></span>
		</button>
		<button *ngIf="snomedConcept" mat-raised-button color="primary" (click)="submit()">
			<span [translate]="'buttons.ADD'"></span>
		</button>
	</mat-dialog-actions>
</ng-template>
