<div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="date-time" fxLayout="column" fxLayoutGap="8px" data-id="measuring-point-register">
        <span class="measuring-point-title" data-id="measuring-point-id">
            {{ 'internaciones.anesthesic-report.vital-signs.measuring-point.MEDITION' | translate }} {{ index + 1}} ({{
            measuringPoint.dateTime | dateFormat:'datetime' }})</span>
        <div fxLayout="row wrap" fxLayoutGap="16px" data-id="measuring-point-info">
            <div fxLayout="row">
                <span class="grey attribute-title">{{
                    'internaciones.anesthesic-report.vital-signs.registered-point.MAX_BLOOD_PRESSURE' | translate
                    }} <span class="attribute-value">{{ measuringPoint.bloodPressureMax ?
                        measuringPoint.bloodPressureMax : "-" }}</span></span>
            </div>
            <div fxLayout="row">
                <span class="grey attribute-title">{{
                    'internaciones.anesthesic-report.vital-signs.registered-point.MIN_BLOOD_PRESSURE' | translate
                    }} <span class="attribute-value">{{ measuringPoint.bloodPressureMin ?
                        measuringPoint.bloodPressureMin : "-" }}</span></span>
            </div>
            <div fxLayout="row">
                <span class="grey attribute-title">{{
                    'internaciones.anesthesic-report.vital-signs.registered-point.PULSE' | translate }} <span
                        class="attribute-value">{{ measuringPoint.bloodPulse ? measuringPoint.bloodPulse : "-" }}</span></span>
            </div>
            <div fxLayout="row">
                <span class="grey attribute-title">{{
                    'internaciones.anesthesic-report.vital-signs.registered-point.SATURATION' | translate }} <span
                        class="attribute-value">{{ measuringPoint.o2Saturation ? measuringPoint.o2Saturation + '%' : "-"
                        }}</span></span>
            </div>
            <div fxLayout="row">
                <span class="grey attribute-title">{{
                    'internaciones.anesthesic-report.vital-signs.registered-point.END_TIDAL' | translate }} <span
                        class="attribute-value">{{ measuringPoint.co2EndTidal ? measuringPoint.co2EndTidal : "-"
                        }}</span></span>
            </div>
        </div>
    </div>
</div>