.item {
    display: flex;
    align-items: center;
    min-width: 0;
}

.text {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

app-colored-label {
    flex-shrink: 0;
    margin-left: 8px;
}
