<div class="layout-container" [class.layout-is-mobile]="mobileQuery.matches">
	<app-bar [position]="mobileQuery.matches ? 'fixed' : 'static'">
		<button mat-icon-button (click)="sidenav.toggle()" *ngIf="menuItems">
			<mat-icon color="primary">menu</mat-icon>
		</button>
	</app-bar>
	<mat-sidenav-container class="layout-sidenav-container"
	[style.marginTop.px]="mobileQuery.matches ? 57 : 0">
		<mat-sidenav #sidenav [(opened)]="opened" [mode]="mobileQuery.matches ? 'over' : 'side'"
			[fixedInViewport]="mobileQuery.matches" fixedTopGap="57">
			<div class="custom-container">

				<app-menu [menuItems]="menuItems"></app-menu>

				<div class="informative-items">
					<span *ngIf="menuFooterItems?.user?.fullName; else userName">{{menuFooterItems.user.fullName}}</span>
					<ng-template #userName>{{menuFooterItems?.user?.userName}}</ng-template>
					<span *ngIf="menuFooterItems?.institution?.name">{{menuFooterItems.institution.name}}</span>
					<font color="grey" *ngIf="menuFooterItems?.institution?.address">{{menuFooterItems.institution.address | fullHouseAddress}} , {{menuFooterItems.institution.address.cityName}}</font>
					<button mat-icon-button (click)="logout()">
						<mat-icon>power_settings_new</mat-icon>
						<span translate="auth.LOGOUT"></span>
					</button>
				</div>

			</div>

		</mat-sidenav>

		<mat-sidenav-content>
			<div class="panel">
				<router-outlet></router-outlet>
			</div>
			<app-footer></app-footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
