@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/mat-mixins";

form {

	.white-bg-color {
		@include mat-form-field-background-white;
	}

	.color-disabled {
		color: rgba(0, 0, 0, 0.38);
	}

	.form-row{
		@include form-row;
	}
}

mat-form-field{
    width: 100%;
}

#address-fields mat-form-field {
	width: fit-content;
}

.mat-radio-button {
    @include form-radio-button;
}

div.form-buttons {
	margin: 20px 0;
	button {
		margin-right: 10px;
	}
}

button.medical-coverage {
	width: 202px;
	margin-bottom: 13px;
	margin-top: 5px;
	text-transform: uppercase;
}

.prefix-field {
	width: 80px;
}