<div class="container">
	<form id="anamnesis-form" [formGroup]="form" (ngSubmit)="save()">
		<section id="title">
			<h2 class="page-title" [translate]="'internaciones.anamnesis.TITLE'"></h2>
			<h3 [translate]="'internaciones.anamnesis.SUBTITLE'"></h3>
		</section>
		<section id="diagnosticos">
			<app-diagnosticos [(diagnosis)]="diagnosticos"></app-diagnosticos>
		</section>
		<section id="datos-antropometricos">
			<h2 [translate]="'internaciones.anamnesis.datos-antropometricos.TITLE'"></h2>
			<mat-card class="datos-antropometricos-card">
				<mat-card-content formGroupName="anthropometricData">
					<div>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.BLOOD_TYPE'"></mat-label>
							<mat-select placeholder="B+" formControlName="bloodType" name="bloodTypeId">
								<mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
									{{ bloodType.description }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.HEIGHT'"></mat-label>
							<input id="height"
							name="height"
							formControlName="height"
							placeholder="Ej: 180"
							maxlength="3"
							matInput>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<mat-label [translate]="'internaciones.anamnesis.datos-antropometricos.WEIGHT'"></mat-label>
							<input id="weight"
							name="weight"
							formControlName="weight"
							placeholder="Ej: 70"
							maxlength="3"
							matInput>
						</mat-form-field>
					</div>
				</mat-card-content>
			</mat-card>

			<section>
				<h3 class="mat-h2" [translate]="'internaciones.anamnesis.datos-antropometricos.table.TITLE'"></h3>
				<table id="datos-antropometricos-table" mat-table [dataSource]="datosAntropometricosTable.dataSource" class="secondary">

					<ng-container *ngFor="let column of datosAntropometricosTable.columns" [matColumnDef]="column.def">
						<th *matHeaderCellDef>{{ column.header | translate }}</th>
						<td mat-cell *matCellDef="let element"> {{ column.text(element) }} </td>
					</ng-container>

					<ng-container matColumnDef="remove">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let element; index as i">
							<button type="button" mat-icon-button color="warn" (click)="remove(datosAntropometricos, datosAntropometricosTable.dataSource, i)">
								<mat-icon>delete_outline</mat-icon>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="datosAntropometricosTable.displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: datosAntropometricosTable.displayedColumns;"></tr>
				</table>
				<div class="mat-h3 table-no-data" *ngIf="datosAntropometricosTable.dataSource.data.length === 0">
					<span [translate]="'messages.NO_DATA'"></span>
				</div>
			</section>

		</section>
		<section id="antecedentes-personales">
			<app-antecedentes-personales [(personalHistories)]="personalHistories"></app-antecedentes-personales>
		</section>
		<section id="antecedentes-familiares">
			<app-antecedentes-familiares [(familyHistories)]="familyHistories"></app-antecedentes-familiares>
		</section>
		<section id="alergias">
			<app-alergias [(allergies)]="allergies"></app-alergias>
		</section>
		<section id="vacunas">
			<app-vacunas [(inmunizations)]="inmunizations"></app-vacunas>
		</section>
		<section id="medicacion">
			<app-medicacion [(medications)]="medications"></app-medicacion>
		</section>
		<section id="signos-vitales">
			<h2 [translate]="'internaciones.anamnesis.vital-signs.form.TITLE'"></h2>
			<mat-card>
				<mat-card-content class="vital-signs" formGroupName="vitalSigns">
					<div class="row-container">
						<div class="field-container">
							<mat-label [translate]="'internaciones.anamnesis.vital-signs.form.HEART_RATE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="heart_rate"
									   name="heart_rate"
									   formControlName="heartRate"
									   placeholder="00"
									   type="number"
									   matInput>
								<mat-error [translate]="'forms.REQUIRED'">
								</mat-error>
							</mat-form-field>
						</div>
						<div class="field-container">
							<mat-label [translate]="'internaciones.anamnesis.vital-signs.form.RESPIRATORY_RATE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="respiratory_rate"
									   name="respiratory_rate"
									   formControlName="respiratoryRate"
									   placeholder="00"
									   type="number"
									   matInput>
								<mat-error [translate]="'forms.REQUIRED'">
								</mat-error>
							</mat-form-field>
						</div>
					</div>

					<div class="row-container">
						<div class="field-container">
							<mat-label [translate]="'internaciones.anamnesis.vital-signs.form.TEMPERATURE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="temperature"
									   name="temperature"
									   formControlName="temperature"
									   placeholder="00.0"
									   type="number"
									   matInput>
								<mat-error [translate]="'forms.REQUIRED'">
								</mat-error>
							</mat-form-field>
						</div>
						<div class="field-container">
							<mat-label
								[translate]="'internaciones.anamnesis.vital-signs.form.BLOOD_OXIGEN_SATURATION'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="blood_oxigen_saturation"
									   name="blood_oxigen_saturation"
									   formControlName="bloodOxigenSaturation"
									   placeholder="00"
									   type="number"
									   matInput>
								<mat-error [translate]="'forms.REQUIRED'">
								</mat-error>
							</mat-form-field>
						</div>
					</div>

					<div class="row-container">
						<div class="field-container">
							<mat-label
								[translate]="'internaciones.anamnesis.vital-signs.form.BLOOD_PRESURE'"></mat-label>
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="systolic_blood_pressure"
									   name="systolicBloodPressure"
									   formControlName="systolicBloodPressure"
									   placeholder="00"
									   type="number"
									   matInput>
								<mat-error [translate]="'forms.REQUIRED'">
								</mat-error>
							</mat-form-field>
						</div>
						<div class="field-container">
							<mat-form-field [floatLabel]="'never'" appearance="outline">
								<input id="diastolic_blood_pressure"
									   name="diastolicBloodPressure"
									   formControlName="diastolicBloodPressure"
									   placeholder="00"
									   type="number"
									   matInput>
								<mat-error [translate]="'forms.REQUIRED'">
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
			<section>
				<h3 class="mat-h2" [translate]="'internaciones.anamnesis.vital-signs.table.TITLE'"></h3>
				<table id="signos-vitales-table" mat-table [dataSource]="vitalSignsTable.dataSource" class="secondary">

					<ng-container *ngFor="let column of vitalSignsTable.columns" [matColumnDef]="column.def">
						<th *matHeaderCellDef>{{ column.header | translate }}</th>
						<td mat-cell *matCellDef="let element"> {{ column.text(element) }} </td>
					</ng-container>

					<ng-container matColumnDef="remove">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let element; index as i">
							<button type="button" mat-icon-button color="warn" (click)="remove(vitalSigns, vitalSignsTable.dataSource, i)">
								<mat-icon>delete_outline</mat-icon>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="vitalSignsTable.displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: vitalSignsTable.displayedColumns;"></tr>
				</table>
				<div class="mat-h3 table-no-data" *ngIf="vitalSignsTable.dataSource.data.length === 0">
					<span [translate]="'messages.NO_DATA'"></span>
				</div>
			</section>



		</section>
		<section id="observations">
			<h2 [translate]="'internaciones.anamnesis.observations.TITLE'"></h2>
			<mat-card>
				<mat-card-content formGroupName="observations">
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.CURRENT_DISEASE'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="current_disease" name="current_disease"
								formControlName="current_disease">
							</textarea>
							<mat-error [translate]="'forms.REQUIRED'">
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.PHYSICAL_EXAMINATION'">
						</mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="physical_examination" name="physical_examination"
								formControlName="physical_examination">
							</textarea>
							<mat-error [translate]="'forms.REQUIRED'">
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.STUDIES_PROCEDURES'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="studies_procedures" name="studies_procedures"
								formControlName="studies_procedures">
							</textarea>
							<mat-error [translate]="'forms.REQUIRED'">
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.PATIENT_PROGRESS'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="patient_progress" name="patient_progress"
								formControlName="patient_progress">
							</textarea>
							<mat-error [translate]="'forms.REQUIRED'">
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.CLINICAL_IMPRESSION'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="clinical_impression" name="clinical_impression"
								formControlName="clinical_impression">
							</textarea>
							<mat-error [translate]="'forms.REQUIRED'">
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-label [translate]="'internaciones.anamnesis.observations.OTHERS'"></mat-label>
						<mat-form-field [floatLabel]="'never'" appearance="outline">
							<textarea matInput type="text" id="others" name="others" formControlName="others">
							</textarea>
						</mat-form-field>
					</div>

				</mat-card-content>
			</mat-card>
			<div class="form-buttons">
				<div class="buttons">
					<button mat-stroked-button type="button" color="primary">
						<span class="uppercase" (click)="back()">Volver</span>
					</button>
					<button mat-stroked-button type="button" color="primary">
						<span class="uppercase">Guardar borrador</span>
					</button>
				</div>
				<div class="firma-buttons">
					<mat-checkbox>Adjuntar firma digital</mat-checkbox>
					<button mat-raised-button type="submit" color="primary">
						<span class="uppercase">Firmar y Confirmar</span>
					</button>
				</div>
			</div>
		</section>
	</form>
</div>
