
@import "./components/detail-box/detail-box.component.scss-theme.scss";
@import "./components/factor-de-riesgo-current/factor-de-riesgo.component.scss-theme.scss";

@mixin presentation-mixins($theme) {
    @include app-detail-box($theme);
    @include app-factor-de-riesgo($theme);
}
