<div fxLayout="column" fxLayoutGap="1vh">
    <app-titled-content-card *ngIf="!service.anestheticReportRecordService.isEmpty()"
        title="{{ 'internaciones.anesthesic-report.record.REGISTERED_RECORDS' }}">
        <div *ngFor="let record of (service.anestheticReportRecordService.getRecord() | async); index as i; last as isLast">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>{{ record.pt | titlecase }}</span>
                <button type="button" mat-icon-button color="warn" (click)="service.anestheticReportRecordService.remove(i)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
            <mat-divider class="separation" inset *ngIf="!isLast"></mat-divider>
        </div>
    </app-titled-content-card>

    <div>
        <button data-id="add-record" mat-button color="primary" class="record-button" (click)="addRecord()">
            {{ 'internaciones.anesthesic-report.record.ADD_RECORD' | translate }}
        </button>
    </div>

    <div>
        <form [formGroup]="personalRecordForm">
            <mat-label [translate]="'internaciones.anesthesic-report.record.OBSERVATIONS'"></mat-label>
            <mat-form-field appearance="outline" data-id="observations">
                <textarea matInput type="text" id="observations-input" formControlName="observations"
                    placeholder="{{'internaciones.anesthesic-report.record.ADD_OBSERVATIONS' | translate }}">
                </textarea>
            </mat-form-field>

            <div fxLayout="column">
                <mat-label [translate]="'internaciones.anesthesic-report.record.ASA'"></mat-label>
                <mat-form-field appearance="outline" data-id="ASA" class="asa-data">
                    <mat-select formControlName="asa" placeholder="Seleccionar (de 1 a 5)">
                        <mat-option *ngFor="let option of ASAOptions" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>