.chart-container {
	position: relative;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	min-height: 450px;
}

.numeric-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.toggle {
	width: 11em;
	margin-bottom: 0.5em;
}

.colored {
	background-color: rgba(0,174,195,255);
	color: white;
}

.card {
	width: 10em;
	text-align: center;
	border-radius: 15px;

	.card-header{
		display: block;

		mat-card-title {
			font-size: 1em;
			font-weight: lighter;
		}
	}

	p {
		margin: 0.3em 0;
		font-size: 3em;
		font-weight: normal;
	}
}
