<app-content width="full">
    <section>
        <h2 class="page-title" [translate]="'gestion-camas.home.TITLE'"></h2>

        <div fxLayout="row">
            <div id="filters" class="filter-panel">
                <h2 class="page-subtitle" [translate]="'gestion-camas.home.SUBTITLE'"></h2>
                <app-bed-filters></app-bed-filters>
                <span class="results" *ngIf="existBedManagementList" id="bed_id" [translate]="'gestion-camas.home.RESULTS'" [translateParams]="{ bedsAmount: bedsAmount }"></span>
            </div>
            <div class="spinner" *ngIf="!existBedManagementList">
                <mat-spinner color="primary"></mat-spinner>
            </div>
            <mat-card class="beds" id="bed-management-card">
                <section id="bed-mapping" *ngIf="existBedManagementList && bedsAmount">
                    <app-bed-mapping [updateData]="updateMappingBed" (selectedBed)="onSelectBed($event)" [sectorsType]="[internmentSector, emergencySector]"></app-bed-mapping>
                </section>
                <section class="beds" *ngIf="existBedManagementList && !bedsAmount" fxLayout="column">
                    <h2 [translate]="'gestion-camas.home.NO_FILTERED_BEDS'"></h2>
                </section>
            </mat-card>
            <app-bed-detail class="margin-left" [bedId]="selectedBed" (realeseBed)="updateMapping($event)"></app-bed-detail>
        </div>

    </section>
</app-content>