mat-divider.header-divider {
    margin-right: 10px;
    margin-left: 10px;
}

.group-and-factor-properties {
    text-align: center;
    line-height: 16px;
}

.sided-spaced-content {
    padding-left: 10px;
    padding-right: 10px;
}

.top-padded-content {
    padding-top: 6px;
}

.bold {
    font-weight: bold;
}

.no-blood-data {
    text-align: center;
    max-width: 150px;
}

.color-disabled {
    color: rgba(0, 0, 0, 0.38);
}