<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="header">
	<div body>
		<form [formGroup]="form">

			<app-especialidad-form formControlName="clinicalSpecialty"></app-especialidad-form>

			<app-motivo-form formControlName="reasons"></app-motivo-form>

			<mat-divider></mat-divider>

			<app-diagnosticos-form formControlName="diagnosis"></app-diagnosticos-form>

			<app-evolucion-form [markAsTouched]="markAsTouched" formControlName="evolutionNote"></app-evolucion-form>

			<ng-container *appFeatureFlag="HABILITAR_PACIENTES_COLONIZADOS">
				<app-isolation-alert-section *ngIf="!data.editMode" formControlName="isolationAlerts"></app-isolation-alert-section>
			</ng-container>
			<app-datos-antropometricos-form formControlName="anthropometricData" [patientId]="data.patientId"> </app-datos-antropometricos-form>

			<app-antecedentes-familiares-form formControlName="familyHistories" [isFamilyHistoryNoRefer]="data.emergencyCareEvolutionNote?.familyHistories.isReferred" (isFamilyHistoriesNoRefer)="setIsFamilyHistoriesNoRefer($event)"></app-antecedentes-familiares-form>

			<app-medicaciones-form formControlName="medications"></app-medicaciones-form>

			<app-procedimientos-form formControlName="procedures"></app-procedimientos-form>

			<app-factores-de-riesgo-form-v2 formControlName="riskFactors"></app-factores-de-riesgo-form-v2>

			<app-alergias-form formControlName="allergies" [isAllergyNoReferInput]="data.emergencyCareEvolutionNote?.allergies.isReferred" (isAllergyNoRefer)="setIsAllergyNoRefer($event)"></app-alergias-form>

		</form>
	</div>

	<div actions id="buttons">
		<div actions id="buttons" fxLayoutAlign="end">
			<app-button [color]="'primary'" [isLoading]="disableConfirmButton" [text]="'buttons.CONFIRM' | translate | uppercase"
				[buttonType]="'mat-raised-button'" (clicked)="save()">
			</app-button>
		</div>
	</div>
</app-dock-popup>
