<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="header">
	<div body>
		<form [formGroup]="form">

			<app-especialidad-form formControlName="clinicalSpecialty"></app-especialidad-form>

			<app-motivo-form formControlName="reasons"></app-motivo-form>

			<mat-divider></mat-divider>

			<app-diagnosticos-form formControlName="diagnosis"></app-diagnosticos-form>

			<app-evolucion-form formControlName="evolutionNote"></app-evolucion-form>

			<app-datos-antropometricos-form formControlName="anthropometricData" [patientId]="data.patientId"> </app-datos-antropometricos-form>

			<app-antecedentes-familiares-form formControlName="familyHistories"></app-antecedentes-familiares-form>

			<app-medicaciones-form formControlName="medications"></app-medicaciones-form>

			<app-procedimientos-form formControlName="procedures"></app-procedimientos-form>

			<app-factores-de-riesgo-form-v2 formControlName="riskFactors"></app-factores-de-riesgo-form-v2>

			<app-alergias-form formControlName="allergies" (isAllergyNoRefer)="setIsAllergyNoRefer($event)"></app-alergias-form>

		</form>
	</div>

	<div actions id="buttons">
		<div align="end">
			<button class="uppercase" mat-raised-button color="primary" (click)="save()"
				[disabled]="disableConfirmButton">
				<span [translate]="'buttons.CONFIRM'"></span>
			</button>
		</div>
	</div>
</app-dock-popup>
