<app-summary-card id="hospitalization_problems" [header]="header" [editable]="false">
	<mat-list id="lista-problemas-hospitalization" *ngIf="(emergencyCareProblems$ | async)?.length > 0 else noInfo">
		<div fxLayout="row" *ngFor="let problem of (emergencyCareProblems$ | async)">
			<mat-list-item>
				<div fxFlex="100%">
					<span mat-line class="capitalize-first-letter">
						{{ problem.mainDiagnose.snomed.pt }}
					</span>
					<span mat-line>
						{{ problem.entryDate | viewDateDto : 'datetime' | dateFormat: 'date' }} - {{ problem.dischargeDate ? (problem.dischargeDate | viewDateDto : 'datetime' | dateFormat: 'date') :
						"actualmente en guardia" }}
					</span>
				</div>

				<div *ngIf="problem.dischargeDate">
					<button *appHasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ENFERMERO']"

					mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
				</div>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="goToEmergencyCareEpisode(problem.sourceId)">
						<span [translate]="'ambulatoria.paciente.problemas.ACCEDER'"></span>
					</button>
				</mat-menu>

			</mat-list-item>
			<mat-divider></mat-divider>
		</div>
	</mat-list>
</app-summary-card>


<ng-template #noInfo>
	<app-no-data></app-no-data>
</ng-template>
