<ng-template #noInfo>
    <app-no-data></app-no-data>
</ng-template>
<app-summary-card id="medicacion"	[header]="medicacion"
                                    [editable]="true"
                                    [canEdit]="['ENFERMERO', 'ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD']"
									(openInNew)="openDialogNewMedication(true)">

	<div class="header-filters" fxLayout="row" fxLayoutGap="15px">
		<button mat-icon-button color="primary" (click)="hideFilters(); clear()">
			<mat-icon fontSet="material-icons-outlined">filter_list</mat-icon>
		</button>
	</div>

	<div id="filter" *ngIf="hideFilterPanel">
		<form id="filter-form" [formGroup]="formFilter" style="margin: 10px" (ngSubmit)="filter()">

			<mat-form-field appearance="outline">
				<mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.filter.STATE'"></mat-label>
				<mat-select name="status" formControlName="statusId">
					<mat-option *ngFor="let status of medicamentStatus" [value]="status.id">
						 {{status.description | translate}}
					 </mat-option>
				</mat-select>
			</mat-form-field>
			<div>
				<mat-form-field appearance="outline">
					<mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.filter.MEDICATION'"></mat-label>
					<input matInput
					type="text"
					id="medicationStatement"
					name="medicationStatement"
					formControlName="medicationStatement">
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="outline">
					<mat-label [translate]="'ambulatoria.paciente.ordenes_prescripciones.filter.PROBLEM'"></mat-label>
					<input matInput
					type="text"
					id="healthCondition"
					name="healthCondition"
					formControlName="healthCondition">
				</mat-form-field>
			</div>

			<div align="end">
				<button mat-flat-button color="primary" type="submit">
					<span>Aplicar filtro</span>
				</button>
			</div>
		</form>
	</div>
	<mat-divider></mat-divider>

    <div *ngIf="medicationsInfo?.length" class="header-filters" fxLayout="row" fxLayoutGap="15px">
        <div class="checkbox-div-header" fxFlex="5%">
            <mat-checkbox (change)="selectAllMedication($event.checked)"></mat-checkbox>
        </div>

        <div fxFlex="95%">
            <button mat-button class="element-light-color" (click)="openDialogNewMedication(false)">
                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.RE_PRESCRIBE'"></span>
            </button>
            <button mat-button class="element-light-color" *ngIf="checkMedicationStatus(medicationStatus.ACTIVE)" (click)="openSuspendMedicationDialog()">
                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.SUSPEND'"></span>
            </button>
            <button mat-button class="element-light-color" *ngIf="checkMedicationStatus(medicationStatus.STOPPED)" (click)="changeMedicationStatus(medicationStatusChange.FINALIZE)">
                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.FINALIZE'"></span>
            </button>
        </div>
	</div>
    <form [formGroup]="medicationCheckboxes">
        <mat-list id="lista-medication" *ngIf="medicationsInfo?.length > 0 else noInfo">
            <div formArrayName="checkboxArray">
                <div fxLayout="row" *ngFor="let medicationInfo of medicationsInfo; let i=index" [formGroupName]="i">
                    <mat-list-item>
                        <div fxFlex="100%" fxLayout="row" fxLayoutGap="15px">

                            <div class="checkbox-div-body" fxFlex="5%">
                                <mat-checkbox formControlName="checked" (change)="checkMedication($event.checked, medicationInfo)"></mat-checkbox>
                            </div>

                            <div fxFlex="95%">
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <h3 mat-line class="primary bold element-margin">
                                        {{renderStatusDescription(medicationInfo.statusId)}}
                                    </h3>

                                    <div>
                                        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="true">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item *ngIf="medicationInfo.hasRecipe && medicationInfo.medicationRequestId" (click)="downloadRecipe(medicationInfo.id)">
                                                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.DOWNLOAD'"></span>
                                            </button>
                                            <button mat-menu-item (click)="openDialogNewMedication(false, medicationInfo)">
                                                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.RE_PRESCRIBE'"></span>
                                            </button>
                                            <button mat-menu-item *ngIf="medicationInfo.statusId === medicationStatus.ACTIVE" (click)="openSuspendMedicationDialog(medicationInfo)">
                                                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.SUSPEND'"></span>
                                            </button>
                                            <button mat-menu-item *ngIf="medicationInfo.statusId === medicationStatus.SUSPENDED" (click)="changeMedicationStatus(medicationStatusChange.REACTIVATE, medicationInfo)">
                                                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.REACTIVATE'"></span>
                                            </button>
                                            <button mat-menu-item *ngIf="medicationInfo.statusId !== medicationStatus.STOPPED" (click)="changeMedicationStatus(medicationStatusChange.FINALIZE, medicationInfo)">
                                                <span [translate]="'ambulatoria.paciente.ordenes_prescripciones.menu_items.FINALIZE'"></span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>

                                <div class="element-margin" fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
                                    <span class="mat-subheading-2 capitalize-first-letter" style="margin: 0" fxFlex="70%">
                                        {{medicationInfo.snomed.pt}}
                                    </span>

                                    <span mat-line class="mat-body element-light-color" *ngIf="medicationInfo.hasRecipe else NoRecipe">
                                        Receta #{{medicationInfo.medicationRequestId}}
                                    </span>
                                    <ng-template #NoRecipe>
                                        <span mat-line class="mat-body element-light-color"
                                            [translate]="'ambulatoria.paciente.ordenes_prescripciones.SIN_RECETA'">
                                        </span>
                                    </ng-template>
                                </div>

                                <div fxLayout="column">
                                    <div>
                                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.periodUnit == 'h'">
                                            Una aplicación cada {{medicationInfo.dosage.frequency}} hs
                                        </span>
                                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.periodUnit == 'd'"
                                            [translate]="'ambulatoria.paciente.ordenes_prescripciones.APLICACION_DIARIA'">
                                        </span>
                                    </div>

                                    <div>
                                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.duration != undefined">
                                            Durante {{medicationInfo.dosage.duration}} días
                                        </span>
                                        <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.dosage?.chronic"
                                            [translate]="'ambulatoria.paciente.ordenes_prescripciones.USO_CRONICO'">
                                        </span>
                                    </div>
                                </div>

                                <div class="element-margin">
                                    <h3 mat-line class="primary bold capitalize-first-letter">
                                        {{medicationInfo.healthCondition.snomed.pt}}
                                    </h3>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">
                                    <span mat-line class="mat-body capitalize-first-letter element-light-color">
                                        {{medicationInfo.doctor.firstName }} {{medicationInfo.doctor.lastName }}
                                    </span>
                                    <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.totalDays == 0"
                                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.DESDE_HOY'">
                                    </span>
                                    <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.totalDays == 1"
                                        [translate]="'ambulatoria.paciente.ordenes_prescripciones.UN_DIA'">
                                    </span>
                                    <span mat-line class="mat-body capitalize-first-letter element-light-color" *ngIf="medicationInfo.totalDays > 1">
                                        Hace {{medicationInfo.totalDays }} días
                                    </span>
                                </div>
                            </div>

                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-list>
    </form>
</app-summary-card>
