.anesthesic-report-content {
	overflow-y: auto; 
	overflow-x: hidden; 
	height: 90%;
	margin: 24px;
	font-size: 16px;
}

.section-description {
	margin-left: 40px;
}

.description-container {
    word-wrap: break-word
}

.date-text {
	font-size: 14px;
}