<div class="anesthesic-report-content">
    <div fxFlex="70%" FxLayoutAlign="start">
        <ng-container data-id="diagnosis-section" *ngIf="anestheticReport">
            <app-iconed-titled-section icon="assignment" title="internaciones.anesthesic-report.diagnosis.TITLE"></app-iconed-titled-section>

            <div fxLayout="column" fxLayoutGap="8px" class="section-description">
                <app-title-description-list title="internaciones.anesthesic-report.diagnosis.MAIN_DIAGNOSIS" [description]="anestheticReport.mainDiagnosis"></app-title-description-list>
                <app-title-description-list title="internaciones.anesthesic-report.diagnosis.OTHER_DIAGNOSIS" [description]="anestheticReport.diagnosis"></app-title-description-list>
            </div>
        </ng-container>

    </div>
</div>