<div fxLayout="row" fxLayoutAlign="space-between">
    <h2 mat-dialog-title [translate]="'image-network.worklist.details_study.SAVE_TEMPLATE_TITLE'"></h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content fxLayout="column"  fxLayoutGap="8px">
    <form [formGroup]="form">
        <mat-form-field class="width_content">
            <mat-label [translate]="'image-network.worklist.details_study.NAME_TEMPLATE'"></mat-label>
            <input id="input" name="input" matInput type="text" formControlName="templateName">
            <mat-error *ngIf="hasError(form, 'required','templateName')" [translate]="'forms.REQUIRED'"></mat-error>
            <button id="clear" type="button"  *ngIf="form.controls.templateName && !hideIcon" matSuffix color="warn" mat-icon-button
            (click)="clear()">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <span *ngIf="nameAlreadyExists" class="content warn-color">{{ 'image-network.worklist.details_study.NAME_EXISTS' | translate }}</span>
    <div class="width_content" fxLayout="row" fxLayoutAlign="end">
        <button mat-flat-button type="submit" color="primary" matSuffix  (click)="saveTemplate()">
            <span class="uppercase" [translate]="'buttons.SAVE'"></span>
        </button>
    </div>
</mat-dialog-content>
