<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
</head>
<body>
<p>Esta receta corresponde a:</p>
<p>
    <strong>Paciente:</strong>
    <span>Carrasquill, Gerónimo</span>
</p>


<p>
    <strong>PASAPORTE: </strong>
    <span>13694305</span>
</p>

<p>
    <strong>Número de receta:</strong>
    <span>id-with-domin</span>
</p>
<p>
    Presentá esta receta junto con tu <strong>documento</strong> en cualquier farmacia de la Provincia de Buenos Aires.
</p>
<strong>
    ¡Gracias por utilizar la Receta Electrónica Bonaerense!
</strong>
<p>
    Seguimos mejorando tu atención y ampliando tus derechos.
</p>

</body>
</html>