<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
</head>
<body>
<p>Hola <strong>Neil</strong>:</p>
<p>
    Le confirmamos el turno con
    <span></span>

    el
    <span></span>
    a las
    <span></span>
    .
</p>




</body>
<footer class="container">
    <img src="http://localhost:5005/assets/custom/app_logo.svg" height="48px"/>
</footer>
</html>