<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
</head>
<body>
<p>Hola <strong>Neil</strong>:</p>
<strong>
    Datos del paciente
</strong>
<p>
    Nro documento:

    <span>Sin información</span></p>
<p>
    Apellido y nombre:
    <span>deGrasse Tyson </span>
    <span>Neil</span>

</p>
<p>
    Cobertura médica:

    <span>Sin información</span>
</p>
<p>
    Fecha turno:
</p>
<p>
    Hora turno:
</p>
<p>
    Consultorio :

    <span>Sin información</span>
</p>
<p>
    Profesional :
    <span>Sin información</span>

</p>

</body>
<footer class="container">
    <img src="//localhost:5005/assets/custom/app_logo.svg" height="48px"/>
</footer>
</html>