<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
</head>
<body>
<p>Hola <strong></strong> para cambiar su contraseña haga click en el siguiente link:</p>
<a href="//localhost:5005null"> Restablecer contraseña </a>
<p>Saludos,</p>
<p>Equipo HSI</p>
<p>***</p>
<p>Si no solicitó un cambio de contraseña, por favor desestime este mail.</p>
</body>
<footer class="container">
    <img src="//localhost:5005/assets/custom/app_logo.svg" height="48px"/>
</footer>
</html>