.divider{
	margin: 16px 0 16px 0;
}

.patient-location{
	min-width: 15rem;
}

.patient-summary {
    width: 23.75rem;
    max-width: 100%;
    box-sizing: border-box;
}

.order-detail{
    width: 15rem;
    max-width: 100%;
    box-sizing: border-box;
}

.temporary-patient{
	min-width: 23.75rem;
}
