<app-content width="full">
	<mat-card *ngIf="(allOrders$ | async) as orders">

		<div *ngIf="totalElementsAmount > 0 else noInfo">
			<div *ngFor="let order of orders.content; last as isLast">
				<app-row-content>

					<app-patient-summary class="patient-summary" [person]="order.patientDto | patientSummary">
					</app-patient-summary>

					<app-order-detail class="order-detail" [orderDetails]="order | studyOrderWorkListDtoToOrderDetails">
					</app-order-detail>

					<app-patient-location class="patient-location" [patientLocation]="order.patientLocation">
					</app-patient-location>

				</app-row-content>

				<mat-divider *ngIf="!isLast" insert class="divider"></mat-divider>
			</div>

			<mat-divider></mat-divider>

			<mat-paginator [length]="totalElementsAmount" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
				(page)="onPageChange($event)">
			</mat-paginator>
		</div>

		<ng-template #noInfo>
			<app-no-data></app-no-data>
		</ng-template>

	</mat-card>
</app-content>
