<div id="container" fxLayout="column" fxLayoutGap="5px" [formGroup]="searchForm">

	<span [translate]="'turnos.search-appointments-in-care-network.SEARCH_IN_CARE_NETWORK_CRITERIA'"
		class="bottom-separation"></span>
	<div class="max-width" fxLayout="column" fxLayoutGap="5px">
		<span>
			<strong>
				{{ 'turnos.search-appointments-in-care-network.CARELINE' | translate }}
			</strong>
		</span>
		<app-typeahead id="careline" [titleInput]="'turnos.search-appointments-in-care-network.CARELINE' | translate"
			[externalSetValue]="externalInformation?.formInformation?.careLine"
			[disabled]="externalInformation?.disabledInput" [options]="careLineTypeaheadOptions"
			(selectionChange)="setCareLine($event)">
		</app-typeahead>
		<div class="error-space">
			<mat-error *ngIf="showCareLineError">{{ 'forms.REQUIRED' | translate }}</mat-error>
		</div>
	</div>

	<app-search-criteria class="padding-bottom" [label]="'turnos.TYPE_ATTENTION'" [searchCriteryStyle]="'bold'"
		[defaultOption]="selectedTypeAttention" [disabled]="externalInformation?.disabledInput.others"
		(selectedOption)="setCriteria($event)"></app-search-criteria>

	<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="20px" fxLayout.lt-sm="column" *ngIf="isEnableTelemedicina">
		<div fxLayout="column" fxLayoutGap="5px" fxFlex="100">
			<strong [translate]="'turnos.MODALITY_ATTENTION'"></strong>
			<mat-radio-group formControlName="modality" (change)="resetResults()">
				<mat-radio-button color="primary" [value]="MODALITY_ON_SITE_ATTENTION">{{'turnos.ON_SITE_ATTENTION' |
					translate}}</mat-radio-button>
				<mat-radio-button color="primary" [value]="MODALITY_PATIENT_VIRTUAL_ATTENTION"
					>{{'turnos.PATIENT_VIRTUAL_ATTENTION' |
					translate}}</mat-radio-button>
				<mat-radio-button color="primary" [value]="MODALITY_SECOND_OPINION_VIRTUAL_ATTENTION"
					>{{'turnos.SECOND_OPINION_VIRTUAL_ATTENTION' |
					translate}}</mat-radio-button>
			</mat-radio-group>
			<div class="error-space">
				<mat-error *ngIf="showModalityError">{{ 'forms.REQUIRED' | translate }}</mat-error>
			</div>
		</div>

	</div>
	<div fxLayout="row" fxLayoutGap="10px">
		<div fxLayout="column" fxLayoutGap="5px">
			<div fxLayout="row" fxLayoutGap="5px">
				<strong>{{ 'turnos.search-appointments-in-care-network.SPECIALTY' | translate }}</strong>
				<span *ngIf="selectedTypeAttention == searchCriteria.PRACTICES">{{ 'turnos.OPTIONAL' | translate
					}}</span>
			</div>
			<app-typeahead id="specialty"
				[titleInput]="'turnos.search-appointments-in-care-network.SPECIALTY' | translate"
				[options]="specialtyTypeaheadOptions" (selectionChange)="setClinicalSpecialty($event)"
				[externalSetValue]="externalSpecialty" [disabled]="externalInformation?.disabledInput.specialty">
			</app-typeahead>
			<div class="error-space">
				<mat-error *ngIf="showSpecialtyError">{{ 'forms.REQUIRED' | translate }}</mat-error>
			</div>
		</div>
		<div>
			<app-typeahead-practices *ngIf="selectedTypeAttention == searchCriteria.PRACTICES"
				[practices]="practices$ | async" [externalValue]="externalInformation?.formInformation?.practice"
				[disabled]="externalInformation?.disabledInput.others" (selectedOption)="setPractice($event)">
			</app-typeahead-practices>
			<div class="error-space">
				<mat-error *ngIf="showPracticeError">{{ 'forms.REQUIRED' | translate }}</mat-error>
			</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="20px" fxLayout.lt-sm="column"
		fxLayoutAlign.lt-sm="start start" fxLayoutGap="0">
		<div fxFlex="25" fxLayout="column" fxLayoutGap="5px">
			<strong> {{ 'turnos.search-appointments-in-care-network.PROVINCE' | translate }} </strong>
			<app-typeahead id="province"
				[titleInput]="'turnos.search-appointments-in-care-network.PROVINCE' | translate"
				[options]="provinceTypeaheadOptions" (selectionChange)="setProvince($event)"
				[externalSetValue]="initialProvinceTypeaheadOptionSelected">
			</app-typeahead>
			<div class="error-space">
				<mat-error *ngIf="showProvinceError">{{ 'forms.REQUIRED' | translate }}</mat-error>
			</div>
		</div>

		<div fxFlex="25" fxLayout="column" fxLayoutGap="5px">
			<strong> {{ 'turnos.search-appointments-in-care-network.DEPARTMENT' | translate }} </strong>
			<app-typeahead id="department"
				[titleInput]="'turnos.search-appointments-in-care-network.DEPARTMENT' | translate"
				[options]="departmentTypeaheadOptions" (selectionChange)="setDepartment($event)"
				[externalSetValue]="initialDepartmentTypeaheadOptionSelected">
			</app-typeahead>
			<div class="error-space">
				<mat-error *ngIf="showDepartmentError">{{ 'forms.REQUIRED' | translate }}</mat-error>
			</div>
		</div>

		<div fxFlex="25" fxLayout="column" fxLayoutGap="5px">
			<span>
				<strong> {{ 'turnos.search-appointments-in-care-network.INSTITUTION' | translate }} </strong>
				{{ 'turnos.OPTIONAL' | translate }}
			</span>
			<app-typeahead id="institution"
				[titleInput]="'turnos.search-appointments-in-care-network.INSTITUTION' | translate"
				[options]="institutionTypeaheadOptions" (selectionChange)="setInstitution($event)"
				[externalSetValue]="initialInstitutionTypeaheadOptionSelected">
			</app-typeahead>
			<div class="error-space"></div>
		</div>
	</div>

	<div fxLayout="column" fxLayoutGap="10px">
		<strong> {{ 'turnos.search-appointments-in-care-network.SEARCH_START_DATE' | translate }} </strong>
		<div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="5px">
			<app-datepicker fxFlex="25" title="'turnos.home.START_DATE'" [minDate]="today" [dateToSetInDatepicker]="today" title="turnos.home.START_DATE" (selectDate)="updateEndDate($event)"></app-datepicker>
			<div fxLayout="column" fxLayoutGap="10px" fxFlex="25">
				<span class="datepicker-title">{{ "turnos.home.END_DATE" | translate}}</span>
				<mat-form-field appearance="outline">
					<input formControlName="endDate" matInput [matDatepicker]="endDatePicker">
					<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #endDatePicker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>
		<mat-hint> {{ 'turnos.search-appointments-in-care-network.DATE_PERIOD_NOTE' | translate }} </mat-hint>
	</div>

	<div fxLayout="row">
		<button mat-flat-button type="button" id="search-appointments" color="primary" (click)="searchAppointments()">
			{{ 'turnos.home.actions.SEARCH_APPOINTMENTS' | translate | uppercase }}
		</button>
	</div>

	<span *ngIf="showAppointmentsNotFoundMessage" class="mat-h2">
		{{ 'turnos.search-appointments-in-care-network.NOT_FOUND_APPOINTMENTS' | translate }}
	</span>

	<span *ngIf="showInvalidFormMessage" class="mat-h3 color-warn">
		{{ 'turnos.search-appointments-in-care-network.INVALID_FORM_MESSAGE' | translate }}
	</span>

	<div *ngIf="showAppointmentResults">
		<h1 class="mat-h1">
			{{ 'turnos.search-appointments-in-care-network.AVAILABLE_APPOINTMENTS_TITLE' | translate }}
		</h1>

		<mat-card>
			<div *ngFor="let appointment of appointmentsCurrentPage; last as isLast">
				<app-appointment-result-view [appointment]="appointment" [patientId]="patientId"
					(resetInformation)="clearForm()" [modalityAttention]="searchForm.controls.modality.value"
					[searchAppointmentCriteria]="searchAppointmentCriteria"
					[referenceSummary]="externalInformation?.referenceSummary">
				</app-appointment-result-view>
				<mat-divider class="divider-list" inset *ngIf="!isLast"></mat-divider>
			</div>
			<mat-paginator [length]="protectedAvaibleAppointments?.length" [pageSizeOptions]="pageSizeOptions"
				[pageSize]="pageSize" (page)="onPageChange($event)">
			</mat-paginator>
		</mat-card>
	</div>

	<div *ngIf="showSectionToSearchAppointmentsInInstitution" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
		<span class="category-title">{{ 'turnos.home.NOT_FOUND_APPOINTMENTS' | translate}}</span>
		<button mat-button color="primary" (click)="searchAppointmentsInstitution()">
			<span [translate]="'turnos.search-appointments-in-care-network.BACK_TO_INSTITUTION_TAB'"></span>
		</button>
	</div>

</div>