<div id="container" fxLayout="column" fxLayoutGap="5px" [formGroup]="searchForm">

    <span [translate]="'turnos.search-appointments-in-care-network.SEARCH_IN_CARE_NETWORK_CRITERIA'"
        class="bottom-separation"></span>

    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="20px" fxLayout.lt-sm="column"
        fxLayoutAlign.lt-sm="start start" fxLayoutGap="0">
        <div fxFlex="35" fxLayout="column" fxLayoutGap="5px">
            <span>
                <strong>
                    {{ 'turnos.search-appointments-in-care-network.CARELINE' | translate }}
                </strong>
                {{ 'turnos.search-appointments-in-care-network.OPTIONAL' | translate }}
            </span>
            <app-typeahead id="careline"
                [titleInput]="'turnos.search-appointments-in-care-network.CARELINE' | translate"
                [options]="careLineTypeaheadOptions" (selectionChange)="setCareLine($event)">
            </app-typeahead>
            <div class="error-space"></div>
        </div>

        <div fxFlex="35" fxLayout="column" fxLayoutGap="5px">
            <strong>{{ 'turnos.search-appointments-in-care-network.SPECIALTY' | translate }}</strong>
            <app-typeahead id="specialty"
                [titleInput]="'turnos.search-appointments-in-care-network.SPECIALTY' | translate"
                [options]="specialtyTypeaheadOptions" (selectionChange)="setClinicalSpecialty($event)">
            </app-typeahead>
            <div class="error-space">
                <mat-error *ngIf="showSpecialtyError">{{ 'forms.REQUIRED' | translate }}</mat-error>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="20px" fxLayout.lt-sm="column"
        fxLayoutAlign.lt-sm="start start" fxLayoutGap="0">
        <div fxFlex="25" fxLayout="column" fxLayoutGap="5px">
            <strong> {{ 'turnos.search-appointments-in-care-network.PROVINCE' | translate }} </strong>
            <app-typeahead id="province"
                [titleInput]="'turnos.search-appointments-in-care-network.PROVINCE' | translate"
                [options]="provinceTypeaheadOptions" (selectionChange)="setProvince($event)"
                [externalSetValue]="initialProvinceTypeaheadOptionSelected">
            </app-typeahead>
            <div class="error-space">
                <mat-error *ngIf="showProvinceError">{{ 'forms.REQUIRED' | translate }}</mat-error>
            </div>
        </div>

        <div fxFlex="25" fxLayout="column" fxLayoutGap="5px">
            <strong> {{ 'turnos.search-appointments-in-care-network.DEPARTMENT' | translate }} </strong>
            <app-typeahead id="department"
                [titleInput]="'turnos.search-appointments-in-care-network.DEPARTMENT' | translate"
                [options]="departmentTypeaheadOptions" (selectionChange)="setDepartment($event)"
                [externalSetValue]="initialDepartmentTypeaheadOptionSelected">
            </app-typeahead>
            <div class="error-space">
                <mat-error *ngIf="showDepartmentError">{{ 'forms.REQUIRED' | translate }}</mat-error>
            </div>
        </div>

        <div fxFlex="25" fxLayout="column" fxLayoutGap="5px">
            <span>
                <strong> {{ 'turnos.search-appointments-in-care-network.INSTITUTION' | translate }} </strong>
                {{ 'turnos.search-appointments-in-care-network.OPTIONAL' | translate }}
            </span>
            <app-typeahead id="institution"
                [titleInput]="'turnos.search-appointments-in-care-network.INSTITUTION' | translate"
                [options]="institutionTypeaheadOptions" (selectionChange)="setInstitution($event)"
                [externalSetValue]="initialInstitutionTypeaheadOptionSelected">
            </app-typeahead>
            <div class="error-space"></div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
        <strong> {{ 'turnos.search-appointments-in-care-network.SEARCH_START_DATE' | translate }} </strong>
        <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="5px">
            <mat-form-field appearance="outline" fxFlex="25">
                <mat-label [translate]="'turnos.home.START_DATE'"></mat-label>
                <input formControlName="startDate" matInput [matDatepicker]="startDatePicker" [min]="today"
                    (dateChange)="updateEndDate($event.value)">
                <mat-error [translate]="'forms.REQUIRED'"></mat-error>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="25">
                <mat-label [translate]="'turnos.home.END_DATE'"></mat-label>
                <input formControlName="endDate" matInput [matDatepicker]="endDatePicker">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
        <mat-hint> {{ 'turnos.search-appointments-in-care-network.DATE_PERIOD_NOTE' | translate }} </mat-hint>
    </div>

    <div fxLayout="row">
        <button mat-flat-button type="button" id="search-appointments" color="primary" (click)="searchAppointments()">
            {{ 'turnos.home.actions.SEARCH_APPOINTMENTS' | translate | uppercase }}
        </button>
    </div>

    <span *ngIf="showAppointmentsNotFoundMessage" class="mat-h2">
        {{ 'turnos.search-appointments-in-care-network.NOT_FOUND_APPOINTMENTS' | translate }}
    </span>

    <span *ngIf="showInvalidFormMessage" class="mat-h3 color-warn">
        {{ 'turnos.search-appointments-in-care-network.INVALID_FORM_MESSAGE' | translate }}
    </span>

    <div *ngIf="showAppointmentResults">
        <h1 class="mat-h1">
            {{ 'turnos.search-appointments-in-care-network.AVAILABLE_APPOINTMENTS_TITLE' | translate }}
        </h1>

        <mat-card>
            <div *ngFor="let appointment of appointmentsCurrentPage; last as isLast">
                <app-appointment-result-view [appointment]="appointment" [patientId]="patientId"
                    (resetAppointmentList)="resetResults($event)">
                </app-appointment-result-view>
                <mat-divider class="divider-list" inset *ngIf="!isLast"></mat-divider>
            </div>
            <mat-paginator [length]="protectedAvaibleAppointments?.length" [pageSizeOptions]="pageSizeOptions"
                [pageSize]="pageSizeOptions[0]" (page)="onPageChange($event)">
            </mat-paginator>
        </mat-card>
    </div>

</div>