<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="{ title:'Parte Anestésico'} ">
    <div body fxLayout="column" fxLayoutGap="20px">
        <app-new-consultation-expansion-section id="diagnosis-expansion-section"
            [title]="'internaciones.anesthesic-report.diagnosis.TITLE' | translate" icon="assignment"
            [collapsed]="!mainDiagnosis" [isEmpty]="!mainDiagnosis" [hideBorder]="true">
            <app-diagnosticos id="diagnosis" [showTitle]="false" [(mainDiagnosis)]="mainDiagnosis"
                [(listDiagnosis)]="diagnosis" [type]="'PARTE ANESTESICO'"></app-diagnosticos>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="proposed-surgery-expansion-section"
            [title]="'internaciones.anesthesic-report.proposed-surgery.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anesthesicReportProposedSurgeryService.isEmpty()" [hideBorder]="false">
            <app-proposed-surgery [service]="anesthesicReportProposedSurgeryService"></app-proposed-surgery>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="anthropometric-data-expansion-section"
            [title]="'internaciones.anesthesic-report.anthropometric-data.TITLE' | translate" icon="assignment"
            [(collapsed)]="collapsedAnthropometricDataSection"
            [isEmpty]="anesthesicReportAnthropometricDataService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-anthropometric-data [patientId]="data.patientId"
                [service]="anesthesicReportAnthropometricDataService"></app-anesthetic-report-anthropometric-data>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="anesthesic-clinical-evaluation-expansion-section"
            [title]="'internaciones.anesthesic-report.anesthesic-clinical-evaluation.TITLE' | translate"
            icon="assignment" [(collapsed)]="collapsedClinicalEvaluationSection"
            [isEmpty]="anestheticReportClinicalEvaluationService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-clinical-evaluation
                [service]="anestheticReportClinicalEvaluationService"></app-anesthetic-report-clinical-evaluation>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="anesthesic-history-expansion-section"
            [title]="'internaciones.anesthesic-report.anesthetic-history.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportAnestheticHistoryService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-anesthetic-history
                [service]="anestheticReportAnestheticHistoryService"></app-anesthetic-report-anesthetic-history>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="usual-medication-expansion-section"
            [title]="'internaciones.anesthesic-report.usual-medication.TITLE' | translate" icon="assignment"
            [collapsed]="medicacionesNuevaConsultaService.isEmpty()"
            [isEmpty]="medicacionesNuevaConsultaService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-usual-medication
                [service]="medicacionesNuevaConsultaService"></app-anesthetic-report-usual-medication>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="premedication-and-food-intake-expansion-section"
            [title]="'internaciones.anesthesic-report.premedication-and-food-intake.TITLE' | translate"
            icon="assignment" [collapsed]="true"
            [isEmpty]="anestheticReportPremedicationAndFoodIntakeService.isEmpty() && !lastFoodIntakeTimeSelected"
            [hideBorder]="false">
            <app-anesthetic-report-premedication-and-food-intake
                [service]="anestheticReportPremedicationAndFoodIntakeService" (timeSelected)="onLastFoodIntakeTimeSelected($event)">
            </app-anesthetic-report-premedication-and-food-intake>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="record-expansion-section"
            [title]="'internaciones.anesthesic-report.record.TITLE' | translate" icon="assignment" [collapsed]="true"
            [isEmpty]="anestheticReportRecordService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-person-record [service]="anestheticReportRecordService">
            </app-anesthetic-report-person-record>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="anesthetic-plan-expansion-section"
            [title]="'internaciones.anesthesic-report.anesthetic-plan.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="!(anestheticPlanList$ | async ).length" [hideBorder]="false">
            <app-anesthetic-plan [service]="anestheticPlan">
            </app-anesthetic-plan>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="analgesic-technique-expansion-section"
            [title]="'internaciones.anesthesic-report.analgesic-technique.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="!(analgesicTechniqueList$ | async ).length" [hideBorder]="false">
            <app-analgesic-technique [service]="analgesicTechnique"></app-analgesic-technique>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="anesthetic-technique-expansion-section"
            [title]="'internaciones.anesthesic-report.anesthetic-technique.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="!(anestheticTechniqueList$ | async ).length" [hideBorder]="false">
            <app-anesthetic-technique [service]="anestheticTechnique"></app-anesthetic-technique>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="fluid-Administrations-expansion-section"
            [title]="'internaciones.anesthesic-report.fluid-administration.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="!(fluidAdministrationList$ | async ).length" [hideBorder]="false">
            <app-fluid-administration [service]="fluidAdministrationService"></app-fluid-administration>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="anesthetic-agents-expansion-section"
            [title]="'internaciones.anesthesic-report.anesthetic-agents.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportAnestheticAgent.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-anesthetic-agents [service]="anestheticReportAnestheticAgent"></app-anesthetic-report-anesthetic-agents>
        </app-new-consultation-expansion-section>
        
        <app-new-consultation-expansion-section id="non-anesthetic-drugs-expansion-section"
            [title]="'internaciones.anesthesic-report.non-anesthetic-drugs.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportNonAnestheticDrugs.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-non-anesthetic-drugs [service]="anestheticReportNonAnestheticDrugs"></app-anesthetic-report-non-anesthetic-drugs>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="intrasurgical-anesthetic-procedures-expansion-section"
            [title]="'internaciones.anesthesic-report.intrasurgical-anesthetic-procedures.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportIntrasurgicalAnestheticProceduresService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-intrasurgical-anesthetic-procedures [service]="anestheticReportIntrasurgicalAnestheticProceduresService"></app-anesthetic-report-intrasurgical-anesthetic-procedures>
        </app-new-consultation-expansion-section>
                
        <app-new-consultation-expansion-section id="antibiotic-prophylaxis-expansion-section"
            [title]="'internaciones.anesthesic-report.antibiotic-prophylaxis.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportAntibioticProphylaxisService.isEmpty()" [hideBorder]="false">
            <app-anesthetic-report-antibiotic-prophylaxis [service]="anestheticReportAntibioticProphylaxisService"></app-anesthetic-report-antibiotic-prophylaxis>
        </app-new-consultation-expansion-section>

        <app-new-consultation-expansion-section id="vital-signs-expansion-section"
            [title]="'internaciones.anesthesic-report.vital-signs.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportVitalSignsService.isSectionEmpty$" [hideBorder]="false">
            <app-anesthetic-report-vital-signs [service]="anestheticReportVitalSignsService">
            </app-anesthetic-report-vital-signs>
        </app-new-consultation-expansion-section>
                        
        <app-new-consultation-expansion-section id="end-of-anesthesia-status-expansion-section"
            [title]="'internaciones.anesthesic-report.end-of-anesthesia-status.TITLE' | translate" icon="assignment"
            [collapsed]="true" [isEmpty]="anestheticReportEndOfAnesthesiaStatusService.isEmpty$ | async" [hideBorder]="false">
            <app-anesthetic-report-end-of-anesthesia-status [service]="anestheticReportEndOfAnesthesiaStatusService">
            </app-anesthetic-report-end-of-anesthesia-status>
        </app-new-consultation-expansion-section>
    </div>

    <div actions id="buttons" fxLayoutAlign="end">
        <app-button [color]="'primary'" [isLoading]="isLoading" [text]="'buttons.CONFIRM' | translate | uppercase"
            [buttonType]="'mat-raised-button'" (clicked)="save()">
        </app-button>
    </div>
</app-dock-popup>