@import '../../../../../assets/styles/mat-mixins.scss';

form {
	@include mat-form-field-background-white;
}

::ng-deep .cdk-overlay-pane {
	app-anesthetic-report-dock-popup {
		width: 100%;
	}
}

::ng-deep .cdk-overlay-pane.dock-popup-overlay {
	background-color: white;
}

mat-form-field {
	width: 100%;
}